﻿@model List<Management.ViewModels.BatchViewModel>
@{
    var serialNo = 0;
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    if (Model.Count() > 0)
    {

        foreach (var batch in Model.OrderByDescending(o => o.CreatedDate))
        {

            serialNo++;
            var isTeacherAssigned = batch.BatchUsers.Any(a => a.IsTeacher);
            <div class="attributesRow" data-id="@batch.Id">
                <div class="attributesRecord w-5">
                    <span class="serial-number">
                        @serialNo
                    </span>
                </div>

                <div class="attributesRecord  w-30">
                    <span class="text-left">
                        <a class="font-size-13" href="/batch/Detail/@batch.Id">
                            @batch.Title

                            @if (isAdmin && !isTeacherAssigned)
                            {
                                <span class="d-block badge badge-pill badge-danger p-1">
                                    Assign Teacher for this batch immediately.
                                </span>
                            }
                        </a>

                    </span>
                </div>
                <div class="attributesRecord w-30">
                    <span class="text-left">
                        @if (batch.Subject != null)
                        {
                            @batch.Subject.Name
                        }
                        else
                        {
                            @*@if (isAdmin)
                                {
                                    <a class="editBatchButton" data-id="@batch.Id"><span class="text-danger">Assign Subject </span></a>
                                }
                                else
                                {*@
                            <span class="text-danger">No Subject Assigned</span>
                            @*}*@
                        }
                    </span>
                </div>

                <div class="attributesRecord">
                    <span class="text-left">
                        @batch.CreatedDate.ToString("MMMM dd, yyyy")
                    </span>
                </div>

                <div class="actionBtns float-right">

                    <a href="/batch/Detail/@batch.Id">
                        <i class="fa fa-eye viewBatchButton" data-toggle="tooltip" data-placement="left" title="View"></i>
                    </a>
                    @if (isAdmin)
                    {
                        <i class="fa fa-edit editBatchButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@batch.Id" title="Edit"></i>
                        <i class="fa fa-trash deleteBatchButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@batch.Id" title="Delete"> </i>
                    }
                </div>
            </div>

        }

    }
}