﻿@model BatchViewModel

@{
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
}
@if (isAdmin)
{

    <form id="assignBatchTeacherForm" asp-controller="Batch" asp-action="AssignBatchTeacher">
        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
        <div class="modal-body">
            <div class="row">
                <input name="Id" hidden="hidden" />

                @{ 
                    Html.RenderPartial("~/Views/Teacher/_TeachersCardList.cshtml", Model.ListBatchUsers);
                }
            </div>
        </div>
        <div class="modal-footer pt-2">
            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
            <button type="button" class="btn btn-success rounded-0 saveBtn"><i class="fas fa-save"></i> Assign </button>
        </div>
    </form>

}