﻿
<div class="modal fade" id="editBatchModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Update Batch
                    <span class="type"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="alert alert-warning">Do not select the discipline/subject, if you don't want to change the current subject if selected.</div>*@
                <div class="form">

                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="assignBatchTeacherModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Assign Teacher
                    <span class="type"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="alert alert-warning">Click on any card to select a teacher.</div>
                <div class="form">

                </div>
            </div>

        </div>
    </div>
</div>