﻿@model BatchViewModel

@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{

    <form id="editBatchForm" asp-controller="Batch" asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
        <div class="modal-body">
            <div class="row">
                <input asp-for="Id" hidden="hidden" />
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">Batch Title</label>
                        <input asp-for="Title" placeholder="Enter Title" class="form-control" required />
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="Detail">Batch Start Date</label>
                        @if (DateTime.MinValue == Model.StartDate)
                        {
                            <input type="date" asp-for="StartDate" value="@DateTime.Now" class="form-control" required />

                        }
                        else
                        {
                            <input type="date" asp-for="StartDate" class="form-control" required />
                        }
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="Detail">Batch End Date</label>
                        @if (DateTime.MinValue == Model.EndDate)
                        {
                            <input type="date" asp-for="EndDate" value="@DateTime.Now" class="form-control" required />

                        }
                        else
                        {
                            <input type="date" asp-for="EndDate" class="form-control" required />
                        }
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="Detail">Batch Fee (PKR)</label>
                        <input asp-for="BatchFee" type="number" placeholder="Enter Batch Fee" class="form-control" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer pt-2">
            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
            <button type="submit" class="btn btn-success rounded-0" id="saveBtn"><i class="fas fa-save"></i> Update </button>
        </div>
    </form>

}