﻿@model List<Management.ViewModels.UserBatchReferralViewModel>
@{
    var serialNo = 0;
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    if (Model.Count() > 0)
    {

        foreach (var refbatch in Model.OrderByDescending(o => o.ReferralDate))
        {
            var batch = refbatch.Batch;
            serialNo++;
            var batchTeacher = batch.BatchUsers.FirstOrDefault(a => a.IsTeacher).User;
            var contact = string.IsNullOrEmpty(batchTeacher.MobileNumber) ? batchTeacher.PhoneNumber : batchTeacher.MobileNumber;
            var image = string.IsNullOrEmpty(batchTeacher.ProfilePictureUrl) ? batchTeacher.Gender == Gender.Male ? "/images/maleTeacher.svg" : "/images/femaleTeacher.svg" : "/UploadedArtifacts/" + batchTeacher.ProfilePictureUrl;
            <div class="slick-card carousal-card">
                <div class="card-image carousal-image ">
                    <div class="d-table h-100 w-100">
                        <div class="d-table-cell h-100 w-100 vertical-align-middle">
                            <div class="profile-img" style="background-image: url('@image');width:100px;height:100px"> </div>
                            <span class="d-block mt-3 text-dark font-weight-bold text-uppercase"> @batchTeacher.FirstName @batchTeacher.LastName  </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="carousal-header mb-0">
                        <div class=" text-center">
                            <label class="badge badge-light text-dark px-4 font-size-13">Batch</label>
                            <h3 class="font-size-14">  @batch.Title</h3>

                        </div>
                        <div class="carousal-sub-title text-center carousal-title">
                            <div class="price-label">
                                <label class="badge badge-light text-dark px-4 font-size-13">Subject</label>
                                <h5>@batch.Subject.Name</h5>
                            </div>
                        </div>
                        <div class="carousal-sub-title text-center">
                            <div class="row mb-0">
                                <div class="col-6">
                                    <h6>Starting From</h6>
                                    <p class="text-center">@batch.StartDate.ToString("dd/MM/yyyy")</p>
                                </div>
                                <div class="col-6">
                                    <h6>End Date</h6>
                                    <p class="text-center">@batch.EndDate.ToString("dd/MM/yyyy")</p>
                                </div>
                            </div>

                        </div>
                        <div class="text-center mb-2">
                            <span class="d-block font-10">Click on the button below for more information about this batch.</span>
                            <a class="btn btn-info w-auto font-size-12"><i class="fas fa-info-circle text-light"></i> More Info about this Batch</a>
                        </div>
                    </div>
                    <div class="carousal-content mt-0">

                        <div class="price-label">
                            <label>
                                <span class="price-unit mr-1">Rs.</span>
                                <span class="price-text">--</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-6"><button class="btn btn-green enrollMeBtn" data-batchid="@batch.Id" href="">Enroll Me</button></div>
                            <div class="col-6">

                                <!-- Button trigger modal -->
                                <a class="btn btn-primary text-light shareBatchBtn" data-batchid="@batch.Id" >
                                    Share with friend <i class="fas fa-share"></i>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        }

    }
}