﻿@model Management.ViewModels.ScheduleViewModel
@{
    var isTest = Model.ScheduleType == Convert.ToInt32(ScheduleTypes.Test);
}
<div class="modal-body  text-center  text-white" style="@(isTest?"background-image: url(../../images/leaf_green.jpg);":"background-image: url(../../images/leaf_blue.jpg);")">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    @{

        if (isTest)
        {
            <h2 class="font-size-sm-18 text-danger font-weight-bold">Test</h2>
        }
        else
        {
            <h2 class="font-size-sm-18 text-danger font-weight-bold">Online Class</h2>

        }

    }

    <h4 class="font-size-sm-20">@Model.Title</h4>
    <span class="dash"></span>
    <i class="mdi mdi-clock fa-4x font-size-sm-40"></i>
    <h6 class="font-size-sm-15">Pakistan Standard Time</h6>
    <span class="dash"></span>
    @if (!isTest)
    {
        <h3 class="font-size-sm-25 text-danger font-weight-bold">@Model.StartDateTime.ToString("hh:mm tt") - @Model.EndDateTime.ToString("hh:mm tt") </h3>
    }
    else
    {
        <h2 class="font-size-sm-20 text-danger font-weight-bold">Expires on<br /> @Model.EndDateTime.ToString("MMM dd yyyy hh:mm tt")</h2>
    }
    @if (Model.IsBatchUser && !isTest)
    {
        <a href="@Model.EventUrl" target="_blank" class="text-white mt-4 d-block">
            <span class="d-block">Click icon below to connect when class started</span>
            <i class="fas fa-desktop fa-2x mt-3"></i>
        </a>
    }
</div>