﻿
@model BatchViewModel
@{
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var isTeacher = User.IsInRole(UserRoles.Teacher.ToString());

    <a class="custom-button btn-blue oval-rounded pr-4 pl-4" data-toggle="tooltip" data-placement="top"
       title="Batch Home Page" href="/Batch/list"><i class="fas fa-chevron-left"></i></a>

    <div class="opened-batch" data-id="@Model.Id">
        <div class="row ViewAttributesPage unselectable">

            <div class="col-lg-12">
                <div class="page-header shadow">
                    <div class="w-100 float-left position-relative">

                        <div class="attribute-type-title">
                            <span>Batch</span>
                        </div>

                        <h3>
                            Batch <span class="text-dark d-block font-weight-bold font-size-35">@Model.Title</span>

                            @if (Model.Subject != null)
                            {
                                <p class="text-center mt-3 font-size-18">Subject <span class="text-danger d-block font-weight-bold font-size-20">@Model.Subject.Name</span></p>
                            }
                            else
                            {
                                @*@if (isAdmin)
                                    {
                                        <p class="text-center mt-3 font-size-15">
                                            <a class="editBatchButton" data-id="@Model.Id"><span class="text-danger">Assign Subject </span></a>
                                        </p>
                                    }
                                    else
                                    {*@
                                <p class="text-center mt-3 font-size-15">
                                    <span class="text-danger shake-me">No Subject Assigned</span>
                                </p>
                                @*  }*@
                            }
                            <div class="row justify-content-center mb-3">
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <div class="small-card w-100 nobg oval-rounded">
                                        <span class="font-size-sm-13 font-size-16 m-0"><i class="ti-calendar mr-2 text-info"></i> Start Date: <span class="text-success">@Model.StartDate.ToString("dd MMM yyyy")</span></span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <div class="small-card w-100 nobg oval-rounded">
                                        <span class="font-size-sm-13 font-size-16 m-0"><i class="ti-calendar mr-2 text-info"></i> End Date: <span class="text-success">@Model.EndDate.ToString("dd MMM yyyy")</span></span>
                                    </div>
                                </div>
                            </div>
                            @{
                                var teacher = Model.BatchUsers.FirstOrDefault(a => a.IsTeacher);
                                if (teacher != null)
                                {
                                    <div>
                                        <input type="hidden" id="ZoomUserName" value="@teacher.User.ZoomUserName" />
                                        <input type="hidden" id="ZoomUrl" value="@teacher.User.ZoomUrl" />
                                        <input type="hidden" id="ZoomPassword" value="@teacher.User.ZoomPassword" />
                                    </div>

                                    var user = teacher.User;
                                    var contact = string.IsNullOrEmpty(user.MobileNumber) ? user.PhoneNumber : user.MobileNumber;
                                    var image = string.IsNullOrEmpty(user.ProfilePictureUrl) ? user.Gender == Gender.Male ? "/images/maleTeacher.svg" : "/images/femaleTeacher.svg" : "/UploadedArtifacts/" + user.ProfilePictureUrl;
                                    if (user.IsActive)
                                    {

                                        <div class="small-card position-relative">
                                            @if (isAdmin)
                                            {
                                                <form asp-action="UnassignBatchTeacher" asp-controller="Batch">
                                                    <input asp-for="Id" hidden />
                                                    <input asp-for="BatchTeacherId" hidden value="@user.Id" />
                                                    <i class="fas fa-times-circle font-size-16 unassignBatchTeacherButton text-danger position-absolute-right-5 position-absolute-top-5" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-userid="@Model.Id" data-id="@Model.Id" title="Unassign"> </i>
                                                </form>
                                            }

                                            <h5 class="font-size-20">Teacher</h5>
                                            <div class="profile-img" style="background-image: url('@image');width:50px;height:50px"> </div>
                                            <p class="text-center mt-3 mb-2 font-size-13"><strong>  @user.FirstName @user.LastName</strong></p>
                                            <span class="text-center font-size-12 badge badge-info text-white">Subject Expertise</span>
                                            <p class="text-center mt-1 font-size-13"><strong> @user.SubjectExpertise</strong></p>
                                            @if (isAdmin)
                                            {
                                                <p class="text-center mt-2 font-size-13">@contact</p>
                                            }

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="small-card blocked">
                                            <h5 class="font-size-20">Teacher</h5>
                                            <div class="profile-img" style="background-image: url('@image');width:50px;height:50px"> </div>
                                            <p class="text-center mt-2 mb-0 font-size-13">@user.FirstName @user.LastName</p>
                                            @if (isAdmin)
                                            {
                                                <p class="text-center mt-2 mb-0 font-size-13">@contact</p>
                                                <div class="badge badge-danger font-size-12">Teacher is blocked</div>
                                                <a class="teacherBlockButton" data-id="@user.Id" data-callfrom="batchdetail"><div class="badge badge-success font-size-12 text-center mt-2 mb-0 ">Unblock now</div></a>
                                            }
                                        </div>
                                    }

                                }
                                else
                                {
                                    @if (isAdmin)
                                    {
                                        <p class="text-center mt-3 font-size-15">
                                            <a class="assignBatchTeacherButton" data-id="@Model.Id"><span class="text-danger">Assign Teacher </span></a>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="text-center mt-3 font-size-15">
                                            <span class="text-danger">No Teacher Assigned</span>
                                        </p>
                                    }
                                }
                            }

                            <div class="row justify-content-center mt-4">
                                <div class="col-12 col-md-6  col-lg-5 col-xl-4  mb-3">
                                    <a href="#Schedules" class="btn btn-danger font-size-14 text-white oval-rounded py-2 px-3">
                                        @if (isAdmin)
                                        {<span class="text-white "> Set Class</span>} Shedules
                                        <i class="ti-arrow-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                            @if (!isStudent)
                            {
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-6  col-lg-5 col-xl-4  mb-3">
                                        <a href="#Students" class="btn btn-success font-size-14 text-white oval-rounded py-2 px-3">
                                            List of Students
                                            <i class="ti-arrow-right ml-2"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-6  col-lg-5 col-xl-4 mb-3">
                                        <a href="#AllTests" class="btn btn-warning font-size-14 text-white oval-rounded py-2 px-3">
                                            Batch Tests
                                            <i class="ti-arrow-right ml-2"></i>
                                        </a>
                                    </div>
                                </div>
                            }

                            @if (isAdmin)
                            {
                                <div class="actionBtns right">
                                    <i class="fas fa-trash deleteBatchButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@Model.Id" title="Delete"> </i>
                                </div>
                            }

                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        @if (Model.BatchUsers.Any(a => !a.IsTeacher) && !isStudent)
        {

            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                    <div id="Students" class="student-section p82-topbot totalPatient">
                        <div class="allPatients">
                            <div class="header">
                                <h2>
                                    <i class="fas fa-users font-size-12"></i> List of <span>Students</span>
                                </h2>
                            </div>
                            <div class="allAttributesView">
                                <div class="attributesCol">
                                    <div class="attributesSection">
                                        <div class="attributesHeader">
                                            <div class="pdetail phCol w-7">
                                                <span>-</span>
                                            </div>
                                            <div class="pdetail phCol">
                                                <a href="javascript:void(0)">
                                                    <span>Name</span>
                                                    <i class="fas fa-angle-double-down"></i>
                                                </a>
                                            </div>
                                            @if (isAdmin)
                                            {
                                                <div class="pdetail phCol">
                                                    <a href="javascript:void(0)">
                                                        <span>Contact</span>
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol w-25">
                                                    <a href="javascript:void(0)">

                                                        <span>Email</span>

                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                            }

                                        </div>
                                        <!-- attributesHeader -->



                                        <div class="table-body all-attributes">

                                            @foreach (var user in Model.BatchUsers.Where(s => !s.IsTeacher).Select(a => a.User).OrderByDescending(c => c.FirstName))
                                            {

                                                var contact = string.IsNullOrEmpty(user.MobileNumber) ? user.PhoneNumber : user.MobileNumber;

                                                var image = string.IsNullOrEmpty(user.ProfilePictureUrl) ? user.Gender == Gender.Male ? "/images/student.svg" : "/images/femaleStudent.svg" : "/UploadedArtifacts/" + user.ProfilePictureUrl;
                                                <div class="attributesRow" data-studentid="@user.Id">

                                                    <div class="attributesRecord w-7">
                                                        <div class="profile-img" style="background-image: url('@image')"> </div>
                                                    </div>
                                                    <div class="attributesRecord">
                                                        <a href="/Batch/Student?bid=@Model.Id&uid=@user.Id" class="serial-number">
                                                            @(user.FirstName + " " + user.LastName)
                                                        </a>
                                                        @if (user.StudentStudyTypeId == Convert.ToInt32(StudyTypes.TestOnly))
                                                                {
                                                                    var gender = user.Gender == Gender.Female.ToString() ? "She" : "He";
                                                            <span data-toggle="tooltip" title="This student has opted for Test only, @gender can only attempt test." class="badge-pill badge-warning font-size-12 text-dark py-1 px-2">
                                                                <i class="fas fa-clipboard-list"></i> Test Only Student
                                                            </span>
                                                        }
                                                        </div>
                                                    @if (isAdmin)
                                                    {
                                                        <div class="attributesRecord">
                                                            <span class="text-left">
                                                                @contact
                                                            </span>
                                                        </div>
                                                        <div class="attributesRecord w-25">
                                                            <span class="text-left">
                                                                @user.Email
                                                            </span>
                                                        </div>
                                                    }

                                                    <div class="attributesRecord  w-25 float-right">
                                                        <a href="/Batch/Student?bid=@Model.Id&uid=@user.Id" class="btn btn-success font-size-14 text-white oval-rounded py-2 px-3">
                                                            <i class="fas fa-id-card mr-2"></i>
                                                            View Detail
                                                            <i class="ti-arrow-right ml-2"></i>
                                                        </a>
                                                    </div>

                                                </div>
                                            }
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.container -->
                    </div>
                </div>
            </div>

        }
        <div class="row" id="AllTests">
            <div class="col-12">
                <div class="student-section p82-topbot totalPatient">
                    <div class="allPatients">
                        <div class="header">
                            <h2>
                                <i class="fas fa-th-list"></i> List of Tests
                            </h2>
                            @if (!isStudent)
                            {
                                <a href="/Test/Create/@Model.Id" data-toggle="tooltip" data-placement="top" title="Create a New Test" class="right custom-button text-white"><i class="fas fa-plus-circle"></i> <span class="text-white">Create New Test</span></a>
                            }
                        </div>
                        <div class="recommendedSection allAttributesView">


                            <div class="attributesCol">

                                <div class="attributesSection">

                                    <div class="attributesHeader">
                                        <div class="pdetail name phCol w-7">
                                            <a href="javascript:void(0)">
                                                Sr.#
                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="pdetail phCol w-30">
                                            <a href="javascript:void(0)">
                                                Test Title
                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="pdetail phCol ">
                                            <a href="javascript:void(0)">
                                                Create Date
                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                        @if (isStudent)
                                        {
                                            <div class="pdetail phCol ">
                                                <a href="javascript:void(0)">
                                                    Status
                                                </a>
                                            </div>
                                        }
                                    </div>
                                    <!-- attributesHeader -->



                                    <div class="table-body all-attributes">

                                        @{
                                            var serialNo = 0;
                                            foreach (var test in Model.BatchTests.Select(a => a.Test))
                                            {
                                                serialNo++;

                                                <div class="attributesRow" data-id="@test.Id">
                                                    <div class="attributesRecord w-7">
                                                        <span class="serial-number">
                                                            @serialNo
                                                        </span>
                                                    </div>
                                                    <div class="attributesRecord  w-30">
                                                        <span class="text-left">
                                                            @test.TestTitle
                                                        </span>
                                                    </div>
                                                    <div class="attributesRecord">
                                                        <span class="text-left">
                                                            @test.AddedDate.ToString("dd/MM/yyyy")
                                                        </span>
                                                    </div>
                                                    @if (!isStudent)
                                                    {

                                                        <div class="attributesRecord d-flex float-right w-auto">
                                                            <a class="btn btn-danger font-size-14 text-white oval-rounded py-2 px-3 deleteTestButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@test.Id" title="Delete">
                                                                <i class="fa fa-trash mx-0 text-white"></i>
                                                                Delete Test
                                                            </a>
                                                            <a href="/Test/Detail/@test.Id" class="btn btn-success font-size-14 text-white oval-rounded py-2 px-3 ml-2">
                                                                <i class="fa fa-eye mx-0 px-2 text-white"></i>
                                                                Veiw Detail
                                                                <i class="ti-arrow-right ml-2"></i>
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        var attemptedTestIds = ViewBag.AttemptedTests as List<UserTestAttempt>;

                                                        var isTestAttempted = attemptedTestIds.Select(x => x.TestId).Contains(test.Id);
                                                        var isTestExpired = test.ExpiryDate < DateTime.Now;
                                                        var testAttempted = attemptedTestIds.FirstOrDefault(a => a.TestId == test.Id);
                                                        double duration = TimeSpan.Parse(test.Hours + ":" + test.Minutes).TotalMinutes;
                                                        TimeSpan span = new TimeSpan();

                                                        if (testAttempted != null)
                                                        {
                                                            DateTime startTime = testAttempted.StartedDate;
                                                            DateTime endTime = testAttempted.StartedDate.AddMinutes(duration);
                                                            span = endTime.Subtract(DateTime.Now);
                                                        }
                                                        <div class="attributesRecord">
                                                            <span class="text-left">
                                                                @if (isTestAttempted && isTestExpired)
                                                                {
                                                                    /**/
                                                                }
                                                                @if (isTestAttempted && span.Minutes > 0 && (testAttempted != null && !testAttempted.IsFinished))
                                                                {
                                                                    <i class="mt-2 mr-1 shadow font-size-18 font-weight-light badge badge-pill badge-warning p-1" data-toggle="tooltip" title="Time Started: @testAttempted.StartedDate"> <i class="fas fa-clock"></i></i>
                                                                    <i class="mt-2 mr-1 shadow font-size-18 font-weight-light badge badge-pill badge-warning p-1" data-toggle="tooltip" title="Time Left: @Math.Round(span.TotalMinutes)mins"> <i class="fas fa-clock"></i> </i>
                                                                    <i class="mt-2 mr-1 shadow font-size-18 font-weight-light badge badge-pill badge-warning p-1" data-toggle="tooltip" title="Test is in progress"> <i class="fas fa-spinner fa-spin"></i> </i>
                                                                }
                                                                else if ((isTestAttempted && span.TotalMinutes < 0) || (testAttempted != null && testAttempted.IsFinished))
                                                                {
                                                                    <i class="mt-2 mr-1 shadow font-size-18 font-weight-light badge badge-pill badge-info p-1" data-toggle="tooltip" title="Time Started: @testAttempted.StartedDate"> <i class="fas fa-clock"></i></i>
                                                                    <i class="mt-2 mr-1 shadow font-size-18 font-weight-light badge badge-pill badge-success p-1" data-toggle="tooltip" title=" Your test is Done."> <i class="fas fa-check-circle text-white"></i></i>
                                                                }
                                                                else if (isTestExpired)
                                                                {
                                                                    <i class="mt-2 mr-1 shadow font-size-18 font-weight-light badge badge-pill badge-danger p-1" data-toggle="tooltip" title="Test Not Attempted"> <i class="fas fa-exclamation-circle"></i> </i>
                                                                    <i class="mt-2 mr-1 shadow font-size-18 font-weight-light badge badge-pill badge-danger p-1" data-toggle="tooltip" title="Test Expired"> <i class="fas fa-times-circle"></i> </i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="mt-2 mr-1 shadow font-size-18 font-weight-light badge badge-pill badge-danger p-1" data-toggle="tooltip" title="Test Not Attempted"> <i class="fas fa-exclamation-circle"></i> </i>
                                                                    <i class="mt-2 mr-1 shadow font-size-18 font-weight-light badge badge-pill badge-danger p-1" data-toggle="tooltip" title="Expiry Date: @test.ExpiryDate"> <i class="fas fa-exclamation-circle"></i> </i>

                                                                }

                                                            </span>
                                                        </div>
                                                        <div class="attributesRecord">
                                                            <span class="text-left">
                                                                @if ((isTestAttempted && span.TotalMinutes < 0) || (testAttempted != null && testAttempted.IsFinished))
                                                                {

                                                                    <a href="/Test/Result/@test.Id" class="btn btn-info font-size-14 text-white oval-rounded py-2 px-3 ml-2">
                                                                        <i class="fas fa-tasks mx-0 px-2 text-white"></i>
                                                                        View Result
                                                                        <i class="ti-arrow-right ml-2"></i>
                                                                    </a>
                                                                }

                                                                else if (isTestAttempted && span.TotalMinutes > 0)
                                                                {

                                                                    <a href="/Test/InProgress/@test.Id" class="btn btn-warning font-size-14 text-white oval-rounded py-2 px-3 ml-2">
                                                                        <i class="fas fa-sync mx-0 px-2 text-white"></i>
                                                                        Continue Test
                                                                        <i class="ti-arrow-right ml-2"></i>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    if (isTestExpired)
                                                                    {

                                                                        <a class=" btn btn-danger font-size-14 text-white oval-rounded py-2 px-3 ml-2">
                                                                            <i class="fas fa-times-circle mx-0 px-2 text-white"></i>
                                                                            Expired
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {

                                                                        <a href="/Test/InProgress/@test.Id" class="btn btn-success font-size-14 text-white oval-rounded py-2 px-3 ml-2">
                                                                            <i class="fas fa-play-circle mx-0 px-2 text-white"></i>
                                                                            Attempt Now
                                                                            <i class="ti-arrow-right ml-2"></i>
                                                                        </a>
                                                                    }
                                                                }
                                                            </span>
                                                        </div>
                                                    }
                                                </div>

                                            }
                                        }
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- /.container -->
                </div>
            </div>
        </div>


        <div class="row" id="Schedules">
            <div class="col-12">

                <div class="card overflow-hidden rounded-1">
                    <div class="allPatients">
                        <div class="header">
                            <h2>
                                <i class="fas fa-calendar font-size-12"></i> Online Class Schedules
                            </h2>
                        </div>

                    </div>
                    <div class="card-body calender-sidebar">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>



        @{

            Html.RenderPartial("~/Views/Batch/_ScheduleDayDetailModal.cshtml");
        }
        <div class="modal fade" id="my-event">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <strong>
                                Set Schedule for Online Class
                            </strong>
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success save-event waves-effect waves-light"><i class="fas fa-plus mr-2"></i> Add</button>
                        <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="schedule-live-class">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><strong>Set Schedule for Online Class</strong></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success save-event waves-effect waves-light">Add</button>
                        <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{

    <script>

        $(document).ready(function () {
            var batchId = location.pathname.split('/')[location.pathname.split('/').length - 1];
            GetSchedulesByBatchId(batchId);
            var today = new Date($.now());
            applyTooltip();

        });

        $(document).on("click", ".deleteTestButton", function () {
            var id = this.dataset.id;

            swal({
                title: 'Are you sure?',
                html: 'Type <b>"delete"</b>, to erase this test.',
                input: 'text',
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                showLoaderOnConfirm: true,
                preConfirm: (text) => {
                    return new Promise((resolve) => {

                        if (text != 'delete') {
                            swal.showValidationError(
                                'Type correct spelling.'
                            )
                            resolve();
                        } else {
                            deleteTest(id);
                        }
                    })
                },
                allowOutsideClick: () => !swal.isLoading()
            });

        })

        function deleteTest(id) {
            var batchId = location.pathname.split('/')[location.pathname.split('/').length - 1];

            $.ajax({
                url: "/Test/DeleteBatchTest",
                type: "POST",
                data: { id: id, batchId: batchId },
                success: function (response) {
                    if (response.success) {
                        smallSwal({
                            type: 'success',
                            title: response.message
                        });
                        loadBatchTests(batchId);
                    }
                    else {
                        swal("Error!", response.message, "error");
                    }
                },
                error: function (error) {
                    returnErrorState(error);
                }
            })

        }

        function loadBatchTests(batchId) {
            $.ajax({
                url: '/Test/GetBatchTests',
                type: "POST",
                data: {
                    id: batchId
                },
                success: function (view) {

                    $("#AllTests .all-attributes").html(view);
                    applyTooltip();

                },
                error: function (error) {
                    returnErrorState(error);
                }
            })
        }
    </script>
}