﻿
@model List<BatchViewModel>
@{
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
        <div id="AllTests" class="student-section p82-topbot totalPatient">
            <div class="allPatients">
                <div class="header">
                    <h2>
                        <i class="fas fa-th-list"></i> List of Batches
                    </h2>
                    @if (isAdmin)
                    {
                        <a data-toggle="tooltip" data-placement="top" class="right custom-button addBatchBtn w-sm-100" title="Annouce Batch"><i class="fas fa-plus-circle"></i> <span class=" text-white">Annouce Batch</span></a>
                    }
                </div>
                <div class="recommendedSection allAttributesView">


                    <div class="attributesCol">

                        <div class="attributesSection">

                            <div class="attributesHeader">
                                <div class="pdetail name phCol w-5">
                                    <a href="javascript:void(0)">
                                        SNo.
                                    </a>
                                </div>
                                <div class="pdetail phCol w-30">
                                    <a href="javascript:void(0)">
                                        Name
                                        <i class="fas fa-angle-double-down">
                                        </i>
                                    </a>
                                </div>
                                <div class="pdetail phCol  w-30">
                                    <a href="javascript:void(0)">
                                        Subject
                                        <i class="fas fa-angle-double-down">
                                        </i>
                                    </a>
                                </div>
                                <div class="pdetail phCol ">
                                    <a href="javascript:void(0)">
                                        Announcement Date
                                        <i class="fas fa-angle-double-down">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <!-- attributesHeader -->



                            <div class="table-body all-batches">
                                @{Html.RenderPartial("_AllBatches");}
                            </div>

                        </div>


                    </div>

                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>


}
@section Scripts{
    @if (isAdmin)
    {
        <script>
            $(document).ready(function () {
                if ($("#addBatchModal").length) {

                    emptyAllDDL("#addBatchModal");
                    loadEducationLevels("#addBatchModal");
                }
                $("[data-toggle='tooltip']").powerTip();
            });
        </script>
    }

    <script>
        $(document).ready(function () {
           
            $("[data-toggle='tooltip']").powerTip();
        });
    </script>
}