﻿@model TestViewModel
@using System;
<div id="resultView">
    @{
        Html.RenderPartial("~/Views/Batch/_ResultView.cshtml", Model);
    }
</div>

@section Scripts{

    <script>
        $(document).on('click', '.btn-save', function (e) {
            var $form = $(this).parents("form");
            var isFormValid = $($form).valid();
            if (isFormValid) {
                $form.submit();
            }
        });
        $(document).ready(function () {
            $('.lightgallery').lightGallery();
            $("[data-toggle=tooltip]").powerTip();
            appendFormSubmit();
            debugger;
            awardMarks();

        });

        function goToQuestion(id) {
            scrollTo('[data-questionid=' + id + ']');
        }

        function appendFormSubmit() {
            var $form = $('form');
            $form.submit(function (data, event) {

                var isFormValid = $(this).valid();
                if (isFormValid) {
                    tinyMCE.triggerSave();
                    $.post($(this).attr('action'), $(this).serialize(), function (response) {
                        //can do here
                    }, 'json').done(function (data) {
                        if (data.success) {
                            //swal("Sent!!", data.message, "success");
                            $form.find(".submitMsg").removeClass("bg-danger").addClass("bg-success").find(".submitMsgText").text("Marks Awarded");
                            $form.find(".btn-save").removeClass("btn-success").addClass("btn-warning").find("span").text("Update");
                            smallSwal({
                                type: 'success',
                                title: data.message
                            });

                            location.reload();
                        } else {
                            swal("Error!!", data.message, "error")

                        }

                    });
                    return false;
                }
            });
        }
        function awardMarks() {
            var questions = $("[data-questionid].Question");
            var testid = $("[data-testid]").data("testid");
            var userId = $("[data-userid]").data("userid");
            var needResultReload = false;
            var models = [];
            questions.each(function (i, e) {
                var questionId = $(e).data('questionid');
                var questionType = $("[data-questionid=" + questionId + "]").find("[data-questiontype]").data("questiontype");
                var isAttempted = $("[data-questionid=" + questionId + "]").data("attempted");
                var ismarksawarded = $("[data-questionid=" + questionId + "]").find("[data-ismarksawarded]").data("ismarksawarded");
                var marks = $("[data-questionid=" + questionId + "]").find("[name=Marks]").val();
                var model = {
                    QuestionId: questionId,
                    TestId: testid,
                    Marks: marks,
                    UserId: userId
                };
                if ((questionType == "MCQ" || questionType == "MTQ" || questionType == "FillBlank") && ismarksawarded == "False") {
                    
                    models.push(model);
                    needResultReload = true;

                } else if ((questionType == "LongQuestion" || questionType == "ShortQuestion") && isAttempted == "False" && ismarksawarded == "False") {
                    
                    models.push(model);
                    needResultReload = true;
                }
            });
            if (models.length) {
                submitFormSilently(models);
                loadResult(testid, userId);
                $("#autoEvaluatedMessage").removeClass("hidden");
            }else {

                TinyMVCGlobalOptions.selector = ".tmceeditor";

                tinymce.init(TinyMVCGlobalOptions);
                appendFormSubmit();
            }

        }
        function submitFormSilently(models) {
            swal(
                'Please Wait...',
                'Some of questions are evaluating  automatically!!',
                'info'
            );
            swal.showLoading();
            $.ajax({
                async: false,
                url: '/Test/AwardMarksToMultipleQuestions',
                type: "POST",
                data: {
                    models: models},
                success: function (view) {
                    $("#resultView").html(view);
                    removeTinyMCEEditors();
                    TinyMVCGlobalOptions.selector = ".tmceeditor";

                    tinymce.init(TinyMVCGlobalOptions);
                    appendFormSubmit();
                    swal(
                        'Auto Evaluation Done!!',
                        'Some or all questions Evaluated successfully, you can see one by one and can update remarks.',
                        'success'
                    );
                },
                error: function (error) {
                    //returnErrorState(error);
                }
            });
        }
        function loadResult(testId, userId) {
            $.ajax({
                async: false,
                url: '/Batch/ViewTest',
                type: "POST",
                data: { testId: testId, userId: userId },
                success: function (view) {
                    $("#resultView").html(view);
                    removeTinyMCEEditors();
                    TinyMVCGlobalOptions.selector = ".tmceeditor";

                    tinymce.init(TinyMVCGlobalOptions);
                    appendFormSubmit();
                    swal(
                        'Done!!',
                        'Some or all questions Evaluated successfully, you can see one by one and can update remarks.',
                        'success'
                    );
                },
                error: function (error) {
                    //returnErrorState(error);
                }
            });
        }
        function removeTinyMCEEditors() {
            var editors = tinymce.get();
            editors.forEach(function (val, i) {
                var id = tinymce.get()[i].id;
                tinymce.get(id).remove();
            });
        }
    </script>


}
