﻿
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body calender-sidebar">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="my-event">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Set Schedule Day</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success save-event waves-effect waves-light">Add</button>
                <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
@{Html.RenderPartial("~/Views/Batch/_ScheduleDayDetailModal.cshtml");}
@section Scripts{

    <script>
        $(document).ready(function () {
            var batchId = location.pathname.split('/')[location.pathname.split('/').length - 1];
            GetSchedulesByBatchId(batchId);
            var today = new Date($.now());

        })

    </script>
}