﻿@model Management.ViewModels.UserViewModel

@{
    var isAdmin = Model.Role == UserRoles.Admin;
    var isStudent = Model.Role == UserRoles.Student;
}
<p>
    <a class="custom-button btn-blue oval-rounded back-btn pr-4 pl-4" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Back"><i class="fas fa-chevron-circle-left"></i></a>
</p>

<div id="detailPage" data-userid="@Model.Id">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                @if (!string.IsNullOrEmpty(Model.ProfilePictureUrl))
                {
                    <h3 class="text-dark d-block font-weight-bold font-size-35">
                        <div class="attribute-icon mx-auto">
                            <div class="detailed profile-img" style="background-image:url('@("/UploadedArtifacts/"+ Model.ProfilePictureUrl)')"></div>
                        </div>
                        @(Model.FirstName + " " + Model.LastName)

                    </h3>
                }
                else
                {
                    <h3 class="text-dark d-block font-weight-bold font-size-35">
                        <div class="attribute-icon mx-auto">
                            @if (Model.Gender == Gender.Female)
                            {
                                <div class="detailed profile-img" style="background-image:url('/images/femaleStudent.svg')"></div>

                            }
                            else
                            {
                                <div class="detailed profile-img" style="background-image:url('/images/student.svg')"></div>

                            }
                        </div>
                        @(Model.FirstName + " " + Model.LastName)

                        @*<div class="row mb-3 studentPage">

            <div class="col col-4 col-sm-4 col-lg-4 col-xl-4">
                <div class="adCol text-center">
                    <span class="font-size-18">
                        Success Percentage
                    </span>

                    <div class="c100 p15  my-3">
                        <span class="sm-blue"> 15</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col col-4 col-sm-4 col-lg-4 col-xl-4">
                <div class="adCol text-center">
                    <span class="font-size-18">
                        Attempted Tests
                    </span>

                    <div class="c100 p100 green my-3">
                        <span class="sm-blue"> 1</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col col-4 col-sm-4 col-lg-4 col-xl-4">
                <div class="adCol text-center">
                    <span class="font-size-18">
                        Rank
                    </span>
                    <div class="c100 p100 green my-3">
                        <span class="sm-blue"> 1</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>*@
                        @if (Model.StudentStudyTypeId == Convert.ToInt32(StudyTypes.TestOnly))
                        {
                            var gender = Model.Gender == Gender.Female.ToString() ? "She" : "He";
                           
                            <div class="row justify-content-center mt-4">
                                <div class="col-12 col-md-6  col-lg-5 col-xl-4  mb-3">
                                    <span  data-toggle="tooltip" title="This student has opted for Test only, @gender can only attempt test."
                                          class="badge-pill badge-warning font-size-14 text-dark oval-rounded py-2 px-3">
                                        <i class="fas fa-clipboard-list"></i> Test Only Student
                                    </span>
                                </div>
                            </div>
                        }

                    </h3>

                }

                

            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    @{
        var batchTest = ViewBag.BatchTest as List<BatchTest>;
        var attemptedTests = ViewBag.UserTestAttempted as List<UserTestAttempt>;
    }
    <section>
        <div class="decent-table rounded-1">
            <div class="overflow-auto">
                <h3 class="dash-heading text-dark d-block font-weight-bold font-size-25 text-center">
                    Test Attemtped
                </h3>
                <div class="table-responsive manage-table px-4 py-3">
                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0">Sr. No.</th>
                                <th scope="col" class="border-0">Test Title</th>
                                <th scope="col" class="border-0">Attempt Date</th>
                                <th scope="col" class="border-0">Evaluate</th>
                            </tr>
                        </thead>
                        <tbody class="batchTests">
                            @{
                                var serial = 0;
                            }
                            @foreach (var test in batchTest.Select(a => a.Test).OrderByDescending(x=>x.AddedDate))
                            {
                                var attmptedTest = attemptedTests.FirstOrDefault(a => a.TestId == test.Id);
                                serial++;
                            <tr class="advanced-table">
                                <td>
                                    @serial
                                </td>
                                <td>@test.TestTitle</td>
                                @if (attmptedTest != null)
                                {
                                    <td>@attmptedTest.StartedDate.ToString("dd MMM yyyy")</td>
                                    if (attmptedTest.IsEvaluated)
                                    {
                                    <td class="d-flex">
                                        <a class="btn btn-success font-size-14 mr-2 text-light oval-rounded py-2 px-3">
                                            <i class="fas fa-check-circle mr-2"></i>
                                            Evaluated
                                        </a>
                                        <a target="_blank" href="/Batch/Test?id=@test.Id&uid=@attmptedTest.UserId" class="btn btn-info font-size-14  text-light oval-rounded py-2 px-3">
                                            <i class="fas fa-eye mr-2"></i>
                                            View Detail
                                            <i class="ti-arrow-right ml-2"></i>
                                        </a>
                                    </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a target="_blank" href="/Batch/Test?id=@test.Id&uid=@attmptedTest.UserId" class="btn btn-info font-size-14 text-white oval-rounded py-2 px-3">
                                                <i class="fas fa-tasks mr-2"></i>
                                                Evaluate Now
                                                <i class="ti-arrow-right ml-2"></i>
                                            </a>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td>--</td>

                                    <td>
                                        <a class="disableClick btn btn-danger font-size-14 text-white oval-rounded py-2 px-3 bg-dark">

                                            Test Not Attempted Yet
                                        </a>
                                    </td>
                                }

                            </tr>
                                <tr>
                                    <td colspan="6" class="sml-pd"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>

</div>
@section Scripts{
    <script>
        $(document).on("click", ".back-btn", function () {
            var batchId = getQueryString("bid");
            location.href = "/Batch/Detail/" + batchId;
        });
        $(document).ready(function () {
            applyTooltip();
        });
    </script>
}