/* Handle */
#ref .color-primary {
  color: #00bd6f;
}
#ref .chart .color-primary {
  color: #00bd6f;
}
#ref .chart .color-secondary {
  color: #30d08e;
}

::-moz-selection {
  background: #00bd6f;
  color: white;
}

::selection {
  background: #00bd6f;
  color: white;
}

.auth-container .auth-header {
  text-align: center;
  border-bottom: 1px solid #00bd6f;
}

.alert.alert-primary {
  color: white;
  background-color: #00bd6f;
  border-color: #64d2a5;
}
.alert.alert-primary hr {
  border-top-color: #64d2a5;
}

tfoot tr,
thead tr {
  background: #00bd6f;
  border-bottom: 2px solid #00bd6f;
}

.userDetails {
  color: #00bd6f;
}

.popover-header {
  color: white;
  background-color: #00bd6f;
}

span.commentaryNumber, span.questionNumber {
  background: #00bd6f;
}

input.form-control,
label {
  color: #00bd6f !important;
}

.card .card-header .nav-tabs .nav-item .nav-link.active {
  border-top-color: #00bd6f;
  border-bottom-color: transparent;
  opacity: 1;
}
.card .card-header .nav-tabs .nav-item .nav-link.active:focus {
  opacity: 1;
  background-color: white;
  border-color: #d7dde4 transparent;
  border-top-color: #00bd6f;
}
.card .card-header .nav-tabs .nav-item .nav-link.active:hover {
  opacity: 1;
  background-color: white;
  border-color: #d7dde4 transparent;
  border-top-color: #00bd6f;
}

.card.card-primary {
  border-color: #64d2a5;
}
.card.card-primary > .card-header {
  background-color: #00bd6f;
  border-color: #64d2a5;
}

.btn.btn-primary {
  color: #212529;
  background-color: #00bd6f;
  border-color: #64d2a5;
}
.btn.btn-primary:hover {
  color: white;
  background-color: #30d08e;
  border-color: #038851;
}
.btn.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #30d08e;
  box-shadow: 0 0 0 0.2rem #30d08e;
}
.btn.btn-primary:disabled {
  color: #212529;
  background-color: #00bd6f;
  border-color: #64d2a5;
}
.btn.btn-primary:not(:disabled):not(.disabled).active {
  color: white;
  background-color: #00bd6f;
  border-color: #038851;
}
.btn.btn-primary:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #30d08e;
  box-shadow: 0 0 0 0.2rem #30d08e;
}
.btn.btn-primary:not(:disabled):not(.disabled):active {
  color: white;
  background-color: #00bd6f;
  border-color: #038851;
}
.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #30d08e;
  box-shadow: 0 0 0 0.2rem #30d08e;
}

.btn.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #30d08e;
  box-shadow: 0 0 0 0.2rem #30d08e;
}

.btn.btn-primary.disabled {
  color: #212529;
  background-color: #00bd6f;
  border-color: #64d2a5;
}

.show > .btn.btn-primary.dropdown-toggle {
  color: white;
  background-color: #00bd6f;
  border-color: #038851;
}
.show > .btn.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #30d08e;
  box-shadow: 0 0 0 0.2rem #30d08e;
}
.show > .btn.btn-primary-outline.dropdown-toggle {
  color: #212529;
  background-color: #00bd6f;
  border-color: #64d2a5;
}
.show > .btn.btn-primary-outline.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #30d08e;
  box-shadow: 0 0 0 0.2rem #30d08e;
}

.btn.btn-primary-outline {
  color: #00bd6f;
  background-color: transparent;
  background-image: none;
  border-color: #64d2a5;
}
.btn.btn-primary-outline:hover {
  color: #212529;
  background-color: #00bd6f;
  border-color: #64d2a5;
}
.btn.btn-primary-outline:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #30d08e;
  box-shadow: 0 0 0 0.2rem #30d08e;
}
.btn.btn-primary-outline:disabled {
  color: #00bd6f;
  background-color: transparent;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #00bd6f;
  border-color: #64d2a5;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #30d08e;
  box-shadow: 0 0 0 0.2rem #30d08e;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #00bd6f;
  border-color: #64d2a5;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #30d08e;
  box-shadow: 0 0 0 0.2rem #30d08e;
}

.btn.btn-primary-outline.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #30d08e;
  box-shadow: 0 0 0 0.2rem #30d08e;
}

.btn.btn-primary-outline.disabled {
  color: #00bd6f;
  background-color: transparent;
}

.dropdown-menu .dropdown-item:hover {
  color: #00bd6f !important;
  background: none;
  background-color: whitesmoke;
}

.input-group span.input-group-addon.focus {
  background-color: #00bd6f;
  color: white;
}

.form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #00bd6f;
}

.has-error .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #00bd6f;
}

.has-success .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #00bd6f;
}

.has-warning .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #00bd6f;
}

.form-control.boxed:focus {
  border: 1px solid white;
}

.checkbox:checked + span:before {
  color: white;
}

.colored.checkbox:checked + span:before {
  color: #00bd6f !important;
}

.radio:checked + span:before {
  color: white;
}

.colored.radio:checked + span:before {
  color: #00bd6f !important;
}

.colored.radio.correctAnswer:checked + span:before {
  color: #00bd6f !important;
}
.colored.checkbox.correctAnswer:checked + span:before {
  color: #00bd6f !important;
}

.colored.radio.wrongAnswer:checked + span:before {
  color: #dc3545 !important;
}
.colored.checkbox.wrongAnswer:checked + span:before {
  color: #dc3545 !important;
}

form .checkbox:checked + span:before {
  color: #00bd6f !important;
}

form .radio:checked + span:before {
  color: #00bd6f !important;
}

.images-container .image-container.active {
  border-color: #64d2a5;
}
.images-container .image-container.new {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-style: dashed;
  border: 1px #00bd6f solid;
  color: #00bd6f;
}

.item-list .item-actions-dropdown.active .item-actions-toggle-btn {
  color: #00bd6f;
}

.logo .l {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #00bd6f;
  position: absolute;
}

.modal-body.modal-tab-container .modal-tabs .nav-link.active {
  color: #00bd6f;
  border-bottom: 2px solid #00bd6f;
}
.modal-body.modal-tab-container .modal-tabs .nav-link:hover {
  color: #00bd6f;
  border-bottom: 2px solid #00bd6f;
}

a:not(.btn):hover {
  text-decoration: underline;
  color: #30d08e;
}

.nav.nav-tabs-bordered {
  border-color: #64d2a5;
}
.nav.nav-tabs-bordered + .tab-content {
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #64d2a5;
  padding: 10px 20px 0;
}
.nav.nav-tabs-bordered .nav-item .nav-link:hover {
  color: white;
  background-color: #00bd6f;
  border: 1px solid #00bd6f;
}
.nav.nav-tabs-bordered .nav-item .nav-link.active {
  border-color: #64d2a5;
  border-bottom-color: transparent;
}

.nav.nav-pills .nav-item .nav-link.active {
  border-color: #64d2a5;
  border-bottom-color: transparent;
  background-color: #00bd6f;
}
.nav.nav-pills .nav-item .nav-link.active:hover {
  background-color: #00bd6f;
  color: white;
}

.nav > li > a {
  color: #0050bf !important;
}

.disciplineActionBtns .custom-btn {
  background: #00bd6f !important;
}

.pagination .page-item .page-link {
  color: #00bd6f;
}
.pagination .page-item.active .page-link {
  color: white;
  border-color: #64d2a5;
  background-color: #00bd6f;
}
.pagination .page-item.active .page-link:focus {
  color: white;
  border-color: #64d2a5;
  background-color: #00bd6f;
}
.pagination .page-item.active .page-link:hover {
  color: white;
  border-color: #64d2a5;
  background-color: #00bd6f;
}

#nprogress .bar {
  background: #00bd6f !important;
}
#nprogress .bar .peg {
  -webkit-box-shadow: 0 0 10px #00bd6f, 0 0 5px #00bd6f;
  box-shadow: 0 0 10px #00bd6f, 0 0 5px #00bd6f;
}
#nprogress .spinner .spinner-icon {
  border-top-color: #00bd6f !important;
  border-left-color: #00bd6f !important;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #00bd6f;
}
*::-webkit-scrollbar-thumb *:window-inactive {
  background: #00bd6f;
}

.attributesRow:nth-child(even) {
  background: #e9fff6;
}

.allAttributesView .attributesHeader {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
}

.attribute-type-title {
  background: #00bd6f;
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
  box-shadow: 2px 2px 5px 0px #989898;
}

.sidebar-toggle-btn {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
}

#powerTip {
  background-color: #038851 !important;
}

.page-header {
  border-bottom: 1px solid #00bd6f;
  border-radius: 10px;
}
.page-header h3 > i {
  color: #fff !important;
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
}

.header {
  border-bottom: 1px solid #00bd6f !important;
}
.header > h2 > i {
  font-size: 16px !important;
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
}

.custom-button {
  color: #00bd6f !important;
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
  border-radius: 100px;
  position: relative;
  height: 35px;
  padding: 6px 45px;
  opacity: 0.8;
  display: inline-block;
  transition: 0.5s !important;
}
.custom-button:hover {
  opacity: 1;
  transform: translate(0px, -2px);
  box-shadow: 5px 5px 9px 0 #b9b9b9;
}

.material-icons {
  color: #00bd6f !important;
}

.btn-blue {
  opacity: 0.8;
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
}
.btn-blue:hover {
  opacity: 1;
}

.setActionBtns a:hover {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
}

.addQuestionToWord {
  background: #00bd6f;
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
}

.dd-container label {
  color: #00bd6f !important;
}

.navigation-confirmation-box {
  background: #00bd6f;
}

#powerTip.n:before {
  border-top-color: #00bd6f !important;
}

#powerTip.ne:before {
  border-top-color: #00bd6f !important;
}

#powerTip.nw:before {
  border-top-color: #00bd6f !important;
}

#powerTip.nw-alt:before {
  border-top-color: #00bd6f !important;
}

#powerTip.ne-alt:before {
  border-top-color: #00bd6f !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  border-left-color: #00bd6f !important;
  border-right-color: #00bd6f !important;
}
.swal2-popup .swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #00bd6f !important;
}
.swal2-popup .swal2-loading .swal2-styled.swal2-confirm {
  background: transparent !important;
}

.item-img i {
  color: #038851 !important;
}

.underline-animation {
  position: absolute;
  top: auto;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #00bd6f;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.text-primary {
  color: #00bd6f !important;
}

.dashboard-page #dashboard-sales-map .jqvmap-zoomin {
  background-color: #00bd6f;
  height: 20px;
  width: 20px;
  line-height: 14px;
}
.dashboard-page #dashboard-sales-map .jqvmap-zoomout {
  background-color: #00bd6f;
  height: 20px;
  width: 20px;
  line-height: 14px;
}
.dashboard-page .stats .stat-progress {
  height: 2px;
  margin: 5px 0;
  color: #00bd6f;
  background-color: #d7dde4 transparent;
}
.dashboard-page .stats .stat-progress .progress-bar {
  background-color: #00bd6f;
}

header {
  background-color: white;
  height: 70px;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .header-block-collapse .collapse-btn {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #00bd6f;
  font-size: 24px;
  line-height: 40px;
  border-radius: 0;
  outline: none;
  padding: 0 10px;
  vertical-align: initial;
}
header .header-block-nav > ul > li > a:hover {
  color: #00bd6f;
}
header .header-block-nav .notifications.new .counter {
  color: #00bd6f;
  font-weight: bold;
}
header .header-block-nav .notifications-dropdown-menu footer a:hover {
  background-color: #f5f5f5;
  color: #00bd6f;
}
header .header-block-nav .profile .arrow {
  color: #00bd6f;
}
header .header-block-nav .profile-dropdown-menu a .icon {
  color: #00bd6f;
  text-align: center;
  width: 18px;
  font-size: 17px;
  margin-right: 5px;
}

.modal .modal-header {
  background: #00bd6f;
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
  color: white;
}

.disciplineActionBtns > a {
  display: inline-block !important;
}

.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 10px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 15px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 20px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 25px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 30px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 35px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 5px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li.active > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}

.actionBtns.right {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
  right: 0px;
  position: absolute;
  top: 0;
  color: white !important;
  border-radius: 100px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 0 15px;
  box-shadow: 2px 2px 5px 0px #989898;
}
.actionBtns.right i {
  color: white !important;
}

.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > .sidebar-nav > li.open > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.open > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 10px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 15px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 20px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 25px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 30px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 35px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 5px solid #00bd6f !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li.open > a {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%) !important;
  color: white;
}
.sidebar .sidebar-menu > li.open > a {
  background-color: #00bd6f !important;
  color: white;
}

.sidebar > .sidebar-menu > li.active > a > .arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.btn-blue {
  color: white !important;
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
}

.detailPage .attributeActive > a {
  background: #00bd6f;
  color: white !important;
}

#modal-media .images-container .image-container:hover {
  border-color: #30d08e;
}
#modal-media .images-container .image-container.active {
  border-color: #30d08e;
}
#modal-media .upload-container .dropzone {
  position: relative;
  border: 2px dashed #00bd6f;
  height: 270px;
}
#modal-media .upload-container .dropzone .dz-message-block .dz-message {
  margin: 0;
  font-size: 24px;
  color: #00bd6f;
  width: 230px;
}

#customize-menu .customize {
  width: 225px;
  color: white;
  background-color: #212529;
  text-align: center;
  padding: 10px 15px;
  border-top: 2px solid #00bd6f;
}
#customize-menu .customize .customize-item .radio:checked + span:before {
  color: #00bd6f;
}

.qq-upload-button-selector.btn.qq-upload-button {
  background: #00bd6f;
}
.qq-upload-button-selector.btn.qq-upload-button:hover {
  background: #30d08e;
}

.backToNavigationWord {
  background: #00bd6f;
}

.ringring {
  border: 10px solid #00bd6f;
}

.custom-card.addSet {
  border: 1px dashed #00bd6f;
}
.custom-card.addSet .custom-card-body {
  padding: 20px;
}
.custom-card.addSet .custom-card-body .huge i {
  color: #00bd6f !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default {
  background: #30d08e !important;
  box-shadow: #30d08e 0 1px 3px 0 inset !important;
  color: white;
  font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current {
  background: #30d08e !important;
  box-shadow: #30d08e 0 1px 3px 0 inset !important;
  color: white;
  font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month {
  opacity: 0.5;
  background: #4ce3a5;
  color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  cursor: default;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled {
  opacity: 0.5;
  background: #4ce3a5;
  color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  cursor: default;
}
.xdsoft_datetimepicker .xdsoft_calendar th {
  background: #30d08e !important;
  border-color: #30d08e !important;
  color: #333 !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
  color: #00bd6f;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background: #30d08e !important;
  box-shadow: #30d08e 0 1px 3px 0 inset !important;
  color: white;
  font-weight: 700;
}
.xdsoft_datetimepicker .xdsoft_time_box > div > div.xdsoft_disabled {
  opacity: 0.5;
  background: #4ce3a5;
  color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  cursor: default;
}

.btn-green {
  color: white !important;
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
  color: white !important;
}

.nav-tabs .nav-link {
  background-color: #d1d1d1;
}

.nav-tabs .nav-link:hover {
  background: linear-gradient(17deg, #7eb69f 0%, #00bd6f 100%);
  color: white !important;
}

.fc th.fc-sat, .fc th.fc-sun, .fc th.fc-thu, .fc th.fc-tue {
  background: linear-gradient(0deg, #00bd6f 0%, #30d08e 100%);
}

.fc th.fc-fri, .fc th.fc-mon, .fc th.fc-wed {
  background: linear-gradient(0deg, #00bd6f 0%, #30d08e 100%);
}

.fc-toolbar .fc-button {
  background: linear-gradient(0deg, #00bd6f 0%, #30d08e 100%);
  color: #fff;
  text-transform: capitalize;
}

.fc-toolbar .fc-button:hover {
  background: linear-gradient(0deg, #30d08e 0%, #00bd6f 100%);
  opacity: 0.8;
}

.fc-toolbar .fc-button.fc-state-active {
  background: linear-gradient(0deg, #038851 0%, #00bd6f 100%);
  color: #fff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.calender-sidebar {
  border-top: 5px solid #00bd6f;
}

.modal-dialog.full .modal-body {
  background-image: url(../../images/leaf_seagreen.jpg);
}

.dash {
  background: #038851;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #03885163 !important;
}

.dash-heading:before {
  background: #00bd6f;
}

.manage-table thead tr {
  background: unset;
  border-bottom: 2px solid #00bd6f;
}

/*# sourceMappingURL=app-seagreen.css.map */
