.fc .fc-row {
    margin-right: 0 !important;
}

.fc-basic-view .fc-body .fc-row {
    min-height: 5rem;
}

.fc-toolbar .fc-button-group {
    border: none;
    border-radius: 4px;
}


.fc-widget-header {
    border: 0px !important;
}

.fc-widget-content {
    border-color: rgba(120, 130, 140, 0.13) !important;
}

    .fc-widget-content tr {
        border-bottom: none;
    }

.fc-view {
    margin-top: 0px;
}

.fc-toolbar {
    margin-bottom: 0px !important;
    padding: 24px 20px;
}

    .fc-toolbar.dark {
        background: #4a5560 !important;
    }

        .fc-toolbar.dark h2 {
            color: #fff;
        }

    .fc-toolbar h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        color: #4a5560;
    }

.fc-event {
    border-radius: 0px;
    border: none;
    cursor: move;
    color: #fff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding: 5px 5px;
    text-align: center;
    background: #40c4ff;
}

.fc th.fc-widget-header {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 7px 0;
    text-transform: uppercase;
}


.fc-state-default{
    border: none !important;
}
.fc-state-default.fc-corner-left {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    outline: none !important;
    border: none !important;
}

.fc-state-default.fc-corner-right {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border: none !important;
    outline: none !important;
}

.fc-day-grid-event .fc-content {
    white-space: unset;
}

    .fc-day-grid-event .fc-content .fc-title {
        display: block;
    }

.fc-more {
    padding: 5px !important;
    background: linear-gradient(260deg,#676767,#676767,#151414) !important;
    background-size: 600% 600% !important;
    -webkit-animation: Gradient 1s ease infinite !important;
    -moz-animation: Gradient 1s ease infinite !important;
    animation: Gradient 2s ease infinite !important;
    color: white !important;
    box-shadow: 2px 2px 5px 0 #989898;
    cursor: pointer;
    border-radius: 8px !important;
    display: block;
}