﻿@model PowerSlideViewModel

@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{

   
    <form id="addPowerSlideForm" asp-controller="PowerSlide" asp-action="Add">
        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
        <div class="modal-body">
            <div class="row">
                <input asp-for="AttributeId" hidden="hidden" />
                <input asp-for="AttributeType" hidden="hidden" />
             
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">Title</label>
                        <input asp-for="Title" placeholder="Enter a Power Slide Title" class="form-control" />
                    </div>
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">Detail (Add some Detail/Note regarding this Power Slide.)</label>
                        <textarea asp-for="Detail" class="tmceeditor"></textarea>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="modal-footer pt-2">

            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

            <button type="submit" class="btn btn-success rounded-0" id="saveBtn"><i class="fas fa-save"></i> Add Power Slide </button>

        </div>
    </form>

    
}