﻿@model PowerSlideViewModel
@if (Model != null)
{
    var detail = Model.Detail;
<div id="Page" class="Page content-page" data-id="@Model.Id" data-attributeid="@Model.AttributeId" data-attributetype="@Model.AttributeType">
    <div class="page-header unselectable">

        <i class="fas fa-book"></i>  <strong> Power Slide:</strong>
        <span> @Model.Title</span>

    </div>
    <div data-savetype="powerslide" data-attributetype="@Model.AttributeType" data-id="@Model.Id" data-attributeid="@Model.AttributeId">
        @Html.Raw(detail)
    </div>
</div>}