﻿@model List<Management.ViewModels.PowerSlideViewModel>
@{
    var serialNo = 0;
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    if (Model.Count() > 0)
    {

        foreach (var PowerSlide in Model.OrderByDescending(o => o.AddedDate))
        {

            serialNo++;

            <div class="attributesRow" data-id="@PowerSlide.Id">

                <div class="attributesRecord">
                    <span class="serial-number">
                        @serialNo
                    </span>
                </div>

                <div class="attributesRecord w-55">
                    <span class="text-left">
                        @PowerSlide.Title
                    </span>
                </div>

                <div class="actionBtns float-right">
                    <i class="fa fa-eye viewPowerSlideButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@PowerSlide.AttributeId" data-attributetype="@PowerSlide.AttributeType" data-id="@PowerSlide.Id" title="View"></i>
                    @if (isAdmin || isResearcher)
                    {
                        <i class="fa fa-edit editPowerSlideButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@PowerSlide.AttributeId" data-attributetype="@PowerSlide.AttributeType" data-id="@PowerSlide.Id" title="Edit"></i>
                        <i class="fa fa-trash deletePowerSlideButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@PowerSlide.AttributeId" data-attributetype="@PowerSlide.AttributeType" data-id="@PowerSlide.Id" title="Delete"> </i>
                    }
                </div>
            </div>

        }

    }
}