﻿@model Management.ViewModels.AttributeViewModel

<div class="modal fade" id="addPowerSlideModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
           
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Add Power Slide
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body And Footer-->
            @{ Html.RenderPartial("~/Views/PowerSlide/_AddNewPowerSlide.cshtml", new PowerSlideViewModel() { AttributeId=Model.Id,AttributeType=Model.Type});}


        </div>
    </div>
</div>

<div class="modal fade" id="editPowerSlideModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Edit Power Slide
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="editPowerSlideView">
                <!-- Edit PowerSlide Data view (_EditPowerSlide.cshtml) will render here.-->
            </div>

        </div>
    </div>
</div>
