﻿@model PowerSlideViewModel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
<div class="col col-12  ">

    <a class="custom-btn btn-blue oval-rounded mb-3 viewbutton" data-attributetype="@Model.AttributeType" data-attributeid="@Model.AttributeId" data-toggle="tooltip" data-placement="left" title="Go back to @Model.AttributeType"> <i class="fas fa-chevron-left"></i> </a>
    @if (!string.IsNullOrEmpty(Model.Detail))
    {


        <div class="page-outline main-page pt-3 pr-5 pl-5 pb-3 mb-4">
            @if (isResearcher || isAdmin)
            {
                <div class="actionBtns position-absolute">
                    @if (isAdmin)
                    {
                        <i class="fas fa-envelope  emailAllocatedMember" data-attributetype="@Model.AttributeType" data-attributeid="@Model.AttributeId" data-toggle="tooltip" title="Inform Student/Researcher regarding new changes in this Power Slide"></i>
                        <i class="fas fa-print printPageBtn" data-toggle="tooltip" data-placement="left" title="Print Document"></i>
                    }

                    <i class="fas fa-search-plus" id="ZoomIn" data-toggle="tooltip" data-placement="left" title="Zoom In"></i>
                    <i id="ZoomReset" class="fas fa-history" data-toggle="tooltip" data-placement="left" title="Reset Zoom"></i>
                    <i class="fas fa-search-minus" id="ZoomOut" data-toggle="tooltip" data-placement="left" title="Zoom Out"></i>

                    <i class="fa fa-edit editPowerSlideButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@Model.AttributeId" data-attributetype="@Model.AttributeType" data-id="@Model.Id" title="Edit"></i>
                    <i class="fa fa-trash deletePowerSlideButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@Model.AttributeId" data-attributetype="@Model.AttributeType" data-id="@Model.Id" title="Delete"> </i>
                </div>
            }

            @{Html.RenderPartial("_Description", Model); }

        </div>
    }
    else
    {
        <div class="alert alert-danger text-center">
            No document available
        </div>
    }
</div>