﻿
<div class="alert alert-info">
    Select step by step
</div>

<div class="row enrollment">
    <div class="col-12">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs manage-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active " data-toggle="tab" href="#ModeOfStudy" role="tab" aria-selected="true">
                        <span class="hidden-sm-up">
                            <h4><i class="fas fa-book-open"></i></h4>
                        </span>
                        <span class="d-none d-md-block">Study</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btnNext" data-toggle="tab" href="#SelectSubject" role="tab" aria-selected="true" data-nextstep="SelectSubject">
                        <span class="hidden-sm-up">
                            <h4><i class="mdi mdi-book "></i></h4>
                        </span>
                        <span class="d-none d-md-block">Subject</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btnNext" data-toggle="tab" href="#Teacher" role="tab" aria-selected="true" data-nextstep="Teacher">
                        <span class="hidden-sm-up">
                            <h4><i class="fas fa-chalkboard-teacher"></i></h4>
                        </span>
                        <span class="d-none d-md-block">Teacher</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btnNext" data-toggle="tab" href="#Batches" role="tab" aria-selected="false" data-nextstep="Batches">
                        <span class="hidden-sm-up">
                            <h4><i class="fas  fa-users"></i></h4>
                        </span>
                        <span class="d-none d-md-block">Batch</span>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <form id="enrollForm" asp-controller="Student" asp-action="Enroll">
                <div class="tab-content">
                    <div class="tab-pane active" id="ModeOfStudy" role="tabpanel">
                        <div class=" p-4">
                            <h3 class="font-size-md-20">
                                Select Mode Of Study
                                <a class="btn btn-success text-white oval-rounded py-2 px-3 btnNext w-auto float-lg-right" data-nextstep="SelectSubject">Next <i class="ti-arrow-right ml-2"></i></a>
                            </h3>
                        </div>

                        <div class="bg-light p-5">
                            <div class="row justify-content-center">
                                <input name="StudyType" hidden />
                                <div class="col-12 col-md-4 col-lg-3 mb-3">
                                    <div class="small-card text-center selectableCard dark shadow-2" data-studytype="@Convert.ToInt32(StudyTypes.Book)">
                                        <i class="fas fa-circle"></i>
                                        <div class="p-4">
                                            <i class="fas fa-book font-size-50"></i>
                                        </div>
                                        <p class="text-center mt-2 font-size-13 font-weight-light">Book</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3 mb-3">
                                    <div class="small-card text-center selectableCard dark shadow-2" data-studytype="@Convert.ToInt32(StudyTypes.DistanceLearning)">
                                        <i class="fas fa-circle"></i>
                                        <div class="p-4">
                                            <i class="fas fa-desktop font-size-50"></i>
                                        </div>
                                        <p class="text-center mt-2 font-size-13 font-weight-light">Distance Learning</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3 mb-3">
                                    <div class="small-card text-center selectableCard dark shadow-2" data-studytype="@Convert.ToInt32(StudyTypes.TestOnly)">
                                        <i class="fas fa-circle"></i>
                                        <div class="p-4">
                                            <i class="fas fa-clipboard-list font-size-50"></i>
                                        </div>
                                        <p class="text-center mt-2 font-size-13 font-weight-light">Test Only</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-center px-4 py-3 mb-1">
                            <div class="ml-auto">
                                <a class="btn btn-success text-white oval-rounded py-2 px-3 btnNext w-auto float-lg-right" data-nextstep="SelectSubject">Next <i class="ti-arrow-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="SelectSubject" role="tabpanel">
                        <div class=" p-4">
                            <h3 class="font-size-md-20">
                                Select a Subject
                                <a class="btn btn-success text-white oval-rounded py-2 px-3 btnNext  w-auto float-lg-right" data-nextstep="Teacher">Next <i class="ti-arrow-right ml-2"></i></a>
                            </h3>
                        </div>
                        <div class="bg-light p-5">
                            <div class="row mt-2">
                                <div class="col col-12 col-md-6 mb-2">
                                    <select class="EducationLevelDDL dropdown"></select>
                                </div>

                                <div class="col  col-12 col-md-6 mb-2">
                                    <select class="BoardLevelDDL dropdown"></select>
                                </div>

                                <div class="col col-12 col-md-6  mb-2">
                                    <select class="ClassDDL dropdown"></select>
                                </div>

                                <div class="col col-12 col-md-6  mb-2">
                                    <select class="SubjectDDL dropdown" data-id="SubjectId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center px-4 py-3 mb-1">

                            <div class="ml-auto">
                                <a class="btn btn-success text-white oval-rounded py-2 px-3 btnNext w-auto float-lg-right" data-nextstep="Teacher">Next <i class="ti-arrow-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Teacher" role="tabpanel">
                        <div class=" p-4">

                            <h3>
                                Select Teacher
                                <a class="btn btn-success text-white oval-rounded py-2 px-3 btnNext w-auto float-lg-right" data-nextstep="Batches">Next <i class="ti-arrow-right ml-2"></i></a>
                            </h3>
                        </div>
                        <div class="bg-light p-5">
                            <div class="row teacherRenderer">

                            </div>
                        </div>
                        <div class="d-flex align-items-center px-4 py-3 mb-1">

                            <div class="ml-auto">
                                <a class="btn btn-success text-white oval-rounded py-2 px-3 btnNext w-auto float-lg-right" data-nextstep="Batches">Next <i class="ti-arrow-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="Batches" role="tabpanel">
                        <div class=" p-4 no-gutters">
                            <h3 class="font-size-md-20">
                                Select Batch
                                <button id="enrollSaveBtn" type="button" class="btn btn-success text-white oval-rounded py-2 px-3 w-auto float-lg-right">Submit <i class="ti-arrow-right ml-2"></i></button>
                            </h3>
                        </div>
                        <div class="bg-light overflow-auto">
                            <div class="table-responsive border-top manage-table px-4 py-3">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0"></th>
                                            <th scope="col" class="border-0">Title</th>
                                            <th scope="col" class="border-0">Start Date</th>
                                            <th scope="col" class="border-0">End Date</th>
                                            <th scope="col" class="border-0">Schedule Days</th>
                                        </tr>
                                    </thead>
                                    <tbody class="batchRenderer"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="d-flex align-items-center px-4 py-3 mb-1">
                            <div class="ml-auto">
                                <button id="enrollSaveBtn" type="button" class="btn btn-success text-white oval-rounded py-2 px-3">Submit <i class="ti-arrow-right ml-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>