﻿
@model UserViewModel
@inject Management.Data.Interfaces.RepositoryInterfaces.ICountryRepository countryRepository
@inject Management.Data.Interfaces.RepositoryInterfaces.IRegionRepository regionRepository
@inject Management.Data.Interfaces.RepositoryInterfaces.ICityRepository cityRepository

@{
    var action = "Register";

    var countries = countryRepository.Get().ToList();
    var PakistanId = countries.FirstOrDefault(a => a.name == "Pakistan").Id;
    var selectedRegions = regionRepository.Get().Where(x => x.CountryId == PakistanId).ToList();
    var selectedCities = new List<City>();
    var region = new Region();

    if (Model != null)
    {
        if (Model.IsEditModel)
        {
            action = "UpdateStudent";

            region = regionRepository.Get().FirstOrDefault(x => x.Cities.Any(a=>a.Id==Model.CityId));
            var regionId = region.Id;
            if (Model.CityId != null)
            {
                selectedRegions = regionRepository.Get().Where(x => x.CountryId == region.CountryId).ToList();
                selectedCities = cityRepository.Get().Where(x => x.RegionId == regionId).ToList();
            }

        }
    }

}
<form id="addStudentForm" asp-controller="Student" asp-action="@action">
    <!-- Modal body -->
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <span class="mb-3">All Fields are mandatory.</span>
            </div>
        </div>
        <div class="row">

            <input type="text" asp-for="Id" placeholder="First Name" hidden />
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="FirstName" placeholder="First Name" required />
                </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6-col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="LastName" placeholder="Last Name" required />
                </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    @{
                        var email = "";
                        if (!string.IsNullOrEmpty(ViewBag.Email))
                        {
                            email = ViewBag.Email;
                            <input type="email" asp-for="Email" value="@email" placeholder="Email" required />
                        }
                        else
                        {
                            <input type="email" asp-for="Email" placeholder="Email" required />
                        }
                    }
                </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="CNIC" required data-inputmask="'mask': '99999-9999999-9'" placeholder="XXXXX-XXXXXXX-X" />
                </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="MobileNumber" placeholder="Mobile Number" required />
                </div>
            </div>

            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="PhoneNumber" placeholder="Phone Number (Optional)" />
                </div>
            </div>

            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <select id="Country" class="Country">

                        @if (Model != null && Model.IsEditModel)
                        {

                            @foreach (var country in countries)
                            {
                                if (region.CountryId != null)
                                {

                                    var seleted = country.Id == region.CountryId;
                                    if (seleted)
                                    {
                                        <option value="@country.Id" data-flag="@country.Flag" selected="selected">@country.name</option>
                                    }
                                    else
                                    {
                                        <option value="@country.Id" data-flag="@country.Flag">@country.name</option>
                                    }
                                }
                                else
                                {
                                    var selected = country.Id == PakistanId;
                                    if (selected)
                                    {
                                        <option value="@country.Id" data-flag="@country.Flag" selected="selected">@country.name</option>

                                    }
                                    else
                                    {
                                        <option value="@country.Id" data-flag="@country.Flag">@country.name</option>

                                    }
                                }
                            }

                        }
                        else
                        {
                            @foreach (var country in countries)
                            {
                                var selected = country.Id == PakistanId;
                                if (selected)
                                {
                                    <option value="@country.Id" data-flag="@country.Flag" selected="selected">@country.name</option>

                                }
                                else
                                {
                                    <option value="@country.Id" data-flag="@country.Flag">@country.name</option>

                                }
                            }
                        }

                    </select>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <select id="Region" class="Region">
                        @if (Model != null && Model.IsEditModel && Model.CityId != null)
                        {
                            @foreach (var thisRegion in selectedRegions)
                            {
                                var selected = thisRegion.Id == region.Id;
                                if (selected)
                                {
                                    <option value="@thisRegion.Id" selected="selected">@thisRegion.name</option>
                                }
                                else
                                {
                                    <option value="@thisRegion.Id" @seleted>@thisRegion.name</option>

                                }
                            }
                        }
                        else
                        {
                            <option>Select your Region/State</option>
                            @foreach (var thisRegion in selectedRegions)
                            {
                                <option value="@thisRegion.Id">@thisRegion.name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <select id="City" class="City">
                        @if (Model != null)
                        {
                            if (Model.IsEditModel)
                            {
                                <option>Select your City</option>

                                @foreach (var city in selectedCities)
                                {
                                    var selected = city.Id == Model.CityId;
                                    if (selected)
                                    {
                                        <option value="@city.Id" selected="selected">@city.name</option>
                                    }
                                    else
                                    {
                                        <option value="@city.Id" @seleted>@city.name</option>
                                    }

                                }
                            }
                        }
                    </select>
                    <input hidden type="text" asp-for="CityId" />
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="Address" placeholder="Street Address" required />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="form-group">
                    <input type="text" asp-for="SchoolName" placeholder="Your Instituite Name (Optional)" />

                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <input type="text" asp-for="SchoolName" placeholder="Your Instituite Name (Optional)" />

                </div>
            </div>

            @if (!User.IsInRole(UserRoles.Admin.ToString()))
            {


                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <input type="password" asp-for="Password" placeholder="e.g. Password@@123" required />
                    </div>
                </div>

            }
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    @if (Model != null && Model.IsEditModel)
                    {
                        var male = "checked";
                        var female = "checked";
                        if (Model.Gender == Gender.Male)
                        {
                            female = "";

                        }
                        else
                        {
                            male = "";

                        }

                        <label class="gender-label"><input type="radio" name="Gender" value="Male" @male />  <span> Male</span></label>
                        <label class="gender-label"> <input type="radio" name="Gender" value="Female" @female />  <span>Female</span></label>
                    }
                    else
                    {
                        <label class="gender-label"><input type="radio" name="Gender" value="Male" checked />  <span> Male</span></label>
                        <label class="gender-label"> <input type="radio" name="Gender" value="Female" />  <span>Female</span></label>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer pt-2">
        @if (User.IsInRole(UserRoles.Admin.ToString()))
        {

            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

        }
        <button type="button" class="btn btn-success rounded-0" id="saveBtn"><i class="fas fa-user-plus"></i> Register</button>
    </div>
</form>