﻿@model IEnumerable<Management.ViewModels.UserViewModel>


<div>
   
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
            <div id="AllAttributes" class="student-section p82-topbot totalPatient">
                <div class="allPatients">
                    <div class="header">

                        <h2>
                            <i class="fas fa-user fa-fw"></i> All Students
                        </h2>
                        <a data-toggle="tooltip" data-placement="top" title="Add New Student" class="right custom-button addStudentBtn"><i class="fas fa-plus-circle"></i></a>

                        <a href="/" data-toggle="tooltip" data-placement="top" title="Back to dashboard" class="right custom-button"><i class="fas fa-chevron-circle-left"></i></a>


                        @*<a class="custom-button viewbutton" data-toggle="tooltip" data-placement="top" href="/" title="Back"><i class="fas fa-chevron-left"></i></a>*@



                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Sr.</th>
                                    <th></th>
                                    <th class="text-left">Name</th>
                                   
                                    <th>Status</th>
                                    <th>Allocated Subjects/Chapters</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @{
                            var serialNo = 0;
                            if (Model.Any())
                            {
                                    <tbody>




                                        @foreach (var user in Model.OrderByDescending(x => x.RegistrationDate))
                                        {
                                            var contact = string.IsNullOrEmpty(user.MobileNumber) ? user.PhoneNumber : user.MobileNumber;
                                            var image = string.IsNullOrEmpty(user.ProfilePictureUrl) ? user.Gender == Gender.Male ? "/images/student.svg" : "/images/femaleStudent.svg" : "/UploadedArtifacts/" + user.ProfilePictureUrl;

                                            serialNo++;
                                        <tr>
                                            <td>@serialNo </td>
                                            <td><div class="profile-img" style="background-image: url('@image')"> </div></td>
                                            <td class="text-left"><a class="studentViewbutton" data-toggle="tooltip" data-placement="left" data-id="@user.Id">@(user.FirstName + " " + user.LastName) </a></td>

                                            <td>
                                                @if (user.IsActive)
                                                {
                                                    <i class="fas fa-check" data-toggle="tooltip" data-placement="left" title="Active"></i>
                                                }
                                                else
                                                {
                                                    <i class="fas fa-times" data-toggle="tooltip" data-placement="left" title="Blocked"></i>
                                                }


                                            </td>
                                            <td>
                                                <i class="fas fa-align-justify assignedSubjectsBtn" data-toggle="tooltip" data-placement="left" title="Show Allocated Subjects" data-userid="@user.Id"></i>

                                            </td>
                                            <td>
                                                <div class="actionBtns ">
                                                    @if (user.IsActive)
                                                    {
                                                        <i class="fa fa-ban studentBlockbutton" data-toggle="tooltip" data-placement="left" data-id="@user.Id" title="Block"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-sync studentBlockbutton" data-toggle="tooltip" data-placement="left" data-id="@user.Id" title="Reinstate"></i>
                                                    }
                                                    <i class="fa fa-eye studentViewbutton" data-toggle="tooltip" data-placement="left" data-id="@user.Id" title="View Details"></i>
                                                    <i class="fa fa-edit studentEditButton" data-toggle="tooltip" data-placement="left" data-id="@user.Id" title="Edit"></i>
                                                    <i class="fa fa-trash studentDeleteButton" data-toggle="tooltip" data-placement="left" data-name="@(user.FirstName + " " + user.LastName)" data-id="@user.Id" title="Delete"> </i>
                                                </div>
                                            </td>
                                        </tr>


                                    }




                                    </tbody>
                            } }
                        </table>
                    </div>



                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
</div>