﻿@{
    var isBatchAssigned = ViewBag.IsBatchAssigned;

}
@if (isBatchAssigned)
{

<div class=" DashboadPage">
    <!--.row-->

    @{

        var schedules = ViewBag.UserSchedules as List<ScheduleViewModel>;
    }
    @if (schedules.Any(a => DateTime.Now < a.EndDateTime))
    {
        <div class="row">

            <div class=" col-12 mb-2">
                <div class="alert alert-warning  font-size-16 oval-rounded py-2 px-4">
                    <i class="fas fa-info-circle text-white"></i> An Online Class has been Scheduled.
                    <button type="button" class="close font-size-25" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>



            @foreach (var schedule in schedules.OrderBy(a => a.StartDateTime))
            {
                var isActive = false;
                var color = "red";
                var type = "expired";


                if (DateTime.Now > schedule.StartDateTime && DateTime.Now < schedule.EndDateTime)
                {
                    isActive = true;
                    color = "green";
                    type = "InProgress";
                }
                if (DateTime.Now < schedule.StartDateTime)
                {
                    isActive = true;
                    color = "blue";
                    type = "UpComing";
                }

                if (isActive)
                {
                    <div class="col-12 col-md-4 mb-3">
                        <div id="schedule_@schedule.Id" class="custom-card online-class d-block pb-3" data-type="@type" data-starttime="@schedule.StartDateTime.ToString("MM/dd/yyyy HH:mm:ss")" data-endtime="@schedule.EndDateTime.ToString("MM/dd/yyyy HH:mm:ss")">

                            <div class="custom-card-icon @color h-100  w-100">
                                <i class="fas fa-desktop"></i>
                            </div>
                            <div class="custom-card-body @color h-100">
                                <div class="row align-items-center">
                                    <div class="col-12 my-2 ">
                                        <div class="text-center">

                                            <span class="font-weight-bold font-size-12 d-block text-success">
                                                (Batch: @schedule.Batch.Title)
                                            </span>
                                            <span class="font-weight-bold font-size-14 d-block">
                                                @schedule.Batch.Subject.Name
                                            </span>
                                            <h5 class="text-info font-weight-bold font-size-16 d-block">@schedule.Title</h5>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-2 ">
                                        <div class="text-center">
                                            <p class="text-center font-size-12"><b>Pakistan Standard Time</b></p>
                                            <p class="text-center font-size-14"><b>@schedule.StartDateTime.ToString("MMM dd yyyy") </b> </p>
                                            <p class="text-center font-size-14"><b>@schedule.StartDateTime.ToString("hh:mm tt") - @schedule.EndDateTime.ToString("hh:mm tt")</b></p>
                                        </div>
                                    </div>

                                    <div class="col-12 text-center">
                                        <div id="timer" class=" text-success">
                                            <div>
                                                <i class="fas fa-clock  text-success"></i>
                                                <span class="typeText font-size-lg-14 font-size-16 text-info font-weight-bold"></span>
                                            </div>

                                            <div class="days font-size-lg-14 font-size-16 font-weight-bold"></div>
                                            <div class="daydot clockdots font-size-lg-14 font-size-16 font-weight-bold">:</div>
                                            <div class="hours font-size-lg-14 font-size-16 font-weight-bold"></div>
                                            <div class="clockdots font-size-lg-14 font-size-16 font-weight-bold">:</div>
                                            <div class="minutes font-size-lg-14 font-size-16 font-weight-bold"></div>
                                            <div class="clockdots font-size-lg-14 font-size-16 font-weight-bold">:</div>
                                            <div class="seconds font-size-lg-14 font-size-16 font-weight-bold"></div>
                                        </div>

                                        @{
                                            if (schedule.IsTestOnlyUser)
                                            {
                                                <div class="alert alert-warning text-white text-center autoEvaluatedMessage">
                                                    <i class="fas fa-info-circle d-block fa-2x mb-2 text-white"></i>
                                                    You can't join this
                                                    <strong>
                                                        Online Class
                                                    </strong>
                                                    because you can attempt test only.
                                                    If you want to join class then you have to enroll for <strong>Distance Learning in this batch</strong>.
                                                    <a href="/Student/Enroll/DistanceLearning" target="_blank" class="float-left w-100 btn btn-success oval-rounded"> Upgrade to Distance Learning</a>

                                                </div>
                                            }
                                            else if (type == "InProgress")
                                            {
                                                <a href="@schedule.EventUrl" target="_blank" class="float-left w-100 btn btn-success oval-rounded"> Join Class Now</a>
                                            }
                                        }


                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                }


            }

        </div>
        <hr />
    }
    <div class="newbatch-alert hidden alert alert-info  mb-4 font-size-16 oval-rounded py-2 px-4 text-dark">
        <i class="fas fa-info-circle text-dark"></i>
        <a href="#NewBatchList"><strong>New Batch</strong></a>, has been announced. Enroll yourself or share with your friends to get some voucher.
        <button type="button" class="close font-size-25" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="text-dark">&times;</span>
        </button>
    </div>
    <div class="badge badge-dark  mb-4 font-size-16 oval-rounded py-2 px-4 transition-3"><i class="fas fa-user-graduate"></i> Student Dashboard</div>

    <!-- /.row -->


    <div class="row">

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="#" class="myAllocatedSubjects float-left w-100">
                <div class="custom-card">
                    <div class="custom-card-icon red">
                        <i class="fas fa-book"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.AllocatedSubjectCount</div>
                        <p>My Subjects</p>
                    </div>
                </div>
            </a>
        </div>


        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a class="myBatches float-left w-100" href="/Batch/List">
                <div class="custom-card">

                    <div class="custom-card-icon blue">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">*</div>

                        <p>My Batches</p>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a class="newEnrollmenet float-left w-100" href="/Student/Enroll">
                <div class="custom-card">
                    <div class="custom-card-icon darkblue">
                        <i class="fas fa-users-cog"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">*</div>
                        <p>Enroll in new Batch</p>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="/MyVouchers" class="float-left w-100">
                <div class="custom-card">
                    <div class="custom-card-icon orange">
                        <i class="fas fa-id-card-alt"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.VoucherCount</div>
                        <p>My Vouchers</p>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <!-- /.row --> @{
        var batchTests = ViewBag.BatchTests as List<BatchTestViewModel>;
    }
    @if (batchTests != null && batchTests.Any())
    {
        var attemptedTestIds = ViewBag.AttemptedTests as List<UserTestAttempt>;

        <hr />

        <div class="badge badge-dark  mb-4 font-size-16 oval-rounded py-2 px-4"><i class="fas fa-tasks"></i> Tests Announced for your batch. </div>
        <div class="alert alert-warning  mb-4 font-size-16 oval-rounded py-2 px-4">
            <i class="fas fa-info-circle text-white"></i> Do you want to take a demo test to know the test system, of how to attempt Test? <a class="text-dark underline" href="/Test/Demo">Click Here to Take Demo</a>
            <button type="button" class="close font-size-25" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-info  mb-4 font-size-16 oval-rounded py-2 px-4 text-dark">
            <i class="fas fa-info-circle text-dark"></i>
            Once you pressed <strong>Attempt Test</strong>, your time is started.
            <button type="button" class="close font-size-25" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="text-dark">&times;</span>
            </button>
        </div>
        <div class="row tests">
            @foreach (var batchTest in batchTests.OrderByDescending(a => a.Test.AddedDate))
            {
                var test = batchTest.Test;
                var isTestAttempted = attemptedTestIds.Select(x => x.TestId).Contains(test.Id);
                var testAttempted = attemptedTestIds.FirstOrDefault(a => a.TestId == test.Id);
                double duration = TimeSpan.Parse(test.Hours + ":" + test.Minutes).TotalMinutes;
                TimeSpan span = new TimeSpan();
                var isExpired = test.ExpiryDate < DateTime.Now;
                if (testAttempted != null)
                {
                    DateTime startTime = testAttempted.StartedDate;
                    DateTime endTime = testAttempted.StartedDate.AddMinutes(duration);
                    span = endTime.Subtract(DateTime.Now);
                }


                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <section class="test-container ">
                        @if (isExpired && !isTestAttempted)
                        {
                            <span class="z-index-1 badge badge-pill badge-danger d-block font-size-13 font-weight-light position-absolute rt-10"> <i class="fas fa-times-circle"></i> Expired</span>
                        }
                        else if ((isTestAttempted && span.TotalMinutes < 0) || (testAttempted != null && testAttempted.IsFinished))
                        {
                            <span class="z-index-1 badge badge-pill badge-success d-block font-size-13 font-weight-light position-absolute rt-10"> <i class="fas fa-check-circle"></i> Done</span>
                        }
                        else
                        {
                            <span class="z-index-1 badge badge-pill badge-info d-block font-size-13 font-weight-light position-absolute rt-10"> <i class="fas fa-info-circle text-white"></i> Ready to attempt</span>
                        }
                        <section class="one text-center m-0 position-relative">

                            <div class="logo position-relative">
                                <img src="/images/bell.svg">
                                @if ((isTestAttempted && span.TotalMinutes < 0) || (testAttempted != null && testAttempted.IsFinished))
                                {
                                    <img class="tick" src="/images/tick.png">
                                }
                            </div>
                            <div class="p-3">
                                <span class="mt-2 alert alert-info d-block">

                                    <a class="text-dark" href="/Batch/Detail/@batchTest.BatchId">
                                        <i class="fas fa-users"></i>
                                        <h6> Batch:</h6>
                                        @batchTest.Batch.Title
                                    </a>
                                </span>
                                @if (isTestAttempted && span.Minutes > 0 && (testAttempted != null && !testAttempted.IsFinished))
                                {
                                    <span class="mt-2 badge badge-pill badge-warning d-block"> <i class="fas fa-clock"></i> Time Started: @testAttempted.StartedDate</span>
                                    <div class="mt-2 badge badge-pill badge-warning d-block"> <i class="fas fa-clock"></i> Time Left: @Math.Round(span.TotalMinutes)mins</div>
                                    <span class="mt-2 badge badge-pill badge-warning d-block"> <i class="fas fa-spinner fa-spin"></i> Test is in progress</span>
                                }
                                else if ((isTestAttempted && span.TotalMinutes < 0) || (testAttempted != null && testAttempted.IsFinished))
                                {
                                    <div class="mt-2 badge badge-pill badge-success d-block"> <i class="fas fa-clock"></i> Time Started: @testAttempted.StartedDate</div>
                                    <span class="mt-2 badge badge-pill badge-success d-block"> <i class="fas fa-check-circle"></i> Test Time Finished</span>
                                    <span class="mt-2 font-weight-light badge badge-pill badge-info d-block"> <i class="fas fa-info-circle text-white"></i> Your test is Done.</span>
                                }
                                else
                                {
                                    <span class="mt-2 badge badge-pill badge-danger d-block"> <i class="fas fa-info-circle text-white"></i> Expiry Date: @test.ExpiryDate </span>
                                    <span class="mt-2 badge badge-pill badge-danger d-block"> <i class="fas fa-play-circle"></i> Test Not Attempted</span>
                                    <span class="mt-2 font-weight-light badge badge-pill badge-info d-block"> <i class="fas fa-info-circle text-white"></i> Press Button below to Attempt.</span>
                                }
                            </div>
                            <h2 class="heading text-white font-size-17 mt-2">
                                @test.TestTitle
                            </h2>
                            <div class="p-3">
                                <div class="mb-3"><i class="fas fa-clock"></i> Duration:  @(duration + "mins" ) </div>
                                @if ((isTestAttempted && span.TotalMinutes < 0) || (testAttempted != null && testAttempted.IsFinished))
                                {
                                    <a class="btn custom-button w-100 mb-3" href="/Test/Result/@test.Id" data-toggle="tooltip" data-placement="left">
                                        <i class="fas fa-tasks"></i> <span class="text-dark font-weight-bold"> View Result </span>
                                    </a>
                                }

                                else if (isTestAttempted && span.TotalMinutes > 0)
                                {
                                    <a class="btn custom-button w-100 mb-3" href="/Test/InProgress/@test.Id" data-toggle="tooltip" data-placement="left">
                                        <i class="fas fa-sync"></i> <span class="text-dark font-weight-bold"> Continue Test </span>
                                    </a>
                                }
                                else
                                {
                                    if (isExpired)
                                    {
                                        <span class="badge badge-pill badge-danger d-block font-size-13 py-2"> <i class="fas fa-times-circle"></i> You can't attempt Expired Test.</span>
                                    }
                                    else
                                    {
                                        <a class="btn custom-button w-100 mb-3" href="/Test/InProgress/@test.Id" data-toggle="tooltip" data-placement="left">
                                            <i class="fas fa-play-circle"></i> <span class="text-dark font-weight-bold"> Attempt Test </span>
                                        </a>
                                    }
                                }
                            </div>

                        </section>
                        <section class="two">
                            <div class="h-100 d-table w-100">
                                <div class="vertical-align-middle d-table-cell">


                                    @if ((isTestAttempted && span.TotalMinutes < 0) || (testAttempted != null && testAttempted.IsFinished))
                                    {

                                        <h4 class="font-size-17">
                                            <i class="fas fa-spinner fa-spin"></i> Showing Result !!
                                        </h4>
                                    }

                                    else if (isTestAttempted && span.TotalMinutes > 0)
                                    {
                                        <h4 class="font-size-17">
                                            <i class="fas fa-spinner fa-spin"></i> Taking you to Test !!
                                        </h4>
                                    }
                                    else
                                    {
                                        <h4 class="font-size-17">
                                            <i class="fas fa-spinner fa-spin"></i>Starting Test !!
                                        </h4>
                                    }


                                </div>
                            </div>
                        </section>
                    </section>
                </div>
            }

        </div>
    }
    <div id="NewBatchList" class="newbatch-alert hidden badge badge-dark  my-4 font-size-16 oval-rounded py-2 px-4"><i class="fas fa-users"></i> New Batches Announced. </div>

    <!--BADGE AD-->
    <div class="index-carousal-slick carousal-container newBatches">

    </div>
    <div id="referredBatchesList" class="newbatch-alert hidden badge badge-dark  my-4 font-size-16 oval-rounded py-2 px-4"><i class="fas fa-users"></i> Batches Referred by your friend. </div>

    <!--BADGE AD-->
    <div class="index-carousal-slick carousal-container referredBatches">

    </div>

</div>

}
else
{

    <div class="alert alert-warning">
        Enroll yourself in batch first
    </div>

    Html.RenderPartial("~/Views/Student/_EnrollForm.cshtml");
}
<div class="modal fade" id="referralID">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Share Course with Friends</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="shareSubject" action="/Referral/ReferFriend" >
                <div class="modal-body">
                    <div class="alert alert-warning  font-size-16 oval-rounded py-2 px-4">
                        <i class="fas fa-info-circle text-white"></i> You will be awarded some voucher if your friend enrolled himself with batch using his email address you ar entering.
                        <button type="button" class="close font-size-25" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="hidden" name="BatchId">

                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label>Enter email address of your friend</label>
                                <input type="email" placeholder="Enter email address of your friend" name="ReferringUserEmail" required>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer pt-2">
                    <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
                    <button type="button" class="btn btn-success rounded-0" id="saveBtn"><i class="fas fa-share"></i> Share</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{

    <script src="/js/enrollment.js"></script>
    <script>
        $(function () {
            loadNewBatches();
            loadReferredBatches();
            var onlineClasses = $(".online-class");
            onlineClasses.each(function (i, e) {
                var id = $(e).attr("id");
                var type = $(e).data("type");
                var startTime = $(e).data("starttime");
                var endTime = $(e).data("endtime");

                if (type == "UpComing") {
                    $("#" + id + ".custom-card .typeText").text(" Starts in -- ");
                    setInterval(function () {
                        makeTimer(id, startTime, "remainingTimer");
                    }, 1000);
                }
                if (type == "InProgress") {
                    $("#" + id + ".custom-card .typeText").text(" Ends in -- ");

                    setInterval(function () {
                        makeTimer(id, endTime, "remainingTimer");
                    }, 1000);
                }
            })
        })

        function makeTimer(timerId, endTime, timerType) {

            endTime = (Date.parse(endTime) / 1000);

            var now = new Date();
            now = (Date.parse(now) / 1000);

            var timeLeft = endTime - now;

            var days = Math.floor(timeLeft / 86400);
            var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
            var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
            var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

            if (hours < "10") { hours = "0" + hours; }
            if (minutes < "10") { minutes = "0" + minutes; }
            if (seconds < "10") { seconds = "0" + seconds; }

            if (timerType == "startingTimer" && seconds == "00") {
                clearTimeout(startingTimer);
                location.href = "/Test/InProgress/" + $(".opened-test").data("id");
                return false;

            }
            if (timerType == "remainingTimer" && hours == "00" && minutes == "00" && seconds == "00") {
                location.href = "/";
                return false;

            }
            if (days > "00") {
                if (days > "01") {
                    $(`#${timerId} .days`).html(days + " days");
                } else {
                    $(`#${timerId} .days`).html(days + " day");
                }
            } else {
                $(`#${timerId} .daydot`).hide();
            }
            $(`#${timerId} .hours`).html(hours + "h");
            $(`#${timerId}  .minutes`).html(minutes + "m");
            $(`#${timerId}  .seconds`).html(seconds + "s");



        }
        $(document).on("click", ".close[data-dismiss=card]", (e) => {

            $(e.target).parents(".card").remove();
        })
        $(() => {

            $('#shareSubject').validate({
                rules: {
                    ReferringUserEmail: {
                        required: true,
                        email: true
                    },

                },
                messages: {
                    ReferringUserEmail: {
                        required: "Please enter email address of your friend",
                        email: "Please enter valid email address",
                    }

                }

            })
        });
        $(document).on("click", "#referralID #saveBtn", () => {
            var form = $("#shareSubject");
            var isFormValid = $("#shareSubject").valid();
            if (isFormValid) {
                form.submit();
            }
        });
        $(document).on("click", ".shareBatchBtn", (e) => {
            debugger
            var batchid = $(e.target).data("batchid")
            $("#referralID [name=BatchId]").val(batchid);
            $("#referralID").modal();
         
        });
        function appendReferralForm() {
            var $form = $('#shareSubject');
            $form.off("submit");
            $form.submit(function (data, event) {


                var isFormValid = $form.valid();

                if (isFormValid) {
                    var btnHtml = $('#shareSubject #saveBtn').html();
                    $('#shareSubject #saveBtn').addClass("disabledBtn");

                    $('#shareSubject #saveBtn').html('<i class="fas fa-spinner fa-spin"></i>');

                    $.post($(this).attr('action'), $(this).serialize(), function (response) {
                        //can do here
                    }, 'json').done(function (data) {
                        if (data.success) {
                            smallSwal("Done!!", data.message, "success");
                           
                            $('#shareSubject #saveBtn').removeClass("disabledBtn");
                            $('#shareSubject #saveBtn').html(btnHtml);
                            
                        } else {
                            swal("Error!!", data.message, "error");
                            $('#shareSubject #saveBtn').removeClass("disabledBtn");
                            $('#shareSubject #saveBtn').html(btnHtml);
                        }

                    });
                    return false;
                }

            });
        }

    </script>
}
