﻿<div class=" DashboadPage">
    <!--.row-->


    <div class="row">

        <div class=" col-12 mb-2">
            <div class="alert alert-warning  font-size-16 oval-rounded py-2 px-4">
                <i class="fas fa-info-circle text-white"></i> My Voucher
                <button type="button" class="close font-size-25" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>



    </div>
    <hr />
    <div class="row">

        <div class=" col-lg-6 col-xl-6 col-md-6 mb-3 ">
            <div class="custom-card  d-block">
                <div class="d-flex ">
                    <div class="custom-col card-bg px-5 py-3 flex-2 voucher-border">
                        <p class="font-10 text-white">Date:</p>
                        <h1 class="text-white font-weight-bold">500*</h1>
                        <p class="font-10 text-white">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, </p>
                    </div>

                    <div class="custom-col flex-1 pt-5 circles bg-light">

                        <h6 class="text-center" >Voucher</h6>

                        <div class="px-5 "><img class="qr-image" src="~/images/QR.png" height="50" width="50" /></div>


                    </div>
                </div>

            </div>

        </div>




    </div>


</div>