﻿@model Management.ViewModels.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/schoolStyle.css" rel="stylesheet" />
    <link href="~/css/sweetalert.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/css/select2.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="inner-banner">

            <div class="container">
                <div class="row">
                    <h2 class="title-grp">
                        <span>Student</span>Registration form
                    </h2>

                </div>
                <span class="float-right text-white"><a class="text-white" href="@Url.Action("Login","Account")">Back to Login</a></span>
            </div>
        </div>

        <section class="field-section">
            <div class="container position-relative">
                <div class="loader text-center hide">
                    <div class="display-table">
                        <div class="display-cell">
                            <i class="fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                </div>
                <div class="login-icon  col">
                    <img src="~/images/logo.svg" />
                </div>
                <div class="form-cnt mb-5">
                    @{
                        Html.RenderPartial("~/Views/Student/_StudentRegistraionForm.cshtml", Model);
                    }

                </div>

            </div>


        </section>

    </div>

    <script src="~/js/vendor/jquery.min.js"></script>
    <script src="~/js/vendor/jquery.validate.min.js"></script>
    <script src="~/js/vendor/sweetalert.min.js"></script>
    <script src="~/js/vendor/select2.js"></script>
    <script src="/js/jquery.inputmask.bundle.js"></script>
    <script src="~/js/Student.js"></script>
    <script src="/js/main.js"></script>

    <script>
        function loadRegions(countryCode) {
            $.ajax({
                url: "/Geo/GetRegions",
                method: 'GET',
                data: { countryCode: countryCode },
                success: function (data) {
                    $("#City").html('');
                    $("#City").select2({
                        placeholder: "Select your City"
                    });
                    $("#Region").html('');
                    $("#Region").append(`<option> Select your Region/State </option>`)
                    for (var i = 0; i < data.length; i++) {
                        var country = data[i];
                        $("#Region").append(`<option  value="${country.id}"> ${country.name} </option>`)
                    }

                    $("#Region").select2("destroy").select2({
                        placeholder: "Select your Region/State"
                    })
                        .on('select2:select', function (e) {
                            var countryCode = e.params.data.id;
                            loadCities(countryCode);
                        });;

                }
            });
        }
        function loadCities(code) {
            $.ajax({
                url: "/Geo/GetCities",
                method: 'GET',
                data: { regionCode: code },
                success: function (data) {
                    $("#City").html('');

                    $("#City").append(`<option>Select your City</option>`)
                    for (var i = 0; i < data.length; i++) {
                        var country = data[i];
                        $("#City").append(`<option  value="${country.id}"> ${country.name} </option>`)
                    }

                    $("#City").select2("destroy").select2({
                        placeholder: "Select your City"
                    })
                        .on('select2:select', function (e) {
                            var code = e.params.data.id;
                            $("#CityId").val(code)
                        });

                }
            });
        }
        $(document).ready(function () {
            validateStudentForm();
            $("#City").select2({
                placeholder: "Select your City"
            });
            $("#Region").select2({
                placeholder: "Select your Region/State"
            })
                .on('select2:select', function (e) {
                    var countryCode = e.params.data.id;
                    loadCities(countryCode);
                });
            function formatState(state) {
                if (!state.id) {
                    return state.text;
                }
                var $state = $(
                    '<span><img src="' + state.element.dataset.flag + '" class="img-flag" /> ' + state.text + '</span>'
                );
                return $state;
            };
            $("#Country").select2({
                placeholder: "Select your Country",
                templateResult: formatState
            }).on('select2:select', function (e) {
                var countryCode = e.params.data.id;
                loadRegions(countryCode);
            });
            var $form = $('#addStudentForm');
            $form.off("submit");
            $form.submit(function (data, event) {

                var isFormValid = $('#addStudentForm').valid();
                if (isFormValid) {

                    $('#addStudentForm button[type=submit]').addClass("disabled");
                    $("body").addClass("stop-scrolling");
                    $('.loader').fadeIn();

                    $.post($(this).attr('action'), $(this).serialize(), function (response) {
                        //can do here
                    }, 'json').done(function (data) {
                        if (data.success) {

                            window.location.href = "/Student/ThankYou";
                        } else {
                            swal("Error!!", data.message, "error")
                            $('.loader').fadeOut();
                            $("body").removeClass("stop-scrolling");

                            $('#addStudentForm button[type=submit]').removeClass("disabled");

                        }

                    });
                    return false;
                }

            });

        })
        $(document).on("click", "#saveBtn", function () {
            var isFormValid = $('#addStudentForm').valid();
            if (isFormValid) {
                $form.submit();
            }
        })
    </script>
</body>
</html>

