﻿

@model Management.ViewModels.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/schoolStyle.css" rel="stylesheet" />
</head>
<body>

    <div class="main">
        <section class="field-section">
            <div class="container position-relative">
                <div class="display-table">
                    <div class="display-cell">
                        <div class="thanks-card text-center">
                            <h1 class="display-4">Thanks for Registration!</h1>
                            <p>We will be in touch with you soon.</p>
                            <p><a href="/Account/Login">Login Here</a></p>
                        </div>
                    </div>
                </div>

            </div>


        </section>

    </div>

  
</body>
</html>

