﻿<div class=" DashboadPage">
    <!--.row-->


    <div class="row">
        <div class=" col-12 mb-2">
            <div class="alert alert-warning  font-size-16 oval-rounded py-2 px-4">
                <i class="fas fa-info-circle text-white"></i> Upgrade To Distance Learning
                <button type="button" class="close font-size-25" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    <hr />
    @{
        var userVouchers=(int)ViewBag.UserVouchers;
        if(userVouchers>0){
            <div class="row">
                <div class=" col-lg-6 col-xl-6 col-md-6 mb-3 ">
                    <div class="custom-card  d-block">
                        <div class="d-flex ">
                            <div class="custom-col card-bg px-5 py-3 flex-2 voucher-border">
                                <p class="font-10 text-white">Date:</p>
                                <h1 class="text-white font-weight-bold">500*</h1>
                                <a target="_blank" class="float-left w-100 btn btn-success oval-rounded text-white mb-3"> Use This Voucher</a>

                            </div>

                            <div class="custom-col flex-1 pt-5 circles bg-light">

                                <h6 class="text-center">Voucher</h6>

                                <div class="px-5 "><img class="qr-image" src="~/images/QR.png" height="50" width="50" /></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

            <section class="field-section">
                <div class="container position-relative">
                    <div class="display-table">
                        <div class="display-cell">
                            <div class="thanks-card text-center">
                                <h1 class="display-4">Coming Soon!</h1>
                            </div>
                        </div>
                    </div>

                </div>


            </section>

</div>