﻿@model List<Management.ViewModels.QuestionViewModel>
@{
  
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    if (Model.Count > 0)
    {
        if (isAdmin || isResearcher)
        {
            foreach (var question in Model.OrderByDescending(o => o.Date))
            {

               

<div class="attributesRow" data-id="@question.Id">

    <div class="attributesRecord">
        <span class="serial-number">
            @question.Id
        </span>
    </div>

    <div class="attributesRecord">
        <span class="text-left">
            @question.QuestionTitle
        </span>
    </div>

    <div class="attributesRecord">
        <span class="text-left">
           @(question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MCQ) ? "MCQs" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MTQ) ? "MTQs" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.FillBlank) ? "Fill in the Blanks" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.ShortQuestion) ? "Short Question" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.LongQuestion) ? "Long Question" : "Matching Columns")
        </span>
    </div>
    <div class="attributesRecord">

        <div data-rating="@question.QuestionDifficultyLevelId" name="questionDificulty"> </div>

    </div>
    <div class="actionBtns float-right">
        <i class="fa fa-eye viewExamQuestionBtn" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-questionid="@question.Id" title="View Question"></i>
        <i class="fa fa-edit editExamQuestionBtn" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-questionid="@question.Id" title="Edit Question"></i>
        <i class="fa fa-trash deleteExamQuestionBtn" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-questionid="@question.Id" title="Delete Question"> </i>
    </div>
</div>

            }
        }

    }
}
