﻿@model List<QuestionViewModel>

@{
    var counter = 0;
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (Model.Count > 0)
{
    <ul class="list-group questionsSection">

        @foreach (var question in Model)
        {
            var questionDetail = question.QuestionTitle == null && (isAdmin || isResearcher) ? "<span class='alert alert-danger'>Add some title to this question</span>" : isStudent ? "<span class='alert alert-success'>View question for reading.</span>" : question.QuestionTitle;
            if (questionDetail.Count() > 100)
            {
                questionDetail = question.QuestionTitle.Substring(0, 100) + "...";
            }
            counter++;
        <li class="list-group-item question-item" data-id="@question.Id" id="@("Q" + counter.ToString())">
            <span class="questionNumber">@("Q" + counter.ToString())</span> @Html.Raw(questionDetail)
            <span class="position-absolute-right-15 position-absolute-top-25" data-rating="@question.QuestionDifficultyLevelId" name="questionDificulty"></span>
            <span class="position-absolute-right-15 position-absolute-top-5">
                @if (isResearcher || isAdmin)
                {
                    <i class="fas fa-trash ml-1 deleteQuestionBtn pr-3" data-toggle="tooltip" data-placement="left" data-questionid="@question.Id" title="Delete Question from DataBase"> </i>
                }
                <i class="fas fa-check selectQuestion" data-questionid="@question.Id"></i>

            </span>
           
        </li>
        }

    </ul>
}
else
{
    <div class="alert alert-danger">No existing questions found.</div>
}


