﻿@model QuestionViewModel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
<div id="@("Question_"+Model.Id)" class="mb-4">
    <div class="question-header">
        <span>Question</span>
        <a class="custom-btn btn-outline-warning loadAnswer" data-wordid="@Model.WordId" data-questionid="@Model.Id"><i class="ilum ilum-answer" data-toggle="tooltip" data-placement="left" title="Answer"></i> Load Answer</a>
        <div class="actionBtns position-absolute">
            @*<i class="btn-outline-primary"> Got Answer</i>*@
            @if (!Model.IsSetQuestion)
            {
                @if (isAdmin)
                {
                    <i class="fas fa-print printQuestionBtn" data-toggle="tooltip" data-placement="left" title="Print Question"></i>
                }
                <i class="fas fa-reply backToWord" data-toggle="tooltip" data-placement="left" data-questionid="@Model.Id" title="Back To Last Position"></i>
                @if (isResearcher || isAdmin)
                {
                    <i class="fas fa-edit editQuestionBtn" data-toggle="tooltip" data-placement="left" data-questionid="@Model.Id" title="Edit Question"></i>
                }
            }
            <i class="fas fa-times-circle closeQuestionBtn" data-toggle="tooltip" data-placement="left" data-wordid="@Model.WordId" data-questionid="@Model.Id" title="Close Question"> </i>
        </div>
    </div>
    <div class="page-outline pt-3 pr-5 pl-5 pb-3">
        @if (!isStudent)
        {
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="alert alert-dark" role="alert" data-toggle="tooltip" data-placement="left" title="Source">
                    <i class="fas fa-book"></i> | <b>@(Model.Source ?? "Not Specified")</b>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="alert alert-dark" role="alert" data-toggle="tooltip" data-placement="left" title="Author" >
                    <i class="fas fa-user"></i> | <b>@(Model.Author ?? "Not Specified")</b>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="alert alert-dark" role="alert" data-toggle="tooltip" data-placement="left"  title="Year">
                    <i class="fas fa-calendar-alt"></i> | <b>@(Model.Year ?? "Not Specified")</b>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="alert alert-dark" role="alert" data-toggle="tooltip" data-placement="left" title="Question Difficulty Level">
                    <i class="fas fa-fire"></i> | 
                    <div class="position-absolute" data-rating="@Model.QuestionDifficultyLevelId" data-toggle="tooltip" data-placement="left" name="questionDificulty" title="@Model.QuestionDifficultyLevel.Level"> </div>
                </div>
            </div>
        </div>
        }
        
        <div class="Question content-page" data-questionid="@Model.Id" data-savetype="Question" data-id="@Model.Id">
            @Html.Raw(Model.QuestionDetail)
        </div>
    </div>
    <div style="display:none" id="@("Answer_"+Model.Id)" class="mb-4">
        <div class="question-header">
            <span>Answer</span>

        </div>

        <div class="page-outline pt-3 pr-5 pl-5 pb-3 mb-4">

            <div class="Answer content-page" data-questionid="@Model.Id" data-savetype="Answer" data-id="@Model.Id">

                @Html.Raw(Model.AnswerDetail)
            </div>
        </div>
    </div>
</div>
