﻿@model EditQuestionViewModel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{
    <form id="editQuestionForm" asp-controller="Question" asp-action="UpdateQuestionAsync">
        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
        <input asp-for="Id" hidden />
        <input asp-for="AttributeId" hidden />
        <input asp-for="AttributeType" hidden />
        <input asp-for="SelectedWord" hidden />
        <input asp-for="QuestionCategory" value="@Model.QuestionCategory" hidden />

        <input class="QuestionDifficultyLevelId" value="@Model.QuestionDifficultyLevel.Id" hidden />
        <input asp-for="WordId" hidden />
        <div class="modal-body">

            <div class="newQuestionSection">

                <h6 class="heading">Update Question Here</h6>

                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                        <div class="form-group">
                            <label for="QuestionType">Question Type</label>

                            <select id="QustionTypeId" name="QustionTypeId">
                                <option selected value="@Convert.ToInt32(QustionTypesEnum.LongQuestion)">Long Question</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="QuestionDifficultyLevel">Difficulty Level</label>
                            <div class="QuestionDifficultyLevel"></div>
                        </div>
                    </div>
                </div>
                <div class="question-source card">
                    <div class="card-header p-2 modal-header">
                        From where it is taken?
                    </div>

                    <div class="card-body">
                        <div class="row">

                            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="Detail">Source</label>
                                    <input asp-for="Source" type="text" class="form-control" />

                                </div>

                            </div>
                            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="Detail">Author</label>
                                    <input asp-for="Author" type="text" class="form-control" />

                                </div>

                            </div>
                            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="Detail">Year</label>
                                    <input asp-for="Year" type="text" class="form-control Yearpicker" autocomplete="off" />

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label for="Detail">Question Title</label>
                            <input asp-for="EditQuestionTitle" class="form-control" placeholder="Some starting lines of Question." required />
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label for="Detail">Question</label>
                            <textarea asp-for="EditQuestionDetail" class="tmceeditor"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row" name="AnswerType">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label for="AnswerDetail">Answer</label>
                            <textarea asp-for="EditAnswerDetail" class="tmceeditor"></textarea>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="modal-footer pt-2">

            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

            <button type="submit" class="btn btn-success rounded-0" id="saveBtn"> <i class='fas fa-edit'></i> Update Question </button>

        </div>
    </form>
}