﻿@model QuestionViewModel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{
<form id="editExamQuestionForm" asp-controller="Question" asp-action="UpdateExamQuestionAsync">
    <div asp-validation-summary="ModelOnly" class="ui error message"></div>
    <input asp-for="Id" hidden />
    <input asp-for="AttributeId" hidden />
    <input asp-for="AttributeType" hidden />
    <input asp-for="QuestionCategory" value="@QuestionCategories.ExamQuestion" hidden />

    <input class="QuestionDifficultyLevelId" value="@Model.QuestionDifficultyLevelId" hidden />
    <div class="modal-body">

        <div class="newQuestionSection">

            <h6 class="heading">Update Question Here</h6>

            <div class="row">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                    <div class="form-group">
                        <label for="QuestionType">Question Type</label>
                        @{
                            var questionTypes = ViewBag.QuestionTypes as List<QustionType>;
                        }
                        <select id="QustionTypeId" name="QustionTypeId">
                            @foreach (var type in questionTypes)
                            {
                                if (Model.QustionTypeId == type.Id)
                                {
                                    <option selected value="@type.Id">@type.Type</option>
                                }
                                else
                                {
                                    <option value="@type.Id">@type.Type</option>
                                }

                            }
                        </select>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="QuestionDifficultyLevel">Difficulty Level</label>
                        <div class="QuestionDifficultyLevel"></div>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="Detail">Question Title</label>
                        <input asp-for="QuestionTitle" placeholder="Some starting lines of Question." class="form-control" />
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="Detail">Marks</label>
                        <input asp-for="Marks" type="number" placeholder="Enter total marks of this Question." class="form-control" />
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <label for="Detail">Average Solve Time (Minutes)</label>
                        <input asp-for="AverageSolveMinutes" type="number" min="0" placeholder="Enter total Average Solve Minutes of this Question." class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="question-source card">
                <div class="card-header p-2 modal-header">
                    From where it is taken?
                </div>

                <div class="card-body">
                    <div class="row">

                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="Detail">Source</label>
                                <input asp-for="Source" type="text" class="form-control" />

                            </div>

                        </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="Detail">Author</label>
                                <input asp-for="Author" type="text" class="form-control" />

                            </div>

                        </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="Detail">Year</label>
                                <input asp-for="Year" type="text" class="form-control Yearpicker" autocomplete="off" />

                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">Question</label>
                        <textarea asp-for="QuestionDetail" class="tmceeditor"></textarea>
                    </div>
                </div>
            </div>

            <div class="row @(Model.QustionTypeId ==Convert.ToInt32( QustionTypesEnum.LongQuestion) ? "" : "hidden") " name="AnswerType" data-questiontype="@QustionTypesEnum.LongQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.LongQuestion)">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="AnswerDetail">Answer</label>
                        <textarea asp-for="AnswerDetail" class="tmceeditor"></textarea>
                    </div>
                </div>
            </div>

            <div class="row @(Model.QustionTypeId ==Convert.ToInt32( QustionTypesEnum.ShortQuestion)? "" : "hidden") " name="AnswerType" data-questiontype="@QustionTypesEnum.ShortQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.ShortQuestion)">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="ShortAnswerDetail">Short Answer</label>
                        <textarea asp-for="ShortAnswerDetail" class="tmceeditor"></textarea>
                    </div>
                </div>
            </div>
            <div class="row @(Model.QustionTypeId ==Convert.ToInt32( QustionTypesEnum.MCQ) ? "" : "hidden")" name="AnswerType" data-questiontype="@QustionTypesEnum.MCQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MCQ)">
                <div class="col note col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="alert  alert-info">Select only correct choice</div>
                </div>
                @if (Model.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MCQ))
                {
                    foreach (var choice in Model.QuestionChoices)
                    {
                        var modalId = Guid.NewGuid();

                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                            <div class="d-flex">
                                <label class="disableClick">
                                    <input type="radio" name="QuestionChoices" class="radio rounded" @( Model.MTQCorrectQuestionChoices.Contains(choice.Detail) ? "checked" : "") />
                                    <span></span>

                                </label>
                                <textarea class="tmceeditor choice-input" data-id="@choice.Id" placeholder="Enter choice text here" style="height:150px">@choice.Detail</textarea>
                                @*<input class="choice-input" value="@choice.Detail" />*@
                                @*<i class="fas fa-times-circle remove-choice-btn m-2 "></i>*@
                                <span class="badge badge-info adviceBtn mb-3 m-2" data-modalid="@modalId"><i class="fas fa-exclamation-circle"></i> Advice</span>
                                <div></div>


                            </div>
                        </div>
                        if (Model.QuestionChoiceAdvices.FirstOrDefault(a => a.QuestionChoiceId == choice.Id) != null)
                        {
                            <script> createModal("@modalId", `@Model.QuestionChoiceAdvices.FirstOrDefault(a=>a.QuestionChoiceId==choice.Id).Detail`)</script>
                        }
                    }
                }

            </div>
            <div class="row @(Model.QustionTypeId ==Convert.ToInt32( QustionTypesEnum.MTQ) ? "" :  "hidden")" name="AnswerType" data-questiontype="@QustionTypesEnum.MTQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MTQ)">
                <div class="col note col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="alert  alert-info">Select multiple correct choices</div>
                </div>
                @if (Model.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MTQ))
                {
                    foreach (var choice in Model.QuestionChoices)
                    {
                        var modalId = Guid.NewGuid();

                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                            <div class="d-flex">
                                <label class="disableClick">
                                    <input type="checkbox" name="QuestionChoices" value="@choice.Detail" class="checkbox squared" @(Model.MTQCorrectQuestionChoices.Contains(choice.Detail) ? "checked" : "") />
                                    <span></span>
                                </label>
                                <textarea class="tmceeditor choice-input" data-id="@choice.Id" placeholder="Enter choice text here" style="height:150px">@choice.Detail</textarea>
                                @*<input class="choice-input" value="@choice.Detail" placeholder="Enter choice text here" />*@
                                @*<i class="fas fa-times-circle m-2 remove-choice-btn"></i>*@
                                <span class="badge badge-info adviceBtn mb-3 m-2" data-modalid="@modalId"><i class="fas fa-exclamation-circle"></i> Advice</span>

                            </div>
                        </div>
                        if (Model.QuestionChoiceAdvices.FirstOrDefault(a => a.QuestionChoiceId == choice.Id) != null)
                        {
                            <script> createModal("@modalId", `@Model.QuestionChoiceAdvices.FirstOrDefault(a=>a.QuestionChoiceId==choice.Id).Detail`)</script>
                        }
                    }
                }
            </div>
            <div class="row  @(Model.QustionTypeId ==Convert.ToInt32( QustionTypesEnum.FillBlank) ? "" :  "hidden") " name="AnswerType" data-questiontype="@QustionTypesEnum.FillBlank" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.FillBlank)">
                @{var correctQuestionChoice = string.Empty;
                    var fillBlankModalId = string.Empty;
                    if (Model.QustionTypeId == Convert.ToInt32(QustionTypesEnum.FillBlank))
                    {
                        correctQuestionChoice = Model.CorrectQuestionChoice;
                        fillBlankModalId = Guid.NewGuid().ToString();
                        <script> createModal("@fillBlankModalId", "@Model.SingleQuestionChoiceAdvice")</script>
                    }
                }
                <div class="col note col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="alert alert-info">Fill Correct word in the Blank.</div>
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 Choice">
                    <div class="d-flex">
                        <input type="text" name="CorrectQuestionChoice" value="@correctQuestionChoice" class="form-control" placeholder="Fill Correct word in the Blank" />
                        <span class="badge badge-info adviceBtn mb-3 m-2" data-modalid="@fillBlankModalId"><i class="fas fa-exclamation-circle"></i> Advice</span>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer pt-2">

        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

        <button type="submit" class="btn btn-success rounded-0" id="saveBtn"> <i class='fas fa-edit'></i> Update Question </button>

    </div>
</form>
}