﻿@model QuestionViewModel
@inject Management.Data.Interfaces.RepositoryInterfaces.IQuestionTypeRepository QustionTypes

@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{
    <form id="addExamQuestionForm" asp-controller="Question" asp-action="@("Add" + Model.AttributeType + "Question")">
        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
        <input asp-for="AttributeId" value="@Model.AttributeId" hidden />
        <input asp-for="AttributeType" value="@Model.AttributeType" hidden />
        <input asp-for="QuestionCategory" value="@QuestionCategories.ExamQuestion" hidden />
        <div class="modal-body">
            <div class="newQuestionSection">
                <h6 class="heading">Add New Question Here</h6>
                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                        <div class="form-group">
                            <label for="QuestionType">Question Type</label>
                            @{
                                var questionTypes = QustionTypes.Get().ToList();

                            }
                            <select id="QustionTypeId" name="QustionTypeId">
                                @foreach (var type in questionTypes)
                                {
                                    <option value="@type.Id">@type.Type</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="QuestionDifficultyLevel">Difficulty Level</label>
                            <div class="QuestionDifficultyLevel" name="QuestionDifficultyLevel"></div>
                        </div>
                    </div>

                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="Detail">Question Title</label>
                            <input asp-for="QuestionTitle" placeholder="Some starting lines of Question." class="form-control" />
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="Detail">Marks</label>
                            <input asp-for="Marks" type="number" placeholder="Enter total marks of this Question." class="form-control" />
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="Detail">Average Solve Time (Minutes)</label>
                            <input asp-for="AverageSolveMinutes" type="number" min="0" placeholder="Enter total Average Solve Minutes of this Question." class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="question-source card">
                    <div class="card-header p-2 modal-header">
                        From where it is taken?
                    </div>

                    <div class="card-body">
                        <div class="row">

                            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="Detail">Source</label>
                                    <input asp-for="Source" type="text" class="form-control" />

                                </div>

                            </div>
                            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="Detail">Author</label>
                                    <input asp-for="Author" type="text" class="form-control" />

                                </div>

                            </div>
                            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="Detail">Year</label>
                                    <input asp-for="Year" type="text" class="form-control Yearpicker" autocomplete="off" />

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label for="Detail">Question</label>
                            <textarea asp-for="QuestionDetail" class="tmceeditor"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.LongQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.LongQuestion)">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label for="AnswerDetail">Answer</label>
                            <textarea asp-for="AnswerDetail" class="tmceeditor"></textarea>

                        </div>
                    </div>
                </div>
                <div class="row hidden" name="AnswerType" data-questiontype="@QustionTypesEnum.ShortQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.ShortQuestion)">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label for="ShortAnswerDetail">Short Answer</label>
                            <textarea asp-for="ShortAnswerDetail" class="tmceeditor"></textarea>

                        </div>
                    </div>
                </div>
                <div class="row hidden" name="AnswerType" data-questiontype="@QustionTypesEnum.MCQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MCQ)">
                    <div class="col note col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="alert  alert-warning">Add the Choice and Select only correct choice</div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                        <div class="d-flex">
                            <label>
                                <input type="radio" name="QuestionChoices" class="radio rounded colored" />
                                <span></span>
                            </label>
                            <textarea class="tmceeditor choice-input" placeholder="Enter choice text here" style="height:150px"></textarea>
                            @*<input class="choice-input" value="" placeholder="Enter choice text here" />*@
                            <i class="fas fa-times-circle disableClick m-2 "></i>
                            <span class="badge badge-info adviceBtn mb-3 m-2"><i class="fas fa-exclamation-circle"></i> Advice</span>

                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                        <div class="d-flex">
                            <label>
                                <input type="radio" name="QuestionChoices" class="radio rounded colored" />
                                <span></span>
                            </label>
                            <textarea class="tmceeditor choice-input" placeholder="Enter choice text here" style="height:150px"></textarea>
                            @*<input class="choice-input" value="" placeholder="Enter choice text here" />*@
                            <i class="fas fa-times-circle remove-choice-btn m-2 "></i>
                            <span class="badge badge-info adviceBtn mb-3 m-2"><i class="fas fa-exclamation-circle"></i> Advice</span>

                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                        <div class="d-flex">
                            <label>
                                <input type="radio" name="QuestionChoices" class="radio rounded colored" />
                                <span></span>
                            </label>
                            <textarea class="tmceeditor choice-input" placeholder="Enter choice text here" style="height:150px"></textarea>
                            @*<input class="choice-input" value="" placeholder="Enter choice text here" />*@
                            <i class="fas fa-times-circle remove-choice-btn m-2 "></i>
                            <span class="badge badge-info adviceBtn mb-3 m-2"><i class="fas fa-exclamation-circle"></i> Advice</span>

                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                        <div class="d-flex">
                            <label>
                                <input type="radio" name="QuestionChoices" class="radio rounded colored" />
                                <span></span>
                            </label>
                            <textarea class="tmceeditor choice-input" placeholder="Enter choice text here" style="height:150px"></textarea>
                            @*<input class="choice-input" value="" placeholder="Enter choice text here" />*@
                            <i class="fas fa-times-circle remove-choice-btn m-2 "></i>
                            <span class="badge badge-info adviceBtn mb-3 m-2"><i class="fas fa-exclamation-circle"></i> Advice</span>

                        </div>
                    </div>
                </div>
                <div class="row hidden" name="AnswerType" data-questiontype="@QustionTypesEnum.MTQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MTQ)">
                    <div class="col note col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="alert  alert-warning">Add the Choices and Select multiple correct choices</div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                        <div class="d-flex">
                            <label>
                                <input type="checkbox" name="QuestionChoices" class="checkbox squared" />
                                <span></span>
                            </label>
                            <textarea class="tmceeditor choice-input" placeholder="Enter choice text here" style="height:150px"></textarea>
                            @*<input class="choice-input" value="" placeholder="Enter choice text here" />*@
                            <i class="fas fa-times-circle disableClick m-2 "></i>
                            <span class="badge badge-info adviceBtn mb-3 m-2"><i class="fas fa-exclamation-circle"></i> Advice</span>

                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                        <div class="d-flex">
                            <label>
                                <input type="checkbox" name="QuestionChoices" class="checkbox squared" />
                                <span></span>
                            </label>
                            <textarea class="tmceeditor choice-input" placeholder="Enter choice text here" style="height:150px"></textarea>
                            @*<input class="choice-input" value="" placeholder="Enter choice text here" />*@
                            <i class="fas fa-times-circle remove-choice-btn m-2 "></i>
                            <span class="badge badge-info adviceBtn mb-3 m-2"><i class="fas fa-exclamation-circle"></i> Advice</span>

                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                        <div class="d-flex">
                            <label>
                                <input type="checkbox" name="QuestionChoices" class="checkbox squared" />
                                <span></span>
                            </label>
                            <textarea class="tmceeditor choice-input" placeholder="Enter choice text here" style="height:150px"></textarea>
                            @*<input class="choice-input" value="" placeholder="Enter choice text here" />*@
                            <i class="fas fa-times-circle remove-choice-btn m-2 "></i>
                            <span class="badge badge-info adviceBtn mb-3 m-2"><i class="fas fa-exclamation-circle"></i> Advice</span>

                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                        <div class="d-flex">
                            <label>
                                <input type="checkbox" name="QuestionChoices" class="checkbox squared" />
                                <span></span>
                            </label>
                            <textarea class="tmceeditor choice-input" placeholder="Enter choice text here" style="height:150px"></textarea>
                            @*<input class="choice-input" value="" placeholder="Enter choice text here" />*@
                            <i class="fas fa-times-circle remove-choice-btn m-2 "></i>
                            <span class="badge badge-info adviceBtn mb-3 m-2"><i class="fas fa-exclamation-circle"></i> Advice</span>

                        </div>
                    </div>

                </div>
                <div class="row  hidden" name="AnswerType" data-questiontype="@QustionTypesEnum.FillBlank" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.FillBlank)">
                    <div class="col note col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="d-flex">
                            <div class="alert alert-warning">Fill Correct word in the Blank.</div>


                        </div>
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3 Choice">
                        <div class="d-flex">
                            <input type="text" name="CorrectQuestionChoice" class="form-control" placeholder="Fill Correct word in the Blank" />
                            <span class="badge badge-info adviceBtn mb-3 m-2"><i class="fas fa-exclamation-circle"></i> Advice</span>

                        </div>
                    </div>
                </div>
                <div class="row AddChoiceBtnRow  hidden" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MTQ),@Convert.ToInt32(QustionTypesEnum.MCQ)">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <a class="btn btn-blue AddChoiceBtn"><i class="fas fa-plus-circle"></i> Add more choices</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer pt-2">

            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

            <button type="submit" class="btn btn-success rounded-0" id="saveBtn"> Add Question(s)</button>

        </div>
    </form>
}