﻿@model List<QuestionViewModel>
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@{
    var counter = 0;
}
@if (Model.Count > 0)
{
    <ul class="list-group questionsSection">
        @*Existing Question Section*@


        @foreach (var question in Model)
        {
            var questionDetail = question.QuestionTitle == null && (isAdmin || isResearcher) ? "<span class='alert alert-danger'>Add some title to this question</span>" : question.QuestionTitle == null && isStudent ? "<span class='alert alert-success'>View question for reading.</span>" : question.QuestionTitle;
            if (questionDetail.Count() > 100)
            {
                questionDetail = question.QuestionTitle.Substring(0, 100) + "...";
            }
            counter++;
        <li class="list-group-item question-item" id="@("Q" + counter.ToString())">
            <span class="questionNumber">@("Q" + counter.ToString())</span> @Html.Raw(questionDetail)
            <span class="position-absolute-right-15 position-absolute-top-25" data-rating="@question.QuestionDifficultyLevelId" name="questionDificulty"></span>
            <span class="position-absolute-right-15 position-absolute-top-5">
                <i class="fas fa-eye ml-1 viewQuestionBtn" data-toggle="tooltip" data-placement="left" data-wordid="@question.WordId" data-questionid="@question.Id" title="View Question"> </i>
                @if (isResearcher || isAdmin)
                {
                    <i class="fas fa-edit ml-1 editQuestionBtn" data-toggle="tooltip" data-placement="left" data-questionid="@question.Id" title="Edit Question"></i>
                    <i class="fas fa-times ml-1 removeQuestionBtn" data-toggle="tooltip" data-placement="left" data-questionid="@question.Id" data-wordid="@question.WordId" title="Remove Question from this word/sentence"> </i>

                }
            </span>
        </li>

        }
        @if (isResearcher || isAdmin)
        {
            <li data-wordid="@ViewBag.WordId" class="list-group-item question-item addMoreQ text-center">
                <i data-toggle="tooltip" title="Add more question" class="fas fa-plus m-1"></i>
                Add More Questions

            </li>
        }
    </ul>
}
else
{

    <div class="alert alert-danger">No question found against this word/sentence.</div>
    @if (isResearcher || isAdmin)
    {
        <div class="alert alert-warning">Add some question against this word/sentence.</div>
        <ul class="list-group questionsSection">
            <li data-wordid="@ViewBag.WordId" class="list-group-item question-item addMoreQ text-center">
                <i data-toggle="tooltip" title="Add more question" class="fas fa-plus m-1"></i>
                Add Question

            </li>
        </ul>
    }


}
