﻿@model QuestionViewModel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{
    <div id="@("Question_"+Model.Id)" class="mb-4">
        <div class="question-header">
            <span>Question</span>
            <a class="custom-btn btn-outline-warning loadAnswer" data-wordid="@Model.WordId" data-questionid="@Model.Id"><i class="ilum ilum-answer" data-toggle="tooltip" data-placement="left" title="Answer"></i> Load Answer</a>
            <div class="actionBtns position-absolute">
                @*<i class="btn-outline-primary"> Got Answer</i>*@
                @if (!Model.IsSetQuestion)
                {
                    @if (isAdmin)
                    {
                        <i class="fas fa-print printQuestionBtn" data-toggle="tooltip" data-placement="left" title="Print Question"></i>
                    }
                    @if (isResearcher || isAdmin)
                    {
                        <i class="fas fa-edit editExamQuestionBtn" data-toggle="tooltip" data-placement="left" data-questionid="@Model.Id" title="Edit Question"></i>
                    }
                }
                <i class="fas fa-times-circle closeQuestionBtn" data-toggle="tooltip" data-placement="left" data-wordid="@Model.WordId" data-questionid="@Model.Id" title="Close Question"> </i>
            </div>
        </div>
        <div class="page-outline pt-3 pr-5 pl-5 pb-3">
            @if (!isStudent)
            {
                <div class="row justify-content-center">
                    <div class="col-12 col-md-3">
                        <div class="alert alert-dark" role="alert" data-toggle="tooltip" data-placement="left" title="Source">
                            <i class="fas fa-book"></i> | <b>@(Model.Source ?? "Not Specified")</b>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="alert alert-dark" role="alert" data-toggle="tooltip" data-placement="left" title="Author">
                            <i class="fas fa-user"></i> | <b>@(Model.Author ?? "Not Specified")</b>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="alert alert-dark" role="alert" data-toggle="tooltip" data-placement="left" title="Year">
                            <i class="fas fa-calendar-alt"></i> | <b>@(Model.Year ?? "Not Specified")</b>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="alert alert-dark" role="alert" data-toggle="tooltip" data-placement="left" title="Question Difficulty Level">
                            <i class="fas fa-fire"></i> | <div class="position-absolute" data-rating="@Model.QuestionDifficultyLevelId" data-toggle="tooltip" data-placement="left" name="questionDificulty" title="@Model.QuestionDifficultyLevel.Level"> </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="alert alert-dark" role="alert" data-toggle="tooltip" data-placement="left" title="Marks">
                            <b> Marks</b> | <b>@Model.Marks </b>
                        </div>
                    </div>
                </div>
            }

            <div class="Question content-page" data-questionid="@Model.Id" data-savetype="Question" data-id="@Model.Id">
                @Html.Raw(Model.QuestionDetail)
            </div>
        </div>
        <div style="display:none" id="@("Answer_"+Model.Id)" class="mb-4">
            <div class="question-header">
                <span>Answer</span>

            </div>

            <div class="page-outline pt-3 pr-5 pl-5 pb-3 mb-4">

                <div class="Answer content-page" data-questionid="@Model.Id" data-savetype="Answer" data-id="@Model.Id">
                    @if (Model.QustionTypeId == (int)QustionTypesEnum.LongQuestion)
                    {
                        <div class="@(Model.QustionTypeId == Convert.ToInt32(QustionTypesEnum.LongQuestion) ? "" : "hidden") " name="AnswerType" data-questiontype="@QustionTypesEnum.LongQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.LongQuestion)">
                            @Html.Raw(Model.AnswerDetail)
                        </div>
                    }

                    else if (Model.QustionTypeId == (int)QustionTypesEnum.ShortQuestion)
                    {
                        <div class="@(Model.QustionTypeId == Convert.ToInt32(QustionTypesEnum.ShortQuestion) ? "" : "hidden") " name="AnswerType" data-questiontype="@QustionTypesEnum.ShortQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.ShortQuestion)">
                            @Html.Raw(Model.ShortAnswerDetail)
                        </div>
                    }
                    else if (Model.QustionTypeId == (int)QustionTypesEnum.MCQ)
                    {
                        <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.MCQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MCQ)">

                            @if (Model.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MCQ))
                            {
                                foreach (var choice in Model.QuestionChoices)
                                {
                                    var modalId = Guid.NewGuid();

                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                        <div class="d-flex pr-6 position-relative">
                                            <label>
                                                <input disabled="disabled" type="radio" name="QuestionChoices" class="radio rounded colored" @( Model.MTQCorrectQuestionChoices.Contains(choice.Detail) ? "checked" : "") />
                                                <span></span>
                                            </label>
                                            <div class="question-content">
                                                @Html.Raw(choice.Detail)
                                            </div>
                                            @*<input disabled="disabled" class="choice-input" value="@choice.Detail" />*@
                                            <span class="t-0 r-0 position-absolute badge badge-info viewAdviceBtn mb-3" data-modalid="@modalId">
                                                <i class="fas fa-exclamation-circle"></i> 
                                                Advice
                                            </span>
                                            <div></div>
                                        </div>
                                    </div>

                                    <script> viewExamQuestionAdviceModal("@modalId", `@Model.QuestionChoiceAdvices.FirstOrDefault(a=>a.QuestionChoiceId==choice.Id).Detail`)</script>
                                }
                            }

                        </div>
                    }
                    else if (Model.QustionTypeId == (int)QustionTypesEnum.MTQ)
                    {

                        <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.MTQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MTQ)">
                            <div class="col note col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="alert  alert-info">Select multiple correct choices</div>
                            </div>
                            @if (Model.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MTQ))
                            {
                                foreach (var choice in Model.QuestionChoices)
                                {
                                    var modalId = Guid.NewGuid();

                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                        <div class="d-flex pr-6 position-relative">
                                            <label>
                                                <input disabled="disabled" type="checkbox" name="QuestionChoices" value="@choice.Detail" class="checkbox squared" @(Model.MTQCorrectQuestionChoices.Contains(choice.Detail) ? "checked" : "") />
                                                <span></span>
                                            </label>
                                            <div class="question-content">
                                                @Html.Raw(choice.Detail)
                                            </div>
                                            @*<input disabled="disabled" class="choice-input" value="@choice.Detail" placeholder="Enter choice text here" />*@

                                            <span class="t-0 r-0 position-absolute badge badge-info viewAdviceBtn mb-3" data-modalid="@modalId"><i class="fas fa-exclamation-circle"></i> Advice</span>

                                        </div>
                                    </div>
                                    <script> viewExamQuestionAdviceModal("@modalId", `@Model.QuestionChoiceAdvices.FirstOrDefault(a=>a.QuestionChoiceId==choice.Id).Detail`)</script>
                                }
                            }
                        </div>

                    }
                    else if (Model.QustionTypeId == (int)QustionTypesEnum.FillBlank)
                    {
                        <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.FillBlank" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.FillBlank)">
                            @{var correctQuestionChoice = string.Empty;
                                var fillBlankModalId = string.Empty;
                                if (Model.QustionTypeId == Convert.ToInt32(QustionTypesEnum.FillBlank))
                                {
                                    correctQuestionChoice = Model.CorrectQuestionChoice;
                                    fillBlankModalId = Guid.NewGuid().ToString();
                                    <script> viewExamQuestionAdviceModal("@fillBlankModalId", "@Model.SingleQuestionChoiceAdvice")</script>
                                }
                            }

                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 Choice">
                                <div class="d-flex">
                                    <input type="text" disabled="disabled" name="CorrectQuestionChoice" value="@correctQuestionChoice" class="form-control" placeholder="Fill Correct word in the Blank" />
                                    <span class="badge badge-info viewAdviceBtn mb-3 m-2" data-modalid="@fillBlankModalId"><i class="fas fa-exclamation-circle"></i> Advice</span>

                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}