﻿@model Management.Data.Models.CustomModels.Mail

<form id="inviteResearcherForm" asp-action="ResearcherInvite" asp-controller="Researcher">
    <!-- Modal body -->
    <div class="modal-body">

        <div class="row">
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input asp-for="UserName" type="text" required placeholder="User's Name" />
                </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input asp-for="ToEMailAddress" type="email" required placeholder="Researcher email address" />
                </div>
            </div>
        </div>

    </div>

    <!-- Modal footer -->
    <div class="modal-footer pt-2">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group">
                <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group">
                <button type="submit" class="btn btn-success rounded-0" id="saveBtn">Send</button>
            </div>
        </div>
    </div>
</form>
