﻿
<div class=" DashboadPage">
    <div class="badge badge-dark  mb-4 font-size-16 oval-rounded p-3"><i class="ilum ilum-researcher"></i> Researcher</div>

    <!-- /.row -->
    <div class="row">

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="#" class="myAllocatedSubjects float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon blue">
                        <i class="fas fa-book"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.AllocatedSubjectCount</div>
                        <p>My Subjects</p>
                    </div>
                </div>
            </a>
        </div>

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="#" class="myAllocatedChapters float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon green">
                        <i class="fas fa-book-open"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.AllocatedChapterCount</div>
                        <p>My Chapters</p>
                    </div>
                </div>
            </a>
        </div>

        @{
            var addRequestClass = Convert.ToInt32(ViewBag.SubjectAllocationRequestCount) == 0 ? "requestSubjectAllocationOpenBtn" : "showRequestsBtn";
            var text = Convert.ToInt32(ViewBag.SubjectAllocationRequestCount) == 0 ? "Add Subject Request" : "Subject Requests";
            var footerText = Convert.ToInt32(ViewBag.SubjectAllocationRequestCount) == 0 ? "Add Request" : "View Details";
            var iconClass = Convert.ToInt32(ViewBag.SubjectAllocationRequestCount) == 0 ? "ilum-add-request" : "ilum-advice-request";
        }
        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a class="@addRequestClass float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon orange">
                        <i class="ilum @iconClass"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.SubjectAllocationRequestCount</div>
                        <p>@text</p>
                    </div>
                </div>
            </a>
        </div>

        @{
            var addChapterRequestClass = Convert.ToInt32(ViewBag.ChapterAllocationRequestCount) == 0 ? "requestChapterAllocationOpenBtn" : "showChapterRequestsBtn";
            var addChaptertext = Convert.ToInt32(ViewBag.ChapterAllocationRequestCount) == 0 ? "Add Chapter Request" : "Chapter Requests";
            var addChapterfooterText = Convert.ToInt32(ViewBag.ChapterAllocationRequestCount) == 0 ? "Add Request" : "View Details";
            var addChapterIcon = Convert.ToInt32(ViewBag.ChapterAllocationRequestCount) == 0 ? "ilum-add-request" : "ilum-advice-request";
        }
        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a class="@addChapterRequestClass float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon pink">
                        <i class="ilum @addChapterIcon"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.ChapterAllocationRequestCount</div>

                        <p>@addChaptertext</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
    <!-- /.row -->
