﻿@model Management.ViewModels.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/schoolStyle.css" rel="stylesheet" />
    <link href="~/css/sweetalert.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />
</head>
<body>

    <div class="main">
        <div class="inner-banner">

            <div class="container">
                <div class="row">
                    <h2 class="title-grp">
                        <span>Researcher</span>Registration form
                    </h2>

                </div>
                <span class="float-right text-white"><a class="text-white" href="@Url.Action("Login","Account")">Back to Login</a></span>
            </div>
        </div>

        <section class="field-section">
            <div class="container position-relative">
                <div class="loader text-center hide">
                    <div class="display-table">
                        <div class="display-cell">
                            <i class="fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                </div>
                <div class="login-icon  col">

                    <img src="~/images/logo.svg" />
                </div>
                <div class="form-cnt mb-5">
                    @{
                        Html.RenderPartial("~/Views/Researcher/_ResearcherRegistraionForm.cshtml", Model);
                    }

                </div>

            </div>


        </section>

    </div>

    <script src="~/js/vendor/jquery.min.js"></script>
    <script src="~/js/vendor/jquery.validate.min.js"></script>
    <script src="~/js/vendor/sweetalert.min.js"></script>
    <script src="/js/jquery.inputmask.bundle.js"></script>
    <script src="~/js/Researcher.js"></script>
    <script src="/js/main.js"></script>


    <script>
        $(document).ready(function () {
            validateResearcherForm();

            $form = $('#addReseacherForm');
            $form.off("submit");
            $form.submit(function (data, event) {

                

                    $('#addReseacherForm button[type=submit]').addClass("disabled");
                    $("body").addClass("stop-scrolling");
                    $('.loader').fadeIn();

                    $.post($(this).attr('action'), $(this).serialize(), function (response) {
                        //can do here
                    }, 'json').done(function (data) {
                        if (data.success) {

                            window.location.href = "/Researcher/ThankYou";
                        } else {
                            swal("Error!!", data.message, "error")
                            $('.loader').fadeOut();
                            $("body").removeClass("stop-scrolling");

                            $('#addReseacherForm button[type=submit]').removeClass("disabled");

                        }

                    });
                    return false;
                

            });

        })

        $(document).on("click", "#saveBtn", function () {
            var isFormValid = $('#addReseacherForm').valid();
            if (isFormValid) {
                $form.submit();
            }
        })
    </script>

</body>
</html>

