$main_color_gredient: linear-gradient(49deg, rgba(78,117,142,1) 0%, rgba(1,26,41,1) 100%);
$main_background_color: #4e758e;
$main_color: #4e758e;
$main_color_light_shade: #688da4;
$main_color_vlight_shade: #80a2b7;
$main_color_dark_shade: #2b526b;
$main_color_hover_shade: #80a2b7;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #4e758e;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #4e758e;
$matt_black: #212529;
$dark_blue_color: #0050bf;
$box_shadow_color: #688da4;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #dbeffc;
$backgroundImage: url(../../images/leaf_bluecorel.jpg);
@import 'app';