$main_color_gredient: linear-gradient(49deg, rgba(142,163,118,1) 0%, rgba(132,210,43,1) 100%);
$main_background_color: #69c203;
$main_color: #69c203;
$main_color_light_shade: #85bb47;
$main_color_vlight_shade: #9cdb56;
$main_color_dark_shade: #437c02;
$main_color_hover_shade: #9cdb56;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #69c203;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #69c203;
$matt_black: #212529;
$dark_blue_color: #0050bf;
$box_shadow_color: #a5ba8d;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #f4ffe5;
$backgroundImage: url(../../images/leaf_green.jpg);
@import 'app';