$main_color_gredient: linear-gradient(49deg, rgba(207,131,70,1) 0%, rgba(255,126,23,1) 100%);
$main_background_color: #cf8346;
$main_color: #cf8346;
$main_color_light_shade: #e0ae85;
$main_color_vlight_shade: #e5a979;
$main_color_dark_shade: #a05316;
$main_color_hover_shade: #e5a979;
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #cf8346;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: #cf8346;
$matt_black: #212529;
$dark_blue_color: #0050bf;
$box_shadow_color: #e0ae85;
$light_grey_color: #f5f5f5;
$Row_even_color_1: #fff6f0;
$backgroundImage: url(../../images/leaf_orange.jpg);
@import 'app';