$main_color_gredient: linear-gradient(17deg, rgba(126,182,159,1) 0%, rgb(0, 189, 111) 100%);
$main_background_color: rgb(0, 189, 111);
$main_color: rgb(0, 189, 111);
$main_color_light_shade: rgb(48, 208, 142);
$main_color_vlight_shade: rgb(76, 227, 165);
$main_color_dark_shade: rgb(3, 136, 81);
$main_color_hover_shade: rgb(76, 227, 165);
$disabled_element_color: grey;
$white_color: white;
$whitesmoke: whitesmoke;
$black_color: #333;
$border_color: #64d2a5;
$border_color_grey: #d7dde4 transparent;
$transparent: transparent;
$tooltip-color: rgb(3, 136, 81);
$matt_black: #212529;
$dark_blue_color: #0050bf;
$box_shadow_color: rgb(48, 208, 142);
$light_grey_color: #f5f5f5;
$Row_even_color_1: #e9fff6;
$backgroundImage: url(../../images/leaf_seagreen.jpg);
@import 'app';