/* Handle */
#ref {
    .color-primary {
        color: $main_color;
    }

    .chart {
        .color-primary {
            color: $main_color;
        }

        .color-secondary {
            color: $main_color_light_shade;
        }
    }
}

::-moz-selection {
    background: $main_color;
    color: white;
}

::selection {
    background: $main_color;
    color: white;
}

.auth-container {
    .auth-header {
        text-align: center;
        border-bottom: 1px solid $main_color;
    }
}

.alert.alert-primary {
    color: $white_color;
    background-color: $main_background_color;
    border-color: $border_color;

    hr {
        border-top-color: $border_color;
    }
}

tfoot,
thead {
    tr {
        background: $main_background_color;
        border-bottom: 2px solid $main_color;
    }
}

.userDetails {
    color: $main_color;
}

.popover-header {
    color: white;
    background-color: $main_background_color;
}

span.commentaryNumber, span.questionNumber {
    background: $main_color;
}

input.form-control,
label {
    color: $main_color !important;
}

.card {
    .card-header {
        .nav-tabs {
            .nav-item {
                .nav-link.active {
                    border-top-color: $main_color;
                    border-bottom-color: $transparent;
                    opacity: 1;

                    &:focus {
                        opacity: 1;
                        background-color: $white_color;
                        border-color: $border_color_grey;
                        border-top-color: $main_color;
                    }

                    &:hover {
                        opacity: 1;
                        background-color: $white_color;
                        border-color: $border_color_grey;
                        border-top-color: $main_color;
                    }
                }
            }
        }
    }
}

.card.card-primary {
    border-color: $border_color;

    > .card-header {
        background-color: $main_background_color;
        border-color: $border_color;
    }
}

.btn.btn-primary {
    color: $matt_black;
    background-color: $main_background_color;
    border-color: $border_color;

    &:hover {
        color: $white_color;
        background-color: $main_color_light_shade;
        border-color: $main_color_dark_shade;
    }

    &:focus {
        -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
        box-shadow: 0 0 0 .2rem $box_shadow_color;
    }
    
    &:disabled {
        color: $matt_black;
        background-color: $main_background_color;
        border-color: $border_color;
    }

    &:not(:disabled) {
        &:not(.disabled).active {
            color: $white_color;
            background-color: $main_background_color;
            border-color: $main_color_dark_shade;

            &:focus {
                -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
                box-shadow: 0 0 0 .2rem $box_shadow_color;
            }
        }

        &:not(.disabled) {
            &:active {
                color: $white_color;
                background-color: $main_background_color;
                border-color: $main_color_dark_shade;

                &:focus {
                    -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
                    box-shadow: 0 0 0 .2rem $box_shadow_color;
                }
            }
        }
    }
}

.btn.btn-primary.focus {
    -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
    box-shadow: 0 0 0 .2rem $box_shadow_color;
}

.btn.btn-primary.disabled {
    color: $matt_black;
    background-color: $main_background_color;
    border-color: $border_color;
}

.show {
    > .btn.btn-primary.dropdown-toggle {
        color: $white_color;
        background-color: $main_background_color;
        border-color: $main_color_dark_shade;

        &:focus {
            -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
            box-shadow: 0 0 0 .2rem $box_shadow_color;
        }
    }

    > .btn.btn-primary-outline.dropdown-toggle {
        color: $matt_black;
        background-color: $main_background_color;
        border-color: $border_color;

        &:focus {
            -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
            box-shadow: 0 0 0 .2rem $box_shadow_color;
        }
    }
}

.btn.btn-primary-outline {
    color: $main_color;
    background-color: $transparent;
    background-image: none;
    border-color: $border_color;

    &:hover {
        color: $matt_black;
        background-color: $main_background_color;
        border-color: $border_color;
    }

    &:focus {
        -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
        box-shadow: 0 0 0 .2rem $box_shadow_color;
    }

    &:disabled {
        color: $main_color;
        background-color: $transparent;
    }

    &:not(:disabled) {
        &:not(.disabled).active {
            color: $matt_black;
            background-color: $main_background_color;
            border-color: $border_color;

            &:focus {
                -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
                box-shadow: 0 0 0 .2rem $box_shadow_color;
            }
        }

        &:not(.disabled) {
            &:active {
                color: $matt_black;
                background-color: $main_background_color;
                border-color: $border_color;

                &:focus {
                    -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
                    box-shadow: 0 0 0 .2rem $box_shadow_color;
                }
            }
        }
    }
}

.btn.btn-primary-outline.focus {
    -webkit-box-shadow: 0 0 0 .2rem $box_shadow_color;
    box-shadow: 0 0 0 .2rem $box_shadow_color;
}

.btn.btn-primary-outline.disabled {
    color: $main_color;
    background-color: $transparent;
}

.dropdown-menu {
    .dropdown-item {
        &:hover {
            color: $main_color !important;
            background: none;
            background-color: $whitesmoke;
        }
    }
}

.input-group {
    span.input-group-addon.focus {
        background-color: $main_background_color;
        color: $white_color;
    }
}

.form-control.underlined {
    &:focus {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid $main_color;
    }
}

.has-error {
    .form-control.underlined {
        &:focus {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid $main_color;
        }
    }
}

.has-success {
    .form-control.underlined {
        &:focus {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid $main_color;
        }
    }
}

.has-warning {
    .form-control.underlined {
        &:focus {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid $main_color;
        }
    }
}

.form-control.boxed {
    &:focus {
        border: 1px solid $white_color;
    }
}

.checkbox {
    &:checked {
        & + span {
            &:before {
                color: $white_color;
            }
        }
    }
}

.colored {
    &.checkbox {
        &:checked {
            & + span {
                &:before {
                    color: $main_color !important;
                }
            }
        }
    }
}

.radio {
    &:checked {
        & + span {
            &:before {
                color: $white_color;
            }
        }
    }
}

.colored {
    &.radio {
        &:checked {
            & + span {
                &:before {
                    color: $main_color !important;
                }
            }
        }
    }
}


.colored {
    &.radio {
        &.correctAnswer {
            &:checked {
                & + span {
                    &:before {
                        color: rgba(0,189,111,1) !important;
                    }
                }
            }
        }
    }

    &.checkbox {
        &.correctAnswer {
            &:checked {
                & + span {
                    &:before {
                        color: rgba(0,189,111,1) !important;
                    }
                }
            }
        }
    }
}




.colored {
    &.radio {
        &.wrongAnswer {
            &:checked {
                & + span {
                    &:before {
                        color: #dc3545 !important;
                    }
                }
            }
        }
    }

    &.checkbox {
        &.wrongAnswer {
            &:checked {
                & + span {
                    &:before {
                        color: #dc3545 !important;
                    }
                }
            }
        }
    }
}


    form {
        .checkbox {
            &:checked {
                & + span {
                    &:before {
                        color: $main_color !important;
                    }
                }
            }
        }
    }

    form {
        .radio {
            &:checked {
                & + span {
                    &:before {
                        color: $main_color !important;
                    }
                }
            }
        }
    }

    .images-container {
        .image-container.active {
            border-color: $border_color;
        }

        .image-container.new {
            opacity: .6;
            -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease;
            border-style: dashed;
            border: 1px $main_color solid;
            color: $main_color;
        }
    }

    .item-list {
        .item-actions-dropdown.active {
            .item-actions-toggle-btn {
                color: $main_color;
            }
        }
    }

    .logo {
        .l {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $main_background_color;
            position: absolute;
        }
    }

    .modal-body.modal-tab-container {
        .modal-tabs {
            .nav-link.active {
                color: $main_color;
                border-bottom: 2px solid $main_color;
            }

            .nav-link {
                &:hover {
                    color: $main_color;
                    border-bottom: 2px solid $main_color;
                }
            }
        }
    }

    a {
        &:not(.btn) {
            &:hover {
                text-decoration: underline;
                color: $main_color_light_shade;
            }
        }
    }

    .nav.nav-tabs-bordered {
        border-color: $border_color;

        & + .tab-content {
            border-style: solid;
            border-width: 0 1px 1px 1px;
            border-color: $border_color;
            padding: 10px 20px 0;
        }

        .nav-item {
            .nav-link {
                &:hover {
                    color: $white_color;
                    background-color: $main_background_color;
                    border: 1px solid $main_color;
                }
            }

            .nav-link.active {
                border-color: $border_color;
                border-bottom-color: $transparent;
            }
        }
    }

    .nav.nav-pills {
        .nav-item {
            .nav-link.active {
                border-color: $border_color;
                border-bottom-color: $transparent;
                background-color: $main_background_color;

                &:hover {
                    background-color: $main_background_color;
                    color: $white_color;
                }
            }
        }
    }

    .nav {
        > li {
            > a {
                color: $dark_blue_color !important;
            }
        }
    }

    .disciplineActionBtns {
        .custom-btn {
            background: $main_color !important;
        }
    }

    .pagination {
        .page-item {
            .page-link {
                color: $main_color;
            }
        }

        .page-item.active {
            .page-link {
                color: $white_color;
                border-color: $border_color;
                background-color: $main_background_color;

                &:focus {
                    color: $white_color;
                    border-color: $border_color;
                    background-color: $main_background_color;
                }

                &:hover {
                    color: $white_color;
                    border-color: $border_color;
                    background-color: $main_background_color;
                }
            }
        }
    }

    #nprogress {
        .bar {
            background: $main_color !important;

            .peg {
                -webkit-box-shadow: 0 0 10px $main_color, 0 0 5px $main_color;
                box-shadow: 0 0 10px $main_color, 0 0 5px $main_color;
            }
        }

        .spinner {
            .spinner-icon {
                border-top-color: $main_color !important;
                border-left-color: $main_color !important;
            }
        }
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: $main_color;

        *:window-inactive {
            background: $main_color;
        }
    }

    .attributesRow {
        &:nth-child(even) {
            background: $Row_even_color_1;
        }
    }

    .allAttributesView {
        .attributesHeader {
            background: $main_color_gredient;
        }
    }

    .attribute-type-title {
        background: $main_color;
        background: $main_color_gredient;
        box-shadow: 2px 2px 5px 0px #989898;
    }

    .sidebar-toggle-btn {
        background: $main_color_gredient;
    }

    #powerTip {
        background-color: $tooltip-color !important;
    }

    .page-header {
        border-bottom: 1px solid $main_color;
        border-radius: 10px;

        h3 {
            > i {
                color: #fff !important;
                background: $main_color_gredient !important;
            }
        }
    }

    .header {
        border-bottom: 1px solid $main_color !important;


        > h2 {
            > i {
                font-size: 16px !important;
                background: $main_color_gredient;
            }
        }
    }

    .custom-button {
        color: $main_color !important;
        background: $main_color_gredient;
        border-radius: 100px;
        position: relative;
        height: 35px;
        padding: 6px 45px;
        opacity: .8;
        display: inline-block;
        transition: .5s !important;

        &:hover {
            opacity: 1;
            transform: translate(0px, -2px);
            box-shadow: 5px 5px 9px 0 #b9b9b9;
        }
    }

    .material-icons {
        color: $main_color !important;
    }

    .btn-blue {
        opacity: .8;
        background: $main_color_gredient;

        &:hover {
            opacity: 1;
        }
    }

    .setActionBtns {
        a:hover {
            background: $main_color_gredient !important;
        }
    }

    .addQuestionToWord {
        background: $main_color;
        background: $main_color_gredient;
    }

    .dd-container {
        label {
            color: $main_color !important;
        }
    }

    .navigation-confirmation-box {
        background: $main_color;
    }

    #powerTip.n {
        &:before {
            border-top-color: $main_color !important;
        }
    }

    #powerTip.ne {
        &:before {
            border-top-color: $main_color !important;
        }
    }

    #powerTip.nw {
        &:before {
            border-top-color: $main_color !important;
        }
    }

    #powerTip.nw-alt {
        &:before {
            border-top-color: $main_color !important;
        }
    }

    #powerTip.ne-alt {
        &:before {
            border-top-color: $main_color !important;
        }
    }

    .swal2-popup {
        .swal2-styled.swal2-confirm {
            background: $main_color_gredient !important;
            border-left-color: $main_color !important;
            border-right-color: $main_color !important;

            &:focus {
                box-shadow: 0 0 0 2px #fff, 0 0 0 4px $main_color !important;
            }
        }

        .swal2-loading {
            .swal2-styled.swal2-confirm {
                background: transparent !important;
            }
        }
    }

    .item-img i {
        color: $main_color_dark_shade !important;
    }

    .underline-animation {
        position: absolute;
        top: auto;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $main_background_color;
        content: '';
        -webkit-transition: all .2s;
        transition: all .2s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }

    .text-primary {
        color: $main_color !important;
    }

    .dashboard-page {
        #dashboard-sales-map {
            .jqvmap-zoomin {
                background-color: $main_background_color;
                height: 20px;
                width: 20px;
                line-height: 14px;
            }

            .jqvmap-zoomout {
                background-color: $main_background_color;
                height: 20px;
                width: 20px;
                line-height: 14px;
            }
        }

        .stats {
            .stat-progress {
                height: 2px;
                margin: 5px 0;
                color: $main_color;
                background-color: $border_color_grey;

                .progress-bar {
                    background-color: $main_background_color;
                }
            }
        }
    }

    header {
        background-color: $white_color;
        height: 70px;
        position: absolute;
        left: 0;
        right: 0;
        -webkit-transition: left .3s ease;
        transition: left .3s ease;
        z-index: 10;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .header-block-collapse {
            .collapse-btn {
                background: none;
                border: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: $main_color;
                font-size: 24px;
                line-height: 40px;
                border-radius: 0;
                outline: none;
                padding: 0 10px;
                vertical-align: initial;
            }
        }

        .header-block-nav {
            > ul {
                > li {
                    > a {
                        &:hover {
                            color: $main_color;
                        }
                    }
                }
            }

            .notifications.new {
                .counter {
                    color: $main_color;
                    font-weight: bold;
                }
            }

            .notifications-dropdown-menu {
                footer {
                    a {
                        &:hover {
                            background-color: $light_grey_color;
                            color: $main_color;
                        }
                    }
                }
            }

            .profile {
                .arrow {
                    color: $main_color;
                }
            }

            .profile-dropdown-menu {
                a {
                    .icon {
                        color: $main_color;
                        text-align: center;
                        width: 18px;
                        font-size: 17px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .modal {
        .modal-header {
            background: $main_background_color;
            background: $main_color_gredient;
            color: $white_color;
        }
    }

    .disciplineActionBtns {
        > a {
            display: inline-block !important;
        }
    }

    .sidebar {
        .sidebar-menu {
            > li {
                > .sidebar-nav {
                    > li {
                        > .sidebar-nav {
                            > li.active {
                                > .sidebar-nav {
                                    > li.active {
                                        > .sidebar-nav {
                                            > li.active {
                                                > .sidebar-nav {
                                                    > li.active {
                                                        > .sidebar-nav {
                                                            > li.active {
                                                                > .sidebar-nav {
                                                                    > li.active {
                                                                        > .sidebar-nav {
                                                                            > li.active {
                                                                                > .sidebar-nav {
                                                                                    > li.active {
                                                                                        > .sidebar-nav {
                                                                                            > li.active {
                                                                                                > a {
                                                                                                    background: $main_color_gredient !important;
                                                                                                    color: $white_color;
                                                                                                }
                                                                                            }
                                                                                        }

                                                                                        > a {
                                                                                            background: $main_color_gredient !important;
                                                                                            color: $white_color;
                                                                                        }
                                                                                    }
                                                                                }

                                                                                > a {
                                                                                    background: $main_color_gredient !important;
                                                                                    color: $white_color;
                                                                                }
                                                                            }
                                                                        }

                                                                        > a {
                                                                            background: $main_color_gredient !important;
                                                                            color: $white_color;
                                                                        }
                                                                    }
                                                                }

                                                                > a {
                                                                    background: $main_color_gredient !important;
                                                                    color: $white_color;
                                                                }
                                                            }
                                                        }

                                                        > a {
                                                            background: $main_color_gredient !important;
                                                            color: $white_color;
                                                        }
                                                    }
                                                }

                                                > a {
                                                    background: $main_color_gredient !important;
                                                    color: $white_color;
                                                }
                                            }
                                        }

                                        > a {
                                            background: $main_color_gredient !important;
                                            color: $white_color;
                                        }
                                    }
                                }

                                > a {
                                    background: $main_color_gredient !important;
                                    color: $white_color;
                                }
                            }

                            > li {
                                > a {
                                    padding: 10px 18px 10px 10px !important;
                                    border-left: 10px solid $main_color !important;
                                }

                                > .sidebar-nav {
                                    > li {
                                        > a {
                                            padding: 10px 18px 10px 10px !important;
                                            border-left: 15px solid $main_color !important;
                                        }

                                        > .sidebar-nav {
                                            > li {
                                                > a {
                                                    padding: 10px 18px 10px 10px !important;
                                                    border-left: 20px solid $main_color !important;
                                                }

                                                > .sidebar-nav {
                                                    > li {
                                                        > a {
                                                            padding: 10px 18px 10px 10px !important;
                                                            border-left: 25px solid $main_color !important;
                                                        }

                                                        > .sidebar-nav {
                                                            > li {
                                                                > a {
                                                                    padding: 10px 18px 10px 10px !important;
                                                                    border-left: 30px solid $main_color !important;
                                                                }

                                                                > .sidebar-nav {
                                                                    > li {
                                                                        > a {
                                                                            padding: 10px 18px 10px 10px !important;
                                                                            border-left: 35px solid $main_color !important;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        > a {
                            padding: 10px 18px 10px 10px !important;
                            border-left: 5px solid $main_color !important;
                        }
                    }

                    > li.active {
                        > a {
                            background: $main_color_gredient !important;
                            color: $white_color;
                        }
                    }
                }
            }

            > li.active {
                > a {
                    background: $main_color_gredient !important;
                    color: $white_color;
                }
            }
        }
    }

    .actionBtns {
        &.right {
            background: $main_color_gredient;
            right: 0px;
            position: absolute;
            top: 0;
            color: white !important;
            border-radius: 100px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            padding: 0 15px;
            box-shadow: 2px 2px 5px 0px #989898;

            i {
                color: white !important;
            }
        }
    }

    .sidebar {
        .sidebar-menu {
            > li {
                > .sidebar-nav {
                    > li {
                        > .sidebar-nav {
                            > li.open {
                                > .sidebar-nav {
                                    > li.open {
                                        > .sidebar-nav {
                                            > li.open {
                                                > .sidebar-nav {
                                                    > li.open {
                                                        > .sidebar-nav {
                                                            > li.open {
                                                                > .sidebar-nav {
                                                                    > li.open {
                                                                        > .sidebar-nav {
                                                                            > li.open {
                                                                                > .sidebar-nav {
                                                                                    > li.open {
                                                                                        > .sidebar-nav {
                                                                                            > li.open {
                                                                                                > a {
                                                                                                    background: $main_color_gredient !important;
                                                                                                    color: $white_color;
                                                                                                }
                                                                                            }
                                                                                        }

                                                                                        > a {
                                                                                            background: $main_color_gredient !important;
                                                                                            color: $white_color;
                                                                                        }
                                                                                    }
                                                                                }

                                                                                > a {
                                                                                    background: $main_color_gredient !important;
                                                                                    color: $white_color;
                                                                                }
                                                                            }
                                                                        }

                                                                        > a {
                                                                            background: $main_color_gredient !important;
                                                                            color: $white_color;
                                                                        }
                                                                    }
                                                                }

                                                                > a {
                                                                    background: $main_color_gredient !important;
                                                                    color: $white_color;
                                                                }
                                                            }
                                                        }

                                                        > a {
                                                            background: $main_color_gredient !important;
                                                            color: $white_color;
                                                        }
                                                    }
                                                }

                                                > a {
                                                    background: $main_color_gredient !important;
                                                    color: $white_color;
                                                }
                                            }
                                        }

                                        > a {
                                            background: $main_color_gredient !important;
                                            color: $white_color;
                                        }
                                    }
                                }

                                > a {
                                    background: $main_color_gredient !important;
                                    color: $white_color;
                                }
                            }

                            > li {
                                > a {
                                    padding: 10px 18px 10px 10px !important;
                                    border-left: 10px solid $main_color !important;
                                }

                                > .sidebar-nav {
                                    > li {
                                        > a {
                                            padding: 10px 18px 10px 10px !important;
                                            border-left: 15px solid $main_color !important;
                                        }

                                        > .sidebar-nav {
                                            > li {
                                                > a {
                                                    padding: 10px 18px 10px 10px !important;
                                                    border-left: 20px solid $main_color !important;
                                                }

                                                > .sidebar-nav {
                                                    > li {
                                                        > a {
                                                            padding: 10px 18px 10px 10px !important;
                                                            border-left: 25px solid $main_color !important;
                                                        }

                                                        > .sidebar-nav {
                                                            > li {
                                                                > a {
                                                                    padding: 10px 18px 10px 10px !important;
                                                                    border-left: 30px solid $main_color !important;
                                                                }

                                                                > .sidebar-nav {
                                                                    > li {
                                                                        > a {
                                                                            padding: 10px 18px 10px 10px !important;
                                                                            border-left: 35px solid $main_color !important;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        > a {
                            padding: 10px 18px 10px 10px !important;
                            border-left: 5px solid $main_color !important;
                        }
                    }

                    > li.open {
                        > a {
                            background: $main_color_gredient !important;
                            color: $white_color;
                        }
                    }
                }
            }

            > li.open {
                > a {
                    background-color: $main_background_color !important;
                    color: $white_color;
                }
            }
        }
    }

    .sidebar {
        > .sidebar-menu {
            > li.active {
                > a {
                    > .arrow {
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                    }
                }
            }
        }
    }

    .btn-blue {
        color: $white_color !important;
        background: $main_color_gredient;
    }

    .detailPage {
        .attributeActive {
            > a {
                background: $main_color;
                color: $white_color !important;
            }
        }
    }

    #modal-media {
        .images-container {
            .image-container {
                &:hover {
                    border-color: $main_color_light_shade;
                }
            }

            .image-container.active {
                border-color: $main_color_light_shade;
            }
        }

        .upload-container {
            .dropzone {
                position: relative;
                border: 2px dashed $main_color;
                height: 270px;

                .dz-message-block {
                    .dz-message {
                        margin: 0;
                        font-size: 24px;
                        color: $main_color;
                        width: 230px;
                    }
                }
            }
        }
    }

    #customize-menu {
        .customize {
            width: 225px;
            color: $white_color;
            background-color: $matt_black;
            text-align: center;
            padding: 10px 15px;
            border-top: 2px solid $main_color;

            .customize-item {
                .radio {
                    &:checked {
                        & + span {
                            &:before {
                                color: $main_color;
                            }
                        }
                    }
                }
            }
        }
    }

    .qq-upload-button-selector.btn.qq-upload-button {
        background: $main_color;

        &:hover {
            background: $main_color_light_shade;
        }
    }

    .backToNavigationWord {
        background: $main_color;
    }

    .ringring {
        border: 10px solid $main_color;
    }

    .custom-card.addSet {
        border: 1px dashed $main_color;

        .custom-card-body {
            padding: 20px;

            .huge {
                i {
                    color: $main_color !important;
                }
            }
        }
    }

    .xdsoft_datetimepicker {
        .xdsoft_calendar {
            td.xdsoft_default {
                background: $main_color_light_shade !important;
                box-shadow: $main_color_light_shade 0 1px 3px 0 inset !important;
                color: $white_color;
                font-weight: 700;
            }

            td.xdsoft_current {
                background: $main_color_light_shade !important;
                box-shadow: $main_color_light_shade 0 1px 3px 0 inset !important;
                color: $white_color;
                font-weight: 700;
            }

            td.xdsoft_other_month {
                opacity: .5;
                background: $main_color_vlight_shade;
                color: $black_color;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                cursor: default;
            }

            td.xdsoft_disabled {
                opacity: .5;
                background: $main_color_vlight_shade;
                color: $black_color;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                cursor: default;
            }

            th {
                background: $main_color_light_shade !important;
                border-color: $main_color_light_shade !important;
                color: $black_color !important;
            }

            td.xdsoft_today {
                color: $main_color;
            }
        }

        .xdsoft_timepicker {
            .xdsoft_time_box {
                > div {
                    > div.xdsoft_current {
                        background: $main_color_light_shade !important;
                        box-shadow: $main_color_light_shade 0 1px 3px 0 inset !important;
                        color: $white_color;
                        font-weight: 700;
                    }
                }
            }
        }

        .xdsoft_time_box {
            > div {
                > div.xdsoft_disabled {
                    opacity: .5;
                    background: $main_color_vlight_shade;
                    color: $black_color;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                    cursor: default;
                }
            }
        }
    }

    .btn-green {
        color: white !important;
        background: linear-gradient(17deg, rgba(126,182,159,1) 0%, rgba(0,189,111,1) 100%);
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background: $main_color_gredient;
        color: white !important;
    }

    .nav-tabs .nav-link {
        background-color: #d1d1d1;
    }

    .nav-tabs .nav-link:hover {
        background: $main_color_gredient;
        color: white !important;
    }

    .fc th.fc-sat, .fc th.fc-sun, .fc th.fc-thu, .fc th.fc-tue {
        background: linear-gradient(0deg,$main_color 0%,$main_color_light_shade 100%)
    }

    .fc th.fc-fri, .fc th.fc-mon, .fc th.fc-wed {
        background: linear-gradient(0deg,$main_color 0%,$main_color_light_shade 100%)
    }

    .fc-toolbar .fc-button {
        background: linear-gradient(0deg,$main_color 0%,$main_color_light_shade 100%);
        color: #fff;
        text-transform: capitalize;
    }

    .fc-toolbar .fc-button:hover {
        background: linear-gradient(0deg,$main_color_light_shade 0%,$main_color 100%);
        opacity: .8;
    }

    .fc-toolbar .fc-button.fc-state-active {
        background: linear-gradient(0deg,$main_color_dark_shade 0%,$main_color 100%);
        color: #fff;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .calender-sidebar {
        border-top: 5px solid $main_color;
    }

    .modal-dialog.full .modal-body {
        background-image: $backgroundImage;
    }

    .dash {
        background: $main_color_dark_shade;
    }

    .form-control:focus {
        box-shadow: 0 0 0 0.2rem #{$main_color_dark_shade}63 !important;
    }

    .dash-heading:before {
        background: $main_color;
    }

    .manage-table thead tr {
        background: unset;
        border-bottom: 2px solid $main_color;
    }
