﻿@model List<UserBatchViewModel>
@{
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isTeacher = User.IsInRole(UserRoles.Teacher.ToString());
    Layout = null;
}
@if (Model.Count > 0)
{
    <div class="row AllocatedBatchesPage">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
            <div id="AllAttributes" class="student-section p82-topbot totalPatient">
                <div class="allPatients">
                    <div class="header">
                        <h2>
                            Assigned Batches
                        </h2>  
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Sr.</th>
                                    <th class="text-left">Title</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @{
                                var serialNo = 0;
                                if (Model.Count > 0)
                                {
                                    <tbody>
                                        @foreach (var UserBatch in Model)
                                        {

                                            serialNo++;
                                            if (UserBatch.IsActive)
                                            {
                                                <tr>
                                                    <td>@serialNo </td>
                                                    <td class="text-left">
                                                        <a href="/batch/Detail/@UserBatch.BatchId" target="_blank" title="click to open batch" data-toggle="tooltip" data-placement="left">@UserBatch.Batch.Title </a>
                                                    </td>
                                                    <td>
                                                        <div class="actionBtns ">
                                                            @if (isAdmin)
                                                            {

                                                            <form asp-action="UnassignBatchTeacher" asp-controller="Batch">
                                                                <input name="Id" value="@UserBatch.BatchId" hidden />
                                                                <input name="BatchTeacherId" value="@UserBatch.UserId" hidden />
                                                                <i class="fa fa-times-circle text-danger unassignBatchTeacherButton" data-toggle="tooltip" data-callfrom="assignedBatches" data-userid="@UserBatch.UserId" data-placement="left" title="Unassign this Batch"> </i>
                                                            </form>
                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr class="deallocated-row">
                                                    <td>@serialNo </td>
                                                    <td class="text-left">
                                                        <a  href="/batch/Detail/@UserBatch.BatchId" target="_blank"data-toggle="tooltip" data-placement="left" data-id="@UserBatch.BatchId">@UserBatch.Batch.Title </a>
                                                    </td>
                                                    <td>

                                                        <div class="actionBtns ">
                                                            
                                                                @if (UserBatch.Batch.UserBatchRequests.Any())
                                                                {

                                                                    if (UserBatch.Batch.UserBatchRequests.First().StatusId == Convert.ToInt32(RequestsStatus.Processed))
                                                                    {
                                                                        <i class="ilum ilum-advice-request re-requestBatchAllocation" data-toggle="tooltip" data-placement="left" data-id="@UserBatch.BatchId" data-userid="@UserBatch.UserId" title="Request for this Batch again."> </i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-pill badge-dark">Admin Approval Pending</span>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <i class="ilum ilum-advice-request re-requestBatchAllocation" data-toggle="tooltip" data-placement="left" data-id="@UserBatch.BatchId" data-userid="@UserBatch.UserId" title="Request for this Batch again."> </i>
                                                                }
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                }
                            }
                        </table>
                    </div>
                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger text-center  mb-2"> No Batch assigned yet!!</div>
    @if (isAdmin)
    {
        <div class="row">
            <div class="col col-sm-12  mb-2">
                <a href="/Batch/list" target="_blank" class="form-control btn custom-btn btn-blue"><i class="fas fa-book"></i> Assign Batch</a>
            </div>
        </div>
    }
    else if (isTeacher)
    {
        <div class="row">
            <div class="col col-sm-12  mb-2">
                <a class="form-control btn custom-btn btn-blue requestBatchAllocationOpenBtn"><i class="ilum ilum-advice-request"></i> Request for Whole Batch Allocation</a>
            </div>
        </div>
    }
}
