﻿@model IEnumerable<Management.ViewModels.AttributeViewModel>
@{

    var serialNo = 0;
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var isTeacher = User.IsInRole(UserRoles.Teacher.ToString());
    if (Model.Count() > 0)
    {


        if (isAdmin)
        {
            foreach (var attribute in Model.OrderBy(o => o.SortNumber))
            {
                var attributType = attribute.Type == AttributeType.EducationLevel ? "Discipline" : attribute.Type == AttributeType.BoardLevel ? "Board/Body" : attribute.Type == AttributeType.SubSection ? AttributeType.SubSectionText : attribute.Type;

                serialNo++;

                <div class="attributesRow" data-parentid="@attribute.ParentId" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type">

                    <div class="attributesRecord">
                        <span class="serial-number">
                            @serialNo
                        </span>
                    </div>

                    <div class="attributesRecord w-55">
                        <span class="text-left">
                            @attribute.Name
                        </span>
                    </div>

                    <div class="actionBtns ">
                        @if (attribute.Type == AttributeType.Chapter)
                        {
                            var demoIcon = "fa-clipboard setdemochapterbutton";
                            var title = "Set as Demo Chapter for website use";
                            if (attribute.IsDemoChapter)
                            {
                                demoIcon = "fa-clipboard-check green-text";
                                title = "Selected as Demo Chapter for website";

                            }
                            <i class="fas @demoIcon  pr-3" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@attribute.Name" data-attributetype="@attribute.Type" data-attributeid="@attribute.Id" data-parentid="@attribute.ParentId" title="@title"></i>
                        }
                        @if (attribute.Type == AttributeType.Subject || attribute.Type == AttributeType.Chapter || attribute.Type == AttributeType.Section || attribute.Type == AttributeType.SubSection)
                        {
                            <a href="/Book/@attribute.Type?id=@attribute.Id"> <i class="fas fa-book-open" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type" title="Read this @attribute.Type"></i></a>

                        }

                        <i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type" data-parentid="@attribute.ParentId" title="View this @attributType"></i>

                        <i class="fa fa-edit editbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@attribute.Name" data-attributetype="@attribute.Type" data-attributeid="@attribute.Id" data-parentid="@attribute.ParentId" title="Edit"></i>
                        <i class="fa fa-trash deletebutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@attribute.Name" data-attributetype="@attribute.Type" data-attributeid="@attribute.Id" data-parentid="@attribute.ParentId" title="Delete"> </i>

                    </div>
                </div>

            }
        }
        else if (isResearcher)
        {
            if (Model.FirstOrDefault().Type == AttributeType.Subject)
            {
                var AllocatedSubjects = ViewBag.Subjects as List<SubjectViewModel>;

                foreach (var attribute in Model.OrderBy(o => o.SortNumber).Where(a => AllocatedSubjects.Select(p => p.Id).Contains(a.Id)))
                {
                    var attributType = attribute.Type == AttributeType.EducationLevel ? "Discipline" : attribute.Type == AttributeType.BoardLevel ? "Board/Body" : attribute.Type == AttributeType.SubSection ? AttributeType.SubSectionText : attribute.Type;

                    serialNo++;

                    <div class="attributesRow" data-parentid="@attribute.ParentId" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type">

                        <div class="attributesRecord">
                            <span class="serial-number">
                                @serialNo
                            </span>
                        </div>

                        <div class="attributesRecord w-55">
                            <span class="text-left">
                                @attribute.Name
                            </span>
                        </div>

                        <div class="actionBtns ">
                            @if (attribute.Type == AttributeType.Subject || attribute.Type == AttributeType.Chapter || attribute.Type == AttributeType.Section || attribute.Type == AttributeType.SubSection)
                            {
                                <a href="/Book/@attribute.Type?id=@attribute.Id"> <i class="fas fa-book-open" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type" title="Read this @attribute.Type"></i></a>

                            }

                            <i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type" data-parentid="@attribute.ParentId" title="View this @attributType"></i>

                        </div>
                    </div>

                }
            }
            else
            {
                foreach (var attribute in Model.OrderBy(o => o.SortNumber))
                {
                    var attributType = attribute.Type == AttributeType.EducationLevel ? "Discipline" : attribute.Type == AttributeType.BoardLevel ? "Board/Body" : attribute.Type == AttributeType.SubSection ? AttributeType.SubSectionText : attribute.Type;

                    serialNo++;

                    <div class="attributesRow" data-parentid="@attribute.ParentId" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type">

                        <div class="attributesRecord">
                            <span class="serial-number">
                                @serialNo
                            </span>
                        </div>

                        <div class="attributesRecord w-55">
                            <span class="text-left">
                                @attribute.Name
                            </span>
                        </div>

                        <div class="actionBtns ">
                            @if (attribute.Type == AttributeType.Subject || attribute.Type == AttributeType.Chapter || attribute.Type == AttributeType.Section || attribute.Type == AttributeType.SubSection)
                            {
                                <a href="/Book/@attribute.Type?id=@attribute.Id"> <i class="fas fa-book-open" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type" title="Read this @attribute.Type"></i></a>

                            }

                            <i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type" data-parentid="@attribute.ParentId" title="View this @attributType"></i>

                            <i class="fa fa-edit editbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@attribute.Name" data-attributetype="@attribute.Type" data-attributeid="@attribute.Id" data-parentid="@attribute.ParentId" title="Edit"></i>
                            <i class="fa fa-trash deletebutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@attribute.Name" data-attributetype="@attribute.Type" data-attributeid="@attribute.Id" data-parentid="@attribute.ParentId" title="Delete"> </i>


                        </div>
                    </div>

                }
            }

        }
        else if (isStudent || isTeacher)
        {
            if (Model.FirstOrDefault().Type == AttributeType.Subject)
            {
                var AllocatedSubjects = ViewBag.Subjects as List<SubjectViewModel>;

                foreach (var attribute in Model.OrderBy(o => o.SortNumber).Where(a => AllocatedSubjects.Select(p => p.Id).Contains(a.Id)))
                {
                    var attributType = attribute.Type == AttributeType.EducationLevel ? "Discipline" : attribute.Type == AttributeType.BoardLevel ? "Board/Body" : attribute.Type == AttributeType.SubSection ? AttributeType.SubSectionText : attribute.Type;

                    serialNo++;

                    <div class="attributesRow" data-parentid="@attribute.ParentId" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type">

                        <div class="attributesRecord">
                            <span class="serial-number">
                                @serialNo
                            </span>
                        </div>

                        <div class="attributesRecord w-55">
                            <span class="text-left">
                                @attribute.Name
                            </span>
                        </div>

                        <div class="actionBtns ">
                            @if (attribute.Type == AttributeType.Subject || attribute.Type == AttributeType.Chapter || attribute.Type == AttributeType.Section || attribute.Type == AttributeType.SubSection)
                            {
                                <a href="/Book/@attribute.Type?id=@attribute.Id"> <i class="fas fa-book-open" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type" title="Read this @attribute.Type"></i></a>

                            }
                            @if (attribute.Type != AttributeType.SubSection)
                            {
                                <i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type" data-parentid="@attribute.ParentId" title="View this @attributType"></i>

                            }

                        </div>
                    </div>

                }
            }
            else
            {
                foreach (var attribute in Model.OrderBy(o => o.SortNumber))
                {
                    var attributType = attribute.Type == AttributeType.EducationLevel ? "Discipline" : attribute.Type == AttributeType.BoardLevel ? "Board/Body" : attribute.Type == AttributeType.SubSection ? AttributeType.SubSectionText : attribute.Type;

                    serialNo++;
                    if (attribute.Detail != null && attribute.Detail != string.Empty)
                    {

                        <div class="attributesRow" data-parentid="@attribute.ParentId" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type">

                            <div class="attributesRecord">
                                <span class="serial-number">
                                    @serialNo
                                </span>
                            </div>

                            <div class="attributesRecord w-55">
                                <span class="text-left">
                                    @attribute.Name
                                </span>
                            </div>

                            <div class="actionBtns ">
                                @if (attribute.Type == AttributeType.Subject || attribute.Type == AttributeType.Chapter || attribute.Type == AttributeType.Section || attribute.Type == AttributeType.SubSection)
                                {
                                    <a href="/Book/@attribute.Type?id=@attribute.Id"> <i class="fas fa-book-open" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type" title="Read this @attribute.Type"></i></a>

                                }

                                @if (attribute.Type != AttributeType.SubSection)
                                {
                                    <i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@attribute.Id" data-attributetype="@attribute.Type" data-parentid="@attribute.ParentId" title="View this @attributType"></i>

                                }
                            </div>
                        </div>
                    }

                }
            }

        }
    }
}
