﻿@model AttributeViewModel
@inject Management.Data.Interfaces.RepositoryInterfaces.IEducationLevelRepository EducationLevel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
}
@if (isAdmin || isResearcher)
{
    <div class="modal fade" id="appendQuestion">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Question</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body And Footer-->

                @{ Html.RenderPartial("~/Views/Question/_WrittenQuestionAnswer.cshtml", new QuestionViewModel() { AttributeType = Model.Type, AttributeId = Model.Id.ToString(), QuestionCategory = QuestionCategories.NormalQuestion });}


            </div>
        </div>
    </div>
    <div class="modal fade" id="appendMoreQuestion">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Add More Question</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body And Footer-->

                @{ Html.RenderPartial("~/Views/Question/_WrittenQuestionAnswer.cshtml", new QuestionViewModel() { AttributeType = Model.Type, AttributeId = Model.Id.ToString() });}


            </div>
        </div>
    </div>
    <div class="modal fade" id="editQuestionModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Update Question</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body And Footer-->

                <div class="questionEditors">

                </div>


            </div>
        </div>
    </div>

    <!-- ExamQuestion  -->
    <div class="modal fade" id="addExamQuestionModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Question</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body And Footer-->

                @{ Html.RenderPartial("~/Views/Question/_ExamQuestionAnswer.cshtml", new QuestionViewModel() { AttributeType = Model.Type, AttributeId = Model.Id.ToString(),QuestionCategory=QuestionCategories.ExamQuestion });}


            </div>
        </div>
    </div>

    <div class="modal fade" id="editExamQuestionModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Update Question</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body And Footer-->

                <div class="questionEditors">

                </div>


            </div>
        </div>
    </div>
    <!-- ExamQuestion End -->

    <div class="modal fade" id="appendCommentary">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Commentary</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body And Footer-->

                @{ Html.RenderPartial("~/Views/Commentary/_AddCommentary.cshtml", new CommentaryViewModel() { AttributeType = Model.Type, AttributeId = Model.Id.ToString() });}


            </div>
        </div>
    </div>
    <div class="modal fade" id="editCommentaryModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Update Commentary</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body And Footer-->

                <div class="commentaryEditors">

                </div>


            </div>
        </div>
    </div>


    <div class="modal fade" id="LoadDocumentModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Select document to open
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="sidebar m-0">
                        <div class="sidebar-container">
                            <nav class="menu">
                                <ul class="sidebar-menu metismenu" id="load-document-menu">
                                    @{
                                        @if (isAdmin)
                                        {
                                            var ELevels = EducationLevel.GetEducationLevelWithBoardLevels();
                                            foreach (var level in ELevels.OrderBy(x => x.SortNumber))
                                            {
                                                <li>
                                                    <a href="#">@level.Name <span class="fa arrow"></span></a>

                                                    <ul class="nav nav-third-level">
                                                        @foreach (var board in level.BoardLevels.OrderBy(x => x.SortNumber))
                                                        {
                                                            <li>
                                                                <a href="#">@board.Name <span class="fa arrow"></span></a>

                                                                <ul class="nav nav-fourth-level">
                                                                    @foreach (var Class in board.Classes.OrderBy(x => x.SortNumber))
                                                                    {
                                                                        <li>
                                                                            <a href="#">@Class.Name  <span class="fa arrow"></span></a>
                                                                            <ul class="nav nav-fifth-level">
                                                                                @foreach (var Subject in Class.Subjects.OrderBy(x => x.SortNumber))
                                                                                {
                                                                                    <li>
                                                                                        <a href="#">@Subject.Name <span class="fa arrow"></span></a>
                                                                                        <span class="disciplineActionBtns"><a data-attributetype="Subject" data-attributeid="@Subject.Id" class="custom-btn btn-blue open-attribute"> <i class="fas fa-info-circle"></i> Open </a></span>

                                                                                        <ul class="nav nav-sixth-level">
                                                                                            @foreach (var Chapter in Subject.Chapters.OrderBy(x => x.SortNumber))
                                                                                            {
                                                                                                <li>
                                                                                                    <a href="#">@Chapter.Name <span class="fa arrow"></span></a>
                                                                                                    <span class="disciplineActionBtns"><a data-attributetype="Chapter" data-attributeid="@Chapter.Id" class="custom-btn btn-blue open-attribute"> <i class="fas fa-info-circle"></i> Open </a></span>
                                                                                                    <ul class="nav nav-seventh-level">
                                                                                                        @foreach (var Section in Chapter.Sections.OrderBy(x => x.SortNumber))
                                                                                                        {
                                                                                                            <li>
                                                                                                                <a href="#">@Section.Name <span class="fa arrow"></span></a>
                                                                                                                <span class="disciplineActionBtns"><a data-attributetype="Section" data-attributeid="@Section.Id" class="custom-btn btn-blue open-attribute"> <i class="fas fa-info-circle"></i> Open </a></span>

                                                                                                                <ul class="nav nav-eightth-level">
                                                                                                                    @foreach (var SubSection in Section.SubSections.OrderBy(x => x.SortNumber))
                                                                                                                    {
                                                                                                                        <li>
                                                                                                                            <a href="#">@SubSection.Name </a>
                                                                                                                            <span class="disciplineActionBtns"><a data-attributetype="SubSection" data-attributeid="@SubSection.Id" class="custom-btn btn-blue open-attribute"> <i class="fas fa-info-circle"></i> Open </a></span>

                                                                                                                        </li>
                                                                                                                    }
                                                                                                                </ul>
                                                                                                            </li>
                                                                                                        }


                                                                                                    </ul>
                                                                                                </li>
                                                                                            }


                                                                                        </ul>
                                                                                    </li>
                                                                                }


                                                                            </ul>

                                                                        </li>
                                                                    }


                                                                </ul>
                                                            </li>
                                                        }


                                                    </ul>


                                                    <!-- /.nav-third-level -->
                                                </li>
                                            }
                                        }


                                    }

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="addNewArrivalModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add New Arrival Points</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body And Footer-->
                <div class="alert alert-warning">
                    Note: Do not Add extra text. Just add points in bullets.
                </div>
                @{ Html.RenderPartial("~/Views/Shared/Common/_NewArrivalForm.cshtml", new AttributeViewModel() { Type = Model.Type, Id = Model.Id, NewArrivalText = "" });}


            </div>
        </div>
    </div>
    <div class="modal fade" id="updateNewArrivalModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update New Arrival Points</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body And Footer-->
                <div class="alert alert-warning">
                    Note: Do not Add extra text. Just add points in bullets.
                </div>
                <div class="UpdateNewArrivalFormView">

                </div>

            </div>
        </div>
    </div>

}
<div class="modal fade" id="questionListModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">List of Questions</h5>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body And Footer-->

            <div class="modal-body">

                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 existingQuestionsSection mb-2">

                    </div>
                </div>

            </div>
            <div class="modal-footer pt-2">

                <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="commentaryListModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">List of Commentaries</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body And Footer-->

            <div class="modal-body">

                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 existingCommentariesSection mb-2">

                    </div>
                </div>

            </div>
            <div class="modal-footer pt-2">

                <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

            </div>

        </div>
    </div>
</div>

