﻿
@{
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var attributes = ViewBag.Attributes as List<AttributeViewModel>;


}
@if (attributes.Count > 0)
{


    <a href="#"><i class="fas fa-book fa-fw"></i> @(attributes.First().TypeText + "s") <span class="fa arrow"></span></a>

    <ul class="sidebar-nav nav-second-level">
        @{


            foreach (var attribute in attributes.OrderBy(x => x.SortNumber))
            {
                <li>
                    <a href="#">
                        <span>
                            @attribute.Name
                        </span>
                    </a>
                    <span class="disciplineActionBtns">
                        <a href="/Book/@attribute.Type?id=@attribute.Id">
                            <i class="fas fa-book-open"></i>
                        </a>
                    </span>

                </li>

            }

        }

    </ul>


            }
            else
            {
                if (ViewBag.AttributeType != null && ViewBag.AttributeType != AttributeType.EducationLevel && ViewBag.AttributeType != AttributeType.BoardLevel && ViewBag.AttributeType != AttributeType.Class)
                {
                    var otherSectionAttributes = ViewBag.OtherSectionAttributes as List<AttributeViewModel>;
                    var attributeTypeText = ViewBag.AttributeType== AttributeType.SubSection?"Sub Section": ViewBag.AttributeType;

                    if (ViewBag.AttributeType != AttributeType.SubSection)
                    {

            <a class="disableClick"><i class="fas fa-book fa-fw"></i> No @attributeTypeText Available</a>
        }
        if (otherSectionAttributes != null && otherSectionAttributes.Any())
        { <a href="#"><i class="fas fa-book fa-fw"></i> Other @attributeTypeText <span class="fa arrow"></span></a>

            <ul class="sidebar-nav nav-second-level">
                @foreach (var attribute in otherSectionAttributes.OrderBy(x => x.SortNumber))
                {
                    <li>
                        <a href="#">
                            <span>
                                @attribute.Name
                            </span>
                        </a>
                        <span class="disciplineActionBtns">
                            <a href="/Book/@attribute.Type?id=@attribute.Id">
                                <i class="fas fa-book-open"></i>
                            </a>
                        </span>

                    </li>

                }

            </ul>

        }
    }
}
