﻿
<environment include="Staging,Production">
    <link href="~/css/style.min.css?v=2.0" rel="stylesheet" />
  
</environment>
<environment include="Development">

    <link href="~/css/slick.min.css" rel="stylesheet" />
    <link href="~/book/css/vendor.min.css" rel="stylesheet" />
    <link href="~/css/jquery.powertip.min.css" rel="stylesheet" />
    <link href="~/css/vendor.min.css" rel="stylesheet" />
    <link href="~/css/sweetalert.min.css" rel="stylesheet" />
    <link href="~/css/lightgallery.min.css" rel="stylesheet" />
    <link href="~/css/ilumfonts.min.css" rel="stylesheet" />
    <link href="~/css/fine-uploader-new.min.css" rel="stylesheet" />
    <link href="~/css/circle.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/select2.css" rel="stylesheet" />
    <link href="~/book//css/app.css" rel="stylesheet" />
    <link href="~/css/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/css/calendar.css" rel="stylesheet" />
</environment>