﻿<a href="#"><i class="fa fa-graduation-cap fa-fw"></i> Disciplines<span class="fa arrow"></span></a>
@{ 
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
}
@if (isAdmin)
{
    <span class="disciplineActionBtns"><i data-attributeid="0" data-modaltext="Discipline" data-attributetype="EducationLevel" class="fas fa-plus addbutton"></i> </span>
}
<ul class="nav nav-second-level">
    @{
        @if (isAdmin)
        {
            var ELevels = ViewBag.EducationLevel as List<Management.Data.Models.EducationLevel>;
            foreach (var level in ELevels.OrderBy(x => x.SortNumber))
            {
            <li>
                <a href="#">@level.Name <span class="fa arrow"></span></a>
                <span class="disciplineActionBtns"><i data-attributeid="@level.Id" data-modaltext="@level.Name" data-attributename="@level.Name" data-attributetype="EducationLevel" data-childtype="BoardLevel" class="fas fa-eye viewbutton"></i><i data-attributeid="@level.Id" data-modaltext="@level.Name" data-attributetype="BoardLevel" data-parentattributetype="EducationLevel" class="fas fa-plus addbutton"></i> <span data-attributeid="@level.Id" data-modaltext="@level.Name" data-attributetype="EducationLevel" class="fas fa-edit editbutton"></span> <span data-attributeid="@level.Id" data-modaltext="@level.Name" data-attributetype="EducationLevel" class="fas fa-trash deletebutton"></span></span>

                <ul class="nav nav-third-level">
                    @foreach (var board in level.BoardLevels.OrderBy(x => x.SortNumber))
                    {
                        <li>
                            <a href="#">@board.Name <span class="fa arrow"></span></a>
                            <span class="disciplineActionBtns"><i data-attributeid="@board.Id" data-parentid="@level.Id" data-modaltext="Class" data-attributetype="BoardLevel" class="fas fa-eye viewbutton"></i><i data-attributeid="@board.Id" data-modaltext="Class" data-parentattributetype="BoardLevel" data-attributetype="Class" class="fas fa-plus addbutton"></i><i data-attributeid="@board.Id" data-parentid="@level.Id" data-modaltext="@board.Name" data-attributetype="BoardLevel" class="fas fa-edit editbutton"></i> <i data-attributeid="@board.Id" data-modaltext="@board.Name" data-parentid="@level.Id" data-attributetype="BoardLevel" class="fas fa-trash deletebutton"></i></span>
                           
                            <ul class="nav nav-fourth-level">
                                @foreach (var Class in board.Classes.OrderBy(x => x.SortNumber))
                                {
                                    <li>
                                        <a href="#">@Class.Name  <span class="fa arrow"></span></a>
                                        <span class="disciplineActionBtns"><i data-attributeid="@Class.Id" data-parentid="@board.Id" data-modaltext="Subject" data-attributename="@Class.Name" data-attributetype="Class" data-childtype="Subject" class="fas fa-eye viewbutton"></i> <i data-attributeid="@Class.Id" data-modaltext="Subject" data-parentattributetype="Class" data-attributetype="Subject" class="fas fa-plus addbutton"></i> <i data-attributeid="@Class.Id" data-parentid="@board.Id" data-modaltext="@Class.Name" data-attributetype="Class" class="fas fa-edit editbutton"></i> <i data-attributeid="@Class.Id" data-modaltext="@Class.Name" data-parentid="@board.Id" data-attributetype="Class" class="fas fa-trash deletebutton"></i></span>
                                        <ul class="nav nav-fifth-level">
                                            @foreach (var Subject in Class.Subjects.OrderBy(x => x.SortNumber))
                                            {
                                                <li>
                                                    <a href="#">@Subject.Name <span class="fa arrow"></span></a>
                               
                                                    <span class="disciplineActionBtns">
                                                        <a href="/Book/Subject?id=@Subject.Id"> 
                                                        <i class="fas fa-info-circle" ></i></a><i data-attributeid="@Subject.Id" data-parentid="@Class.Id" data-modaltext="Chapter" data-attributename="@Subject.Name" data-attributetype="Subject" data-childtype="Chapter" class="fas fa-eye viewbutton"></i>
                                                        <i data-attributeid="@Subject.Id" data-modaltext="Chapter" data-parentattributetype="Subject" data-attributetype="Chapter" class="fas fa-plus addbutton"></i>  <i data-attributeid="@Subject.Id" data-parentid="@Class.Id" data-modaltext="@Subject.Name" data-attributetype="Subject" class="fas fa-edit editbutton"></i> 
                                                        <i data-parentid="@Class.Id" data-attributeid="@Subject.Id" data-modaltext="@Subject.Name" data-attributetype="Subject" class="fas fa-trash deletebutton"></i></span>
                                                    <ul class="nav nav-sixth-level">
                                                        @foreach (var Chapter in Subject.Chapters.OrderBy(x => x.SortNumber))
                                                        {
                                                            <li>
                                                                <a href="#">@Chapter.Name <span class="fa arrow"></span></a>
                                                                <span class="disciplineActionBtns"><a href="/Book/Chapter?id=@Chapter.Id"> <i class="fas fa-info-circle" ></i></a><i data-attributeid="@Chapter.Id" data-parentid="@Subject.Id" data-modaltext="Section" data-attributename="@Chapter.Name" data-attributetype="Chapter" data-childtype="Section" class="fas fa-eye viewbutton"></i><i data-attributeid="@Chapter.Id" data-modaltext="Section" data-parentattributetype="Chapter" data-attributetype="Section" class="fas fa-plus addbutton"></i>  <i data-attributeid="@Chapter.Id" data-parentid="@Subject.Id" data-modaltext="@Chapter.Name" data-attributetype="Chapter" data-sortNumber="@Chapter.SortNumber" class="fas fa-edit editbutton"></i> <i data-attributeid="@Chapter.Id" data-modaltext="@Chapter.Name" data-attributetype="Chapter" data-parentid="@Subject.Id" class="fas fa-trash deletebutton"></i></span>
                                                                <ul class="nav nav-seventh-level">
                                                                    @foreach (var Section in Chapter.Sections.OrderBy(x => x.SortNumber))
                                                                    {
                                                                        <li>
                                                                            <a href="#">@Section.Name <span class="fa arrow"></span></a>
                                                                            <span class="disciplineActionBtns"> <a href="/Book/Section?id=@Section.Id"> <i class="fas fa-info-circle" ></i></a><i data-attributeid="@Section.Id" data-parentid="@Chapter.Id" data-modaltext="Sub Section" data-attributename="@Section.Name" data-attributetype="Section" data-childtype="SubSection" class="fas fa-eye viewbutton"></i>  <i data-attributeid="@Section.Id" data-modaltext="Sub Section" data-parentattributetype="Section" data-attributetype="SubSection" class="fas fa-plus addbutton"></i>  <i data-attributeid="@Section.Id" data-parentid="@Chapter.Id" data-modaltext="@Section.Name" data-sortNumber="@Section.SortNumber" data-attributetype="Section" class="fas fa-edit editbutton"></i> <i data-attributeid="@Section.Id" data-modaltext="@Section.Name" data-attributetype="Section" data-parentid="@Chapter.Id" class="fas fa-trash deletebutton"></i></span>
                                                                            <ul class="nav nav-eightth-level">
                                                                                @foreach (var SubSection in Section.SubSections.OrderBy(x => x.SortNumber))
                                                                                {
                                                                                    <li>
                                                                                        <a href="#">@SubSection.Name </a>
                                                                                        <span class="disciplineActionBtns"><a href="/Book/SubSection?id=@SubSection.Id"> <i class="fas fa-info-circle" ></i></a><i data-attributeid="@SubSection.Id" data-parentid="@Section.Id" data-modaltext="@SubSection.Name" data-attributetype="SubSection" class="fas fa-edit editbutton"></i> <i data-attributeid="@SubSection.Id" data-modaltext="@Section.Name" data-sortNumber="@SubSection.SortNumber" data-attributetype="SubSection" data-parentid="@Section.Id" class="fas fa-trash deletebutton"></i></span>
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        </li>
                                                                    }


                                                                </ul>
                                                            </li>
                                                        }


                                                    </ul>
                                                </li>
                                            }

                                           
                                        </ul>

                                    </li>
                                }

                              
                            </ul>
                        </li>
                    }

                    
                </ul>


                <!-- /.nav-third-level -->
            </li>
            }
        }
        else if (isResearcher)
        {

            var ELevels = ViewBag.EducationLevel as List<Management.Data.Models.EducationLevel>;
            var AllocatedSubjects = ViewBag.Subjects as List<SubjectViewModel>;
            foreach (var level in ELevels.OrderBy(x => x.SortNumber).Where(a => AllocatedSubjects.Select(p => p.EducationLevel.Id).Contains(a.Id)))
            {
                <li>
                    <a href="#">@level.Name <span class="fa arrow"></span></a>
                   
                    <ul class="nav nav-third-level">
                        @foreach (var board in level.BoardLevels.OrderBy(x => x.SortNumber).Where(a => AllocatedSubjects.Select(p => p.BoardLevel.Id).Contains(a.Id)))
                    {
                            <li>
                                <a href="#">@board.Name <span class="fa arrow"></span></a>
                               
                                <ul class="nav nav-fourth-level">
                                    @foreach (var Class in board.Classes.OrderBy(x => x.SortNumber).Where(a => AllocatedSubjects.Select(p => p.Class.Id).Contains(a.Id)))
                                    {
                                        <li>
                                            <a href="#">@Class.Name  <span class="fa arrow"></span></a>
                                            <span class="disciplineActionBtns"><i data-attributeid="@Class.Id" data-parentid="@board.Id" data-modaltext="Subject" data-attributename="@Class.Name" data-attributetype="Class" data-childtype="Subject" class="fas fa-eye viewbutton"></i> </span>

                                            <ul class="nav nav-fifth-level">
                                                @foreach (var Subject in Class.Subjects.OrderBy(x => x.SortNumber).Where(a => AllocatedSubjects.Select(p => p.Id).Contains(a.Id)))
                                                {
                                                    <li>
                                                        <a href="#">@Subject.Name <span class="fa arrow"></span></a>
                                                        <span class="disciplineActionBtns"><a href="/Book/Subject?id=@Subject.Id"> <i class="fas fa-info-circle" ></i></a><i data-attributeid="@Subject.Id" data-parentid="@Class.Id" data-modaltext="Chapter" data-attributename="@Subject.Name" data-attributetype="Subject" data-childtype="Chapter" class="fas fa-eye viewbutton"></i><i data-attributeid="@Subject.Id" data-modaltext="Chapter" data-parentattributetype="Subject" data-attributetype="Chapter" class="fas fa-plus addbutton"></i> </span>
                                                        <ul class="nav nav-sixth-level">
                                                            @foreach (var Chapter in Subject.Chapters.OrderBy(x => x.SortNumber))
                                                            {
                                                                <li>
                                                                    <a href="#">@Chapter.Name <span class="fa arrow"></span></a>
                                                                    <span class="disciplineActionBtns"><a href="/Book/Chapter?id=@Chapter.Id"> <i class="fas fa-info-circle" ></i></a><i data-attributeid="@Chapter.Id" data-parentid="@Subject.Id" data-modaltext="Section" data-attributename="@Chapter.Name" data-attributetype="Chapter" data-childtype="Section" class="fas fa-eye viewbutton"></i><i data-attributeid="@Chapter.Id" data-modaltext="Section" data-parentattributetype="Chapter" data-attributetype="Section" class="fas fa-plus addbutton"></i>  <i data-attributeid="@Chapter.Id" data-parentid="@Subject.Id" data-modaltext="@Chapter.Name" data-attributetype="Chapter" class="fas fa-edit editbutton"></i> <i data-attributeid="@Chapter.Id" data-modaltext="@Chapter.Name" data-attributetype="Chapter" data-parentid="@Subject.Id" class="fas fa-trash deletebutton"></i></span>
                                                                    <ul class="nav nav-seventh-level">
                                                                        @foreach (var Section in Chapter.Sections.OrderBy(x => x.SortNumber))
                                                                        {
                                                                            <li>
                                                                                <a href="#">@Section.Name <span class="fa arrow"></span></a>
                                                                                <span class="disciplineActionBtns"> <a href="/Book/Section?id=@Section.Id"> <i class="fas fa-info-circle"></i></a><i data-attributeid="@Section.Id" data-parentid="@Chapter.Id" data-modaltext="Sub Section" data-attributename="@Section.Name" data-attributetype="Section" data-childtype="SubSection" class="fas fa-eye viewbutton"></i>  <i data-attributeid="@Section.Id" data-modaltext="Sub Section" data-parentattributetype="Section" data-attributetype="SubSection" class="fas fa-plus addbutton"></i>  <i data-attributeid="@Section.Id" data-parentid="@Chapter.Id" data-modaltext="@Section.Name" data-attributetype="Section" class="fas fa-edit editbutton"></i> <i data-attributeid="@Section.Id" data-modaltext="@Section.Name" data-attributetype="Section" data-parentid="@Chapter.Id" class="fas fa-trash deletebutton"></i></span>
                                                                                <ul class="nav nav-eightth-level">
                                                                                    @foreach (var SubSection in Section.SubSections.OrderBy(x => x.SortNumber))
                                                                                    {
                                                                                        <li>
                                                                                            <a href="#">@SubSection.Name </a>
                                                                                            <span class="disciplineActionBtns"><a href="/Book/SubSection?id=@SubSection.Id"> <i class="fas fa-info-circle"></i></a><i data-attributeid="@SubSection.Id" data-parentid="@Section.Id" data-modaltext="@SubSection.Name" data-attributetype="SubSection" class="fas fa-edit editbutton"></i> <i data-attributeid="@SubSection.Id" data-modaltext="@Section.Name" data-attributetype="SubSection" data-parentid="@Section.Id" class="fas fa-trash deletebutton"></i></span>
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }


                                                                    </ul>
                                                                </li>
                                                            }


                                                        </ul>
                                                    </li>
                                                }


                                            </ul>

                                        </li>
                                    }


                                </ul>
                            </li>
                        }


                    </ul>


                    <!-- /.nav-third-level -->
                </li>
            }
        }
        else if (isStudent)
        {

            var ELevels = ViewBag.EducationLevel as List<Management.Data.Models.EducationLevel>;
            var AllocatedSubjects = ViewBag.Subjects as List<SubjectViewModel>;
            foreach (var level in ELevels.OrderBy(x => x.SortNumber).Where(a => AllocatedSubjects.Select(p => p.EducationLevel.Id).Contains(a.Id)))
            {
                <li>
                    <a href="#">@level.Name <span class="fa arrow"></span></a>

                    <ul class="nav nav-third-level">
                        @foreach (var board in level.BoardLevels.OrderBy(x => x.SortNumber).Where(a => AllocatedSubjects.Select(p => p.BoardLevel.Id).Contains(a.Id)))
                    {
                            <li>
                                <a href="#">@board.Name <span class="fa arrow"></span></a>

                                <ul class="nav nav-fourth-level">
                                    @foreach (var Class in board.Classes.OrderBy(x => x.SortNumber).Where(a => AllocatedSubjects.Select(p => p.Class.Id).Contains(a.Id)))
                                    {
                                        <li>
                                            <a href="#">@Class.Name  <span class="fa arrow"></span></a>
                                            <span class="disciplineActionBtns"><i data-attributeid="@Class.Id" data-parentid="@board.Id" data-modaltext="Subject" data-attributename="@Class.Name" data-attributetype="Class" data-childtype="Subject" class="fas fa-eye viewbutton"></i> </span>

                                            <ul class="nav nav-fifth-level">
                                                @foreach (var Subject in Class.Subjects.OrderBy(x => x.SortNumber).Where(a => AllocatedSubjects.Select(p => p.Id).Contains(a.Id)))
                                                {
                                                    <li>
                                                        <a href="#">@Subject.Name <span class="fa arrow"></span></a>
                                                        <span class="disciplineActionBtns"><a href="/Book/Subject?id=@Subject.Id"> <i class="fas fa-info-circle"></i></a><i data-attributeid="@Subject.Id" data-parentid="@Class.Id" data-modaltext="Chapter" data-attributename="@Subject.Name" data-attributetype="Subject" data-childtype="Chapter" class="fas fa-eye viewbutton"></i> </span>
                                                        <ul class="nav nav-sixth-level">
                                                            @foreach (var Chapter in Subject.Chapters.OrderBy(x => x.SortNumber))
                                                            {
                                                                <li>
                                                                    <a href="#">@Chapter.Name <span class="fa arrow"></span></a>
                                                                    <span class="disciplineActionBtns"><a href="/Book/Chapter?id=@Chapter.Id"> <i class="fas fa-info-circle"></i></a><i data-attributeid="@Chapter.Id" data-parentid="@Subject.Id" data-modaltext="Section" data-attributename="@Chapter.Name" data-attributetype="Chapter" data-childtype="Section" class="fas fa-eye viewbutton"></i></span>
                                                                    <ul class="nav nav-seventh-level">
                                                                        @foreach (var Section in Chapter.Sections.OrderBy(x => x.SortNumber))
                                                                        {
                                                                            <li>
                                                                                <a href="#">@Section.Name <span class="fa arrow"></span></a>
                                                                                <span class="disciplineActionBtns"> <a href="/Book/Section?id=@Section.Id"> <i class="fas fa-info-circle"></i></a><i data-attributeid="@Section.Id" data-parentid="@Chapter.Id" data-modaltext="Sub Section" data-attributename="@Section.Name" data-attributetype="Section" data-childtype="SubSection" class="fas fa-eye viewbutton"></i>  </span>
                                                                                <ul class="nav nav-eightth-level">
                                                                                    @foreach (var SubSection in Section.SubSections.OrderBy(x => x.SortNumber))
                                                                                    {
                                                                                        <li>
                                                                                            <a href="#">@SubSection.Name </a>
                                                                                            <span class="disciplineActionBtns"><a href="/Book/SubSection?id=@SubSection.Id"> <i class="fas fa-info-circle"></i></a></span>
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }


                                                                    </ul>
                                                                </li>
                                                            }


                                                        </ul>
                                                    </li>
                                                }


                                            </ul>

                                        </li>
                                    }


                                </ul>
                            </li>
                        }


                    </ul>


                    <!-- /.nav-third-level -->
                </li>
            }
        }
    }

</ul>
