﻿@model AttributeViewModel

<form id="uploadDocument" data-attributeid="@Model.Id" data-attributetable="@Model.Type">
    <!-- Modal body -->
   
    <div class="row mb-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div id="fine-uploader-manual-trigger"></div>
        </div>
    </div>
  

    <!-- Modal footer -->
    <div class="row">
        
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group text-center">
                <button type="button" class="disabledBtn btn btn-success rounded-0" id="saveDocument">Upload</button>
                <i class="uploadLoader fas fa-spinner fa-spin" style="display:none" ></i>
            </div>
        </div>
        </div>
</form>