﻿<!-- Navigation -->
@using Management.Data.Interfaces.RepositoryInterfaces
@inject UserManager<User> _userManager
@inject IUserArtifactRepository userArtifactRepository
@inject IArtifactRepository artifactRepository

@{
    var user = await _userManager.GetUserAsync(User);
    var isBatchAssigned = ViewBag.IsBatchAssigned as bool?;
    var userArtifact = userArtifactRepository.Get().FirstOrDefault(x => x.UserId == user.Id);
    var profilePic = userArtifact != null ? artifactRepository.Get().FirstOrDefault(a => a.Id == userArtifact.ArtifactId).FileName : "";
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isTeacher = User.IsInRole(UserRoles.Teacher.ToString());
}
<header class="header">
    <div class="header-block header-block-collapse d-lg-none d-xl-none">
        <button class="collapse-btn" id="sidebar-collapse-btn">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="header-block">
        <div class="brand">

            <a href="/">  <img width="140" src="~/images/logo.svg" /></a>
        </div>
    </div>

    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="profile dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                    @if (!string.IsNullOrEmpty(profilePic))
                    {
                        <div class="img" style="background-image:url('@("/UploadedArtifacts/"+ profilePic)')"></div>
                    }
                    else
                    {

                        if (user.Gender == Gender.Female && isStudent)
                        {
                            <div class="img" style="background-image: url('/images/femaleStudent.svg')"> </div>
                        }
                        else if (user.Gender == Gender.Male && isStudent)
                        {
                            <div class="img" style="background-image: url('/images/student.svg')"> </div>
                        }
                        else if (user.Gender == Gender.Female && (isTeacher || isResearcher || isAdmin))
                        {
                            <div class="img" style="background-image: url('/images/femaleTeacher.svg')"> </div>
                        }
                        else if (user.Gender == Gender.Male && (isTeacher || isResearcher || isAdmin))
                        {
                            <div class="img" style="background-image: url('/images/maleTeacher.svg')"> </div>
                        }
                    }
                    <span class="name">Hi @(user.FirstName + "!")</span>
                </a>

                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="#" onclick="loadUserByEmail('@user.Email')">
                        <i class="fa fa-user fa-fw"></i>Profile
                    </a>
                    @*<a class="dropdown-item" href="#">
                            <i class="fa fa-bell icon"></i>Notifications
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-gear icon"></i>Settings
                        </a>*@
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item logout-btn">
                        <i class="fas fa-sign-out-alt fa-fw"></i>Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>
<span class="sidebar-toggle-btn shake-me">

</span>
<aside class="sidebar">

    <div class="sidebar-container detailPage">
        <div class="sidebar-header">

            <div class="brand">

                <a href="/">  <img width="140" src="~/images/logo.svg" /></a>
            </div>
        </div>
        <nav class="menu">
            <ul id="sidebar-menu" class="sidebar-menu metismenu">
                <li>
                    <a href="/">
                        <i class="fas fa-home"></i>Dashboard
                    </a>
                </li>
                @{
                    var routeController = Url.ActionContext.RouteData.Values["Controller"].ToString();
                }

                @if (routeController.ToLower() == "book")
                {
                    <li>
                        @{Html.RenderPartial("Common/_BookDisciplineMenu"); }
                    </li>
                }
                @if (routeController.ToLower() == "test")
                {
                    @*<li>
                            @{Html.RenderPartial("Common/_TestDisciplineMenu"); }
                        </li>*@
                }
                else if (routeController.ToLower() == "batch" && !isStudent)
                {
                    <li>
                        <a href="/Batch/List"><i class="fas fa-users-cog grey-text fa-fw"></i>Manage Batches</a>
                    </li>
                }
                else
                {
                    @if (isAdmin)
                    {
                        <li class="disciplineMenu mainPage">
                            @{Html.RenderPartial("Common/_DisciplineMenuNew"); }
                        </li>

                        <li>
                            <a class="researcherBtn"><i class="ilum ilum-researcher red-text fa-fw"></i>Researchers</a>
                        </li>
                        <li>
                            <a class="teacherBtn"><i class="fas fa-chalkboard-teacher red-text fa-fw"></i>Teachers</a>
                        </li>
                        <li>
                            <a class="studentBtn"><i class="fas fa-user green-text fa-fw"></i>Students</a>
                        </li>

                        <li>
                            @if (Convert.ToInt32(ViewBag.SubjectAllocationRequestCount) > 0)
                            {
                                <a class="showRequestsBtn"><i class="ilum ilum-advice-request orange-text fa-fw"></i>Subject Requests</a>
                            }
                            else
                            {
                                <a onclick="smallSwal('No Request Available','','info')"><i class="ilum ilum-advice-request orange-text fa-fw"></i>Subject Requests</a>
                            }
                        </li>
                        <li>
                            @if (Convert.ToInt32(ViewBag.ChapterAllocationRequestCount) > 0)
                            {
                                <a class="showChapterRequestsBtn"><i class="ilum ilum-advice-request pink-text fa-fw"></i>Chapter Requests</a>
                            }
                            else
                            {
                                <a onclick="smallSwal('No Request Available','','info')"><i class="ilum ilum-advice-request pink-text fa-fw"></i>Chapter Requests</a>
                            }
                        </li>

                        @*<li>
                                <a href="/Test/Index"><i class="fas fa-tasks grey-text fa-fw"></i>Create Test</a>
                            </li>*@
                        <li>
                            <a href="/Batch/List"><i class="fas fa-users-cog grey-text fa-fw"></i>Manage Batches</a>
                        </li>
                    }
                    else if (isResearcher || (isStudent && (!string.IsNullOrEmpty(isBatchAssigned.ToString()) && (bool)isBatchAssigned)))
                    {
                        <li>
                            <a class="myAllocatedSubjects"><i class="fas fa-book red-text fa-fw"></i>My Subjects</a>
                        </li>
                        if (isResearcher)
                        {
                            <li>

                                <a class="showRequestsBtn"><i class="ilum ilum-advice-request orange-text fa-fw"></i>Subject Requests</a>

                            </li>
                        }
                        <li>
                            <a href="/Batch/List" class="myBatches"><i class="fas fa-users blue-text fa-fw"></i>My Batches</a>
                        </li>
                        if (isStudent)
                        {
                            <li>
                                <a href="/Student/Enroll" class="newEnrollmenet"><i class="fas fa-users-cog text-dark fa-fw"></i>Enroll in new Batch</a>
                            </li>
                        }

                        @*<li>
                                <a class="myAllocatedChapters"><i class="fas fa-book-open green-text fa-fw"></i>Allocated Chapters</a>
                            </li>
                            <li>

                                <a class="showChapterRequestsBtn"><i class="ilum ilum-advice-request pink-text fa-fw"></i>Chapter Requests</a>

                            </li>*@
                    }
                    else if (isTeacher || (isStudent && (!string.IsNullOrEmpty(isBatchAssigned.ToString()) && (bool)isBatchAssigned)))
                    {
                        <li>
                            <a class="myAllocatedSubjects"><i class="fas fa-book blue-text fa-fw"></i>My Subjects</a>
                        </li>
                        <li>
                            <a href="/Batch/List"><i class="fas fa-users-cog red-text fa-fw"></i>My Batches</a>
                        </li>
                    }
                }



            </ul>

        </nav>
    </div>
    <footer class="sidebar-footer">
        <ul class="sidebar-menu metismenu" id="customize-menu">
            <li>
                <ul>
                    <li class="customize">
                        <div class="customize-item">
                            <div class="row customize-header">
                                <div class="col-4"> </div>
                                <div class="col-4">
                                    <label class="title">fixed</label>
                                </div>
                                <div class="col-4">
                                    <label class="title">static</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="title">Sidebar:</label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="sidebarPosition" value="">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="title">Header:</label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="headerPosition" value="header-fixed">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="headerPosition" value="">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="title">Footer:</label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="footerPosition" value="">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="customize-item">
                            <ul class="customize-colors">
                                <li>
                                    <span class="color-item color-bluecorel" data-theme="bluecorel"></span>
                                </li>
                                <li>
                                    <span class="color-item color-orange" data-theme="orange"></span>
                                </li>
                                <li>
                                    <span class="color-item color-green" data-theme="green"></span>
                                </li>
                                <li>
                                    <span class="color-item color-seagreen" data-theme="seagreen"></span>
                                </li>
                                <li>
                                    <span class="color-item color-blue" data-theme="blue"></span>
                                </li>
                                <li>
                                    <span class="color-item color-purple" data-theme="purple"></span>
                                </li>
                                <li>
                                    <span class="color-item color-redy" data-theme="redy"></span>
                                </li>
                                <li>
                                    <span class="color-item color-darkpink" data-theme="darkpink"></span>
                                </li>
                                <li>
                                    <span class="color-item color-purplish" data-theme="purplish"></span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <a href="">
                    <i class="fa fa-cog fa-spin"></i>Customize
                </a>
            </li>
        </ul>
    </footer>


</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>



