﻿<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @{
//TimeSpan timeOfDay = DateTime.Now.TimeOfDay;
//int hour = timeOfDay.Hours;
//var dayTime =hour >= 12 && hour <= 24 ? "night" : "day";
        }
        @*<div class="navbar-brand-ring dayTime">
                                <div class="planets">
                                    <i class="fas fa-sun"></i>
                                    <i class="fas fa-star star1"></i>
                                    <i class="fas fa-star star2"></i>
                                    <i class="fas fa-star star3"></i>
                                    <i class="fas fa-star star4"></i>
                                </div>
                                <a class="navbar-brand day-logo" href="/"><img src="~/images/logo.svg" /></a>
                                <a class="navbar-brand night-logo" href="/"><img src="~/images/logo-night.svg" /></a>
            </div>*@

        <a class="navbar-brand" href="/"><img src="~/images/logo.svg" /></a>

    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right pull-right">

        <li class="dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> @User.Identity.Name <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                @{
                    var userIdentity = User.Identities.FirstOrDefault();
                }
                <li>
                    <a href="#" onclick="loadUserByEmail('@userIdentity.Name')"><i class="fa fa-user fa-fw"></i> My Profile</a>
                </li>
                @*<li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>*@
                <li class="divider"></li>
                <li>
                    <a href="#" class="logout-btn"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <span class="sidebar-toggle-btn">
                <i class="fa fa-chevron-left"></i>
            </span>
            <ul class="nav" id="side-menu">
                <!--   <li class="sidebar-search">
                      <div class="input-group custom-search-form">
                          <input type="text" class="form-control" placeholder="Search...">
                          <i class="ti-search"></i>
                      </div>

                  </li>-->
                <li><a href="/"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                @{
                    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
                    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
                    var isStudent = User.IsInRole(UserRoles.Student.ToString());
                }


                <li>
                    <a onclick="loadUserByEmail('@userIdentity.Label',this)" data-type="myProfileBtn"><i class="fa fa-user fa-fw"></i> My Profile</a>
                </li>


@if (isAdmin)
{
                <li class="disciplineMenu mainPage">
                    @{Html.RenderPartial("Common/_DisciplineMenu"); }
                </li>
                        }
                @if (isAdmin)
                {
                    <li>
                        <a class="researcherBtn"><i class="ilum ilum-researcher fa-fw"></i> Researchers</a>
                    </li>
                    <li>
                        <a class="studentBtn"><i class="fas fa-user fa-fw"></i> Students</a>
                    </li>

                    <li>
                        @if (Convert.ToInt32(ViewBag.SubjectAllocationRequestCount) > 0)
                        {
                            <a class="showRequestsBtn"><i class="ilum ilum-advice-request fa-fw"></i> Subject Requests</a>
                        }
                        else
                        {
                            <a onclick="smallSwal('No Request Available','','info')"><i class="ilum ilum-advice-request fa-fw"></i> Subject Requests</a>
                        }
                    </li>
                            <li>
                                @if (Convert.ToInt32(ViewBag.ChapterAllocationRequestCount) > 0)
                                {
                                    <a class="showChapterRequestsBtn"><i class="ilum ilum-advice-request fa-fw"></i> Chapter Requests</a>
                                }
                                else
                                {
                                    <a onclick="smallSwal('No Request Available','','info')"><i class="ilum ilum-advice-request fa-fw"></i> Chapter Requests</a>
                                }
                            </li>
                }
                else if (isResearcher || isStudent)
                {
                    <li>
                        <a class="myAllocatedSubjects"><i class="fas fa-book fa-fw"></i> Allocated Subjects</a>
                    </li>
                    <li>

                        <a class="showRequestsBtn"><i class="ilum ilum-advice-request fa-fw"></i> Subject Requests</a>

                    </li>
                    <li>
                        <a  class="myAllocatedChapters"><i class="fas fa-book-open fa-fw"></i> Allocated Chapters</a>
                    </li>
                        <li>

                            <a class="showChapterRequestsBtn"><i class="ilum ilum-advice-request fa-fw"></i> Chapter Requests</a>

                        </li>
                }
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
