﻿@model AttributeViewModel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{
<form id="addNewArrivalForm" asp-controller="Attribute" asp-action="@("Add"+Model.Type+"NewArrival")">
    <div asp-validation-summary="ModelOnly" class="ui error message"></div>
    <input asp-for="Id" hidden />
    <div class="modal-body">
        <div class="newCommentarySection">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">New Arrival Points</label>
                        <textarea asp-for="NewArrivalText" class="tmceeditor"></textarea>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="modal-footer pt-2">

        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

        <button type="submit" class="btn btn-success rounded-0" id="saveBtn"> Save</button>

    </div>
</form>
                            }