﻿
<div class="modal fade" id="RequestSubjectAllocationModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Add Request for Subject Allocation
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col col-12 col-md-6 mb-2">

                        <select class="EducationLevelDDL dropdown"></select>
                    </div>

                    <div class="col  col-12 col-md-6 mb-2">

                        <select class="BoardLevelDDL dropdown"></select>

                    </div>

                    <div class="col col-12 col-md-6  mb-2">

                        <select class="ClassDDL dropdown"></select>

                    </div>

                    <div class="col col-12 col-md-6  mb-2">

                        <select class="SubjectDDL dropdown"></select>

                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer pt-2">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                    <div class="form-group">
                        <button type="button" class="btn btn-success rounded-0" id="requestSubjectAllocationBtn"><i class="ilum ilum-advice-request"></i> Add Request</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>