﻿@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager;

@model List<SubjectViewModel>
@{
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    Layout = null;
}
@if (Model.Count > 0)
{
    <div class="row RequestedSubjectsPage">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
            <div id="AllRequests" class="student-section p82-topbot totalPatient">
                <div class="allPatients">
                    <div class="header">
                        <h2>
                            <i class="fas fa-book"></i> Requested Subjects
                        </h2>
                        @*<div class="input-group custom-search-form right">
        <input type="text" class="form-control" placeholder="Search...">
        <i class="ti-search"></i>*@
                        @if (!isAdmin)
                        {
                            <a data-toggle="tooltip" data-placement="left" title="Request for New Subject" class="right custom-button requestSubjectAllocationOpenBtn"><i class="fas fa-plus-circle"></i></a>
                        }
                    </div>
                   


                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Sr.</th>
                                @if (isAdmin)
                                {
                                    <th class="text-left">Requested By</th>
                                    <th class="text-left">Requested User</th>
                                }

                                <th class="text-left">Subject</th>
                                <th class="text-left">Board/Body</th>
                                <th class="text-left">Class</th>
                                @if (isAdmin)
                                {
                                    <th>Allocate</th>
                                }
                                else
                                {
                                    <th></th>

                                }
                            </tr>
                        </thead>
                        @{
                            var serialNo = 0;
                            if (Model.Count > 0)
                            {
                                <tbody>
                                    @foreach (var subject in Model)
                                    {

                                        serialNo++;
                                        <tr>
                                            <td>@serialNo </td>
                                            @if (isAdmin)
                                            {
                                                var role = await userManager.IsInRoleAsync(subject.User, UserRoles.Student.ToString()) ? UserRoles.Student.ToString() : UserRoles.Researcher.ToString();
                                                <td class="text-left">
                                                    <strong> <a href="#" class="researcherViewbutton" data-toggle="tooltip" data-placement="left" data-id="@subject.User.Id">@(subject.User.FirstName + " " + subject.User.LastName)</a></strong>
                                                </td>
                                                <td class="text-left">
                                                    <strong> <a href="#" class="researcherViewbutton" data-toggle="tooltip" data-placement="left" data-id="@subject.User.Id">@role</a></strong>
                                                </td>
                                            }
                                            <td class="text-left">
                                                <strong>@subject.Name </strong>
                                            </td>

                                            <td class="text-left">@subject.BoardLevel.Name </td>
                                            <td class="text-left">@subject.Class.Name </td>


                                            <td>

                                                <div class="actionBtns ">
                                                    @if (!isAdmin)
                                                    {
                                                        <i class="fa fa-trash deleteAllocatedSubjectRequestBtn" data-toggle="tooltip" data-placement="left" data-subjectid="@subject.Id" data-userid="@subject.UserId" title="Delete this request."> </i>
                                                    }
                                                    else
                                                    {
                                                        if (subject.RequestStatusId == Convert.ToInt32(RequestsStatus.Processed))
                                                        {
                                                            <i class="fas fa-check" data-toggle="tooltip" data-placement="left" data-subjectid="@subject.Id" data-userid="@subject.UserId" title="Subject Allocated"> </i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fas fa-clipboard-check allocateSubjectBtn" data-toggle="tooltip" data-placement="left" data-subjectid="@subject.Id" data-userid="@subject.UserId" title="Allocate Subject"> </i>
                                                        }
                                                    }


                                                </div>
                                            </td>
                                        </tr>


                                    }




                                </tbody>
                            } }
                    </table>
                </div>



            </div>
            <!-- /.container -->
        </div>
    </div>
}
else
{

    <div class="alert alert-danger text-center mb-2 NoRequestedSubjectsPage"> No Subject allocated yet!!</div>
    @if (isAdmin)
    {
        <div class="form-group-lg">

            <a class="btn custom-btn btn-blue allocatedSubjectBtn">Allocate Subject</a>

        </div>
    }
    else if (isResearcher || isStudent)
    {

        <div class="form-group-lg">

            <a class="btn custom-btn btn-blue requestSubjectAllocationOpenBtn"><i class="ilum ilum-advice-request"></i> Request Subject Allocation</a>

        </div>
    }


}
