﻿
@{
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var attributes = ViewBag.Attributes as List<AttributeViewModel>;


}
@if (isAdmin)
{

@*<li>
    <a href="/Test/Create">
        <i class="fas fa-tasks  red-text"></i> Create Test
    </a>
</li>
<li>
    <a href="/Test/list">
        <i class="fas fa-th-list  red-text"></i> Create Test List
    </a>
</li>
<li>
    <a class="d-flex">
        <i class="fas fa-clipboard-list  blue-text"></i> <span class="li-text"> Start Exam Simulation</span>
    </a>
</li>
<li>
    <a class="d-flex ">
        <i class="fas fa-edit green-text"></i> <span class="li-text"> Resume/Manage Sessions</span>
    </a>
</li>
<li>
    <a class="d-flex">
        <i class="fas fa-tachometer-alt orange-text"></i>  <span class="li-text">Performance Analysis</span>
    </a>
</li>
<li>
    <a class="d-flex">
        <i class="fas fa-list-alt  pink-text"></i>  <span class="li-text">Present/Future Value Tables</span>
    </a>
</li>*@

}