﻿@model Management.ViewModels.AttributeViewModel
@{
    var attributType = Model.Type == AttributeType.EducationLevel ? "Discipline" : Model.Type == AttributeType.BoardLevel ? "Board/Body" : Model.Type == AttributeType.SubSection ? AttributeType.SubSectionText : Model.Type;
}

@if (Model.Id != 0)
{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var isTeacher = User.IsInRole(UserRoles.Teacher.ToString());
    var headerText = Model.ChildText == AttributeType.Class ? AttributeType.Class + "es" : Model.ChildText == "Body" || Model.ChildText == "Boards" ? Model.ChildText : Model.ChildText + "s";

    if (isAdmin)
    {
        <div class="opened-attribute" data-attributetype="@Model.Type" data-attributeid="@Model.Id">
            <div class="row ViewAttributesPage unselectable">
                <div class="col-12 mb-2">

                    @if (Model.Type != AttributeType.EducationLevel)
                    {
                        <a class="custom-button btn-blue oval-rounded viewbutton " data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back"><i class="fas fa-chevron-circle-left"></i></a>
                    }
                    <a class="custom-button btn-blue oval-rounded" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Dashboard" href="/"><i class="fas fa-home"></i></a>

                </div>
                <div class="col-lg-12">
                    <div class="page-header shadow">
                        <div class="w-100 float-left position-relative ">

                            <div class="attribute-type-title">
                                <span> @attributType</span>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.IconUrl))
                            {
                                var fileName = Model.IconUrl.Split("/")[2];
                                <h3 class="text-dark d-block font-weight-bold font-size-35">
                                    <div class="attribute-icon mx-auto">
                                        <div class="attributeDetailed profile-img" style="background-image:url('@Model.IconUrl')"></div>

                                        <div class="display-table">
                                            <div class="display-cell">
                                                <i class="deleteAttributeMonogramBtn fas fa-trash text-center" data-toggle="tooltip" data-placement="top" title="Delete Monogram" data-attributetype="@Model.Type" data-attributeid="@Model.Id"></i>

                                            </div>
                                        </div>
                                    </div>

                                    @Model.Name
                                </h3>
                            }
                            else
                            {
                                <h3 class="text-dark d-block font-weight-bold font-size-35">@Model.Name</h3>
                            }



                            <div class="actionBtns right">
                                @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.Class && Model.Type != AttributeType.BoardLevel)
                                {
                                    <a href="/Book/@Model.Type?id=@Model.Id"> <i class="fas fa-book-open" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@Model.Id" data-attributetype="@Model.Type" title="Read this @Model.Type"></i></a>
                                }
                                <i class="fas fa-file-image addMonoGramBtn" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@Model.Name" data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-parenttype="@Model.ParentType" data-parentid="@Model.ParentId" title="Add Monogram"></i>
                                @if ((!User.IsInRole(UserRoles.Admin.ToString()) && Model.Type != AttributeType.Subject) && (!User.IsInRole(UserRoles.Admin.ToString()) && Model.Type != AttributeType.Class))
                                {
                                    <i class="fas fa-edit editbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@Model.Name" data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-parenttype="@Model.ParentType" data-parentid="@Model.ParentId" title="Edit"></i>
                                    <i class="fas fa-trash deletebutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@Model.Name" data-attributetype="@Model.Type" data-attributeid="@Model.Id" data-parentid="@Model.ParentId" title="Delete"> </i>
                                }
                                else if (User.IsInRole(UserRoles.Admin.ToString()))
                                {
                                    <i class="fas fa-edit editbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@Model.Name" data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-parenttype="@Model.ParentType" data-parentid="@Model.ParentId" title="Edit"></i>
                                    <i class="fas fa-trash deletebutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@Model.Name" data-attributetype="@Model.Type" data-attributeid="@Model.Id" data-parentid="@Model.ParentId" title="Delete"> </i>
                                }
                            </div>
                            <div class="w-100">
                                @if (Model.Type != AttributeType.SubSection)
                                {
                                    <a href="#AllAttributes" class="mb-1 ml-3 link-btn "><i class="fas fa-th-list"></i> List of @headerText</a>
                                }
                                @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.BoardLevel && Model.Type != AttributeType.Class)
                                {
                                    <a href="#Tests" class="mb-1 ml-3 link-btn"><i class="fas fa-th-list"></i> List of Tests</a>
                                    <a href="#PowerSlides" class="mb-1 ml-3 link-btn"><i class="fas fa-th-list"></i> List of Power Slides</a>
                                    <a href="#ExamQuestion" class="mb-1 ml-3 link-btn"><i class="fas fa-th-list"></i> List of Questions</a>
                                }
                            </div>
                            <div class="attribute-newarrival my-3">
                                @if (Model.Type == AttributeType.Subject && string.IsNullOrEmpty(Model.NewArrivalText))
                                {
                                    <a class="newArrivalBtn newArrivalAddBtn" data-attributetype="@Model.Type" data-id="@Model.Id">Add New Arrivals</a>
                                }
                                else if (Model.Type == AttributeType.Subject)
                                {
                                    <a class="newArrivalBtn newArrivalUpdateBtn" data-attributetype="@Model.Type" data-id="@Model.Id">Update New Arrivals</a>
                                }
                            </div>
                        </div>



                    </div>

                </div>
                <!-- /.col-lg-12 -->
            </div>




            @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.Class && Model.Type != AttributeType.BoardLevel && (isAdmin || isResearcher))
            {
                Html.RenderPartial("~/Views/Set/_SetModals.cshtml");
                <div class="attribute-type-title ml-2 mt-3 unselectable">
                    <span> Sets</span>
                </div>
                <div class="listOfSets unselectable">
                    @{
                        var sets = ViewBag.Sets as List<Set>;
                        Html.RenderPartial("~/Views/Set/_ListOfSets.cshtml", sets);
                    }
                </div>
                Html.RenderPartial("~/Views/Set/_ListOfSetQuestions.cshtml", sets);
            }


            <div class="row unselectable">
                @if (Model.Type != AttributeType.SubSection)
                {
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                        <div id="AllAttributes" class="student-section p82-topbot totalPatient">
                            <div class="allPatients">
                                <div class="header">
                                    <h2>

                                        <i class="fas fa-th-list"></i> List of @headerText
                                    </h2>
                                    @*<div class="input-group custom-search-form right">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <i class="ti-search"></i>
                                        </div>*@


                                    <a data-attributeid="@Model.Id" data-parentattributetype="@Model.Type" data-attributetype="@Model.ChildType" data-modaltext="@Model.ChildText" data-toggle="tooltip" data-placement="top" title="Add New @Model.ChildText" class="right custom-button addbutton wrapperAddBtn"><i class="fas fa-plus-circle"></i></a>

                                    <a class="custom-button right viewbutton" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back"><i class="fas fa-chevron-circle-left"></i></a>




                                </div>
                                <div class="recommendedSection allAttributesView">


                                    <div class="attributesCol">

                                        <div class="attributesSection">

                                            <div class="attributesHeader">
                                                <div class="pdetail name phCol">
                                                    <a href="javascript:void(0)">
                                                        Serial No.
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol w-55">
                                                    <a href="javascript:void(0)">
                                                        Name
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- attributesHeader -->



                                            <div class="sortable table-body all-attributes @(Model.Type + Model.Id + "Childs")">
                                                @{ Html.RenderPartial("Common/_AllAttribute", Model.Childs);}
                                            </div>

                                        </div>

                                        @*<div class="paginationWrapp">
                                                <a href="#" class="previousPage"><i class="ti-view-list"> </i> Load More</a>

                                            </div>*@
                                        <!-- paginationWrapp -->

                                    </div>

                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>
                }
                @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.BoardLevel && Model.Type != AttributeType.Class)
                {
                    @*<div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                            @Html.Partial("~/Views/Test/_TestModals.cshtml", Model)
                            <div id="Tests" class="student-section p82-topbot totalPatient">
                                <div class="allPatients">
                                    <div class="header">
                                        <h2>

                                            <i class="fas fa-tasks"></i> List of
                                            @if (Model.Type == AttributeType.Subject)
                                            {
                                                <span> Mocks </span>
                                            }
                                            else
                                            {
                                                <span>Tests</span>
                                            }
                                        </h2>

                                        <a data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-toggle="tooltip" data-placement="top" class="right custom-button addTestbutton wrapperAddBtn"><i class="fas fa-plus-circle"></i></a>

                                    </div>
                                    <div class="allAttributesView">


                                        <div class="attributesCol">

                                            <div class="attributesSection">

                                                <div class="attributesHeader">
                                                    <div class="pdetail name phCol">
                                                        <a href="javascript:void(0)">
                                                            Serial No.
                                                            <i class="fas fa-angle-double-down">
                                                            </i>
                                                        </a>
                                                    </div>
                                                    <div class="pdetail phCol w-55">
                                                        <a href="javascript:void(0)">
                                                            @if (Model.Type == AttributeType.Subject)
                                                            {
                                                                <span>Mock Title</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Test Title</span>
                                                            }
                                                            <i class="fas fa-angle-double-down">
                                                            </i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- attributesHeader -->



                                                <div class="table-body all-attributes">

                                                </div>

                                            </div>

                                            <!-- paginationWrapp -->

                                        </div>

                                    </div>
                                </div>
                                <!-- /.container -->
                            </div>
                        </div>*@

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                        @Html.Partial("~/Views/PowerSlide/_PowerSlideModals.cshtml", Model)
                        <div id="PowerSlides" class="student-section p82-topbot totalPatient">
                            <div class="allPatients">
                                <div class="header">
                                    <h2>

                                        <i class="fas fa-tasks"></i> List of <span>Power Slides</span>

                                    </h2>

                                    <a data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-toggle="tooltip" data-placement="top" class="right custom-button addPowerSlidebutton wrapperAddBtn"><i class="fas fa-plus-circle"></i></a>

                                </div>
                                <div class="allAttributesView">


                                    <div class="attributesCol">

                                        <div class="attributesSection">

                                            <div class="attributesHeader">
                                                <div class="pdetail name phCol">
                                                    <a href="javascript:void(0)">
                                                        Serial No.
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol w-55">
                                                    <a href="javascript:void(0)">

                                                        <span>Title</span>

                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- attributesHeader -->



                                            <div class="table-body all-attributes">
                                                @*@{ Html.RenderPartial("~/Views/PowerSlide/_AllPowerSlides.cshtml", Model.Childs);}*@
                                            </div>

                                        </div>

                                        @*<div class="paginationWrapp">
                                                <a href="#" class="previousPage"><i class="ti-view-list"> </i> Load More</a>

                                            </div>*@
                                        <!-- paginationWrapp -->

                                    </div>

                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>

                }
                @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.BoardLevel && Model.Type != AttributeType.Class && Model.Type != AttributeType.Subject)
                {
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">

                        <div id="ExamQuestion" class="student-section p82-topbot totalPatient">
                            <div class="allPatients">
                                <div class="header">
                                    <h2>

                                        <i class="fas fa-tasks"></i> List of <span>Questions</span>
                                    </h2>

                                    <a data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-toggle="tooltip" data-placement="top" class="right custom-button wrapperAddBtn" onclick="openAddingExamQuestionModel()"><i class="fas fa-plus-circle"></i></a>

                                </div>
                                <div class="allAttributesView">


                                    <div class="attributesCol">

                                        <div class="attributesSection">

                                            <div class="attributesHeader">
                                                <div class="pdetail name phCol">
                                                    <a href="javascript:void(0)">
                                                        QId
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol">
                                                    <a href="javascript:void(0)">

                                                        <span>Title</span>

                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol">
                                                    <a href="javascript:void(0)">

                                                        <span>Question Type</span>

                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- attributesHeader -->



                                            <div class="table-body all-attributes">
                                                @*@{ Html.RenderPartial("~/Views/PowerSlide/_AllExamQuestions.cshtml", Model.Childs);}*@
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>
                }
            </div>


            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                    <a class="custom-button btn-blue oval-rounded mb-3 loadDocumentBtn"> <i class="fas fa-book"></i> Load Other Document Here</a>

                </div>
            </div>
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                    <div class="question-detail"></div>
                </div>
            </div>
        </div>

    }

    else if (isResearcher)
    {

        <div class="opened-attribute" data-attributetype="@Model.Type" data-attributeid="@Model.Id">
            <div class="row unselectable">
                <div class="col-12 mb-2">
                    @if (Model.ParentType != AttributeType.BoardLevel && Model.ParentType != AttributeType.Class)
                    {
                        @if (Model.Type != AttributeType.Subject)
                        {

                            <a class="custom-button btn-blue oval-rounded viewbutton" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back"><i class="fas fa-chevron-circle-left"></i></a>

                        }
                    }
                    @if (Model.Type == AttributeType.Subject)
                    {
                        <a class="custom-button btn-blue oval-rounde myAllocatedSubjects" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back to allocated subject"><i class="fas fa-book"></i></a>

                    }
                    <a class="custom-button btn-blue oval-rounded" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Dashboard" href="/"><i class="fas fa-home"></i></a>

                </div>
                <div class="col-lg-12">
                    <div class="page-header shadow">
                        <div class="w-100 float-left position-relative ">
                            <div class="attribute-type-title">
                                <span> @attributType</span>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.IconUrl))
                            {
                                var fileName = Model.IconUrl.Split("/")[2];

                                <h3 class="text-dark d-block font-weight-bold font-size-35">
                                    <div class="attribute-icon mx-auto ">
                                        <div class="attributeDetailed profile-img" style="background-image:url('@Model.IconUrl')"></div>

                                    </div>
                                    @Model.Name
                                </h3>

                            }
                            else
                            {
                                <h3 class="text-dark d-block font-weight-bold font-size-35"> @Model.Name</h3>
                            }







                            <div class="actionBtns right">
                                <i class="fas fa-file-image addMonoGramBtn" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@Model.Name" data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-parenttype="@Model.ParentType" data-parentid="@Model.ParentId" title="Add Monogram"></i>
                                @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.Class && Model.Type != AttributeType.BoardLevel)
                                {
                                    <a href="/Book/@Model.Type?id=@Model.Id"> <i class="fas fa-book-open" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@Model.Id" data-attributetype="@Model.Type" title="Read this @Model.Type"></i></a>
                                }
                                @if (Model.Type != AttributeType.Subject && Model.Type != AttributeType.Class)
                                {
                                    <i class="fas fa-edit editbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@Model.Name" data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-parenttype="@Model.ParentType" data-parentid="@Model.ParentId" title="Edit"></i>
                                    <i class="fas fa-trash deletebutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-modaltext="@Model.Name" data-attributetype="@Model.Type" data-attributeid="@Model.Id" data-parentid="@Model.ParentId" title="Delete"> </i>
                                }
                            </div>
                            <div class="w-100">
                                @if (Model.Type != AttributeType.SubSection)
                                {
                                    <a href="#AllAttributes" class="mb-1 ml-3 link-btn "><i class="fas fa-th-list"></i> List of @headerText</a>
                                }
                                @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.BoardLevel && Model.Type != AttributeType.Class && Model.Type != AttributeType.Subject)
                                {
                                    @*<a href="#Tests" class="mb-1 ml-3 link-btn"><i class="fas fa-th-list"></i> List of Tests</a>*@
                                    <a href="#PowerSlides" class="mb-1 ml-3 link-btn"><i class="fas fa-th-list"></i> List of Power Slides</a>
                                    <a href="#ExamQuestion" class="mb-1 ml-3 link-btn"><i class="fas fa-th-list"></i> List of Questions</a>
                                }
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.Class && Model.Type != AttributeType.BoardLevel && (isAdmin || isResearcher))
            {
                Html.RenderPartial("~/Views/Set/_SetModals.cshtml");
                <div class="attribute-type-title ml-2 mt-3 unselectable">
                    <span> Sets</span>
                </div>
                <div class="listOfSets unselectable">
                    @{
                        var sets = ViewBag.Sets as List<Set>;
                        Html.RenderPartial("~/Views/Set/_ListOfSets.cshtml", sets);
                    }
                </div>
                Html.RenderPartial("~/Views/Set/_ListOfSetQuestions.cshtml", sets);
            }


            <div class="row unselectable">
                @if (Model.Type != AttributeType.SubSection)
                {
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                        <div id="AllAttributes" class="student-section p82-topbot totalPatient">
                            <div class="allPatients">
                                <div class="header">
                                    <h2>

                                        <i class="fas fa-th-list"></i> List of @headerText
                                    </h2>
                                    @*<div class="input-group custom-search-form right">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <i class="ti-search"></i>
                                        </div>*@


                                    @if (Model.ParentType != AttributeType.BoardLevel)
                                    {
                                        <a data-attributeid="@Model.Id" data-parentattributetype="@Model.Type" data-attributetype="@Model.ChildType" data-modaltext="@Model.ChildText" data-toggle="tooltip" data-placement="top" title="Add New @Model.ChildText" class="right custom-button addbutton wrapperAddBtn"><i class="fas fa-plus-circle"></i></a>
                                        @if (Model.Type == AttributeType.Chapter)
                                        {
                                            if (Model.IsParentAllocated)
                                            {
                                                <a class="custom-button right viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back to Subject"><i class="fas fa-chevron-circle-left"></i></a>
                                                <a class="custom-button right myAllocatedChapters" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Go to Allocated Chapters"><i class="fas fa-book-open"></i></a>

                                            }
                                            else
                                            {
                                                <a class="custom-button right myAllocatedChapters" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back to allocated Chapters"><i class="fas fa-book-open"></i></a>

                                            }
                                        }
                                        else if (Model.Type != AttributeType.Subject)
                                        {
                                            <a class="custom-button right viewbutton" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back"><i class="fas fa-chevron-circle-left"></i></a>

                                        }

                                    }
                                    @if (Model.Type == AttributeType.Subject)
                                    {
                                        <a class="custom-button right myAllocatedSubjects" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back to allocated subject"><i class="fas fa-book"></i></a>

                                    }
                                </div>
                                <div class="recommendedSection allAttributesView">


                                    <div class="attributesCol">

                                        <div class="attributesSection">

                                            <div class="attributesHeader">
                                                <div class="pdetail name phCol">
                                                    <a href="javascript:void(0)">
                                                        Serial No.
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol w-55">
                                                    <a href="javascript:void(0)">
                                                        Name
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- attributesHeader -->



                                            <div class="sortable table-body all-attributes @(Model.Type + Model.Id + "Childs")">
                                                @{ Html.RenderPartial("Common/_AllAttribute", Model.Childs);}
                                            </div>

                                        </div>

                                        @*<div class="paginationWrapp">
                                                <a href="#" class="previousPage"><i class="ti-view-list"> </i> Load More</a>

                                            </div>*@
                                        <!-- paginationWrapp -->

                                    </div>

                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>
                }
                @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.BoardLevel && Model.Type != AttributeType.Class)
                {
                    @*<div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                            @Html.Partial("~/Views/Test/_TestModals.cshtml", Model)
                            <div id="Tests" class="student-section p82-topbot totalPatient">
                                <div class="allPatients">
                                    <div class="header">
                                        <h2>

                                            <i class="fas fa-tasks"></i> List of
                                            @if (Model.Type == AttributeType.Subject)
                                            {
                                                <span> Mocks </span>
                                            }
                                            else
                                            {
                                                <span>Tests</span>
                                            }
                                        </h2>



                                        <a data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-toggle="tooltip" data-placement="top" class="right custom-button addTestbutton wrapperAddBtn"><i class="fas fa-plus-circle"></i></a>

                                    </div>
                                    <div class="allAttributesView">


                                        <div class="attributesCol">

                                            <div class="attributesSection">

                                                <div class="attributesHeader">
                                                    <div class="pdetail name phCol">
                                                        <a href="javascript:void(0)">
                                                            Serial No.
                                                            <i class="fas fa-angle-double-down">
                                                            </i>
                                                        </a>
                                                    </div>
                                                    <div class="pdetail phCol w-55">
                                                        <a href="javascript:void(0)">
                                                            @if (Model.Type == AttributeType.Subject)
                                                            {
                                                                <span>Mock Title</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Test Title</span>
                                                            }
                                                            <i class="fas fa-angle-double-down">
                                                            </i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- attributesHeader -->



                                                <div class="table-body all-attributes">
                                                </div>

                                            </div>

                                            <!-- paginationWrapp -->

                                        </div>

                                    </div>
                                </div>
                                <!-- /.container -->
                            </div>
                        </div>*@

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                        @Html.Partial("~/Views/PowerSlide/_PowerSlideModals.cshtml", Model)
                        <div id="PowerSlides" class="student-section p82-topbot totalPatient">
                            <div class="allPatients">
                                <div class="header">
                                    <h2>

                                        <i class="fas fa-tasks"></i> List of <span>Power Slides</span>

                                    </h2>

                                    <a data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-toggle="tooltip" data-placement="top" class="right custom-button addPowerSlidebutton wrapperAddBtn"><i class="fas fa-plus-circle"></i></a>

                                </div>
                                <div class="allAttributesView">


                                    <div class="attributesCol">

                                        <div class="attributesSection">

                                            <div class="attributesHeader">
                                                <div class="pdetail name phCol">
                                                    <a href="javascript:void(0)">
                                                        Serial No.
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol w-55">
                                                    <a href="javascript:void(0)">

                                                        <span>Title</span>

                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- attributesHeader -->



                                            <div class="table-body all-attributes">
                                                @*@{ Html.RenderPartial("~/Views/PowerSlide/_AllPowerSlides.cshtml", Model.Childs);}*@
                                            </div>

                                        </div>

                                        @*<div class="paginationWrapp">
                                                <a href="#" class="previousPage"><i class="ti-view-list"> </i> Load More</a>

                                            </div>*@
                                        <!-- paginationWrapp -->

                                    </div>

                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>


                }

                @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.BoardLevel && Model.Type != AttributeType.Class && Model.Type != AttributeType.Subject)
                {
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">

                        <div id="ExamQuestion" class="student-section p82-topbot totalPatient">
                            <div class="allPatients">
                                <div class="header">
                                    <h2>

                                        <i class="fas fa-tasks"></i> List of<span> Questions</span>
                                    </h2>

                                    <a data-attributeid="@Model.Id" data-attributetype="@Model.Type" data-toggle="tooltip" data-placement="top" class="right custom-button wrapperAddBtn" onclick="openAddingExamQuestionModel()"><i class="fas fa-plus-circle"></i></a>

                                </div>
                                <div class="allAttributesView">


                                    <div class="attributesCol">

                                        <div class="attributesSection">

                                            <div class="attributesHeader">
                                                <div class="pdetail name phCol">
                                                    <a href="javascript:void(0)">
                                                        QId
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol w-25">
                                                    <a href="javascript:void(0)">

                                                        <span>Title</span>

                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol w-25">
                                                    <a href="javascript:void(0)">

                                                        <span>Question Type</span>

                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- attributesHeader -->



                                            <div class="table-body all-attributes">
                                                @*@{ Html.RenderPartial("~/Views/PowerSlide/_AllExamQuestions.cshtml", Model.Childs);}*@
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                    <div class="question-detail"></div>
                </div>
            </div>
        </div>

    }
    else if (isStudent || isTeacher)
    {

        <div class="opened-attribute" data-attributetype="@Model.Type" data-attributeid="@Model.Id">
            <div class="row unselectable">
                <div class="col-12 mb-2">
                    @if (Model.ParentType != AttributeType.BoardLevel && Model.ParentType != AttributeType.Class)
                    {
                        @if (Model.Type != AttributeType.Subject)
                        {

                            <a class="custom-button btn-blue oval-rounded viewbutton" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back"><i class="fas fa-chevron-circle-left"></i></a>

                        }
                    }
                    @if (Model.Type == AttributeType.Subject)
                    {
                        <a class="custom-button btn-blue oval-rounded myAllocatedSubjects" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back to allocated subject"><i class="fas fa-book"></i></a>

                    }
                    <a class="custom-button btn-blue oval-rounded " data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Dashboard" href="/"><i class="fas fa-home"></i></a>


                </div>
                <div class="col-lg-12">
                    <div class="page-header shadow">
                        <div class="w-100 float-left position-relative ">
                            <div class="attribute-type-title">
                                <span> @attributType</span>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.IconUrl))
                            {
                                var fileName = Model.IconUrl.Split("/")[2];
                                <h3 class="text-dark d-block font-weight-bold font-size-35">
                                    <div class="attribute-icon mx-auto ">
                                        <div class="attributeDetailed profile-img" style="background-image:url('@Model.IconUrl')"></div>

                                    </div>

                                    @Model.Name
                                </h3>
                            }

                            else
                            {
                                <h3 class="text-dark d-block font-weight-bold font-size-35"> @Model.Name</h3>
                            }



                            <div class="actionBtns right">

                                @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.Class && Model.Type != AttributeType.BoardLevel)
                                {
                                    <a href="/Book/@Model.Type?id=@Model.Id"> <i class="fas fa-book-open" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@Model.Id" data-attributetype="@Model.Type" title="Read this @Model.Type"></i></a>
                                }

                            </div>

                        </div>
                    </div>
                    <div class="w-100">
                        @if (Model.Type != AttributeType.SubSection)
                        {
                            <a href="#AllAttributes" class="mb-1 ml-3 link-btn"><i class="fas fa-th-list"></i> List of @headerText</a>
                        }
                        @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.BoardLevel && Model.Type != AttributeType.Class)
                        {
                           <a href="#PowerSlides" class="mb-1 ml-3 link-btn"><i class="fas fa-th-list"></i> List of Power Slides</a>
                        }
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>


            <div class="row ">
                @if (Model.Type != AttributeType.SubSection)
                {
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                        <div id="AllAttributes" class="student-section p82-topbot totalPatient">
                            <div class="allPatients">
                                <div class="header">
                                    <h2>

                                        <i class="fas fa-th-list"></i> List of @headerText
                                    </h2>
                                    @*<div class="input-group custom-search-form right">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <i class="ti-search"></i>
                                        </div>*@


                                    @if (Model.ParentType != AttributeType.BoardLevel)
                                    {
                                        @if (Model.Type == AttributeType.Chapter)
                                        {
                                            if (Model.IsParentAllocated)
                                            {
                                                <a class="custom-button right viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back to Subject"><i class="fas fa-chevron-circle-left"></i></a>
                                                @*<a class="custom-button right myAllocatedChapters" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Go to Allocated Chapters"><i class="fas fa-book-open"></i></a>*@

                                            }
                                            else
                                            {
                                                @*<a class="custom-button right myAllocatedChapters" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back to allocated Chapters"><i class="fas fa-book-open"></i></a>*@

                                            }
                                        }
                                        else if (Model.Type != AttributeType.Subject)
                                        {
                                            <a class="custom-button right viewbutton" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back"><i class="fas fa-chevron-circle-left"></i></a>

                                        }

                                    }
                                    @if (Model.Type == AttributeType.Subject)
                                    {
                                        <a class="custom-button right myAllocatedSubjects" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributeid="@Model.ParentId" data-attributetype="@Model.ParentType" title="Back to allocated subject"><i class="fas fa-book"></i></a>

                                    }
                                </div>
                                <div class="recommendedSection allAttributesView">


                                    <div class="attributesCol">

                                        <div class="attributesSection">

                                            <div class="attributesHeader">
                                                <div class="pdetail name phCol">
                                                    <a href="javascript:void(0)">
                                                        Serial No.
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol w-55">
                                                    <a href="javascript:void(0)">
                                                        Name
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- attributesHeader -->



                                            <div class="sortable table-body all-attributes @(Model.Type + Model.Id + "Childs")">
                                                @{ Html.RenderPartial("Common/_AllAttribute", Model.Childs);}
                                            </div>

                                        </div>

                                        @*<div class="paginationWrapp">
                                                <a href="#" class="previousPage"><i class="ti-view-list"> </i> Load More</a>

                                            </div>*@
                                        <!-- paginationWrapp -->

                                    </div>

                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>
                }
                @if (Model.Type != AttributeType.EducationLevel && Model.Type != AttributeType.BoardLevel && Model.Type != AttributeType.Class)
                {
                    @*<div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
                            @Html.Partial("~/Views/Test/_TestModals.cshtml", Model)
                            <div id="Tests" class="student-section p82-topbot totalPatient">
                                <div class="allPatients">
                                    <div class="header">
                                        <h2>

                                            <i class="fas fa-tasks"></i> List of
                                            @if (Model.Type == AttributeType.Subject)
                                            {
                                                <span> Mocks </span>
                                            }
                                            else
                                            {
                                                <span>Tests</span>
                                            }
                                        </h2>
                                    </div>
                                    <div class="allAttributesView">


                                        <div class="attributesCol">

                                            <div class="attributesSection">

                                                <div class="attributesHeader">
                                                    <div class="pdetail name phCol">
                                                        <a href="javascript:void(0)">
                                                            Serial No.
                                                            <i class="fas fa-angle-double-down">
                                                            </i>
                                                        </a>
                                                    </div>
                                                    <div class="pdetail phCol w-55">
                                                        <a href="javascript:void(0)">
                                                            @if (Model.Type == AttributeType.Subject)
                                                            {
                                                                <span>Mock Title</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Test Title</span>
                                                            }
                                                            <i class="fas fa-angle-double-down">
                                                            </i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- attributesHeader -->



                                                <div class="table-body all-attributes">

                                                </div>

                                            </div>


                                            <!-- paginationWrapp -->

                                        </div>

                                    </div>
                                </div>
                                <!-- /.container -->
                            </div>
                        </div>*@

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">

                        <div id="PowerSlides" class="student-section p82-topbot totalPatient">
                            <div class="allPatients">
                                <div class="header">
                                    <h2>

                                        <i class="fas fa-tasks"></i> List of <span>Power Slides</span>

                                    </h2>

                                </div>
                                <div class="allAttributesView">


                                    <div class="attributesCol">

                                        <div class="attributesSection">

                                            <div class="attributesHeader">
                                                <div class="pdetail name phCol">
                                                    <a href="javascript:void(0)">
                                                        Serial No.
                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="pdetail phCol w-55">
                                                    <a href="javascript:void(0)">

                                                        <span>Title</span>

                                                        <i class="fas fa-angle-double-down">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- attributesHeader -->



                                            <div class="table-body all-attributes">
                                                @*@{ Html.RenderPartial("~/Views/PowerSlide/_AllPowerSlides.cshtml", Model.Childs);}*@
                                            </div>

                                        </div>

                                        @*<div class="paginationWrapp">
                                                <a href="#" class="previousPage"><i class="ti-view-list"> </i> Load More</a>

                                            </div>*@
                                        <!-- paginationWrapp -->

                                    </div>

                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>
                }

               
            </div>

        </div>

    }
}
@Html.Partial("~/Views/Shared/Common/_BookModals.cshtml", new AttributeViewModel
    {
        Type = Model.Type,
        Id = Model.Id
    })
