﻿<div class="modal fade" id="addTypeModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Add new <span class="attribute-type" data-attributeid=""></span>
                    <span class="type"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">

                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <input type="text" name="name" required placeholder="Name" />
                            </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <input type="text" name="sortNumber" required placeholder="Sort Number" />
                            </div>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-success rounded-0" id="saveBtn">Save</button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div id="AllAttributes" class="student-section p82-topbot totalPatient">
                                <div class="allPatients">
                                    <div class="header">
                                        <span class="title">All <span class="attribute-type"></span></span>

                                        @*<div class="input-group custom-search-form right">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">
                                                    <i class="ti-search"></i>
                                                </button>
                                            </span>
                                        </div>*@


                                    </div>
                                    <div class="recommendedSection allAttributesView">


                                        <div class="attributesCol">

                                            <div class="attributesSection">

                                                <div class="attributesHeader">
                                                    <div class="pdetail name phCol">
                                                        <a href="javascript:void(0)">
                                                            Serial No.
                                                            <i class="fas fa-angle-double-down">
                                                            </i>
                                                        </a>
                                                    </div>
                                                    <div class="pdetail phCol w-55">
                                                        <a class="text-left" href="javascript:void(0)">
                                                            Name
                                                            <i class="fas fa-angle-double-down">
                                                            </i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- attributesHeader -->



                                                <div class="table-body all-attributes">

                                                </div>

                                            </div>

                                            @*<div class="paginationWrapp">
                                                    <a href="#" class="previousPage"><i class="ti-view-list"> </i> Load More</a>

                                                </div>*@
                                            <!-- paginationWrapp -->

                                        </div>

                                    </div>
                                </div>
                                <!-- /.container -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer pt-2">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="editTypeModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Edit <span class="attribute-type" data-attributeid=""></span>
                    <span class="type"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">

                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6-col-xl-6">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Name" required />
                            </div>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <input type="number" name="sortNumber" required placeholder="" />
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer pt-2">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                    <div class="form-group">
                        <button type="button" class="btn btn-success rounded-0" id="saveEditBtn">Save</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

