﻿
@model List<ChapterViewModel>
@{
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isTeacher = User.IsInRole(UserRoles.Teacher.ToString());
    Layout = null;
}

@if (Model.Count > 0)
{
    <div class="row AllocatedChaptersPage">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
            <div id="AllAttributes" class="student-section p82-topbot totalPatient">
                <div class="allPatients">
                    <div class="header">
                        <h2>
                            Allocated Chapters
                        </h2>
                        @*<div class="input-group custom-search-form right">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="ti-search"></i>
                            </div>*@
                        <a class="custom-button right" data-toggle="tooltip" data-placement="left" title="Dashboard" href="/">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        @if (isAdmin)
                        {
                            <a data-toggle="tooltip" data-placement="left" title="Allocate New Chapter" class="right custom-button allocatedChapterBtn"><i class="fas fa-plus-circle"></i></a>
                        }

                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Sr.</th>
                                    <th class="text-left" width="150">Name</th>
                                    <th class="text-left">Board/Body</th>
                                    <th class="text-left">Class</th>
                                    <th class="text-left">Subject</th>
                                    <th width="180"></th>
                                </tr>
                            </thead>
                            @{
                                var serialNoCh = 0;

                                <tbody>
                                    @foreach (var chapter in Model)
                                    {

                                        serialNoCh++;
                                        if (chapter.IsAllocated)
                                        {


                                            <tr>
                                                <td>@serialNoCh </td>
                                                <td class="text-left">
                                                    <a href="#" class="viewbutton" data-toggle="tooltip" data-placement="left" data-attributeid="@chapter.Id" data-attributetype="Chapter" data-parentid="@chapter.SubjectId">@chapter.Name </a>
                                                </td>

                                                <td class="text-left">@chapter.BoardLevel.Name </td>
                                                <td class="text-left">@chapter.Class.Name </td>
                                                <td class="text-left">@chapter.Subject.Name </td>


                                                <td width="180">

                                                    <div class="actionBtns ">

                                                        <a href="/Book/Chapter?id=@chapter.Id"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="left" title="Read this document"></i></a>





                                                        <i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@chapter.Id" data-attributetype="Chapter" data-parentid="@chapter.SubjectId" title="View Sections"></i>

                                                        @if (isAdmin)
                                                        {
                                                            <i class="fa fa-times deallocateChapterBtn" data-toggle="tooltip" data-placement="left" data-chapterid="@chapter.Id" data-userid="@chapter.UserId" title="Deallocate this chapter"> </i>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {


                                            <tr class="deallocated-row">
                                                <td>@serialNoCh </td>
                                                <td class="text-left">
                                                    <a href="#" data-toggle="tooltip" data-placement="left" data-attributeid="@chapter.Id" data-attributetype="Chapter" data-parentid="@chapter.SubjectId">@chapter.Name </a>
                                                </td>

                                                <td class="text-left">@chapter.BoardLevel.Name </td>
                                                <td class="text-left">@chapter.Class.Name </td>
                                                <td class="text-left">@chapter.Subject.Name </td>

                                                <td>

                                                    <div class="actionBtns ">
                                                        @if (isAdmin)
                                                        {
                                                            <a href="/Book/Chapter?id=@chapter.Id"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="left" title="Read this document"></i></a>

                                                            <i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@chapter.Id" data-attributetype="Chapter" data-parentid="@chapter.SubjectId" title="View Sections"></i>
                                                            <i class="fas fa-clipboard-check allocateChapterBtn" data-toggle="tooltip" data-placement="left" data-chapterid="@chapter.Id" data-userid="@chapter.UserId" title="Allocate chapter"> </i>

                                                        }
                                                        else
                                                        {
                                                            if (chapter.UserChapterRequest != null)
                                                            {

                                                                if (chapter.UserChapterRequest.StatusId == Convert.ToInt32(RequestsStatus.Processed))
                                                                {
                                                                    <i class="ilum ilum-advice-request re-requestChapterAllocation" data-toggle="tooltip" data-placement="left" data-chapterid="@chapter.Id" data-userid="@chapter.UserId" title="Request for this chapter again."> </i>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge badge-pill badge-dark">Admin Approval Pending</span>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <i class="ilum ilum-advice-request re-requestChapterAllocation" data-toggle="tooltip" data-placement="left" data-chapterid="@chapter.Id" data-userid="@chapter.UserId" title="Request for this chapter again."> </i>

                                                            }


                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }


                                    }


                                </tbody>
                            }
                        </table>
                    </div>



                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
}
else
{
    if (!isStudent)
    {
        <div class="alert alert-danger text-center mb-2"> No Chapter allocated yet!!</div>
    }

    @if (isAdmin)
    {
        <div class="row">

            <div class="col col-sm-12  mb-2">
                <a class="form-control btn custom-btn  btn-blue allocatedChapterBtn"><i class="fas fa-book-open"></i> Allocate Chapter</a>
            </div>
        </div>
    }
    else if (isResearcher)
    {
        <div class="row">

            <div class="col col-sm-12  mb-2">

                <a class="form-control btn custom-btn  btn-blue requestChapterAllocationOpenBtn"><i class="ilum ilum-advice-request"></i> Request for Chapter Allocation</a>

            </div>
        </div>
    }


}

