﻿
@model List<SubjectViewModel>
@{
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isTeacher = User.IsInRole(UserRoles.Teacher.ToString());
    Layout = null;
}
@if (Model.Count > 0)
{
    <div class="row AllocatedSubjectsPage">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
            <div id="AllAttributes" class="student-section p82-topbot totalPatient">
                <div class="allPatients">
                    <div class="header">
                        <h2>
                            Allocated Whole Subjects
                        </h2>
                        @*<div class="input-group custom-search-form right">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="ti-search"></i>
                            </div>*@
                        <a class="custom-button right" data-toggle="tooltip" data-placement="left" title="Dashboard" href="/">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                        @if (isAdmin)
                        {
                            <a data-toggle="tooltip" data-placement="left" title="Allocate New Subject" class="right custom-button allocatedSubjectBtn"><i class="fas fa-plus-circle"></i></a>
                        }

                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Sr.</th>
                                    <th class="text-left" width="250">Name</th>
                                    <th class="text-left">Board/Body</th>
                                    <th class="text-left">Class</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @{
                                var serialNo = 0;
                                if (Model.Count > 0)
                                {
                                    <tbody>
                                        @foreach (var subject in Model)
                                        {

                                            serialNo++;
                                            if (subject.IsAllocated)
                                            {


                                                <tr>
                                                    <td>@serialNo </td>
                                                    <td class="text-left">
                                                        <a href="#" class="viewbutton" data-toggle="tooltip" data-placement="left" data-attributeid="@subject.Id" data-attributetype="Subject" data-parentid="@subject.ClassId">@subject.Name </a>
                                                    </td>

                                                    <td class="text-left">@subject.BoardLevel.Name </td>
                                                    <td class="text-left">@subject.Class.Name </td>



                                                    <td>

                                                        <div class="actionBtns ">

                                                            <a href="/Book/Subject?id=@subject.Id"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="left" title="Read this document"></i></a>





                                                            <i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@subject.Id" data-attributetype="Subject" data-parentid="@subject.ClassId" title="View Chapter"></i>
                                                            @*  <i class="fa fa-eye allocatedSubjectViewBtn" data-toggle="tooltip" data-placement="left" data-subjectid="@subject.Id" data-userid="@subject.UserId" title="view"></i>*@
                                                            @if (isAdmin)
                                                            {
                                                                <i class="fa fa-times deallocateBtn" data-toggle="tooltip" data-placement="left" data-subjectid="@subject.Id" data-userid="@subject.UserId" title="Deallocate this subject"> </i>
                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {


                                                <tr class="deallocated-row">
                                                    <td>@serialNo </td>
                                                    <td class="text-left">
                                                        <a href="#" data-toggle="tooltip" data-placement="left" data-attributeid="@subject.Id" data-attributetype="Subject" data-parentid="@subject.ClassId">@subject.Name </a>
                                                    </td>

                                                    <td class="text-left">@subject.BoardLevel.Name </td>
                                                    <td class="text-left">@subject.Class.Name </td>


                                                    <td>

                                                        <div class="actionBtns ">
                                                            @if (isAdmin)
                                                            {
                                                                <a href="/Book/Subject?id=@subject.Id"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="left" title="Read this document"></i></a>

                                                                <i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@subject.Id" data-attributetype="Subject" data-parentid="@subject.ClassId" title="View Chapter"></i>

                                                                @*  <i class="fa fa-eye allocatedSubjectViewBtn" data-toggle="tooltip" data-placement="left" data-subjectid="@subject.Id" data-userid="@subject.UserId" title="view"></i>*@

                                                                <i class="fas fa-clipboard-check allocateSubjectBtn" data-toggle="tooltip" data-placement="left" data-subjectid="@subject.Id" data-userid="@subject.UserId" title="Allocate Subject"> </i>
                                                            }
                                                            else
                                                            {
                                                                if (subject.UserSubjectRequest != null)
                                                                {

                                                                    if (subject.UserSubjectRequest.StatusId == Convert.ToInt32(RequestsStatus.Processed))
                                                                    {
                                                                        <i class="ilum ilum-advice-request re-requestSubjectAllocation" data-toggle="tooltip" data-placement="left" data-subjectid="@subject.Id" data-userid="@subject.UserId" title="Request for this subject again."> </i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-pill badge-dark">Admin Approval Pending</span>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <i class="ilum ilum-advice-request re-requestSubjectAllocation" data-toggle="tooltip" data-placement="left" data-subjectid="@subject.Id" data-userid="@subject.UserId" title="Request for this subject again."> </i>


                                                                }

                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                            }


                                        }


                                    </tbody>
                                } }
                        </table>
                    </div>



                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
}
else
{

    <div class="alert alert-danger text-center  mb-2"> No Subject allocated yet!!</div>
    @if (isAdmin)
    {
        <div class="row">
            <div class="col col-sm-12  mb-2">
                <a class="form-control btn custom-btn btn-blue allocatedSubjectBtn"><i class="fas fa-book"></i> Allocatess Subject</a>
            </div>
        </div>
    }
    else if (isResearcher)
    {
        <div class="row">
            <div class="col col-sm-12  mb-2">

                <a class="form-control btn custom-btn btn-blue requestSubjectAllocationOpenBtn"><i class="ilum ilum-advice-request"></i> Request for Whole Subject Allocation</a>

            </div>

        </div>
    }


}
