﻿@{
    Layout = "~/Views/Master.cshtml";
}
@section Header{
    @RenderSection("CourseHead")
  
}
@Html.Partial("~/views/partials/navigation/simpleTopNavigation.cshtml")
<div class="hero-library">
    <div class="l-wrap-small">
        <div class="l-section-footer-pages">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <h1 class="h1 h-white h-separator h-separator-center text-center l-margin-bottom mainCourseName"></h1>
                        @*<p class="h5 h-white text-center l-margin-bottom-big">
                                Passing is worth it
                            </p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@RenderBody()