﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Contact>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Terratype;

<h2>@Model.Content.MapHeader</h2>
@Html.Terratype(Model.Content.Map)