﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Contact>
@using ContentModels = Umbraco.Web.PublishedContentModels
@using System.Configuration

@{

    var PageTitle = Model.Content.PageTitle;
    var ContactFormHeader = Model.Content.ContactFormHeader;
    var ContactIntro = Model.Content.ContactIntro;
    var AppLink = ConfigurationManager.AppSettings["AppLink"].ToString();
}

<div class='remodal' data-remodal-id='contact-us-modal'>
    <div class='row'>
        <div class='col-md-12'>
            <button class='remodal-close' data-remodal-action='close'></button>
            <div class='col-md-12'>
                <h2>
                    @ContactFormHeader
                </h2>
                <p>
                    @PageTitle
                </p>
            </div>
        </div>
    </div>
    <div class='row l-margin-top'>
        <div class='col-sm-12 l-margin-top text-left'>
            <form class="form" name="contactUsForm" id="contactUsForm">
                <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="TEeO03w2jcASpCp9OqXD/DzULPVCR6LaeonNrZCNQqrXDd/OmKlx59UMzUFgFEsCVKYtuD4Z+bTV4O/d1Oe5MA==" />
                <input type="hidden" name="type" id="type" value="Home Page Contact" />
                <div class='col-md-12'>
                    <div class='row'>

                        <div class='col-md-6'>
                            <label for="full_name">Name</label>
                            <input type="text" name="full_name" id="full_name" class="form-control" placeholder="Full Name" required="required" />
                            <br>
                        </div>
                        <div class='col-md-6'>
                            <label for="email">Email</label>
                            <input type="email" name="email_address" id="email_address" class="form-control" placeholder="Email Address" required="required" />
                        </div>
                        <div class='col-md-12'>
                            <label for="question">Question</label>
                            <textarea name="question" id="question" class="form-control" placeholder="Please outline your question" required="required"></textarea>
                        </div>
                    </div>
                </div>
                <div class='col-sm-12 l-margin-top'>

                    <div class='row'>
                        <div class='col-sm-12'>
                            <p class="SuccessMessage">

                            </p>
                            <p class="ErrorMessage">

                            </p>
                            <a class="btn btn-red l-margin-right-big l-padding-side-3x SubmitBtn" onclick="contactUs()">Submit</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<div class='remodal' data-remodal-id='resources-unavailable-modal'>
    <div class='row'>
        <div class='col-md-12'>
            <button class='remodal-close' data-remodal-action='close'></button>
            <div class='row'>
                <div class='col-md-12 mb-3'>
                    <h2>
                        Sorry! The course resources are not available to trial students.
                    </h2>
                </div>
            </div>
            <div class='col-sm-12 mb-3'>
                <p>
                    To upgrade your account to a paying subscription please click the button below.
                </p>
            </div>
            <div class='col-sm-12' id='actions_btns'>
                <a class="btn btn-red  mx-auto" href="@(AppLink+"/Student/Register")">
                    Upgrade Account
                </a>
            </div>
        </div>
    </div>
</div>