﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels

<section id='plans'>
    <div class='container'>
        @Html.Partial("~/Views/Partials/SectionHeader.cshtml")
       
            @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap3-fluid")
        
    </div>
</section>
