﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

        <h1 class='title1'>@Model.Content.GetPropertyValue("PageTitle")</h1>
        <h2 class='subtitle2'>
            @Model.Content.GetPropertyValue("SubTitle")
        </h2>
