﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Configuration

@{
    var AppLink = ConfigurationManager.AppSettings["AppLink"].ToString();

    Layout = "~/Views/Partials/_CourseLayout.cshtml";
}
@section CourseHead{
    <title>@Model.Content.Name - Class Online</title>
    <link rel="stylesheet" href="@Url.Content("~/css/header.css")" />
}
<div class='l-section-small is-bg-asphalt pt-4'>
    <div class='l-wrap'>
        <div class='container-fluid'>
            <a class="backChapterBtn eobtn mb-3 backBtn"><i class="fas fa-chevron-left"></i> Back</a>
            <div class='notice warning'>
                <div class='p'>
                    <div class='fa fa-info-circle icon'></div>
                    <a href="@(AppLink+"/Account/Login")">
                        Log into your account
                    </a>or
                    <a href="@(AppLink+"/Student/Register")">
                        start
                    </a>learning this course
                </div>
            </div>

            <p class='h6 l-margin-bottom attribute-type'>

            </p>
            <h1 class='h1 h-separator h-separator-left chapterName'></h1>

            <div class='row'>
                <div class='col-md-3'>
                    <div class='l-margin-top-big'>

                        <p class='h4 l-margin-bottom l-margin-top-huge child-attribute-type'>

                        </p>
                        <ul class='course-resources'></ul>
                        <p class='h4 l-margin-bottom l-margin-top'>
                            Contact Us
                        </p>
                        <a class="btn btn-orange btn-wide" data-remodal-target='contact-us-modal'>
                            Ask Any Question
                        </a>
                    </div>
                </div>
                <div class='col-md-9 l-margin-top-big'>


                    <div class='box-item lib-panel p-3' id='chapterDetail'>

                    </div>
                </div>

                <div class='col-12 l-margin-top-big'>
                    <p class='h4 l-margin-bottom'>
                        Other Chapters
                    </p>
                    <div class='panel-group' id='accordion'>
                        <ul class='course-topics-list'></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        $(document).ready(function () {
            var cid = getQueryString("id");
            var attributeName = location.pathname.split('/')[2];
            loadAttribute(attributeName, cid);
        })
        $('.lib-panel').click(function () {
            if ($(this).is('.radius')) { $(this).removeClass('radius'); return; }
            $(this).addClass('radius').siblings().removeClass('radius');
        });
    </script>
