﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels
@{
    Layout = "Master.cshtml";
}
@section Header{
    <title>@Model.Content.Name - Class Online</title>
    <meta name="description" content="@Model.Content.SeoMetaDescription" />
    <link rel="stylesheet" href="@Url.Content("~/css/header.css")" />
}
@Html.Partial("~/views/partials/navigation/simpleTopNavigation.cshtml")
<div class="hero-library">
    <div class="l-wrap-small">
        <div class="l-section-footer-pages">
          
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8  mx-auto">
                        <h1 class="h1 h-white h-separator h-separator-center text-center l-margin-bottom ">
                            @Model.Content.PageTitle
                        </h1>
                        <p class="h5 h-white text-center l-margin-bottom-big">
                            @Model.Content.SubTitle
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='l-asphalt'>
    <div class='l-section'>
        <div class='l-wrap-small'>
            <div class='container-fluid'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <article>
                            @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap3-fluid")
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>