﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels
@{

    Layout = "~/Views/Partials/_CourseLayout.cshtml";
}
@section CourseHead{
    <title>@Model.Content.Name - Class Online</title>
    <link rel="stylesheet" href="@Url.Content("~/css/header.css")" />
    <meta name="description" content="@Model.Content.SeoMetaDescription" />

}

<section id='courses'>

    <div class='container'>


        <div class='row coursesList'>

        </div>

    </div>
</section>