﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels
@using System.Configuration
@{
    var AppLink = ConfigurationManager.AppSettings["AppLink"].ToString();
    Layout = "Master.cshtml";
    var bannerTitle = Model.Content.BannerTitle;
    var bannerDimText = Model.Content.BannerDimText;
    var backgroundImage = Model.Content.BannerBackground != null ? Model.Content.BannerBackground.Url : String.Empty;
}
@section Header{
    <title>@Model.Content.Name - Class Online</title>
    <meta name="description" content="@Model.Content.SeoMetaDescription" />
    <link href="/css/animate.css" rel="stylesheet" />
}
@Html.Partial("~/views/partials/navigation/topNavigation.cshtml")
<section id='free' style="background: url('@backgroundImage') center center no-repeat; background-size: cover;">
    <div class='tmain'>
        <div class='tbase'>
            <div class='container'>
                <div class='row '>
                    <div class='col-lg-8 col-md-10 mx-auto'>
                        <h1 class='title1'>
                            @bannerTitle
                        </h1>

                    </div>
                </div>
               
            </div>
        </div>

    </div>

    <div class="text-center clearfix exploreLink scroll">
        <a href="#courses" class="fa fa-angle-down" aria-hidden="true"></a>
    </div>
</section>
<section class=" mt-5" id=''>
    <div class="container">
        <h1 class='title1 courseTitle text-center'>
            @Model.Content.MainHeading
            <span></span>
        </h1>
        <div class="row ">
            <div class="col-md-6 col-lg-4  mb-5">
                <div class="card h-100 ">
                    <div class="img-wrapper text-center">
                    <img src="~/assets/classOnlineLogo.svg" height="75" /></div>
                    @*<h3 class="text-blue text-center text-shadow-minor font-weight-normal "> @Model.Content.Card1Heading</h3>*@
                    <ul class=" text-blue checklist ">
                        @{
                            var card1FeaturesList1 = Model.Content.Card1Features as List<Umbraco.Core.Models.IPublishedContent>;
                            //var featureList1 = Model.Content.Card1Features.GetProperty("teacherOfferingList").Value as List<Umbraco.Core.Models.IPublishedContent>;

                        }

                        @foreach (var feature in card1FeaturesList1)
                        {
                            <li class=""><span>@feature.Name</span></li>
                        }

                    </ul>

                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100  Strategic_Partner">

                    <div class="img-wrapper">
                        <img src="~/images/StrategicPartnerLogo2.svg" />
                    </div>
                    @*<h3 class="text-blue text-center text-shadow-minor font-weight-normal ">@Model.Content.StrategicPartnerHeader</h3>*@
                    <ul class=" text-blue checklist ">
                        @{
                            var strategicPartnerList = Model.Content.StrategicPartnerList as List<Umbraco.Core.Models.IPublishedContent>;

                        }

                        @foreach (var feature in strategicPartnerList)
                        {
                            <li class=""><span>@feature.Name</span></li>
                        }

                    </ul>



                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 ">
                    <div class="img-wrapper">
                        <img src="~/images/ePublication.svg" />
                    </div>
                    @*<h3 class="text-blue text-center text-shadow-minor font-weight-normal"> @Model.Content.Card2Heading</h3>*@
                    <ul class="text-blue checklist">
                        @{
                            var card2FeaturesList1 = Model.Content.Card2Features as List<Umbraco.Core.Models.IPublishedContent>;
                            //var featureList1 = Model.Content.Card1Features.GetProperty("teacherOfferingList").Value as List<Umbraco.Core.Models.IPublishedContent>;

                        }

                        @foreach (var feature in card2FeaturesList1)
                        {
                            <li class=""><span>@feature.Name</span></li>
                        }

                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<section id='courses'>
    @{
        var CoursesMainTitle = Model.Content.CoursesMainTitle;
        var CoursesSubText = Model.Content.CoursesSubText;
    }
    <div class='container'>
        <h1 class='title1 courseTitle'>
            @CoursesMainTitle
            <span></span>
        </h1>
        <h2 class='subtitle'>
            @CoursesSubText
        </h2>

        <div class='row coursesList'>

        </div>

    </div>
</section>

<section class=' m-0 ' id=''>
    <div class='container'>

        <!--Grid row-->
        <h1 class='title1 courseTitle text-center'>
            Our Faculty
            <span></span>
        </h1>
        <div class="row teachers-subject-offers justify-content-center">
            @{
                var teacherList = Umbraco.TypedContentAtRoot().DescendantsOrSelf("teachers").FirstOrDefault().Children.ToList();
            }
            <!--Grid column-->
            @foreach (var teacher in teacherList)
            {
                <div class="col-md-4 mb-2">
                    <!-- Card -->

                    <div class="card p-0 h-100">
                        <div class="card-header ">
                            <div class="display-table">
                                <div class="diplay-table-cell text-dark text-center">
                                    <img src="@Umbraco.TypedMedia(teacher.GetPropertyValue<int>("ProfilePicture")).Url" class="rounded-circle" width="100" height="100" />
                                    <h2 class="card-title font-weight-bold h-separator text-white h-separator-center text-shadow mt-2">@teacher.GetProperty("TeacherName").Value</h2>
                                    <h6 class="card-subtitle mt-1  text-uppercase text-shadow">@teacher.GetProperty("Qualification").Value</h6>

                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class=" text-center">
                                <div class=" text-uppercase">Online Classes</div>
                                <div class=" text-uppercase font-weight-bold">@teacher.GetProperty("OfferingSubject").Value </div>

                            </div>
                            @{
                                var featureList = teacher.GetProperty("teacherOfferingList").Value as List<Umbraco.Core.Models.IPublishedContent>;
                                var count = featureList.Count;
                            }
                            <ul class="teacher-class-points checklist mt-2 form-group">
                                @foreach (var feature in featureList)
                                {
                                    <li>@feature.Name</li>
                                }
                            </ul>

                            <div class="icons text-center p-3">
                                <a href="@teacher.Url" class="eobtn w-100 p-3" target="_blank">View Detail</a>
                            </div>
                        </div>

                    </div>


                </div>
            }






        </div>


    </div>
    <!--Grid column-->
    <!--Grid row-->


</section>
<section class='diag-l-up' id='what'>
    <div class='container'>
        <h2 class='title1 courseTitle'>
            What you get from us
            <span></span>
        </h2>
        <ul>
            <li>
                <div class='item'>
                    <div class='img'>
                        <img src="assets/what1-a1973b167c973e5f1329839292339253.png" alt="What1" />
                    </div>
                    <div class='desc'>Access anytime, anywhere.</div>
                </div>
            </li>
            <li>
                <div class='item'>
                    <div class='img'>
                        <img src="assets/what2-e26486cb5c2cb172b2aab0146d7af195.png" alt="What2" />
                    </div>
                    <div class='desc'>Topic-by-topic, bite-size lectures.</div>
                </div>
            </li>
            <li>
                <div class='item'>
                    <div class='img'>
                        <img src="assets/what3-d25268d55539c735d2497126d105e181.png" alt="What3" />
                    </div>
                    <div class='desc'>Notes, MCQs and corrected mock exams.</div>
                </div>
            </li>
            <li>
                <div class='item'>
                    <div class='img'>
                        <img src="assets/what4-83cee9798afcbbdda25feb1aaf8e02da.png" alt="What4" />
                    </div>
                    <div class='desc'>Tutor support</div>
                </div>
            </li>
        </ul>
        <div class='eobtn-base'>
            <a class="eobtn" href="@AppLink/Student/Register">Try us out now !!</a>
        </div>
        <div class='obs-nocc'>No credit card details needed!</div>
    </div>
</section>
<section class='bg-gradient1' id='whenever'>
    <div class='container'>
        <div class='devices'>
            <img src="/assets/devices.png" alt="Devices" />
        </div>
        <h2 class='title1'>Study whenever and wherever you want</h2>
        <h2 class='subtitle'>With 24/7, 365 learning on any device, the days of inflexible classroom study are over.</h2>
        <div class='eobtn-base'>
            <a class="eobtn" href="@AppLink/Student/Register">Get free course access</a>
        </div>
        <div class='obs-nocc'>No credit card details needed!</div>
    </div>
</section>
@{
    var pricingContent = Umbraco.TypedContentAtRoot().DescendantsOrSelf("contentPage").FirstOrDefault(a => a.Name == "Pricing");

}
@Html.Partial("~/views/Partials/PricingContent.cshtml", pricingContent)
<section class='bg-gradient1' id='cancel'>
    <div class='container'>
        <h2 class='title1'>
            <span>
                And don’t forget,
                <strong>
                    you can cancel anytime.
                </strong>
            </span>
        </h2>
        <h2 class='title1'>
            <span>
                No lengthy commitments or obligations.
                <br>
            </span>
        </h2>
    </div>
</section>
<section id='through'>
    <div class='container'>
        <div class='row'>
            @{
                var guideTitle = Model.Content.GuideTitle;
                var guideDescription = Model.Content.GuideDescription;
            }
            <div class='col-lg-8 col-md-10 mx-auto'>
                <h2 class='title1'>@guideTitle</h2>
                <h3 class='subtitle'>@Html.Raw(guideDescription)</h3>
                <div class='eobtn-base'>
                    <a class='eobtn v3' data-remodal-target='contact-us-modal'>
                        Chat with Us
                    </a>
                </div>
                @{
                    var contactContent = Umbraco.TypedContentAtRoot().DescendantsOrSelf("contact").FirstOrDefault();
                }


            </div>
        </div>
    </div>
</section>