﻿@inherits UmbracoTemplatePage
@using System.Configuration;
@{
    var AppLink = ConfigurationManager.AppSettings["AppLink"].ToString();
    Layout = null;

}
<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0' name='viewport'>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,900" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />

    <meta name="author" content="">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css?v=1.0")" />
    <link rel="stylesheet" href="@Url.Content("~/css/StyleDropdown.css")" />
    <script src="@Url.Content("~/js/script.js")"></script>

    @RenderSection("Header", required: false)

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4896959667919525",
            enable_page_level_ads: true
        });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120543286-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120543286-1');
    </script>


    <!-- Global site tag (gtag.js) - Google Ads: 772725756 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-772725756"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-772725756');
    </script>



    <!-- Event snippet for sign-up conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
        function gtag_report_conversion(url)
        {
            var callback = function ()
            {
                if (typeof (url) != 'undefined')
                {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-772725756/p16YCKDNk5IBEPy3u_AC',
                'event_callback': callback
            });
            return false;
        }
    </script>



</head>

<body>

    <div id='wrapper'>

        <main>
            @RenderBody()
        </main>
    </div>
    @{
        var contactContent = Umbraco.TypedContentAtRoot().DescendantsOrSelf("contact").FirstOrDefault();
    }
    @Html.Partial("~/views/partials/_Remodals.cshtml", contactContent)

    @Html.Partial("~/views/partials/_Footer.cshtml")
    <script src="/js/GetQueryString.js"></script>
    <script>
        // Pulls footer to bottom of page
        $(document).on('ready page:load', function () {
            var navbar = $('#footer');
            if (navbar.length > 0) {
                var topOfFooter = navbar.offset().top,
                    heightOfFooter = navbar.height(),
                    bottomOfFooter = topOfFooter + heightOfFooter,
                    viewportHeight = $(window).height(),
                    currentBorderTop = parseInt(navbar.css('border-top'));

                if (bottomOfFooter < viewportHeight) {
                    var extra = 0,
                        browser = navigator.userAgent;
                    if (browser.match(/OPR/i) == 'OPR') {
                        extra = 5;
                    } else if (browser.match(/Safari/i) == 'Safari') {
                        extra = 0;
                    } else if (browser.match(/Mozilla/i) == 'Mozilla') {
                        extra = 15;
                    } else
                        extra = 10;
                    var newBorder = currentBorderTop + viewportHeight - bottomOfFooter + extra;
                    navbar.css('border-top', newBorder + 'px solid');
                }
            }
        });
        $(document).on("click", ".questionAttached", function()
        {
            var accmodal = $('[data-remodal-id=resources-unavailable-modal]').remodal();

            accmodal.open();
        })
        $(document).ready(function () {


            var parentId = getQueryString("id");

            if (parentId != null)
                loadAttributes("Subject", parentId)

            else
                loadAttributes("BoardLevel", 0)

        });
        function loadAttributes(attributetype, parentId) {

            $.ajax({
                type: "GET",
                /**/
                url: '@(AppLink+"Website/Retrieve")' + attributetype,
                /**/

                data: { parentId: parseInt(parentId) },
                error: function (data) {
                    console.log("Error: " + data);
                },
            })
                .done(function (response)
                {
                    if (location.pathname.toLocaleLowerCase().indexOf("chapter") < 1 && location.pathname.toLocaleLowerCase().indexOf("section") < 1 && location.pathname.toLocaleLowerCase().indexOf("subsection") < 1)
                    {
                        $(".mainCourseName").text( localStorage.getItem("attributeName"));
                    }
                var attr = response.coursesType;
                var data = response.courses;
                    var courses = "";
                    var anchorBack = "";
                    if (parentId != 0) {
                        courses += `<div class='col-12 mb-2'> <a href="/#courses" class="eobtn pull-left backBtn"><i class="fa fa-chevron-left"></i> Back</a> </div>`;

                    }
                for (var i = 0; i < data.length; i++) {
                    var courseViewBtn = `courseViewBtn`;
                    var href = "";
                    var underProcessText = "";


                    if (parentId == 0) {
                         href = `data-href='/Course?id=${data[i].id}'`;

                    } else {
                        if (data[i].subjectDemoChapter.length > 0)
                        {
                            href = `data-href='/Course/Chapter?id=${data[i].subjectDemoChapter[0].chapterId}'`;
                            courseViewBtn = `courseViewBtn`;
                        }
                        else
                        {

                             underProcessText = ` <div class="newArrivals text-center">
                                 <span class="headTitle">Under Process</span>
                              </div>`;
                            courseViewBtn = `courseLoadBtn`;
                        }
                    }
                    var newArrivalText = "";

                    if (data[i].newArrivalText) {
                        newArrivalText = `<div class="newArrivals text-center">
                                 <span class="headTitle">Click here to read</span>
                              </div> <div class="newArrivals">
                                 <span class="headTitle">New Arrival</span>
                                 ${data[i].newArrivalText}
                              </div>`;
                    } else if (underProcessText == "" && parentId != 0)
                        newArrivalText = ` <div class="newArrivals text-center">
                                 <span class="headTitle">Click here to read</span>
                              </div>`;

                    var classes = parentId == 0 ? "col-md-4 col-sm-6 col-12" : "col-md-6 col-sm-6 col-12";
                    courses += `<div class='${classes} mb-2'>
                                    <a class='${courseViewBtn}' ${href} data-name='${data[i].name}' data-id='${data[i].id}' data-attr='${attr}'>
                                        <div class='course h-100'>
                                            <div class='tmain'>
                                                <div class='tbase'>
                                                    ${ data[i].name }
                                                    ${newArrivalText}
                                                    ${underProcessText }
                                                </div>
                                            </div>
                                            <div class='bg' ></div>
                                    </div>
                                    </a>
                            </div>`;

                }
                $('.coursesList').html(courses);
            });
            $(document).on("click", ".courseViewBtn", function () {
                var btn = this.dataset;
                var href = btn.href;
                var name = btn.name;
                var id = btn.id;
                var attr = btn.attr;

                localStorage.setItem("attributetype", attr);

                if (attr != "null")
                {
                    localStorage.setItem("attributeName", name);
                    localStorage.setItem("attributeid", id);

                }

                location.href = href;
            });

        }
        function contactUs() {
            var isformValid = $("#contactUsForm").valid();
            if (isformValid)
            {
            var UserEmail = $("#contactUsForm #email_address").val();
            var UserName = $("#contactUsForm #full_name").val();
            var Body = $("#contactUsForm #question").val();

                $("#contactUsForm .SubmitBtn").css("pointer-events", "none");
                $("#contactUsForm .SubmitBtn").text("Submiting...!!");

            $.ajax({
                type: "GET",
                url: '/umbraco/surface/Home/ContactUs',
        data: { Body: Body, UserEmail: UserEmail, UserName: UserName },
        error: function (data) {
            console.log("Error: " + data);
        },
            }).done(function (res) {
                var response= JSON.parse(res);
        if (response.Success)
        {

            $("#contactUsForm .SuccessMessage").text(response.Message);
            setTimeout(function ()
            {
                $("#contactUsForm .SuccessMessage").text("");
            }, 8000);

            $("#contactUsForm .SubmitBtn").css("pointer-events", "all");
            $("#contactUsForm .SubmitBtn").text("Submit");
        }
        else
        {

            $("#contactUsForm .ErrorMessage").text(response.Message);
            setTimeout(function ()
            {
                $("#contactUsForm .ErrorMessage").text("");
            }, 8000);

            $("#contactUsForm .ErrorMessage").text(response.Message);
            $("#contactUsForm .SubmitBtn").text("Submit");
            $("#contactUsForm .SubmitBtn").css("pointer-events", "all");
        }

    });
            }

        }
        function subjectExpertContactUs()
        {
            var isformValid = $("#subjectExpertForm").valid();
            if (isformValid)
            {
                var UserName = $("#subjectExpertForm [name=name]").val();
            var UserEmail = $("#subjectExpertForm  [name=email]").val();
                var Expertise = $("#subjectExpertForm [name=expertise]").val();
                var mobile = $("#subjectExpertForm [name=mobile]").val();
                var subject = $("#subjectExpertForm [name=subject]").val();
                var school = $("#subjectExpertForm [name=school]").val();

                $("#subjectExpertForm .SubmitBtn").css("pointer-events", "none");
                $("#subjectExpertForm .SubmitBtn").text("Submiting...!!");

            $.ajax({
                type: "GEt",
                url: '/umbraco/surface/Home/SubjectExpertContactUs',
                data: { Expertise: Expertise, UserEmail: UserEmail, UserName: UserName, Mobile: mobile, Subject: subject, School: school},
                error: function (data) {
            console.log("Error: " + data);
        },
            }).done(function (res) {
                var response = JSON.parse(res);
        if (response.Success)
        {
            $("#subjectExpertForm .SuccessMessage").text(response.Message);
            setTimeout(function ()
            {
                $("#subjectExpertForm .SuccessMessage").text("");
            }, 8000);
            $("#subjectExpertForm .SubmitBtn").css("pointer-events", "all");
            $("#subjectExpertForm .SubmitBtn").text("Submit");
        }
        else
        {

            $("#subjectExpertForm .ErrorMessage").text(response.Message);
            setTimeout(function ()
            {
                $("#subjectExpertForm .ErrorMessage").text("");
            }, 8000);
            $("#subjectExpertForm .SubmitBtn").text("Submit");
            $("#subjectExpertForm .SubmitBtn").css("pointer-events", "all");
        }

    });
            }


        }
        function loadAttribute(attributeName,id) {
            if (id != undefined && id != null && id != "") {
                  $.ajax({
                type: "GET",
                /**/
                      url: '@(AppLink+"Website/Load")'+ attributeName,
                /**/

                data: { id: Number(id) },
                error: function (data) {
                    console.log("Error: " + data);
                },
            })
                      .done(function (response) {
                          debugger;
                    if (response.isDemoChapter) {

                        $(".chapterName").html(response.name);
                        $("#chapterDetail").html(response.detail);
                        $(".mainCourseName").html(response.parentName);
                        $("head").append("<title>" + response.name + " - Class Online</title>");
                        $("head").append("<meta name='description' content='" + response.parentType + " > " + response.name + "' />");
                        if (response.type =="Chapter")
                        {
                            $(".backChapterBtn").attr("href", `/Course?id=${localStorage.getItem("attributeid")}`);
                        } else
                            $(".backChapterBtn").attr("href", `/Course/${response.parentType}?id=${response.parentId}`);

                        var data = response.otherNonChapters;
                        var childs = response.childs;
                        if (response.childText) {
                            $(".child-attribute-type").text(response.childText +"s");

                        }
                        if (response.type) {
                            var typeText = response.type;
                            if (response.type=="SubSection") {
                                typeText = "Sub Section"
                            }
                            $(".attribute-type").text(typeText + ":");

                        }
                        var lis = "";
                        if (childs!=null && childs.length)
                        {
                            for (var i = 0; i < childs.length; i++)
                            {

                                var name = childs[i].name;
                                var type = childs[i].type;
                                var id = childs[i].id;
                                if (childs[i].detail != null)
                                {
                                    if (childs[i].detail.trim() != "")
                                    {

                                        lis += ` <li>
                                <a class="btn btn-secondary btn-red btn-list viewAttribute" href='/Course/${type}?id=${id}'>
                                        ${name}
                                </a>
                            </li>
                          `;
                                    }
                                }
                            }
                        } else
                            $(".child-attribute-type").remove();

                        $('.course-resources').html(lis);

                        var courses = "";
                        for (var i = 0; i < data.length; i++) {

                            courses += ` <li data-parent='#accordion' data-toggle='collapse' href='#collapse_tuition_0' role='tab'>
                                <a data-remodal-target='resources-unavailable-modal'>
                                    <div aria-controls='collapse_tuition_0' aria-expand class='box-item lib-panel' style='border: 1px solid #ffffff;'>
                                    <div class='row'>
                                        <div class='col-1 col-sm-1'>
                                            <div class='left-side-meta'>
                                                <img src="/assets/greyTick.png" alt="grey tick" />
                                            </div>
                                        </div>
                                        <div class='col-9 xs-padding'>
                                            <div class='box-topic-item'>
                                               ${data[i].name}
                                            </div>
                                        </div>
                                        <div class='col-2'>
                                            <div class='time'>
                                                <i class="fas fa-eye"></i>
                                            </div>
                                        </div>
</div>
                                    </div>
                                </a>
                            </li>`;

                        }
                        $('.course-topics-list').html(courses);

                    } else {
                        var accmodal = $('[data-remodal-id=resources-unavailable-modal]').remodal();

                        accmodal.open();
                    }


                });
            }

        }
    </script>
</body>

</html>
