﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@section Header{
    <link rel="stylesheet" href="@Url.Content("~/css/header.css")" />

    <title>@Model.Content.Name - Class Online</title>


}
@Html.Partial("~/views/partials/navigation/simpleTopNavigation.cshtml")
@Html.Partial("~/views/Partials/PricingContent.cshtml", Model)