﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SubjectExpert>
@using ContentModels = Umbraco.Web.PublishedContentModels
@{
    Layout = "Master.cshtml";
}
@section Header{
    <title>@Model.Content.Name - Class Online</title>
    <meta name="description" content="@Model.Content.SeoMetaDescription" />
    <link rel="stylesheet" href="@Url.Content("~/css/header.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/expert.css")" />
}
@Html.Partial("~/views/partials/navigation/simpleTopNavigation.cshtml")

<div class="hero-library">
    <div class="l-wrap-small">
        <div class="l-section-footer-pages">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <h1 class="h1 h-white h-separator h-separator-center text-center l-margin-bottom">@Model.Content.PageTitle</h1>
                        <p class="h5 h-white text-center l-margin-bottom-big">
                            @Model.Content.SubTitle
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12 col-md-6  col-md-6 mx-auto">
            <div class="left">
                <h1>@Model.Content.ExpertFormTitle</h1>
                <p>@Model.Content.ExpertFormSubTitle</p>
                <div id="mc_embed_signup">
                    <form id="subjectExpertForm" class="cf form_one">
                        <div class="input_field">
                            <label class="first label_error">
                                <input class="standard text required" type="text" name="name" placeholder="First name" required="" aria-describedby="mce-FNAME-error" aria-invalid="true"><span id="mce-FNAME-error" class="error" style="display: inline;">This field is required.</span>
                            </label>
                        </div><!-- input_field -->
                        <div class="input_field">
                            <label class="label_error">
                                <input class="standard email required" type="email" name="email" placeholder="Email address" required="" aria-describedby="mce-EMAIL-error" aria-invalid="true"><span id="mce-EMAIL-error" class="error" style="display: inline;">This field is required.</span>
                            </label>
                        </div><!-- input_field -->
                        <div class="input_field phoneNo">

                            <label class="label_error">
                                <input type="text" value="" name="mobile" class="standard" placeholder="Mobile Number" required="">
                            </label>
                        </div><!-- input_field -->
                        <div class="input_field subject">
                            <label>
                                <input type="text" value="" name="subject" class="standard" placeholder="Which Subject Expertise?">
                            </label>
                        </div><!-- input_field --> 
                    <div class="input_field school">
                            <label>
                                <input type="text" value="" name="school" class="standard" placeholder="Current School/College/University?">
                            </label>
                        </div><!-- input_field -->
                        @*<div class="checkbox first">
            <input class="info_check checkbox_one" type="checkbox" required="required">
            <label for="mce-group[8717]-8717-0"><span class="inner"><span class="inner_text">I accept&nbsp;</span></span></label><div class="terms_btn standard_link"><a href="/terms-and-conditions">Terms &amp; Conditions&nbsp;</a></div><span class="inner_text">&nbsp;&amp;&nbsp;</span><div class="privacy_btn standard_link"><a href="/privacy-policy"> Privacy Policy</a></div>
        </div>*@<!-- checkbox -->

                        <div class="btn_wrap"><a onclick="subjectExpertContactUs()" name="subscribe" id="mc-embedded-subscribe" class="btn SubmitBtn">Submit </a></div>
                        <p class="SuccessMessage mt-4">

                        </p>
                        <p class="ErrorMessage mt-4">

                        </p>
                    </form><!-- cf -->
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6  col-md-6 mx-auto">
            <div class="mt-4 mb-3">
                <img src="@Model.Content.Image.Url" />
            </div>
            @Html.Raw(Model.Content.UpperDetail)
        </div>
    </div>
</div>
    @*<div class="container m-6">
        @Html.Raw(Model.Content.MoreDetails)
    </div>*@
