﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Teacher>
@using ContentModels = Umbraco.Web.PublishedContentModels
@{
    Layout = "Master.cshtml";
}
@section Header{
    <title>@Model.Content.TeacherName - Class Online</title>
    @*<meta name="description" content="@Model.Content.SeoMetaDescription" />*@
    <link rel="stylesheet" href="@Url.Content("~/css/header.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/expert.css")" />
}
@Html.Partial("~/views/partials/navigation/simpleTopNavigation.cshtml")

<div class="hero-library">
    <div class="l-wrap-small">
        <div class="l-section-footer-pages">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 m-auto">
                        <div class="teacher-profile-bg">
                          
                                <div class="mt-4 mb-3">
                                    <div class="display-table">

                                        <div class="diplay-table-cell ">

                                            <img src="@Model.Content.ProfilePicture.Url" class="rounded-circle" width="100" height="100" />


                                        </div>
                                    </div>

                                </div>
                                <div class=" text-center">
                                    <h1 class="font-weight-bold h-separator text-white h-separator-center ">@Model.Content.TeacherName</h1>
                                    <p class="">@Model.Content.Qualification</p>
                                </div>


                           
                            <div class="col-md-12 ">
                                <h1 class="h1 text-dark h-separator h-separator-center text-center ">@Model.Content.OfferingSubject</h1>
                                <p class="h5 text-dark text-center l-margin-bottom-big">
                                    Offering Subject
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
            <div>
                @{
                    var featureList = Model.Content.GetProperty("teacherOfferingList").Value as List<Umbraco.Core.Models.IPublishedContent>;
                    var count = featureList.Count;
                }
                <h2>Features</h2>
                <ul class="teacher-class-points checklist mt-0 form-group">
                    @foreach (var feature in featureList)
                    {
                        <li>@feature.Name</li>
                    }
                </ul>
            </div>
            <div >
                <div class="btn_wrap"><a href="https://app.theilum.com/login" target="_blank" class="btn SubmitBtn">Interested? </a></div>
            </div>
        </div>
        <div class="col-12 col-sm-6">

            <div class="teacher-page-SocialIcons">
                <div class="icons ">
                    <label>Share at</label>
                    <br />
                    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>

                </div>
            </div>
            

        </div>

    </div>
</div>
@*<div class="container m-6">
        @Html.Raw(Model.Content.MoreDetails)
    </div>*@
