﻿<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/fullCalender/fullcalendar.min.css" rel="stylesheet" />
<link href="~/fullCalender/fullcalendar.print.min.css" rel='stylesheet' media='print' />
<link rel="stylesheet" href="~/css/jquery.selectbox.css">
<link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />
<link href="~/css/themify-icons.css" rel="stylesheet" />
@Html.Partial("~/Views/Shared/Common/_CommonStyles.cshtml")