﻿<link rel="stylesheet" href="~/css/jquery.selectbox.css">
<link rel="stylesheet" href="~/css/custom-variation2.css">
<link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />

@Html.Partial("~/Views/Shared/Common/_CommonStyles.cshtml")