﻿@if (!User.IsInRole(UserRoles.Admin.ToString()))
{
    <environment include="Production">
        <script src="/js/ChapterAndSubjectAllocationScriptNotAdmin.min.js"></script>
    </environment>
    <environment include="Development">
        <script src="/js/ChapterAndSubjectAllocationScriptNotAdmin.js"></script>
    </environment>
}

@if (User.IsInRole(UserRoles.Admin.ToString()))
{
    <environment include="Production">
        <script src="/js/ChapterAndSubjectAllocationScriptForAdmin.min.js"></script>
    </environment>
    <environment include="Development">
        <script src="/js/ChapterAndSubjectAllocationScriptForAdmin.js"></script>
    </environment>
}
<environment include="Production">
    <script src="/js/ChapterAndSubjectAllocationScript.min.js"></script>
</environment>
<environment include="Development">
    <script src="/js/ChapterAndSubjectAllocationScript.js"></script>
</environment>

