﻿
<environment include="Production">
    <script src="/js/ddSlick_Scripts.min.js"></script>
</environment>
<environment include="Development">
    <script src="/js/ddSlick_Scripts.js"></script>
</environment>
