﻿@if (User.IsInRole(UserRoles.Admin.ToString()) || User.IsInRole(UserRoles.Researcher.ToString()))
{


    <environment include="Production">
        <script src="/js/ExamQuestion.min.js"></script>
    </environment>
    <environment include="Development">
        <script src="/js/ExamQuestion.js"></script>
    </environment>

}

<script>
    function loadExamQuestions(attributeType, attributeId, viewSection) {
        $.ajax({
            url: '/Question/GetExamQuestions',
            type: "Get",
            data: {
                attributeType: attributeType, attributeId: attributeId
            },
            success: function (view) {

                $(viewSection).html("");
                $(viewSection).html(view);

                var questionDeficulties = $(viewSection + " [name=questionDificulty]");
                questionDeficulties.each(function (i, e) {
                    var level = e.dataset.rating;
                    $(e).addRating({ max: 3, selectedRatings: level });
                });
            },
            error: function (error) {
                returnErrorState(error);
            }

        })
    }
</script>