﻿@if (User.IsInRole(UserRoles.Admin.ToString()) || User.IsInRole(UserRoles.Researcher.ToString()))
{


    <environment include="Production">
        <script src="/js/PowerSlide.min.js"></script>
    </environment>
    <environment include="Development">
        <script src="/js/PowerSlide.js"></script>
    </environment>

}

<script>
    function loadPowerSlides(attributeType, attributeId) {

        var model = {
            AttributeType: attributeType,
            AttributeId: attributeId,
        };
        $.ajax({
            url: '/PowerSlide/Get',
            type: "POST",

            data: {
                model: model
            },
            success: function (view) {
                $("#PowerSlides .all-attributes").html(view);
                applyTooltip();

            },
            error: function (error) {
                returnErrorState(error);
            }

        })
    }
</script>