﻿@if (User.IsInRole(UserRoles.Admin.ToString()) || User.IsInRole(UserRoles.Researcher.ToString()))
{


    <environment include="Production">
        <script src="/js/TestAndSet.min.js"></script>
    </environment>
    <environment include="Development">
        <script src="/js/TestAndSet.js"></script>
    </environment>
    <script src="/js/vendor/InitializeDateTimePicker.js"></script>

}

<script>
    function loadTests(attributeType, attributeId) {

        var model = {
            AttributeType: attributeType,
            AttributeId: attributeId,
        };
        $.ajax({
            url: '/Test/Get',
            type: "POST",

            data: {
                model: model
            },
            success: function (view) {
                $("#Tests .all-attributes").html(view);
                applyTooltip();

            },
            error: function (error) {
                returnErrorState(error);
            }

        })
    }
    $(document).on("click", ".viewTestButton", function () {
        var id = this.dataset.id;
        $.ajax({
            url: '/Test/View',
            type: "POST",

            data: {
                id: id
            },
            success: function (view) {
                $('#viewTestModal .viewTestView').html(view);
                $('#viewTestModal').modal();
                appendDificulties();
            },
            error: function (error) {
                returnErrorState(error);
            }

        })





    });
    function appendDificulties() {
        $("[name=questionDificulty]").html("");
        var questionDeficulties = $("[name=questionDificulty]");
        questionDeficulties.each(function (i, e) {

            var level = e.dataset.rating;
            $(e).addRating({ max: 3, selectedRatings: level });
        });
    }
</script>