﻿


<environment include="Production">
    <script src="/js/Attribute_CRUD.min.js"></script>
</environment>
<environment include="Development">
    <script src="/js/Attribute_CRUD.js"></script>
</environment>
