﻿
@{
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());

    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var isTeacher = User.IsInRole(UserRoles.Teacher.ToString());
}
<script>
    $(document).on("click", ".loadAnswer", function () {
        var questionid = this.dataset.questionid;
        $("#Answer_" + questionid).show();
        scrollTo("#Answer_" + questionid);
    })
    function scrollTo(hash) {
        if (hash != 0) {


            $('body,html').animate({
                scrollTop: $(hash).offset().top
            }, 800);
        }
    }
</script>
@if (isAdmin)
{
    <script>
        $(document).on("click", ".teacherBlockButton", function () {

            var userId = this.dataset.id;
            var callFrom = this.dataset.callfrom;
            $.ajax({
                url: '/Teacher/Block',
                type: "POST",
                data: { userId: userId },
                success: function (response) {
                    if (response.success) {
                        smallSwal("Done!!", response.message, "success");
                        if (callFrom == "batchdetail") {
                            location.href = location.href;
                        } else {
                            loadTeacher();
                        }
                    }
                    else {
                        swal("Error!", response.message, "error");
                    }
                },
                error: function (error) {
                    returnErrorState(error);
                }
            });
        });

    </script>

}
@if (isAdmin||isTeacher||isStudent)
{
    <script>

        function loadTeachersCardViewBySubjectId(ViewRenderer, SubjectId) {
            $.ajax({
                url: '/Teacher/GetTeachersBySubjectId',
                async:false,
                type: "Get",
                data: { subjectId: SubjectId },
                success: function (view) {
                    $(ViewRenderer).html(view);
                    applyTooltip();
                    if (typeof takeTour === "function")
                        takeTour();

                },
                error: function (error) {
                    returnErrorState(error);
                }


            })
        }

    </script>

}