﻿<script src="~/fullCalender/lib/moment.min.js"></script>
<script src="~/fullCalender/lib/jquery.min.js"></script>
<script src="~/fullCalender/fullcalendar.js"></script>
<script src="~/js/vendor/modernizr.custom.68477.js"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/plugins.js"></script>
<script type="text/javascript" src="~/js/jquery.selectbox-0.2.js"></script>
<script src="~/js/vendor/plugins.js"></script>
<script type="text/javascript">
        "use strict";
        $(function () {
            $("#doctor_id").selectbox();
            $("#patientType_id").selectbox();
        });
</script>
