﻿@*<script type="text/javascript" src="~/validation.js"></script>*@
<script src="~/fullCalender/lib/moment.min.js"></script>
<script src="~/fullCalender/lib/jquery.min.js"></script>
<script src="~/fullCalender/fullcalendar.js"></script>
<script src="~/js/vendor/modernizr.custom.68477.js"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/vendor/jquery.bxslider.js"></script>
<script src="~/js/main.js"></script>
<script type="text/javascript" src="~/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>