﻿<section class="first-section ">
    <div class="container">
        <h2 class="title-grp"><span>Available</span>Doctors Today</h2>
        <div class="doctorList list-group col-sm-4 ">
            @foreach (var doc in ViewBag.DoctorApps as List<DoctorAppointments>)
            {
                <a data-descriptionid="@doc.Doctor.Id" class="list-group-item">@doc.Doctor.Name<span class="cutomBadge">@doc.Appointments.Count</span></a>
            }
        </div>

        @{ var doctorApps = ViewBag.DoctorApps as List<DoctorAppointments>;}
        @for (int i = 0; i < doctorApps.Count; i++)
        {

            var doc = doctorApps[i];
            var description_id = "description_" + doc.Doctor.Id;
            var style = "";
            if (i == 0)
            {
                style = "display:block";

            }
            <div id="@description_id" class="description col-sm-8" style="@style">
                <div class="appointmentList doctorDescription list-group col-md-12 col-lg-6">
                    <div class="list-group-item"><div>Designation  </div><span class="cutomBadge">@doc.Doctor.Designation</span></div>
                    <div class="list-group-item"><div>Specialist  </div><span class="cutomBadge">@doc.Doctor.Specialist</span></div>
                    <div class="list-group-item"><div>Phone Number  </div><span class="cutomBadge">@doc.Doctor.Phone</span></div>
                    <div class="list-group-item"><div>Timing  </div><span class="cutomBadge">@doc.Doctor.Timing</span></div>
                    <div class="list-group-item"><div>Checkup Duration</div><span class="cutomBadge">@doc.Doctor.CheckupDuration</span></div>
                    <div class="list-group-item"><div>Fee</div><span class="cutomBadge">@doc.Doctor.Fee</span></div>

                </div>

                <div class="appointmentList appointment list-group col-md-12 col-sm-12 col-lg-6">
                    @if (doc.Appointments.Count > 0)
                    {
                        foreach (var appmt in doc.Appointments)
                        {
                            
                            <div class="list-group-item"><a><span class="name">@appmt.PatientName</span></a><span class="appointmentTime">@appmt.AppointmentTime.Value.ToString("h:m tt")</span><div class="actionBtns"><a><i class="fa fa-check done"data-toggle="tooltip" data-placement="top" title="Done"> </i></a><a><i class="fa fa-eye"data-toggle="tooltip" data-placement="top" title="View Detail"></i></a><a><i class="fa fa-remove" data-toggle="tooltip" data-placement="top" title="Cancel"> </i></a><a><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a><a><i class="fa fa-info"  data-toggle="tooltip" data-placement="top" title="In queue"></i></a></div></div>

                        }

                    }



                    @*<a asp-action="AddAppointment" asp-controller="Appointment" class="list-group-item active addAppointment"><i class="customPlusGlyphicon fa fa-plus"></i></a>*@
                    <a class="list-group-item active addAppointment"><i class="customPlusGlyphicon fa fa-plus"></i></a>
                </div>
            </div>
        }
    </div>








</section>
<div class="first-section p82-topbot">

    <div class="container">
        <h2 class="title-grp"><span>Current Activity of</span>Doctor Amjad</h2>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="panel panel-bd active">
                <a>
                    <div class="panel-body">
                        <div class="statistic-box">
                            <h2><span class="count-number">Zohar Prayar</span> </h2>
                            <div class="small"> 01:30 - 01:45 </div>
                            <div class="sparkline1 text-center"></div>
                        </div>
                        <div class="icon"><i class="fa fa-male"></i></div>
                    </div>
                </a>
            </div>
        </div>

    </div><!-- /.container -->
</div>
<div class="first-section p82-topbot">

    <div class="container">
        <h2 class="title-grp"><span>Doctor</span>Availability</h2>
        <div class="calendar">
            <div id='calendar'></div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<div class="modal fade" id="activityModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Activity</h4>
            </div>
            <div class="modal-body">
                <div class="activityType">
                    <label class="activityTypeLabel">Activity Type</label>
                    <select id="activityTypeDD" class="dropdown">
                        <option value="1">Prayer </option>
                        <option value="2">Appointment</option>
                        <option value="2">Break</option>
                        <option value="2">Other</option>
                    </select>
                </div>

                <div class="descriptionGroup group">
                    <input type="text"><span class="highlight"></span><span class="bar"></span>
                    <label>Description</label>
                </div>
                <div class="row ">
                    <div class="group col col-12 col-sm-6 col-md-6 col-lg-6">
                        <input type="text"><span class="highlight"></span><span class="bar"></span>
                        <label>Description</label>
                    </div>
                    <div class="group col col-12 col-sm-6 col-md-6 col-lg-6">
                        <input type="text"><span class="highlight"></span><span class="bar"></span>
                        <label>Description</label>
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="deleteApptModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Appointment</h4>
            </div>
            <div class="modal-body">

                <p>Are you sure to delete this appointment?</p>

            </div>
            <div class="modal-footer">
                <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="status"></div>
                    <button id="deleteAppt" type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>

    </div>
</div>





@section Scripts {

    <script>

        $(document).ready(function () {

                  $(".fc-content").click(function () {

                      document.getElementById('id01').style.display = 'block'

                  });
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},

			navLinks: true, // can click day/week names to navigate views
			editable: false,
            eventLimit: true


        });
        @foreach(var act in ViewBag.DoctorActivities as IEnumerable<Activity>)
        {


             <text>$('#calendar').fullCalendar('renderEvent', { id: '@act.Doctor.Name', title: '@act.Description', start: '@act.FromTime', end: '@act.ToTime' });</text>


        }

        "use strict";
        $('.form_date').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


        });

          var appointmentId = 0;
        $('.btnDeleteApp').on("click", function () {
            
            appointmentId = $(this).data("appId");
            $("#deleteApptModal").modal("show");
        });

        $("#deleteAppt").on("click", deleteAppointment);

        function deleteAppointment() {

            $.get("@Url.Action("DeleteAppointment","Appointment")", { Id = appointmentId }, function (data) {

            })

        }

    </script>
}