<div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 20px">
            <tbody>
                <tr>
                    <td style="vertical-align: top; padding-bottom:30px;" align="center">
                        <a href="##EnvirontmentUrl##" target="_blank">
                            ##LogoUrl##
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <b>Dear ##StudentName##,</b>
                            <p>Your test has been successfully evaluated by your teacher. </p>
                            <p> <b>Teacher:</b> ##TeacherName##, </p>
                            <p> <b>Batch Name:</b>  ##BatchName##,</p>
                            <p> <b>Subject:</b>  ##SubjectName##,</p>
                            <p> <b>Test Title:</b>  ##TestTitle##,</p>
                            <p> <b>Test Evaluation Date:</b>  ##EvaluationDate##,</p>
                            <br />
                            <table border="1" style="border:thin" width="100%">
                                <thead>
                                    <tr >
                                        <th style="color:whitesmoke;background:#007bff;padding:10px">No. of Unattempted Questions</th>
                                        <th style="color:whitesmoke;background:#007bff;padding:10px">Total Marks</th>
                                        <th style="color:whitesmoke;background:#007bff;padding:10px">Obtained Marks</th>
                                    </tr>
                                </thead>
                                <tbody class="batchTests">

                                    <tr class="advanced-table">
                                        <td style="color:red;text-align:center;padding:10px">##UnattemptedQuestions##</td>
                                        <td style="text-align:center;padding:10px">##TotalMarks##</td>
                                        <td style="color:darkgreen;text-align:center;padding:10px">##ObtainedMarks##</td>
                                    </tr>
                                   

                                </tbody>
                            </table>
                            <br />
                            <a href="##InviteLink##" style="width:auto; display:inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #007bff; border-radius: 60px; text-decoration:none;">
                                Check Out Full Result Now
                            </a><br />
                            <b>
                                Regards, <br />
                                Class Online Team
                            </b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center; font-size: 12px; color: #b2b2b5; margin-top: 20px">
            <div style="line-height:1">
                <a href="##EnvirontmentUrl##"> Class Online </a>
            </div>
            <div style="line-height:1">
                <a href="##LoginLink##" style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #007bff; border-radius: 60px; text-decoration:none;">
                    Login
                </a>
            </div>
            <div style="line-height:1.6">
                <b>Contact Us</b>
                <div><a href="mailto:myilumonline@gmail.com"> myilumonline@gmail.com </a></div>
                
            </div>
        </div>
    </div>
</div>