﻿
@*<script src="@Url.Content("~/Scripts/tinymce/js/tinymce/tinymce.js")" type="text/javascript"></script>*@
<script type="text/javascript">

    (function(){
        //tinymce.init({ selector: 'textarea' });
        TinyMVCGlobalOptions = {

            // General options
            selector:"",
            mode: "exact",
            elements: "@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)",
            theme: "modern",
            height: "600px",
            width: "100%",
            verify_html: false,
            browser_spellcheck: true,
            contextmenu: true,
            plugins: "powerpaste emoticons pagebreak,table,insertdatetime,preview,image ,imagetools,media,searchreplace,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,template,wordcount, lists, advlist, autosave,textcolor colorpicker,code spellchecker",
            font_formats: 'Montserrat=Montserrat,sans-serif;Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;AkrutiKndPadmini=Akpdmi-n;Comfortaa=Comfortaa, cursive;Raleway=Raleway, sans-serif;Roboto=Roboto, sans-serif;Nunito=Nunito, sans-serif;',
            fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',

            toolbar: "emoticons styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent | link image | forecolor backcolor code | fontselect fontsizeselect spellchecker",
 //content_css : "css/content.css",
            templates: [
                {
                    title: "Editor Details",
                    url: "editor_details.htm",
                    description: "Adds Editor Name and Staff ID"
                },
                {
                    title: "Timestamp",
                    url: "time.htm",
                    description: "Adds an editing timestamp."
                }
            ],
            style_formats: [
                { title: 'Line height 0.5', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '0.5' } },
                { title: 'Line height 1', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '1' } },
                { title: 'Line height 1.5', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '1.5' } },
                { title: 'Line height 2', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '2' } },
                { title: 'Line height 2.5', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '2.5' } },
                { title: 'Line height 3', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '3' } },
                { title: 'Line height 3.5', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '3.5' } },

            ],
            content_css: "@Url.Content("~/css/style.css")",
            convert_urls: true,
            automatic_uploads: true,
            images_reuse_filename: true,
            images_upload_url: "@Url.Action("TinyUploadFile", "Upload")"

        };
        tinymce.init(TinyMVCGlobalOptions);

    })();


</script>

@Html.TextArea(string.Empty, /* Name suffix */
    ViewData.TemplateInfo.FormattedModelValue /* Initial value */
)