﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->

<html class="no-js" lang="en">


<head>
    <link href="~/css/jquery.powertip-light.min.css" rel="stylesheet" />
    @Html.Partial("~/Views/Shared/Common/_MetaData.cshtml")
    @Html.Partial("~/Views/Shared/Common/_FineUploaderTemplate1.cshtml")
    @Html.Partial("~/Views/Shared/Common/_CommonStyles.cshtml")
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120543286-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120543286-1');
    </script>
</head>
<body>
    @{
        var userRole = User.IsInRole(UserRoles.Admin.ToString()) ? UserRoles.Admin.ToString() : User.IsInRole(UserRoles.Researcher.ToString()) ? UserRoles.Researcher.ToString() : User.IsInRole(UserRoles.Student.ToString()) ? UserRoles.Student.ToString() : string.Empty;

    }
    <input value="@userRole" hidden="hidden" class="LoggedUserRole" />
    <div id="wrapper">
        @Html.Partial("~/Views/Shared/Common/_Header.cshtml")
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- The Modal -->
    @Html.Partial("~/Views/Shared/Common/AddEditAttributeModal.cshtml")

    <div class="modal fade" id="AllocatedSubjectModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Allocate Subject
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col col-12 col-md-6 mb-2">

                            <select class="EducationLevelDDL dropdown"></select>
                        </div>

                        <div class="col  col-12 col-md-6 mb-2">

                            <select class="BoardLevelDDL dropdown"></select>

                        </div>

                        <div class="col col-12 col-md-6  mb-2">

                            <select class="ClassDDL dropdown"></select>

                        </div>

                        <div class="col col-12 col-md-6  mb-2">

                            <select class="SubjectDDL dropdown"></select>

                        </div>

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer pt-2">
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-success rounded-0" id="allocateBtn">Allocate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AllocatedChapterModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Allocate Chapter
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col col-12 col-md-6 mb-2">

                            <select class="EducationLevelDDL dropdown"></select>
                        </div>

                        <div class="col  col-12 col-md-6 mb-2">

                            <select class="BoardLevelDDL dropdown"></select>

                        </div>

                        <div class="col col-12 col-md-6  mb-2">

                            <select class="ClassDDL dropdown"></select>

                        </div>

                        <div class="col col-12 col-md-6  mb-2">

                            <select class="SubjectDDL dropdown"></select>

                        </div>
                        <div class="col col-12 col-md-6  mb-2">

                            <select class="ChapterDDL dropdown"></select>

                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer pt-2">
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-success rounded-0" id="allocateChapterBtn">Allocate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AssignedSubjects">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="AssignedSubjectsSection">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="AssignedBatches">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="AssignedBatchesSection">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="AssignedChapters">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="AssignedChaptersSection">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="AddResearcher">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">

                        <span class="type">Add new</span> researcher
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="form">
                    @{ Html.RenderPartial("~/Views/Researcher/_ResearcherRegistraionForm.cshtml");}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AddStudent">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">

                        <span class="type">Add new</span> student
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="form">
                    @{ Html.RenderPartial("~/Views/Student/_StudentRegistraionForm.cshtml");}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ResearcherInviteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Send invitation to new researcher
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                @{ Html.RenderPartial("~/Views/Researcher/_InviteResearcherForm.cshtml");}

            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/Scripts/CommonScripts.cshtml")

    <script src="~/js/Researcher.min.js"></script>
    <script src="~/js/Student.min.js"></script>





    @Html.Partial("~/Views/Shared/Scripts/AttributeCRUD_Scripts.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_SubjectAllocationScript.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_ChapterAllocationScript.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_ddlSlickScript.cshtml")
    <script src="~/js/returnErrorState.min.js"></script>
    <script src="~/js/vendor/jquery.powertip.js"></script>

</body>
</html>