﻿@*@model AttributeViewModel*@
@{
    Layout = "Layouts/_Layout";

    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
}
@section Head{
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.js" type="text/javascript"></script>
}
<div class="main-wrapper">
    <div class="app" id="app">
        @Html.Partial("~/Views/Shared/Common/_HeaderNew.cshtml")
        <article class="content">
            <div class="container">
                <div class="row mt-2 mb-2">
                    <div id="page-wrapper">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>

@if (isAdmin)
{

    <div class="modal fade" id="addBatchModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Announce New Batch
                        <span class="type"></span>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form id="addBatchForm" asp-action="Create" asp-controller="Batch">

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col col-12 col-md-6 mb-2">
                                <select class="EducationLevelDDL dropdown"></select>
                            </div>

                            <div class="col  col-12 col-md-6 mb-2">
                                <select class="BoardLevelDDL dropdown"></select>
                            </div>

                            <div class="col col-12 col-md-6  mb-2">
                                <select class="ClassDDL dropdown"></select>
                            </div>

                            <div class="col col-12 col-md-6  mb-2">
                                <select class="SubjectDDL dropdown" data-id="SubjectId"></select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 ">
                                <div class="form-group">
                                    <input type="text" name="Title" id="Title" required placeholder="Batch Title" />
                                </div>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="Detail">Batch Start Date</label>
                                    <input type="date" name="StartDate" class="form-control" required />
                                </div>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="Detail">Batch End Date</label>
                                    <input type="date" pattern="dd/mm/yyyy" name="EndDate" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="Detail">Batch Fee (PKR)</label>
                                    <input name="BatchFee" type="number" placeholder="Enter Batch Fee" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer pt-2">

                        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success rounded-0" id="saveBtn">Save</button>


                    </div>
                </form>

            </div>
        </div>
    </div>
    Html.RenderPartial("~/Views/Batch/_BatchModals.cshtml");
}
@section Scripts{

    <environment include="Staging,Production">
        <script src="/js/batch-script.min.js?v=2.0"></script>
    </environment>
    <environment include="Development">
        <script src="/book/js/vendor.js"></script>
        <script src="/book/js/app.js"></script>
        <script src="/js/vendor/jquery.ui.min.js"></script>
        <script src="/js/vendor/jquery.validate.js"></script>
        <script src="/js/vendor/jquery.ui.touch-punch.min.js"></script>
        <script src="/js/vendor/sweetalert.js"></script>
        <script src="/js/vendor/jquery.powertip.js"></script>
        <script src="/js/jquery.inputmask.bundle.js"></script>
        <script src="/js/returnErrorState.js"></script>
        <script src="/js/vendor/moment.min.js"></script>
        <script src="/js/vendor/fullcalendar.min.js"></script>
        <script src="/js/Batch.js"></script>
        <script src="/js/lightgallery.min.js"></script>
        <script src="/js/wheel-zoom.min.js"></script>

        <script src="/js/ddslick.js"></script>
        <script src="/js/ddSlick_Scripts.js"></script>
        <script src="/js/cal-init.js"></script>
        <script src="/js/main.js"></script>
    </environment>

    @Html.Partial("~/Views/Shared/Scripts/CommonScripts.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_ChapterAllocationScript.cshtml")

    @RenderSection("Scripts", false)
}