﻿@model AttributeViewModel
@{
    Layout = "Layouts/_Layout";
}


@section Head{
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.js" type="text/javascript"></script>
}
@{
    var userRole = User.IsInRole(UserRoles.Admin.ToString()) ? UserRoles.Admin.ToString() : User.IsInRole(UserRoles.Researcher.ToString()) ? UserRoles.Researcher.ToString() : User.IsInRole(UserRoles.Student.ToString()) ? UserRoles.Student.ToString() : string.Empty;

    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

    if (isAdmin)
    {


        <div class="navigation-confirmation-box oval-rounded ">
            <div class="navigation-message float-md-left text-center">
                Now select a destination word/sentence.
            </div>
            <div class="float-md-right <text></text>-center">
                <a class="custom-btn btn-success oval-rounded saveBtn"><i class="fas fa-check"></i> Apply</a>
                <a class="custom-btn btn-danger oval-rounded closeBtn"><i class="fas fa-times"></i> Cancel</a>
            </div>
        </div>
    }
}

@*<div class="main-wrapper">*@
<div class="app" id="app">
    @Html.Partial("~/Views/Shared/Common/_HeaderNew.cshtml")
    <article class="content">

        <div class="container">


            <div class="mt-2 mb-2">
                <div id="page-wrapper">

                    @RenderBody()

                </div>
            </div>


        </div>

    </article>
</div>
@*</div>*@
@Html.Partial("~/Views/Shared/Common/_BookModals.cshtml")

<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>
@section Scripts{

    <environment include="Staging,Production">
        <script src="/js/book-script.min.js?v=2.0"></script>
    </environment>
    <environment include="Development">
        <script src="/book/js/vendor.js"></script>
        <script src="/book/js/app.js"></script>
        <script src="/js/vendor/jquery.ui.min.js"></script>
        <script src="/js/vendor/jquery.validate.js"></script>
        <script src="/js/vendor/jquery.ui.touch-punch.min.js"></script>
        <script src="/js/ddslick.js"></script>
        <script src="/js/vendor/sweetalert.js"></script>
        <script src="/js/vendor/jquery.star.rating.js"></script>
        <script src="/js/vendor/jquery.powertip.js"></script>
        <script src="/js/jquery.inputmask.bundle.js"></script>

        <script src="/js/returnErrorState.js"></script>
        <script src="/js/vendor/fine-uploader.js"></script>
        <script src="/js/wheel-zoom.min.js"></script>

        <script src="/js/Question.js"></script>
        <script src="/js/rangy-core.js"></script>
        <script src="/js/rangy-classapplier.js"></script>
        <script src="/js/Attribute_CRUD.js"></script>
        <script src="/js/ddSlick_Scripts.js"></script>
        <script src="/js/BookScript.js"></script>
        <script src="/js/main.js"></script>
    </environment>

    @Html.Partial("~/Views/Shared/Scripts/CommonScripts.cshtml")


    @Html.Partial("~/Views/Shared/Scripts/_ChapterAllocationScript.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_TestAndSetsScripts.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_PowerSlideScripts.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_ExamScripts.cshtml")

}