﻿@model AttributeViewModel
@{
    Layout = null;

}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/ilumfonts.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="favicon.png" rel="shortcut icon" />
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/css/fa-regular.min.css" rel="stylesheet" />
    <link href="~/css/fa-solid.min.css" rel="stylesheet" />
    <link href="~/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/css/fine-uploader-new.min.css" rel="stylesheet" />
    <link href="~/css/sweetalert.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="Generator" content="Microsoft Word 15 (filtered)">
    <link rel="shortcut icon" href="~/images/favicon.png" />
    @*<style type="text/css">
            .selected {
                background-color: #FFFF00;
            }
        </style>*@
    <link href="~/css/jquery.powertip.css" rel="stylesheet" />
    <link href="~/css/jquery.powertip-light.css" rel="stylesheet" />
    @Html.Partial("~/Views/Shared/Common/_FineUploaderTemplate1.cshtml")
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.js" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120543286-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120543286-1');
    </script>
</head>

<body>
    @{
        var userRole = User.IsInRole(UserRoles.Admin.ToString()) ? UserRoles.Admin.ToString() : User.IsInRole(UserRoles.Researcher.ToString()) ? UserRoles.Researcher.ToString() : User.IsInRole(UserRoles.Student.ToString()) || User.IsInRole(UserRoles.Teacher.ToString()) ? UserRoles.Student.ToString() : string.Empty;

        var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
        var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
        var isStudent = User.IsInRole(UserRoles.Student.ToString());

    }
    <input value="@userRole" hidden="hidden" class="LoggedUserRole" />
    <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="~/images/logo.svg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">

                            <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i> Dashboard </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user fa-fw"></i> @User.Identity.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="logout-btn dropdown-item"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>



        <div class="container">
            <div class="row mt-2">
                <div class="col col-12 col-md-3 mb-2">

                    <select class="EducationLevelDDL dropdown"></select>
                </div>

                <div class="col  col-12 col-md-3 mb-2">

                    <select class="BoardLevelDDL dropdown"></select>

                </div>

                <div class="col col-12 col-md-3  mb-2">


                    <select class="ClassDDL dropdown"></select>

                </div>

                <div class="col col-12 col-md-3  mb-2">

                    <select class="SubjectDDL dropdown"></select>

                </div>


            </div>

            <div class="row mt-2 mb-2">
                <div class="col  col-12 col-sm-12  col-lg-3 chaptersSection mb-2">
                    <h4 class="text-center">Chapters</h4>
                    @*<div class="mobile">
                            <select id="ddChapter" class="dropdown"></select>
                        </div>*@
                    @{
                        var SubjectVBag = ViewBag.Subject as Subject;
                        var EducationLevelId = SubjectVBag.Class.BoardLevel.EducationLevelId;
                        var BoardLevelId = SubjectVBag.Class.BoardLevelId;
                        var ClassId = SubjectVBag.ClassId;
                        var SubjectId = SubjectVBag.Id;
                        <input id="EducationLevelId" value="@EducationLevelId" hidden />
                        <input id="BoardLevelId" value="@BoardLevelId" hidden />
                        <input id="ClassId" value="@ClassId" hidden />
                        <input id="SubjectId" value="@SubjectId" hidden />
                    }
                    <div class="navbar-default sidebar chapters" role="navigation">
                        <div class="sidebar-nav navbar-collapse detailPage">
                            <ul class="nav" id="side-menu">
                                
                                @foreach (var Chapter in SubjectVBag.Chapters.OrderBy(x => x.SortNumber))
                                {
                                    var subSectionActive = string.Empty;
                                    var sectionActive = string.Empty;
                                    var chapterActive = string.Empty;
                                    var unCollapseChapterChild = string.Empty;
                                    var unCollapseSubjectChild = string.Empty;
                                    var unCollapseSubSectionChapterChild = string.Empty;
                                    if (Model.Type == AttributeType.Chapter && Model.Id == Chapter.Id)
                                    {
                                        chapterActive = "attributeActive";
                                    }
                                    else
                                    {
                                        chapterActive = string.Empty;

                                    }

                                    if (Model.Type == AttributeType.Section)
                                    {
                                        var Sections = Chapter.Sections.FirstOrDefault(x => x.Id == Model.Id);
                                        if (Chapter.Sections.Contains(Sections))
                                        {
                                            unCollapseChapterChild = "show";

                                            chapterActive = "active";
                                        }
                                        else
                                        {
                                            unCollapseChapterChild = string.Empty;

                                        }
                                    }

                                    else if (Model.Type == AttributeType.SubSection)
                                    {
                                        var subSections = Chapter.Sections.Select(s => s.SubSections.FirstOrDefault(c => c.Id == Model.Id));

                                        if (subSections.FirstOrDefault() != null)
                                        {
                                            unCollapseSubSectionChapterChild = "show";

                                            chapterActive = "active";
                                        }
                                        else
                                        {
                                            unCollapseSubSectionChapterChild = string.Empty;

                                        }
                                    }


                                    <li class="@chapterActive ">
                                        <a>@Chapter.Name <span class="fa arrow"></span></a>
                                        <span class="disciplineActionBtns"><a href="/Book/Chapter?id=@Chapter.Id"> <i class="fas fa-info-circle" ></i></a></span>
                                        <ul class="nav nav-third-level @unCollapseChapterChild  @unCollapseSubSectionChapterChild">
                                            @foreach (var Section in Chapter.Sections.OrderBy(x => x.SortNumber))
                                            {




                                                if (Model.Type == AttributeType.Section && Model.Id == Section.Id)
                                                {
                                                    sectionActive = "attributeActive";
                                                }
                                                else
                                                {
                                                    sectionActive = string.Empty;

                                                }
                                                if (Model.Type == AttributeType.SubSection)
                                                {
                                                    var subSections = Section.SubSections.FirstOrDefault(x => x.Id == Model.Id);
                                                    if (Section.SubSections.Contains(subSections))
                                                    {
                                                        unCollapseSubjectChild = "in show";
                                                        unCollapseChapterChild = "in show";
                                                        sectionActive = "active";
                                                    }
                                                    else
                                                    {
                                                        unCollapseSubjectChild = string.Empty;

                                                    }
                                                }
                                            <li class="@sectionActive ">
                                                <a> @Section.Name <span class="fa arrow"></span></a>
                                                <span class="disciplineActionBtns"> <a href="/Book/Section?id=@Section.Id"> <i class="fas fa-info-circle"></i></a></span>

                                                <ul class="nav nav-fourth-level @unCollapseSubjectChild">
                                                    @foreach (var SubSection in Section.SubSections.OrderBy(x => x.SortNumber))
                                                        {



                                                            if (Model.Type == AttributeType.SubSection && Model.Id == SubSection.Id)
                                                            {
                                                                subSectionActive = "attributeActive ";
                                                            }
                                                            else
                                                            {
                                                                subSectionActive = string.Empty;

                                                            }
                                                        <li class="aa @subSectionActive ">
                                                            <a> @SubSection.Name </a>
                                                            <span class="disciplineActionBtns"><a href="/Book/SubSection?id=@SubSection.Id"> <i class="fas fa-info-circle"></i></a></span>
                                                        </li>
                                                        }
                                                </ul>
                                            </li>
                                            }


                                        </ul>
                                    </li>
                                }


                            </ul>





                        </div>
                    </div>
                </div>
                @RenderBody()

            </div>


        </div>

        <!-- The Modal -->

      
      @Html.Partial("~/Views/Shared/Common/_BookModals.cshtml",Model)
    </main>

    

    <script src="~/js/vendor/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/ddslick.js"></script>
    <script src="~/js/rangy-core.js"></script>
    <script src="~/js/rangy-classapplier.js"></script>
    <script src="~/js/vendor/metisMenu.min.js"></script>
    <script src="~/js/vendor/fine-uploader.min.js"></script>
    <script src="~/js/vendor/sweetalert.min.js"></script>
    <script src="~/js/vendor/jquery.star.rating.min.js"></script>
    <script src="~/js/vendor/jquery.powertip.js"></script>
    @Html.Partial("~/Views/Shared/Scripts/_TourScript.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_BookScript.cshtml")
    <script src="~/js/Question.js"></script>

    
    <script src="~/js/returnErrorState.min.js"></script>

</body>

</html>