﻿@*@model AttributeViewModel*@
@{
    Layout = null;

}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>

    </title>

    @Html.Partial("~/Views/Shared/Common/_MetaData.cshtml")
    @Html.Partial("~/Views/Shared/Common/_CommonStyles.cshtml")
    @Html.Partial("~/Views/Shared/Common/_FineUploaderTemplate1.cshtml")
    @RenderSection("Head", false)
    <link href="/css/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120543286-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120543286-1');
    </script>
    <!-- Theme initialization -->
    <link rel="stylesheet" id="theme-style" href="/book/css/app-blue.css">
    <style>
        #myWindow {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background: #999;
        }

        #myContent {
            position: relative;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    @{
        var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
        var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
        var isStudent = User.IsInRole(UserRoles.Student.ToString());
        var isTeacher = User.IsInRole(UserRoles.Teacher.ToString());
        var userRole = isAdmin ? UserRoles.Admin.ToString() : isResearcher ? UserRoles.Researcher.ToString() : isStudent ? UserRoles.Student.ToString() : UserRoles.Teacher.ToString();

    }
    <input value="@userRole" hidden="hidden" class="LoggedUserRole" id="LoggedUserRole" />
    <div class="@userRole">
        @RenderBody()
    </div>
    @if (isAdmin || isResearcher)
    {
        @Html.Partial("~/Views/Shared/Common/AddEditAttributeModal.cshtml")
    }
    @if (isAdmin)
    {
        <div class="modal fade" id="AllocatedSubjectModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Allocate Subject
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col col-12 col-md-6 mb-2">

                                <select class="EducationLevelDDL dropdown"></select>
                            </div>

                            <div class="col  col-12 col-md-6 mb-2">

                                <select class="BoardLevelDDL dropdown"></select>

                            </div>

                            <div class="col col-12 col-md-6  mb-2">

                                <select class="ClassDDL dropdown"></select>

                            </div>

                            <div class="col col-12 col-md-6  mb-2">

                                <select class="SubjectDDL dropdown"></select>

                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer pt-2">
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-success rounded-0" id="allocateBtn">Allocate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="AllocatedChapterModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Allocate Chapter
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col col-12 col-md-6 mb-2">

                                <select class="EducationLevelDDL dropdown"></select>
                            </div>

                            <div class="col  col-12 col-md-6 mb-2">

                                <select class="BoardLevelDDL dropdown"></select>

                            </div>

                            <div class="col col-12 col-md-6  mb-2">

                                <select class="ClassDDL dropdown"></select>

                            </div>

                            <div class="col col-12 col-md-6  mb-2">

                                <select class="SubjectDDL dropdown"></select>

                            </div>
                            <div class="col col-12 col-md-6  mb-2">

                                <select class="ChapterDDL dropdown"></select>

                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer pt-2">
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6-col-xl-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-success rounded-0" id="allocateChapterBtn">Allocate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="AssignedSubjects">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="AssignedSubjectsSection">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="AssignedBatches">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="AssignedBatchesSection">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="AssignedChapters">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="AssignedChaptersSection">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="AddResearcher">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">

                            <span class="type">Add new</span> researcher
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="form">
                        @{ Html.RenderPartial("~/Views/Researcher/_ResearcherRegistraionForm.cshtml", new UserViewModel());}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="AddTeacher">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">

                            <span class="type">Add new</span> Teacher
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="form">
                        @{ Html.RenderPartial("~/Views/Teacher/_TeacherRegistraionForm.cshtml", new UserViewModel());}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="AddStudent">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">

                            <span class="type">Add new</span> student
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="form">
                        @{ Html.RenderPartial("~/Views/Student/_StudentRegistraionForm.cshtml", new UserViewModel());}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ResearcherInviteModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Send invitation to new researcher
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    @{ Html.RenderPartial("~/Views/Researcher/_InviteResearcherForm.cshtml", new Management.Data.Models.CustomModels.Mail());}

                </div>
            </div>
        </div>
        <div class="modal fade" id="TeacherInviteModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Send invitation to new Teacher
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    @{ Html.RenderPartial("~/Views/Teacher/_InviteTeacherForm.cshtml", new Management.Data.Models.CustomModels.Mail());}

                </div>
            </div>
        </div>
    }
    <div class="modal fade" id="monoGramModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Upload Monogram
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form>
                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="row">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div id="fine-uploader-manual-trigger"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer pt-2">
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <button type="button" class="disabledBtn btn btn-success rounded-0" id="saveMonoGram">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="imageBoxModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row justify-content-center text-center">
                        <div class="col">
                            <div class="alert alert-primary text-light">
                                <i class="fas fa-info-circle text-light"></i> Drag image area using right click / Mouse Wheel Scroll to zoom in and out.
                            </div>
                        </div>
                    </div>
                    <div class="image-content">
                        <div id="myWindow" style="width:100%;height:600px;">
                            <img id="myContent" src="" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        let TinyMVCGlobalOptions = {

            // General options
            selector: "",
            mode: "exact",
            theme: "modern",
            height: "300px",
            width: "100%",
            verify_html: false,
            browser_spellcheck: true,
            contextmenu: true,
            plugins: "powerpaste emoticons pagebreak,table,insertdatetime,preview,image ,imagetools,media,searchreplace,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,template,wordcount, lists, advlist, autosave,textcolor colorpicker,code spellchecker",
            font_formats: 'Montserrat=Montserrat,sans-serif;Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;AkrutiKndPadmini=Akpdmi-n;Comfortaa=Comfortaa, cursive;Raleway=Raleway, sans-serif;Roboto=Roboto, sans-serif;Nunito=Nunito, sans-serif;',
            fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',

            toolbar: "emoticons styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent | link image | forecolor backcolor code | fontselect fontsizeselect spellchecker",


            content_css: "/css/style.css",
            convert_urls: false,
            automatic_uploads: true,
            images_reuse_filename: true,
            images_upload_url: "/Upload/TinyUploadFile"
            ,
            style_formats: [
                { title: 'Line height 0.5', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '0.5' } },
                { title: 'Line height 1', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '1' } },
                { title: 'Line height 1.5', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '1.5' } },
                { title: 'Line height 2', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '2' } },
                { title: 'Line height 2.5', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '2.5' } },
                { title: 'Line height 3', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '3' } },
                { title: 'Line height 3.5', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '3.5' } },

            ]

        };
    </script>
    @RenderSection("Scripts", false)

    <script src="/js/vendor/metisMenu.min.js"></script>

    <script>

        function applyTooltip() {
            // $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="tooltip"]').powerTip();
            $('[data-toggle="popover"]').popover();
        }

        $(document).on('hidden.bs.modal', function (event) {
            if ($('.modal:visible').length) {
                $('body').addClass('modal-open');
            }
        });

        const smallSwal = swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 3000
        });
        $(".logout-btn").click(function () {
                $.ajax({
                    url: '@Url.Action("LogOut", "Account")',
                    type: "POST",
                    success: function () {
                        window.location.href = '@Url.Action("Login", "Account")'
                    },
                    error: function (error) {
                        returnErrorState(error);
                    }

                })
            });
        $(document).on("click", ".sidebar-toggle-btn", function () {
            if (!$("#app").hasClass("hide")) {

                $("#app").addClass("hide");
            }
            else {

                $("#app").removeClass("hide");

            }
        });
        function loadDisciplineMenu() {

            $.ajax({

                url: '/Home/LoadDisciplineMenu',

                type: "Get",
                success: function (view) {

                    $(".disciplineMenu").html(view);
                    $(".disciplineMenu").removeClass("open");
                    $('.menu').metisMenu();
                },
                error: function (error) {
                    returnErrorState(error);
                }


            })
        }

        function loadUserByEmail(email, element) {
            $.ajax({
                url: '/Home/GetUserByEmail',
                type: "Get",
                data: { email: email },
                success: function (view) {
                    $("#page-wrapper").html(view);
                    applyTooltip();
                    $(".back-btn").hide();
                    if (typeof takeTour === "function")
                        takeTour();
                },
                error: function (error) {
                    returnErrorState(error);
                }

            })
        }

        function loadUserDetailById(userid) {
            $.ajax({
                url: '/Home/GetUser',
                type: "Get",
                data: { userId: userid },
                success: function (view) {
                    $("#page-wrapper").html(view);
                    applyTooltip();
                    if (typeof takeTour === "function")
                        takeTour();
                },
                error: function (error) {
                    returnErrorState(error);
                }

            })
        }

        $(document).ready(() => {
            wzooms = WZoom.create('#myContent', {
                dragScrollableOptions:  {
                    onGrab: function () {
                        document.getElementById('myWindow').style.cursor = 'grabbing';
                    },
                    onDrop: function () {
                        document.getElementById('myWindow').style.cursor = 'grab';
                    }
                }
            });
            window.addEventListener('resize', function () {
                wzooms.prepare();
            });
        });
        
        $(document).on("click", ".question-content img", function (e) {
            var imgsrc = $(e.target).attr('src');
            $("#imageBoxModal #myContent").attr('src', imgsrc);
            
            $("#imageBoxModal").modal();
            setTimeout(() => wzooms.prepare() , 300)
            
        });
    </script>


    <script src="/js/vendor/jquery.datetimepicker.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>

</body>
</html>