﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->

<html class="no-js" lang="en">


<head>
    <link href="~/css/jquery.powertip-light.min.css" rel="stylesheet" />
    @Html.Partial("~/Views/Shared/Common/_MetaData.cshtml")
    @Html.Partial("~/Views/Shared/Common/_FineUploaderTemplate1.cshtml")
    @Html.Partial("~/Views/Shared/Common/_CommonStyles.cshtml")
    <link href="~/css/bootstrap-tour.min.css" rel="stylesheet" />
   
    <link rel="shortcut icon" href="~/images/favicon.png" />
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120543286-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120543286-1');
    </script>

</head>
<body>
    @{
        var userRole = User.IsInRole(UserRoles.Admin.ToString()) ? UserRoles.Admin.ToString() : User.IsInRole(UserRoles.Researcher.ToString()) ? UserRoles.Researcher.ToString() : User.IsInRole(UserRoles.Student.ToString()) || User.IsInRole(UserRoles.Teacher.ToString()) ? UserRoles.Student.ToString() : string.Empty;
    }
    <input value="@userRole" hidden="hidden" class="LoggedUserRole" />
    <div id="wrapper">
        @Html.Partial("~/Views/Shared/Common/_Header.cshtml")
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- The Modal -->

    @Html.Partial("~/Views/Shared/Common/AddEditAttributeModal.cshtml")

    <div class="modal fade" id="AddStudent">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">

                        <span class="type">Add new</span> student
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="form">

                    @{
                        var studentViewModel = ViewBag.Student as UserViewModel;
                        Html.Partial("~/Views/Student/_StudentRegistraionForm.cshtml", studentViewModel);}
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/Scripts/CommonScripts.cshtml")

    <script>

        const smallSwal = swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 3000
        });
        function applyTooltip() {
            // $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="tooltip"]').powerTip();
        }
            //function loadDisciplineMenu() {

            //    $.ajax({
            //        url: '/Student/LoadDisciplineMenu',
            //        type: "Get",
            //        success: function (view) {

            //            $(".disciplineMenu").html(view);
            //            $('#side-menu').metisMenu();
            //        },
            //        error: function (error) {
            //            returnErrorState(error);
            //        }


            //    })
            //}
    </script>
    @Html.Partial("~/Views/Shared/Common/_RequestSubjectAllocationModal.cshtml")
    @Html.Partial("~/Views/Shared/Common/_RequestChapterAllocationModal.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_ChapterAllocationScript.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_TestAndSetsScripts.cshtml")
</body>
</html>