﻿@model AttributeViewModel
@{
    Layout = "Layouts/_Layout";
}

@section Head{
    <link href="~/css/bootstrap-tour-standalone.min.css" rel="stylesheet" />
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js" type="text/javascript"></script>
}
@{
    var isTeacher = User.IsInRole(UserRoles.Teacher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

    if (isTeacher || isAdmin)
    {
        <div class="navigation-confirmation-box oval-rounded ">
            <div class="navigation-message float-md-left text-center">
                Now select a destination word/sentence.
            </div>


            <div class="float-md-right <text></text>-center">
                <a class="custom-btn btn-success oval-rounded saveBtn"><i class="fas fa-check"></i> Apply</a>
                <a class="custom-btn btn-danger oval-rounded closeBtn"><i class="fas fa-times"></i> Cancel</a>
            </div>
        </div>

    }
}
<div class="main-wrapper">
    <div class="app" id="app">
        @Html.Partial("~/Views/Shared/Common/_HeaderNew.cshtml")
        <article class="content">

            <div class="container">


                <div class="mt-2 mb-2">
                    <div class="adminPage position-relative">
                        <button class="addQuestionToWord rounded d-none" type="button">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <div id="page-wrapper">
                        @RenderBody()
                    </div>

                </div>


            </div>

        </article>
        @*<footer class="footer">
                <div class="footer-block buttons">
                        <iframe class="footer-github-btn" src="https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true"
                                frameborder="0" scrolling="0" width="140px" height="20px"></iframe>
                    </div>
                    <div class="footer-block author">
                        <ul>
                            <li class="mobile">
                                <a> Call Us</a>
                            </li>
                            <li>
                                <a href="https://github.com/modularcode/modular-admin-html#get-in-touch">get in touch</a>
                            </li>
                        </ul>
                    </div>
            </footer>*@


    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>

<div class="modal fade" id="AddTeacher">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">

                    <span class="type">Add new</span> teacher
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="form">

                @{
                    var teacherViewModel = ViewBag.Teacher as UserViewModel;
                    Html.Partial("~/Views/Teacher/_TeacherRegistraionForm.cshtml", teacherViewModel);}
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <environment include="Staging,Production">
        <script src="/js/teacher-script.min.js?v=2.0"></script>
    </environment>
    <environment include="Development">
        <script src="/book/js/vendor.js"></script>
        <script src="/book/js/app.js"></script>
        <script src="/js/vendor/jquery.ui.min.js"></script>
        <script src="/js/vendor/jquery.validate.js"></script>
        <script src="/js/vendor/jquery.ui.touch-punch.min.js"></script>
        <script src="/js/ddslick.js"></script>
        <script src="/js/vendor/sweetalert.js"></script>
        <script src="/js/vendor/jquery.star.rating.js"></script>
        <script src="/js/vendor/jquery.powertip.js"></script>
        <script src="/js/returnErrorState.js"></script>
        <script src="/js/vendor/fine-uploader.js"></script>
        <script src="/js/vendor/select2.js"></script>
        <script src="/js/jquery.inputmask.bundle.js"></script>

        <script src="/js/lightgallery.min.js"></script>
        <script src="/js/vendor/moment.min.js"></script>
        <script src="/js/vendor/fullcalendar.min.js"></script>
        <script src="/js/wheel-zoom.min.js"></script>

        <script src="/js/Teacher.js"></script>
        <script src="/js/vendor/bootstrap-tour-standalone.min.js"></script>
        <script src="/js/TourScript.js"></script>
        <script src="/js/Question.js"></script>
        <script src="/js/rangy-core.js"></script>
        <script src="/js/rangy-classapplier.js"></script>
        <script src="/js/Attribute_CRUD.js"></script>
        <script src="/js/ddSlick_Scripts.js"></script>
        <script src="/js/BookScript.js"></script>
        <script src="/js/Batch.js"></script>
        <script src="/js/main.js"></script>
    </environment>

    @Html.Partial("~/Views/Shared/Scripts/CommonScripts.cshtml")

    @Html.Partial("~/Views/Shared/Common/_RequestSubjectAllocationModal.cshtml")
    @Html.Partial("~/Views/Shared/Common/_RequestChapterAllocationModal.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_ChapterAllocationScript.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_TestAndSetsScripts.cshtml")

    @Html.Partial("~/Views/Shared/Scripts/_PowerSlideScripts.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_ExamScripts.cshtml")
    @RenderSection("Scripts", false)

}