﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->

<html class="no-js" lang="en">


<head>
    <link href="~/css/jquery.powertip-light.min.css" rel="stylesheet" />
    @Html.Partial("~/Views/Shared/Common/_MetaData.cshtml")
    @Html.Partial("~/Views/Shared/Common/_CommonStyles.cshtml")
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120543286-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120543286-1');
    </script>
</head>
<body>
    @{ 
        var userRole = User.IsInRole(UserRoles.Admin.ToString())? UserRoles.Admin.ToString(): User.IsInRole(UserRoles.Researcher.ToString())?UserRoles.Researcher.ToString(): User.IsInRole(UserRoles.Student.ToString())? UserRoles.Student.ToString():string.Empty;
      
    }
    <input value="@userRole" hidden="hidden" class="LoggedUserRole" />
    <div id="wrapper">
        @Html.Partial("~/Views/Shared/Common/_Header.cshtml")
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- The Modal -->
    
    @Html.Partial("~/Views/Shared/Scripts/CommonScripts.cshtml")

    <script src="~/js/Researcher.min.js"></script>
    <script src="~/js/Student.min.js"></script>

    <script src="~/js/returnErrorState.min.js"></script>
    <script src="~/js/vendor/jquery.powertip.js"></script>

</body>
</html>