﻿@*@model AttributeViewModel*@
@{
    Layout = "Layouts/_Layout";
}

@section Head{
    <script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js" type="text/javascript"></script>
    @Html.Partial("~/Views/Shared/Common/_FineUploaderTemplateForTEST.cshtml")

}

@{

    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());


}
<div class="main-wrapper">
    <div class="app" id="app">
        @Html.Partial("~/Views/Shared/Common/_HeaderNew.cshtml")
        <article class="content">

            <div class="container">


                <div class="mt-2 mb-2">

                    <div id="page-wrapper">
                        @RenderBody()
                    </div>

                </div>


            </div>

        </article>


    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>

@section Scripts{

    <environment include="Staging,Production">
        <script src="/js/test-script.min.js?v=2.0"></script>
    </environment>
    <environment include="Development">
        <script src="/book/js/vendor.js"></script>
        <script src="/book/js/app.js"></script>
        <script src="/js/vendor/jquery.ui.min.js"></script>
        <script src="/js/vendor/jquery.validate.js"></script>
        <script src="/js/vendor/jquery.ui.touch-punch.min.js"></script>
        <script src="/js/ddslick.js"></script>
        <script src="/js/vendor/sweetalert.js"></script>
        <script src="/js/vendor/jquery.star.rating.js"></script>
        <script src="/js/vendor/jquery.powertip.js"></script>
        <script src="/js/jquery.inputmask.bundle.js"></script>
        <script src="/js/returnErrorState.js"></script>
        <script src="/js/vendor/metisMenu.js"></script>
        <script src="/js/vendor/fine-uploader.js"></script>
        <script src="/js/vendor/select2.js"></script>
        <script src="/js/lightgallery.min.js"></script>
        <script src="/js/wheel-zoom.min.js"></script>

        <script src="/js/Researcher.js"></script>
        <script src="/js/Student.js"></script>
        <script src="/js/Question.js"></script>
        <script src="/js/ddSlick_Scripts.js"></script>
        <script src="/js/ExamQuestion.js"></script>
        <script src="/js/main.js"></script>
    </environment>

    @Html.Partial("~/Views/Shared/Scripts/CommonScripts.cshtml")

    <script>

        function emptyRequestMessage() {
            smallSwal('No Request Available', '', 'info');
        }

        $(document).ready(function () {






            var $form = $('#inviteResearcherForm');
            $form.submit(function (data, event) {

                var isFormValid = $('#inviteResearcherForm').valid();
                if (isFormValid) {

                    $.post($(this).attr('action'), $(this).serialize(), function (response) {
                        //can do here
                    }, 'json').done(function (data) {
                        if (data.success) {
                            //swal("Sent!!", data.message, "success");
                            smallSwal({
                                type: 'success',
                                title: data.message
                            });
                        } else {
                            swal("Error!!", data.message, "error")

                        }

                    });
                    return false;
                }
            });
            appendclickOfAddResearcher();

        });





    </script>

    @Html.Partial("~/Views/Shared/Scripts/_ChapterAllocationScript.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_TestAndSetsScripts.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_PowerSlideScripts.cshtml")
    @Html.Partial("~/Views/Shared/Scripts/_ExamScripts.cshtml")

    @RenderSection("Scripts", false)
}