﻿@using Management.ViewModels
@model Management.ViewModels.LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/css/schoolStyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>

    <div class="main">
       
           <div class="login-Wrapper display-table">
            <div class="login-Overlay display-cell">
                <div class="container position-relative">
                   
                    <div class="form-Wrapper">  
                        <div class="form-header">
                          
                            <div class="login-icon  col">

                                <img src="~/images/logo.svg" />
                            </div>
                            <div class="text-Wrapper  col">
                                <h2>Welcome</h2>
                                <p class="text-center">Enter login credential</p>
                            </div>
                           
                            <div asp-validation-summary="ModelOnly" class="ui error message"></div>
                        </div>
                        <form asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-action="Login" method="post" class="loginPage">
                            <div class="input-group  mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                                </div>
                                <input class="form-control" asp-for="Email" placeholder="Email" />
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                                </div>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />

                            </div>
                            
                            <button type="submit" class="btn btn-outline-primary form-control login-btn">
                               <i class="fas fa-sign-in-alt"></i> Login
                            </button>
                            <p class="pt-2 float-lg-left text-center"><a href="/Researcher/Register">Register as a Researcher</a></p>
                            <p class="pt-lg-2 float-lg-right text-center"><a href="/Student/Register">Register as a Student</a></p>
                            <p class="pt-lg-2 float-lg-right text-center" ><a href="/Account/ForgotPassword">Forgot Password?</a></p>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</body>
</html>
