﻿@using Management.ViewModels
@model ResetPasswordViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/css/schoolStyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="main">

        <div class="login-Wrapper display-table">
            <div class="login-Overlay display-cell">
                <div class="container position-relative">

                    <div class="form-Wrapper">
                        <div class="form-header">
                            <div class="login-icon  col">

                                <img src="~/images/logo.svg" />
                            </div>

                            <div class="text-Wrapper  col">
                              
                                <p class="text-center">Enter New Password</p>
                            </div>
                           
                            <div asp-validation-summary="ModelOnly" class="ui error message"></div>
                        </div>
                        <form asp-controller="Account" asp-action="ResetPassword" id="ResetPasswordForm" method="post" class="loginPage">
                            @{ 
                                var hashCode = Url.ActionContext.HttpContext.Request.QueryString.ToString();
                                hashCode = hashCode.Replace("?t=", "");
                            }
                            <input asp-for="ResetToken" value="@hashCode" hidden/>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                                </div>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />

                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                                </div>
                                <input  class="form-control" id="ConfirmPassword"  name="ConfirmPassword"  placeholder="Confirm New Password" type="password" required />

                            </div>
                            
                            <button type="submit" class="btn btn-outline-primary form-control login-btn">
                                <i class="fas fa-sign-in-alt"></i> Submit
                            </button>
                            <p class="pt-2 float-right" ><a href="/Account/Login">Go to Login.</a></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/vendor/jquery.min.js"></script>
    <script src="~/js/vendor/sweetalert.min.js"></script>
    <script src="~/js/vendor/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            const smallSwal = swal.mixin({
                toast: true,
                position: 'top',
                showConfirmButton: false,
                timer: 3000
            });
           validateResearcherForm();
            var $form = $('#ResetPasswordForm');
          $form.off("submit");
            $form.submit(function (data, event) {
                
                var isFormValid = $('#ResetPasswordForm').valid();
                if (isFormValid) {
                    swal({
                        title: "Wait!",
                        type: "info",
                        text: "Trying to reset your password!",
                        allowOutsideClick: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    });
                    $.post($(this).attr('action'), $(this).serialize(), function (response) {
                        if (response.success) {
                          
                           smallSwal("Done!!", response.message, "success");
                        } else {
                            swal({
                                title: "Error!!",
                                html: response.message +"<br><br> <a href='/Account/ForgotPassword'>Reset Password Again</a>",
                                type: "error"
                            });
                        }
                }, 'json').done(function (data) {


                });
                    return false;
                }
            });

        });

        function validateResearcherForm() {
            /**
        * Custom validator for contains at least one lower-case letter
        */
            // $.validator.addMethod("atLeastOneLowercaseLetter", function (value, element) {
            //     return this.optional(element) || /[a-z]+/.test(value);
            // }, "Must have at least one lowercase letter");

            // /**
            //  * Custom validator for contains at least one upper-case letter.
            //  */
            // $.validator.addMethod("atLeastOneUppercaseLetter", function (value, element) {
            //     return this.optional(element) || /[A-Z]+/.test(value);
            // }, "Must have at least one uppercase letter");

            // /**
            //  * Custom validator for contains at least one number.
            //  */
            // $.validator.addMethod("atLeastOneNumber", function (value, element) {
            //     return this.optional(element) || /[0-9]+/.test(value);
            // }, "Must have at least one number");

            // /**
            //  * Custom validator for contains at least one symbol.
            //  */
            // $.validator.addMethod("atLeastOneSymbol", function (value, element) {
            //     return this.optional(element) || /[!@@#$%^&*()]+/.test(value);
            // }, "Must have at least one symbol");

            $('#ResetPasswordForm').validate({
                rules: {
                    Password: {
                        required: true,
                    },
                    ConfirmPassword: {
                        equalTo: "#Password"
                    }
                }

            })


        }
    </script>
</body>
</html>
