﻿@model Management.ViewModels.UserViewModel

@{
    var isAdmin = Model.Role == UserRoles.Admin;
    var isStudent = Model.Role == UserRoles.Student;
    var isTeacher = Model.Role == UserRoles.Teacher;
    var isResearcher = Model.Role == UserRoles.Researcher;

    var backBtn = "studentBtn";
    var editBtn = "studentEditButton";
    var deleteBtn = "studentDeleteButton";
    if (isTeacher)
    {
        backBtn = "teacherBtn";
        editBtn = "teacherEditButton";
        deleteBtn = "teacherDeleteButton";
    }
    else if (isResearcher)
    {
        backBtn = "researcherBtn";
        editBtn = "researcherEditButton";
        deleteBtn = "researcherDeleteButton";
    }


}
<p>
    <a class="custom-button btn-blue oval-rounded @backBtn back-btn pr-4 pl-4" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Back"><i class="fas fa-chevron-circle-left"></i></a>

</p>

<div id="detailPage" data-userid="@Model.Id">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                    @if (!string.IsNullOrEmpty(Model.ProfilePictureUrl))
                    {
                    <h3 class="text-dark d-block font-weight-bold font-size-35">
                        <div class="attribute-icon mx-auto">
                            <div class="detailed profile-img" style="background-image:url('@("/UploadedArtifacts/"+ Model.ProfilePictureUrl)')"></div>

                            <div class="display-table">
                                <div class="display-cell">
                                    <i class="deleteAttributeMonogramBtn fas fa-trash" data-toggle="tooltip" data-placement="top" title="Delete Profile Picture" data-attributetype="StudentProfile" data-attributeid="@Model.Id"></i>

                                </div>
                            </div>
                        </div>
                        @(Model.FirstName + " " + Model.LastName)
                       
                    </h3>
                    }
                    else
                    {
                        <h3 class="text-dark d-block font-weight-bold font-size-35">
                            <div class="attribute-icon mx-auto">
                                @if (Model.Gender == Gender.Female)
                                {
                                    <div class="detailed profile-img" style="background-image:url('/images/femaleStudent.svg')"></div>

                                }
                                else
                                {
                                    <div class="detailed profile-img" style="background-image:url('/images/student.svg')"></div>

                                }
                                <div class="display-table">
                                    <div class="display-cell">
                                        <i class="fas fa-file-image addMonoGramBtn" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-attributetype="UserProfile" data-modaltext="Add profile picture" data-attributeid="@Model.Id" title="Add profile picture"></i>

                                    </div>
                                </div>
                            </div>
                            @(Model.FirstName + " " + Model.LastName)
                        </h3>

                    }




                <div class="actionBtns right">
                    <i class="fas fa-edit @editBtn" data-toggle="tooltip" data-placement="left" data-id="@Model.Id" title="Edit"></i>
                    @if (!isAdmin)
                    {
                        <i class="fa fa-trash @deleteBtn" data-toggle="tooltip" data-placement="left" data-name="@(Model.FirstName + " " + Model.LastName)" data-id="@Model.Id" title="Delete"> </i>
                    }
                </div>
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="userDetails">
        <div class="row">
            @if (!string.IsNullOrEmpty(Model.Email))
            {

                <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mb-6">
                    <p class="mb-2 text-center">
                        <i class="fas fa-envelope" data-toggle="tooltip" data-placement="top" title="Email Address"></i>
                    </p>
                    <strong>@Model.Email</strong>

                </div>
            } @if (!string.IsNullOrEmpty(Model.MobileNumber))
            {
                <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mb-6">
                    <p class="mb-2 text-center">
                        <i class="fas fa-mobile" data-toggle="tooltip" data-placement="top" title="Mobile Number"></i>
                    </p>
                    <strong>@Model.MobileNumber</strong>

                </div>}
            @if (!string.IsNullOrEmpty(Model.PhoneNumber))
            {
                <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mb-6">
                    <p class="mb-2 text-center">
                        <i class="fas fa-phone" data-toggle="tooltip" data-placement="top" title="Phone Number"></i>
                    </p>
                    <strong>@Model.PhoneNumber</strong>

                </div>}

            @if (!string.IsNullOrEmpty(Model.CNIC))
            {
                <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mb-6">
                    <p class="mb-2 text-center">
                        <i class="fas fa-id-card   " data-toggle="tooltip" data-placement="top" title="CNIC"></i>
                    </p>
                    <strong>@Model.CNIC</strong>

                </div>}
            @if (!string.IsNullOrEmpty(Model.NationalTaxNumber))
            {
                <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mb-6">
                    <p class="mb-2 text-center">
                        <i class="fas fa-credit-card" data-toggle="tooltip" data-placement="top" title="National Tax Number (NTN)"></i>
                        <br />
                    </p>

                    <strong>@Model.NationalTaxNumber</strong>

                </div>}

            <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mb-6">
                <p class="mb-2 text-center">
                    <i class="fas fa-clock" data-toggle="tooltip" data-placement="top" title="Registration Date"></i>
                    <br />
                </p>

                <strong>@Model.RegistrationDate</strong>

            </div>
            @if (!string.IsNullOrEmpty(Model.SubjectExpertise))
            {
                <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mb-6">
                    <p class="mb-2 text-center">
                        <i class="fas fa-book" data-toggle="tooltip" data-placement="top" title="Subject Expertise"></i>
                    </p>
                    <strong>@Model.SubjectExpertise</strong>

                </div>}
            @if (!string.IsNullOrEmpty(Model.YearOfExperience))
            {

                var numberOfYears = Convert.ToInt32(Model.YearOfExperience);
                var yearText = numberOfYears > 1 ? "Years" : "Year";

                <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mb-6">
                    <p class="mb-2 text-center">
                        <i class="fas fa-laptop" data-toggle="tooltip" data-placement="top" title="@(Model.YearOfExperience + " " + yearText + " Of Experience")"></i>
                    </p>

                    <p class="text-center">
                        @for (int i = 0; i < numberOfYears; i++)
                        {
                            <span class="fa fa-star sm-yellow"></span>
                        }
                    </p>

                </div>}

            @if (!string.IsNullOrEmpty(Model.Address))
            {
                <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center mb-6">
                    <p class="mb-2 text-center">
                        <i class="fas fa-map-marker-alt" data-toggle="tooltip" data-placement="top" title="Address"></i>
                    </p>
                    <strong>@Model.Address</strong>

                </div>}
        </div>
    </div>
    @{Html.RenderPartial("Common/AllocatedSubjects", Model.AllocatedSubjects); }

    @{ Html.RenderPartial("Common/AllocatedChapters", Model.AllocatedChapters);}
</div>
