﻿
<div class="DashboadPage">

    <input hidden id="registeredStudents" value="@ViewBag.RegisteredStudentCount" />
    <input hidden id="unregisteredStudents" value="@ViewBag.UnregisteredStudentCount" />


    <div class="row">

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="#" class="researcherBtn float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon red">
                        <i class="ilum ilum-researcher"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.ReseacherCount</div>
                        <p>Researchers</p>
                    </div>
                </div>
            </a>
        </div>

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="#" class="teacherBtn float-left w-100">
                <div class="custom-card">
                    <div class="custom-card-icon red">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.TeachersCount</div>
                        <p>Teachers</p>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="#" class="studentBtn float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon green">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.StudentCount</div>
                        <p> Students</p>
                    </div>
                </div>
            </a>
        </div>

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="#" class="addStudentBtn float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon blue">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">*</div>
                        <p>Register a Student</p>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            @{
                var showClass = "";
                var onclickFn = "";
                if (Convert.ToInt32(ViewBag.SubjectAllocationRequestCount) > 0)
                {
                    showClass = "showRequestsBtn";
                }
                else
                {
                    onclickFn = "onclick=emptyRequestMessage()";

                }
            }
            <a href="#" class="@showClass float-left w-100" @onclickFn>
                <div class="custom-card">

                    <div class="custom-card-icon orange">
                        <i class="ilum ilum-advice-request"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.SubjectAllocationRequestCount</div>
                        <p>Subject Requests</p>
                    </div>
                </div>
            </a>
        </div>

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            @{
                var showChapterClass = "";
                var onclickChapterFn = "";
                if (Convert.ToInt32(ViewBag.ChapterAllocationRequestCount) > 0)
                {
                    showChapterClass = "showChapterRequestsBtn";
                }
                else
                {
                    onclickChapterFn = "onclick=emptyRequestMessage()";

                }
            }
            <a href="#" class="@showChapterClass float-left w-100" @onclickChapterFn>
                <div class="custom-card">

                    <div class="custom-card-icon pink">
                        <i class="ilum ilum-advice-request"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.ChapterAllocationRequestCount</div>
                        <p>Chapter Requests</p>
                    </div>
                </div>
            </a>
        </div>

        @*<div class=" col-lg-6 col-xl-4 col-md-6 mb-3">

            <a href="/Test/Index" class=" float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon grey">
                        <i class="fas fa-tasks"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">*</div>
                        <p>Start Creating Test</p>
                    </div>
                </div>
            </a>
        </div>*@

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">

            <a href="/Batch/List" class=" float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon grey">
                        <i class="fas  fa-users-cog"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.BatchCount</div>
                        <p>Manage Batches</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
    @*<div class="row">
        
        <!-- /.col-lg-8 -->
        <div class="col-lg-12">

            <!-- /.panel -->
            <div class="panel">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>Registered/Unregistered Student
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                    <a href="#" class="btn btn-primary studentBtn">View Details</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>*@
    <!-- /.row -->

   