﻿@model List<Chapter>

<div class="sidebar m-0">
    <div class="sidebar-container">
        <nav class="menu">
            <ul class="sidebar-menu metismenu" id="load-chapter-menu">
                @{

                    @foreach (var Chapter in Model.OrderBy(x => x.SortNumber))
                    {
                        <li>
                            <label>
                                <input type="checkbox" data-attributeid="@Chapter.Id" data-attributetype="Chapter" name="ChaptersCheckbox" class="checkbox squared colored" />
                                <span class="grey-text"></span>
                            </label>
                            <a href="#">
                                @if (Chapter.Sections.Any())
                                {<span class="fa arrow"></span>}
                                @Chapter.Name
                            </a>



                            <ul class="nav nav-third-level">
                                @foreach (var Section in Chapter.Sections.OrderBy(x => x.SortNumber))
                                {
                                    <li>
                                        <label>
                                            <input type="checkbox" data-attributetype="Section" data-attributeid="@Section.Id" name="ChaptersCheckbox" class="checkbox squared colored" />
                                            <span class="grey-text"></span>
                                        </label>
                                        <a href="#">
                                            @if (Section.SubSections.Any())
                                            {<span class="fa arrow"></span>}
                                            @Section.Name
                                        </a>


                                        <ul class="nav nav-fourth-level">
                                            @foreach (var SubSection in Section.SubSections.OrderBy(x => x.SortNumber))
                                            {
                                                <li>

                                                    <label>
                                                        <input type="checkbox" data-attributetype="SubSection" data-attributeid="@SubSection.Id" name="ChaptersCheckbox" class="checkbox squared colored" />
                                                        <span class="grey-text"></span>
                                                    </label>
                                                    <a href="#">
                                                        @SubSection.Name
                                                    </a>


                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }


                            </ul>
                        </li>
                    }

                }

            </ul>
        </nav>
    </div>
</div>