﻿@model List<Management.ViewModels.TestViewModel>
@{
    var serialNo = 0;
    if (Model.Count() > 0)
    {

        foreach (var test in Model.OrderByDescending(o => o.AddedDate))
        {

            serialNo++;

            <div class="attributesRow" data-id="@test.Id">

                <div class="attributesRecord w-7">
                    <span class="serial-number">
                        @serialNo
                    </span>
                </div>

                <div class="attributesRecord w-40 ">
                    <span class="text-left">
                        @test.TestTitle
                    </span>
                </div>


                <div class="attributesRecord">
                    <span class="text-left">
                        @test.AddedDate.ToString("dd/MM/yyyy")
                    </span>
                </div>
                <div class="attributesRecord d-flex float-right w-auto">

                    <a class="btn btn-danger font-size-14 text-white oval-rounded py-2 px-3 deleteTestButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@test.Id" title="Delete">
                        <i class="fa fa-trash mx-0 text-white"></i>
                        Delete Test
                    </a>
                    <a href="/Test/Detail/@test.Id" class="btn btn-success font-size-14 text-white oval-rounded py-2 px-3 ml-2">
                        <i class="fa fa-eye mx-0 px-2 text-white"></i>
                        Veiw Detail
                        <i class="ti-arrow-right ml-2"></i>
                    </a>
                </div>
            </div>

        }

    }
}