﻿@model List<Management.ViewModels.TestViewModel>
@{
    var serialNo = 0;
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    if (Model.Count() > 0)
    {

        foreach (var test in Model.OrderByDescending(o => o.AddedDate))
        {

            serialNo++;

            <div class="attributesRow" data-id="@test.Id">

                <div class="attributesRecord">
                    <span class="serial-number">
                        @serialNo
                    </span>
                </div>

                <div class="attributesRecord w-55">
                    <span class="text-left">
                        @test.TestTitle
                    </span>
                </div>

                <div class="actionBtns float-right">
                    <i class="fa fa-eye viewTestButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@test.AttributeId" data-attributetype="@test.AttributeType" data-id="@test.Id" title="View"></i>
                    @if (isAdmin || isResearcher)
                    {
                        <i class="fa fa-edit editTestButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@test.AttributeId" data-attributetype="@test.AttributeType" data-id="@test.Id" title="Edit"></i>
                        <i class="fa fa-trash deleteTestButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-attributeid="@test.AttributeId" data-attributetype="@test.AttributeType" data-id="@test.Id" title="Delete"> </i>

                    }
                </div>
            </div>

        }

    }
}