﻿@model TestViewModel

@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{

    var testType = TestTypes.Test.ToString();
    if (Model.TestTypeId ==Convert.ToInt32(TestTypes.Mock))
    {
        testType = TestTypes.Mock.ToString();

    }
    <form id="editTestForm" asp-controller="Test" asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
        <div class="modal-body">
            <div class="row">
                <input asp-for="Id" hidden="hidden" />
                <input asp-for="AttributeId" hidden="hidden" />
                <input asp-for="AttributeType" hidden="hidden" />
                <input asp-for="TestTypeId" hidden="hidden" />
                <input asp-for="QuestionIds" hidden="hidden" />

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">Title</label>
                        <input asp-for="TestTitle" placeholder="Enter @testType Title" class="form-control" />
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">Expiry Date Time</label>
                           
                        <input  asp-for="ExpiryDate" type="text" class="form-control datetimepicker" />

                    </div>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">Detail (Add some Detail/Note regarding this @testType.)</label>
                        <textarea asp-for="Detail"  class="tmceeditor"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <div class="listOfSetWithQuestions">
                        @*  _SetsListWithQuestions.cshtml will render here*@
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer pt-2">

            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

            <button type="submit" class="btn btn-success rounded-0" id="saveBtn"><i class="fas fa-save"></i> Update </button>

        </div>
    </form>


}