﻿
@model List<TestViewModel>
@{

    var serialNo = 0;
    <div class="row">
        <div class="col-12">
            <div id="AllTests" class="student-section p82-topbot totalPatient">
                <div class="allPatients">
                    <div class="header">
                        <h2>
                            <i class="fas fa-th-list"></i> List of Tests
                        </h2>
                    </div>
                    <div class="recommendedSection allAttributesView">


                        <div class="attributesCol">

                            <div class="attributesSection">

                                <div class="attributesHeader">
                                    <div class="pdetail name phCol">
                                        <a href="javascript:void(0)">
                                            Serial No.
                                            <i class="fas fa-angle-double-down">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="pdetail phCol ">
                                        <a href="javascript:void(0)">
                                            Name
                                            <i class="fas fa-angle-double-down">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="pdetail phCol ">
                                        <a href="javascript:void(0)">
                                            Create Date
                                            <i class="fas fa-angle-double-down">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                                <!-- attributesHeader -->



                                <div class="table-body all-attributes">
                                    @foreach (var test in Model)
                                    {
                                        serialNo++;

                                        <div class="attributesRow" data-id="@test.Id">

                                            <div class="attributesRecord">
                                                <span class="serial-number">
                                                    @serialNo
                                                </span>
                                            </div>

                                            <div class="attributesRecord ">
                                                <span class="text-left">
                                                    @test.TestTitle
                                                </span>
                                            </div>


                                            <div class="attributesRecord">
                                                <span class="text-left">
                                                    @test.AddedDate.ToString("dd/MM/yyyy")
                                                </span>
                                            </div>
                                            <div class="actionBtns ">



                                                <a href="/Test/Detail/@test.Id"><i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@test.Id" title="View Test"></i></a>

                                                @*<i class="fa fa-edit editbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@test.Id" title="Edit"></i>*@
                                                <i class="fa fa-trash deletebutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@test.Id" title="Delete"> </i>

                                            </div>
                                        </div>

                                    }
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
}