﻿@model List<SetWithQuestionsViewModel>
@if (Model.Count > 0)
{
    <div class="alert alert-info">
        Tick Questions from the Sets below.
    </div>
    @foreach (var item in Model)
    {
        <div class="position-relative d-inline-block attribute-type-title mb-3">
            <span>Set: @item.Set.Title </span>
        </div>
        <div>
            @Html.Partial("~/Views/Test/_AvailableQuestionsList.cshtml", item.Questions)
        </div>
        <hr />
    }

}
else
{
    <div class="alert alert-danger">
        No Set added. Add some set and questions in it.
    </div>
}

