﻿@model Management.ViewModels.AttributeViewModel
@{ 
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
}
@if (isAdmin || isResearcher)
{


<div class="modal fade" id="addTestModal"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                var testType = TestTypes.Test;
                if (Model.Type == AttributeType.Subject)
                {
                    testType = TestTypes.Mock;

                }
            }
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Add @testType.ToString()
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body And Footer-->
            @{ Html.RenderPartial("~/Views/Test/_AddNewTest.cshtml", new TestViewModel() { TestTypeId = Convert.ToInt32(testType) });}


        </div>
    </div>
</div>

<div class="modal fade" id="editTestModal"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                var editTestType = TestTypes.Test;
                if (Model.Type == AttributeType.Subject)
                {
                    editTestType = TestTypes.Mock;

                }
            }
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Edit @editTestType.ToString()
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body And Footer-->
            @* RenderPartial _EditTest.cshtml"*@
            <div class="editTestView">
                <!-- Edit Test Data view (_EditTest.cshtml) will render here.-->
            </div>

        </div>
    </div>
</div>
                }
<div class="modal fade" id="viewTestModal">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                var viewTestType = TestTypes.Test;
                if (Model.Type == AttributeType.Subject)
                {
                    viewTestType = TestTypes.Mock;

                }
            }
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                   <i class="fas fa-tasks"></i> @viewTestType.ToString()
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body And Footer-->
            @* RenderPartial _EditTest.cshtml"*@
            <div class="viewTestView">
                @*Partial --> "~/Views/Test/_ViewTest.cshtml" will render here through ajax by clicking on viewTestButton *@
            </div>

        </div>
    </div>
</div>