﻿@model TestViewModel

@{
   
    var testType = TestTypes.Test.ToString();
    if (Model.TestTypeId == Convert.ToInt32(TestTypes.Mock))
    {
        testType = TestTypes.Mock.ToString();

    }
}
<div class="modal-body">
    <div class="row">
        <input asp-for="QuestionIds" hidden="hidden" />

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3">
            <div class="page-header shadow">
                <div class="w-100 float-left">

                    <div class="attribute-type-title">
                        <span><i class="fas fa-angle-double-right"></i> Title</span>
                    </div>
                    <h5>@Model.TestTitle </h5>

                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3">
            <div class="page-header shadow">
                <div class="w-100 float-left">

                    <div class="attribute-type-title">
                        <span><i class="fas fa-clock"></i> Expiry Date</span>
                    </div>
                    <h5>@Model.ExpiryDate.ToLongDateString() @Model.ExpiryDate.ToShortTimeString() </h5>
                </div>
            </div>

        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3">
            <div class="page-header shadow">

                <div class="w-100 float-left">

                    <div class="attribute-type-title">
                        <span> Detail</span>
                    </div>
                    <div>
                        @Html.Raw(Model.Detail)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="listOfSetWithQuestions">
                @Html.Partial("~/Views/Test/_ViewSetsListWithQuestions.cshtml", Model.SetWithQuestionsViewModel)
            </div>
        </div>
    </div>
</div>

<div class="modal-footer pt-2">

    <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
</div>


