﻿@model List<SetWithQuestionsViewModel>

<div class="alert alert-info" >
    Below are the questions from different Sets.
</div>
@foreach (var item in Model)
{
    <div class="position-relative d-inline-block attribute-type-title mb-3">
        <span>Set: @item.Set.Title </span>
    </div>
    <div>
        @Html.Partial("~/Views/Test/_TestQuestionsList.cshtml", item.Questions)
    </div>
    <hr />
}
