﻿@model TestViewModel



@{
    var batch = ViewBag.Batch as BatchViewModel;

    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
}
<div class="container-fluid mb-3">
    <a class="custom-button btn-blue oval-rounded pr-4 pl-4" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Test Home Page" href="/Batch/Detail/@batch.Id"><i class="fas fa-chevron-left"></i></a>
    <div class="row ViewAttributesPage unselectable">

        <div class="col-lg-12">
            <div class="page-header shadow">
                <div class="w-100 float-left position-relative ">


                    <h3>
                        <span class="d-block">Create a New Test for</span>  <span class="text-primary mt-3 d-block">@batch.Title</span>
                        @if (batch.Subject != null)
                        {
                            <p class="text-center mt-3 font-size-15">Subject: <span class="text-success">@batch.Subject.Name</span></p>
                        }
                        else
                        {

                            <p class="text-center mt-3 font-size-15">
                                <span class="text-danger">No Subject Assigned</span>
                            </p>

                        }

                    </h3>

                </div>

            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    @if (batch.Subject != null)
    {
        <div class="row mt-2 justify-content-end">
            <div class="col-12 col-sm-2">

                <a disabled class="custom-button btn-blue text-center oval-rounded pt-2 pb-2 w-100 float-left btnPrevious" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Next"> <i class="mr-2  fas fa-chevron-circle-left"></i> Previous</a>

            </div>
            <div class="col-12 col-sm-2">

                <a class="  custom-button btn-blue text-center oval-rounded pt-2 pb-2 w-100 float-left btnNext" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Next">Next <i class="mr-2  fas fa-chevron-circle-right"></i> </a>

            </div>
        </div>
        <form id="createTestForm" asp-controller="Test" asp-action="Create">
            <div data-step="1" class="step show">
                <input id="BatchId" name="BatchId" value="@batch.Id" hidden />
                <input id="SubjectId" name="SubjectId" value="@batch.SubjectId" hidden />
                <div class="row mt-2">
                    <div class="col-12">

                        <div class="student-section p82-topbot totalPatient">
                            <div class="allPatients">
                                <div class="header">
                                    <h2>
                                        <i class="fas fa-th-list pr-2"></i> Select from list of Chapters
                                    </h2>
                                </div>
                                <div class="recommendedSection allAttributesView">

                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>
                </div>
            </div>
            <div data-step="2" class="step" style="display:none">

                <div class="row mt-2">
                    <div class="col-12">

                        <div class="student-section p82-topbot totalPatient">
                            <div class="allPatients">
                                <div class="header">
                                    <h2>
                                        <i class="fas fa-th-list pr-2"></i> Select Sections and Subsections
                                    </h2>
                                </div>
                                <div class="recommendedSection allChaptersAndSubsection">
                                    <!-- PartialView _AllChaptersTree.cshtml -->
                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>
                </div>

                <h6 class="mt-4">Include Questions</h6>
                <div class="row mt-2">
                    <div class="col-12 col-sm-6">
                        <label>
                            <input type="radio" value="@IncludeQuestionType.all" asp-for="IncludeQuestion" class="radio rounded colored" checked="checked" />
                            <span class="grey-text"></span>
                            All
                        </label>
                    </div>
                    <div class="col-12 col-sm-6">
                        <label>
                            <input type="radio" value="@IncludeQuestionType.notyetanswered" asp-for="IncludeQuestion" class="radio rounded colored" />
                            <span class="grey-text"></span>
                            Not yet answered
                        </label>
                    </div>
                    <div class="col-12 col-sm-6">
                        <label>
                            <input type="radio" value="@IncludeQuestionType.previouslymarked" asp-for="IncludeQuestion" class="radio rounded colored" />
                            <span class="grey-text"></span>
                            Previously Marked
                        </label>
                    </div>
                    <div class="col-12 col-sm-6">
                        <label>
                            <input type="radio" value="@IncludeQuestionType.notyetansweredcorrectly" asp-for="IncludeQuestion" class="radio rounded colored" />
                            <span class="grey-text"></span>
                            Not yet answered correctly
                        </label>
                    </div>
                    <div class="col-12 col-sm-6 mb-4">
                        <label>
                            <input type="radio" value="@IncludeQuestionType.byQuestionLevel" asp-for="IncludeQuestion" class="radio rounded colored" />
                            <span class="grey-text"></span>
                            By Question Difficulty Level
                            <div class="position-absolute ml-5 mb-3" data-rating="1" data-toggle="tooltip" data-placement="left" name="QuestionDifficultyLevel"> </div>

                        </label>
                    </div>
                </div>

                <h6 class="mt-4">Answer Advice</h6>
                <div class="row mt-2">
                    <div class="col-12 col-sm-6">
                        <label>
                            <input type="radio" value="false" asp-for="WithAdvice" class="radio rounded colored" checked="checked" />
                            <span class="grey-text"></span>
                            Answer Without Advice
                        </label>
                    </div>
                    <div class="col-12 col-sm-6">
                        <label>
                            <input type="radio" value="true" asp-for="WithAdvice" class="radio rounded colored" />
                            <span class="grey-text"></span>
                            Answer With Advice
                        </label>
                    </div>
                </div>

                <h6 class="mt-4">Test Duration (Max 2 Hours)</h6>
                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="Hours">Hours <span class="text-danger">*</span></label>
                            <input type="number" asp-for="Hours" id="Hours" value="00" min="0" max="1" class="Hours form-control" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="Minutes">Minutes <span class="text-danger">*</span></label>
                            <input type="number" asp-for="Minutes" id="Minutes" value="30" min="0" max="60" class="Minutes form-control" required>
                        </div>
                    </div>
                </div>
                <div class="mt-2 alert alert-warning text-dark"> <i class="fas fa-info-circle text-dark"></i> Test will expire when the date changes to expiry date immediately.</div>

                <h6 class="mt-4">Test Expiry</h6>
                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="Hours">Expiry Date <span class="text-danger">*</span></label>
                            <input class='text-left btn btn-secondary waves-effect' asp-for="ExpiryDate" type='date' min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" required />
                            @*<input type="number" asp-for="Hours" id="Hours" value="00" min="0" max="1" class="Hours form-control" required>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="Minutes">Test Name <span class="text-danger">*</span></label>
                            <input type="text" asp-for="TestTitle" class="TestTitle  form-control" placeholder="e.g. Test 1 - Subject Name" required>
                        </div>
                    </div>
                </div>

                @*<div class="row">
              <div class="col-12 col-sm-2">
                  <button type="submit" class="custom-button btn-blue text-center oval-rounded pt-2 pb-2 w-100 float-left btnSave " data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Next"></button>
              </div>
        </div>*@
            </div>
        </form>
        <hr />
        <div class="row mt-2 justify-content-end">
            <div class="col-12 col-sm-2">

                <a disabled class="custom-button btn-blue text-center oval-rounded pt-2 pb-2 w-100 float-left btnPrevious" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Next"> <i class="mr-2  fas fa-chevron-circle-left"></i> Previous</a>

            </div>
            <div class="col-12 col-sm-3">

                <a class="  custom-button btn-blue text-center oval-rounded pt-2 pb-2 w-100 float-left btnNext" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Next">Next <i class="mr-2   fas fa-chevron-circle-right"></i> </a>

            </div>

        </div>
    }
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#createTestForm [name=QuestionDifficultyLevel]').addRating({
                max: 3,
                half: false,
                fieldId: "QuestionDifficultyLevelId",
                fieldName: "QuestionDifficultyLevelId",
                selectedRatings:1
            });
            var subjectId = $("#SubjectId").val();
            loadChapters(subjectId, "");
            var currentStep = Number($(".step.show").data("step"));
            manageNextPrevBtns(currentStep);
            saveForm();
        });
        $(document).on("click", ".btnNext", function () {

            var step = Number($(".step.show").data("step"));
            var showStep = step + 1;
            var allcheckedattribtes = $(".allAttributesView .checkbox:checked")
            if (allcheckedattribtes.length > 0) {

                if ($(`.step[data-step=${showStep}]`).length > 0) {
                    $(".step.show").removeClass("show");
                    $(`.step`).hide();
                    $(`.step[data-step=${showStep}]`).fadeIn();
                    $(`.step[data-step=${showStep}]`).addClass("show");

                    if ($(`btnSave`).length > 0) {
                        $(`.btnSave`).addClass("btnNext");
                        $(`.btnSave`).html(`Next <i class="mr-2   fas fa-chevron-circle-right"></i> `);
                        $(`.btnSave`).removeClass("btnSave");
                    } else {
                        $(`.btnNext`).addClass("btnSave");
                        $(`.btnNext`).html(`<i class="mr-2  fas fa-save"></i> Annouce Test`);
                        $(`.btnNext`).removeClass("btnNext");
                    }
                    if (showStep == 2) {
                        var listSelectedChapterIds = [];
                        var chaps = $(".ChaptersCheckbox:checked");
                        chaps.each(function (i, e) {

                            var id = $(e).data("chapterid");
                            listSelectedChapterIds.push(id);

                        });

                        loadChaptersWithSections(listSelectedChapterIds);
                    }

                    manageNextPrevBtns(showStep);

                }

            } else {
                swal("Select at-least one Chapter", "Please select at-least one Chapter to move forward.", 'error')
            }

        });

        $(document).on("click", ".btnPrevious", function () {
            var step = Number($(".step.show").data("step"));

            var showStep = step - 1;
            if ($(`.step[data-step=${showStep}]`).length > 0) {
                $(".step.show").removeClass("show");
                $(`.step`).hide();
                $(`.step[data-step=${showStep}]`).fadeIn();
                $(`.step[data-step=${showStep}]`).addClass("show");

                if ($(`.btnSave`).length > 0) {
                    $(`.btnSave`).addClass("btnNext");
                    $(`.btnSave`).html(`Next <i class="ml-2  fas fa-chevron-circle-right"></i> `);
                    $(`.btnSave`).removeClass("btnSave");
                } else {
                    $(`.btnNext`).addClass("btnSave");
                    $(`.btnNext`).html(`<i class="ml-2  fas fa-play"></i> Annouce Test`);
                    $(`.btnNext`).removeClass("btnNext");
                }
            }
            manageNextPrevBtns(showStep);



        });
        $(document).on("click", ".btnSave", function () {
            var isValid = $("#createTestForm").valid();
            if (isValid)
                $('#createTestForm').submit();
        });
        $(document).on("input", "#Minutes", function () {
            if (Number($("#Minutes").val()) > 0) {
                $("#Hours").attr("max", 1);
            } else {
                $("#Hours").attr("max", 2);
            }
        });
        $(document).on("change", ".allChaptersAndSubsection .checkbox", function () {
            if (this.checked) {
                $(this).parents("li").find(">label > .checkbox").prop("checked", true);
                $(this).parent().parent().find("label > .checkbox").prop("checked", true);
            } else {
                $(this).find(".checkbox").prop("checked", false)
                $(this).parent().parent().find("label > .checkbox").prop("checked", false);

            }
        });

        function manageNextPrevBtns(currentStep) {

            var nextStep = currentStep + 1;
            var prevStep = currentStep - 1;

            if ($(`.step[data-step=${nextStep}]`).length > 0) {
                $(`.btnNext`).removeClass("disableClick");
            }
            else {
                // $(`.btnNext`).addClass("disableClick");

            }

            if ($(`.step[data-step=${prevStep}]`).length > 0) {
                $(`.btnPrevious`).removeClass("disableClick");
            }
            else {
                $(`.btnPrevious`).addClass("disableClick");

            }
        }
        function loadChaptersToDiv(chapters) {

            var counter = 0;
            $(".allAttributesView .attributesRow").remove();
            for (var i = 0; i < chapters.length; i++) {

                if (chapters[i].value != 0) {
                    counter++;
                    $(".allAttributesView").append(`
                                                                                    <div class="attributesRow">
                                                                                        <div class="attributesRecord">
                                                                                            <span class="serial-number">
                                                                                                ${counter}
                                                                                            </span>
                                                                                        </div>
                                                                                        <div class="attributesRecord w-55">
                                                                                            <span class="text-left">
                                                                                               ${chapters[i].text}
                                                                                            </span>
                                                                                        </div>
                                                                                        <div class="attributesRecord">
                                                                                            <label>
                                                                                                <input type="checkbox" data-chapterid="${chapters[i].value}" class="ChaptersCheckbox checkbox squared colored" />
                                                                                                <span class="grey-text"></span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>`);
                }
            }

        }

        function loadChaptersWithSections(listSelectedChapterIds) {
            $.ajax({
                url: '/Test/GetChaptersListWithChilds',
                type: "Post",
                data: { ids: listSelectedChapterIds },
                success: function (view) {
                    $(".allChaptersAndSubsection").html(view);
                    $("#load-chapter-menu").metisMenu('dispose');
                    $("#load-chapter-menu").metisMenu();
                    $(".allChaptersAndSubsection .checkbox").prop("checked", true);
                },
                error: function (error) {
                    returnErrorState(error);
                }

            })
        };


        function saveForm() {

            var $form = $('#createTestForm');
            $form.off("submit");
            $form.submit(function (data, event) {
                swal(
                    'Annoucing Please Wait...',
                    '',
                    'info'
                );
                swal.showLoading();

                $(".btnSave").append("<i class='fas fa-spinner fa-spin'></i>");
                $(".btnSave").addClass("disableClick");
                var allcheckedattribtes = $(".allChaptersAndSubsection .checkbox:checked")
                var attributeObjList = [];
                allcheckedattribtes.each(function (i, e) {
                    var attributeid = e.dataset.attributeid;
                    var attributetype = e.dataset.attributetype;

                    var attributeObj = {
                        Id: attributeid,
                        Type: attributetype
                    }
                    attributeObjList.push(attributeObj);

                });

                //for MTQs and MCQs

                var formFields = $("#createTestForm").serializeArray();

                var unindexed_array = $("#createTestForm").serializeArray();
                var model = {};

                $.map(unindexed_array, function (n, i) {
                    model[n['name']] = n['value'];
                });

                model.Attributes = attributeObjList;

                $.post($(this).attr('action'), model, function (response) {

                }, 'json').done(function (data) {

                    if (data.success) {
                        smallSwal("Successfull!!", data.message, "success");
                        $(".btnSave .fa-spinner").remove();
                        location.href = "/Batch/Detail/" + $("#BatchId").val();
                    } else {
                        swal("Error!!", data.message, "error");
                        $(".btnSave").removeClass("disableClick");
                        $(".btnSave .fa-spinner").remove();
                    }

                });


                return false;
            });



        };
    </script>


}
