﻿<div class="container-fluid mb-3" data-minutes="30" data-hours="00" data-startdatatime="@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")">
    <div class="skippedQuestionWrapper">
        <div class="row">
            <div class="col col-12 mb-2">
                <div class="card">
                    <div class="card-header">
                        <div class="attribute-type-title">
                            <span> Go to Question </span>
                        </div>
                    </div>

                    <div class="card-body position-relative p-2">
                        <div class="input-group">
                            <input type="text" class="oval-rounded pr-5 font-size-14 gotoStepInput" placeholder="Question No." aria-label="Questin No." aria-describedby="Questin No.">
                            <a class="custom-button btn-blue oval-rounded px-4 position-absolute-right-5 mt-1 w-sm-25 gotoStep"><i class="fas fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>

            <div class="row">
                <div class="col col-12 mb-2">
                    <div class="card">
                        <div class="card-header">
                            <div class="attribute-type-title">
                                <span> Skiped Questions </span>
                            </div>
                        </div>

                        <div id="skippedQuestion" class="card-body position-relative">
                            <div class="row">

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="custom-button btn-green finishBtn oval-rounded pr-4 pl-5 mt-2 mb-3  font-size-15 exitTest float-left w-98 w-md-100" data-toggle="tooltip" data-placement="top" data-modalcall="true">
            <i class="fas fa-sign-out-alt"></i> Finish Test
        </a>
    </div>

    <div class="row">
        <div class="col col-12 mb-2">
            <div class="card oval-rounded w-100">
                <div class="attribute-newarrival text-center ">

                    <div id="timer">
                        <div class="w-sm-100"><i class="fas fa-clock"></i> Time Remaining </div>

                        <div id="hours"></div>
                        <div class="clockdots">:</div>
                        <div id="minutes"></div>
                        <div class="clockdots">:</div>
                        <div id="seconds"></div>
                    </div>
                    <a class="custom-button btn-blue oval-rounded pr-4 pl-5 mt-2  font-size-15 exitTest float-right" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Exit Test"><i class="fas fa-sign-out-alt"></i> Exit Test</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 justify-content-end  font-size-md-13">
        <div class="col-12 col-md-3 col-lg-2">
            <a disabled class="custom-button btn-blue text-center oval-rounded font-size-15 mb-3 pt-2 pb-2 w-100 float-left btnPrevious" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Previous"> <i class="mr-2  fas fa-chevron-circle-left"></i> Previous</a>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
            <a class="  custom-button btn-blue text-center oval-rounded font-size-15 mb-3 pt-2 pb-2 w-100 float-left btnNext" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Skip">Skip <i class="mr-2   fas fa-chevron-circle-right"></i> </a>
        </div>

        <div class="col-12 col-md-5 col-lg-4">
            <a class="  custom-button btn-blue text-center oval-rounded font-size-15 mb-3 pt-2 pb-2 w-100 float-left btnSubmit" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Submit this Answer">Submit this Answer <i class="mr-2   fas fa-paper-plane"></i> </a>
        </div>

    </div>

    <hr />

    <div data-step="1" data-starttime="@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")" class="Question step show" data-attempted="False" data-totalviewseconds="0">
        <div class="row mt-2 inline-modal">
            <div class="col col-12 mb-2">
                <div class="card  font-size-md-13">
                    <div class="card-header p-2">
                        <div class="attribute-type-title">
                            <span> Q-Id: 1111 </span>
                        </div>
                        <span title="Time Taken to attempt this question" data-toggle="tooltip" data-placement="top" class="position-absolute-right-5 text-white custom-button questionTimeTakenClock"><i class="fas fa-clock"></i> <span class="text-light">0</span> <em class="text-light">secs</em></span>
                    </div>
                    <div class="card-body pt-5 position-relative">
                        <div class="attribute-type-title">
                            <span> Question: 1 of 6</span>
                        </div>
                        <div class="question-detail font-size-sm-13">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <form>
            <div class="row mt-2 inline-modal exam">
                <div class="col col-12 mb-2">
                    <div class="card">
                        <div class="card-header p-2">
                            <div class="attribute-type-title font-size-sm-13">

                                <span> Enter/Upload Correct Answer</span>

                            </div>

                            <span class="mt-4 ml-3 badge badge-pill badge-success position-absolute-right-15">Question Attempted <i class="fas fa-check-circle"></i></span>


                        </div>
                        <div class="card-body position-relative  font-size-sm-13">
                            @{
                                if (Convert.ToInt32(QustionTypesEnum.LongQuestion) == Convert.ToInt32(QustionTypesEnum.LongQuestion))
                                {

                                    <div class="alert alert-warning shadow">
                                        Long Question
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    var guidTab1 = Guid.NewGuid();
                                    var guidTab2 = Guid.NewGuid();
                                    var upload = "active";

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link @upload font-weight-bold questionTab" data-type="upload" data-toggle="tab" href="#@guidTab1" role="tab" aria-controls="upload" aria-selected="true"><i class="fas fa-upload"></i> Upload answer image</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link font-weight-bold questionTab" data-type="editor" data-toggle="tab" href="#@guidTab2" role="tab" aria-controls="editor" aria-selected="false"><i class="fas fa-edit"></i> Enter answer using editor</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        @{
                                            upload = "show active";
                                        }

                                        <div class="tab-pane fade @upload" id="@guidTab1" role="tabpanel">

                                            <div class="alert alert-info mt-3">Take a picture of written answer and upload image here.</div>

                                            <!-- Modal body -->
                                            <div class="modal-body">

                                                <div class="row">
                                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                                                        <div id="fine-uploader-manual-trigger_1"></div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="@guidTab2" role="tabpanel">
                                            <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.LongQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.LongQuestion)">
                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <label for="AnswerDetail">Answer</label>

                                                        <textarea name="AnswerDetail" class="tmceeditor"></textarea>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div data-step="2" data-starttime="@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")" class="Question step hidden" data-attempted="False" data-totalviewseconds="0">
        <div class="row mt-2 inline-modal">
            <div class="col col-12 mb-2">
                <div class="card  font-size-md-13">
                    <div class="card-header p-2">
                        <div class="attribute-type-title">
                            <span> Q-Id: 2222 </span>
                        </div>
                        <span title="Time Taken to attempt this question" data-toggle="tooltip" data-placement="top" class="position-absolute-right-5 text-white custom-button questionTimeTakenClock"><i class="fas fa-clock"></i> <span class="text-light">0</span> <em class="text-light">secs</em></span>
                    </div>
                    <div class="card-body pt-5 position-relative">
                        <div class="attribute-type-title">
                            <span> Question: 2 of 6</span>
                        </div>
                        <div class="question-detail font-size-sm-13">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <form>
            <div class="row mt-2 inline-modal exam">
                <div class="col col-12 mb-2">
                    <div class="card">
                        <div class="card-header p-2">
                            <div class="attribute-type-title font-size-sm-13">

                                <span> Enter/Upload Correct Short Answer </span>

                            </div>

                            <span class="mt-4 ml-3 badge badge-pill badge-success position-absolute-right-15">Question Attempted <i class="fas fa-check-circle"></i></span>


                        </div>
                        <div class="card-body position-relative  font-size-sm-13">
                            @{
                                
                                if (Convert.ToInt32(QustionTypesEnum.ShortQuestion) == Convert.ToInt32(QustionTypesEnum.ShortQuestion))
                                {
                                    <div class="alert alert-warning shadow">
                                        Short Question
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    var guidTab1 = Guid.NewGuid();
                                    var guidTab2 = Guid.NewGuid();
                                    var upload = "active";
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link @upload font-weight-bold questionTab" data-type="upload" data-toggle="tab" href="#@guidTab1" role="tab" aria-controls="upload" aria-selected="true"><i class="fas fa-upload"></i> Upload answer image</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link font-weight-bold questionTab" data-type="editor" data-toggle="tab" href="#@guidTab2" role="tab" aria-controls="editor" aria-selected="false"><i class="fas fa-edit"></i> Enter answer using editor</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        @{
                                            upload = "show active";

                                        }

                                        <div class="tab-pane fade @upload" id="@guidTab1" role="tabpanel">

                                            <div class="alert alert-info mt-3">Take a picture of written short answer and upload image here.</div>

                                            <!-- Modal body -->
                                            <div class="modal-body">

                                                <div class="row">
                                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                                                        <div id="fine-uploader-manual-trigger_2"></div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="@guidTab2" role="tabpanel">
                                            <div class="row " name="AnswerType" data-questiontype="@QustionTypesEnum.ShortQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.ShortQuestion)">
                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <label for="ShortAnswerDetail">Short Answer</label>

                                                        <textarea name="ShortAnswerDetail" class="tmceeditor"></textarea>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div data-step="3" data-starttime="@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")" class="Question step hidden" data-attempted="False" data-totalviewseconds="0">
        <div class="row mt-2 inline-modal">
            <div class="col col-12 mb-2">
                <div class="card  font-size-md-13">
                    <div class="card-header p-2">
                        <div class="attribute-type-title">
                            <span> Q-Id: 3333 </span>
                        </div>
                        <span title="Time Taken to attempt this question" data-toggle="tooltip" data-placement="top" class="position-absolute-right-5 text-white custom-button questionTimeTakenClock"><i class="fas fa-clock"></i> <span class="text-light">0</span> <em class="text-light">secs</em></span>
                    </div>
                    <div class="card-body pt-5 position-relative">
                        <div class="attribute-type-title">
                            <span> Question: 3 of 6</span>
                        </div>
                        <div class="question-detail font-size-sm-13">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <form>
            <div class="row mt-2 inline-modal exam">
                <div class="col col-12 mb-2">
                    <div class="card">
                        <div class="card-header p-2">
                            <div class="attribute-type-title font-size-sm-13">

                                <span> Choose Correct Answer </span>

                            </div>

                            <span class="mt-4 ml-3 badge badge-pill badge-success position-absolute-right-15">Question Attempted <i class="fas fa-check-circle"></i></span>


                        </div>
                        <div class="card-body position-relative  font-size-sm-13">
                            @{
                                
                                 if (Convert.ToInt32(QustionTypesEnum.MCQ) == Convert.ToInt32(QustionTypesEnum.MCQ))
                                {
                                    <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.MCQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MCQ)">


                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                            <div class="d-flex">
                                                <label>

                                                    <input type="radio" name="QuestionChoices" class="radio rounded" data-choiceid="1" />


                                                    <span></span>
                                                    Choice 1
                                                </label>
                                            </div>
                                        </div>


                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                            <div class="d-flex">
                                                <label>

                                                    <input type="radio" name="QuestionChoices" class="radio rounded" data-choiceid="2" />


                                                    <span></span>
                                                    Choice 2
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                            <div class="d-flex">
                                                <label>

                                                    <input type="radio" name="QuestionChoices" class="radio rounded" data-choiceid="3" />


                                                    <span></span>
                                                    Choice 3
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                            <div class="d-flex">
                                                <label>

                                                    <input type="radio" name="QuestionChoices" class="radio rounded" data-choiceid="4" />


                                                    <span></span>
                                                    Choice 4
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div data-step="4" data-starttime="@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")" class="Question step hidden" data-attempted="False" data-totalviewseconds="0">
        <div class="row mt-2 inline-modal">
            <div class="col col-12 mb-2">
                <div class="card  font-size-md-13">
                    <div class="card-header p-2">
                        <div class="attribute-type-title">
                            <span> Q-Id: 4444 </span>
                        </div>
                        <span title="Time Taken to attempt this question" data-toggle="tooltip" data-placement="top" class="position-absolute-right-5 text-white custom-button questionTimeTakenClock"><i class="fas fa-clock"></i> <span class="text-light">0</span> <em class="text-light">secs</em></span>
                    </div>
                    <div class="card-body pt-5 position-relative">
                        <div class="attribute-type-title">
                            <span> Question: 4 of 6</span>
                        </div>
                        <div class="question-detail font-size-sm-13">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <form>
            <div class="row mt-2 inline-modal exam">
                <div class="col col-12 mb-2">
                    <div class="card">
                        <div class="card-header p-2">
                            <div class="attribute-type-title font-size-sm-13">

                                <span> Choose at-least one Correct Answer </span>


                            </div>

                            <span class="mt-4 ml-3 badge badge-pill badge-success position-absolute-right-15">Question Attempted <i class="fas fa-check-circle"></i></span>


                        </div>
                        <div class="card-body position-relative  font-size-sm-13">
                            @{
                               
                               if (Convert.ToInt32(QustionTypesEnum.MTQ) == Convert.ToInt32(QustionTypesEnum.MTQ))
                                {
                                    <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.MTQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MTQ)">



                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                            <div class="d-flex">
                                                <label>

                                                    <input type="checkbox" name="QuestionChoices" class="checkbox squared" />

                                                    <span></span>
                                                    Choice 1
                                                </label>

                                            </div>
                                        </div>
                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                            <div class="d-flex">
                                                <label>

                                                    <input type="checkbox" name="QuestionChoices" class="checkbox squared" />

                                                    <span></span>
                                                    Choice 2
                                                </label>

                                            </div>
                                        </div>
                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                            <div class="d-flex">
                                                <label>

                                                    <input type="checkbox" name="QuestionChoices" class="checkbox squared" />

                                                    <span></span>
                                                    Choice 3
                                                </label>

                                            </div>
                                        </div>
                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                            <div class="d-flex">
                                                <label>

                                                    <input type="checkbox" name="QuestionChoices" class="checkbox squared" />

                                                    <span></span>
                                                    Choice 4
                                                </label>

                                            </div>
                                        </div>

                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div data-step="5" data-starttime="@DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss")" class="Question step hidden" data-attempted="False" data-totalviewseconds="0">
        <div class="row mt-2 inline-modal">
            <div class="col col-12 mb-2">
                <div class="card  font-size-md-13">
                    <div class="card-header p-2">
                        <div class="attribute-type-title">
                            <span> Q-Id: 5555 </span>
                        </div>
                        <span title="Time Taken to attempt this question" data-toggle="tooltip" data-placement="top" class="position-absolute-right-5 text-white custom-button questionTimeTakenClock"><i class="fas fa-clock"></i> <span class="text-light">0</span> <em class="text-light">secs</em></span>
                    </div>
                    <div class="card-body pt-5 position-relative">
                        <div class="attribute-type-title">
                            <span> Question: 5 of 6</span>
                        </div>
                        <div class="question-detail font-size-sm-13">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <form>
            <div class="row mt-2 inline-modal exam">
                <div class="col col-12 mb-2">
                    <div class="card">
                        <div class="card-header p-2">
                            <div class="attribute-type-title font-size-sm-13">

                                <span>Fill Correct Answer in the blank.</span>

                            </div>

                            <span class="mt-4 ml-3 badge badge-pill badge-success position-absolute-right-15">Question Attempted <i class="fas fa-check-circle"></i></span>


                        </div>
                        <div class="card-body position-relative  font-size-sm-13">
                            @{
                              
                                if (Convert.ToInt32(QustionTypesEnum.FillBlank) == Convert.ToInt32(QustionTypesEnum.FillBlank))
                                {
                                    <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.FillBlank" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.FillBlank)">


                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 Choice">
                                            <div class="d-flex">

                                                <input type="text" name="CorrectQuestionChoice" class="form-control" placeholder="Fill Correct word in the Blank" autocomplete="off" />

                                            </div>
                                        </div>

                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <hr />
    <div class="row mt-2 justify-content-end  font-size-md-13">
        <div class="col-12 col-md-3 col-lg-2">
            <a disabled class="custom-button btn-blue text-center oval-rounded font-size-15 mb-3 pt-2 pb-2 w-100 float-left btnPrevious" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Previous"> <i class="mr-2  fas fa-chevron-circle-left"></i> Previous</a>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
            <a class="  custom-button btn-blue text-center oval-rounded font-size-15 mb-3 pt-2 pb-2 w-100 float-left btnNext" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Skip">Skip <i class="mr-2   fas fa-chevron-circle-right"></i> </a>
        </div>

        <div class="col-12 col-md-5 col-lg-4">
            <a class="  custom-button btn-blue text-center oval-rounded font-size-15 mb-3 pt-2 pb-2 w-100 float-left btnSubmit" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Submit this Answer">Submit this Answer <i class="mr-2   fas fa-paper-plane"></i> </a>
        </div>

    </div>

</div>

@section Scripts{

    <script>
        let startingQuestionTimer;
        let startingQuestionCounter=0;
        $(document).ready(function () {
            attachUploader()
            if (tinymce.get("AnswerDetail") !== null)
                tinymce.get("AnswerDetail").remove();

            if (tinymce.get("QuestionDetail") !== null)
                tinymce.get("QuestionDetail").remove();

            TinyMVCGlobalOptions.selector = ".tmceeditor";

            tinymce.init(TinyMVCGlobalOptions);
            $('.mce-tinymce.mce-container').css("display", "block");

            $("[data-toggle=tooltip]").powerTip()


            $("#app").addClass("hide");
            var datNow = new Date($("[data-startdatatime]").data("startdatatime"));

            var durationMinutes = Number($("[data-minutes]").data("minutes"));
            var durationHours = Number($("[data-hours]").data("hours"));
            var totalDuration = (durationHours * 60) + durationMinutes;
            datNow.setMinutes(datNow.getMinutes() + totalDuration)
            startingTimer = setInterval(function () { makeTimer(datNow, "remainingTimer"); }, 1000);

            var currentStep = Number($(".step.show").data("step"));
            manageNextPrevBtns(currentStep);

            manageSubmit(currentStep);
            if ($(`[data-step=${currentStep}].Question`).attr("data-attempted") == "False") {
                startingQuestionTimer = setInterval(function () { stopWatch(0); }, 1000);
            }
            checkTestFinished();
        });
        $(document).on("click", ".exitTest", function () {

            swal({
                title: "Are you sure?",
                text: "Are you sure to exit the examination?",
                type: "info",
                showCancelButton: true,
                showLoaderOnConfirm: true,
                preConfirm: (text) => {
                    return new Promise((resolve) => {
                        location.href = "/";
                    })
                },
                allowOutsideClick: () => !swal.isLoading()
            });

        });
        $(document).on("click", ".showStep", function () {
            if ($(".step.show").attr("data-attempted") == "False") {
                clearTimeout(startingQuestionTimer);
                var previousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                var starttime = new Date($(".step.show").attr("data-starttime"));
                var timeTaken = getSecondsDifference(starttime, new Date()) + previousTakenTime;
                $(".step.show").attr("data-totalviewseconds", timeTaken);
            }
            var step = Number($(this).data("step"));
            var showStep = step;


            if ($(`.step[data-step=${showStep}]`).length > 0) {
                $(".step.show").removeClass("show");
                $(`.step`).addClass("hidden");
                $(`.step[data-step=${showStep}]`).fadeIn();
                $(`.step[data-step=${showStep}]`).addClass("show");
                $(".step.show").attr("data-starttime", new Date());
                $(`.step[data-step=${showStep}]`).removeClass("hidden");
                var showStepPreviousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                startingQuestionCounter = showStepPreviousTakenTime;
                if ($(`[data-step=${showStep}].Question`).attr("data-attempted") == "False") {
                    startingQuestionTimer = setInterval(function () { stopWatch(); }, 1000);
                }

            }
            manageNextPrevBtns(showStep);
            manageSubmit(showStep);


        });

        $(document).on("click", ".gotoStep", function () {
            var step = Number($(`.gotoStepInput`).val());
            if ($(`.step[data-step=${step}]`).length > 0) {

                if ($(".step.show").attr("data-attempted") == "False") {
                    clearTimeout(startingQuestionTimer);
                    var previousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                    var starttime = new Date($(".step.show").attr("data-starttime"));
                    var timeTaken = getSecondsDifference(starttime, new Date()) + previousTakenTime;
                    $(".step.show").attr("data-totalviewseconds", timeTaken);
                }

                var showStep = step;


                if ($(`.step[data-step=${showStep}]`).length > 0) {
                    $(".step.show").removeClass("show");
                    $(`.step`).addClass("hidden");
                    $(`.step[data-step=${showStep}]`).fadeIn();
                    $(`.step[data-step=${showStep}]`).addClass("show");
                    $(".step.show").attr("data-starttime", new Date());
                    $(`.step[data-step=${showStep}]`).removeClass("hidden");
                    var showStepPreviousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                    startingQuestionCounter = showStepPreviousTakenTime;
                    if ($(`[data-step=${showStep}].Question`).attr("data-attempted") == "False") {
                        startingQuestionTimer = setInterval(function () { stopWatch(); }, 1000);
                    }

                }
                manageNextPrevBtns(showStep);

            } else {
                smallSwal("No Question Exist", "", "error");
            }

        });
        function addSkippedQuestion(step, questionid) {

            $(".skippedQuestionWrapper").removeClass("hidden");
            var btn = `
            <div class="col-3 col-md-2 col-lg-6 skipped${step}" data-skippedquestionid="${questionid}">
                <a class="text-center custom-button btn-blue oval-rounded pr-2 pl-2 mb-2 mr-1 showStep w-100" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-step="${step}" title="Go to Question ${step}">${step}</a>
            </div>`;
            if (!$(`.skipped${step}`).length && $(`[data-step=${step}].Question`).attr("data-attempted")=="False") {

                $("#skippedQuestion .row").append(btn);
            }
            $("[data-toggle=tooltip]").powerTip()
        }
        function removeSkippedQuestion(step) {
            $(`.skipped${step}`).remove();
        }
        $(document).on("click", ".btnNext", function () {
            nextStep();
        });
        function nextStep() {
            if ($(".step.show").attr("data-attempted") == "False") {
                clearTimeout(startingQuestionTimer);
                var previousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                var starttime = new Date($(".step.show").attr("data-starttime"));
                var timeTaken = getSecondsDifference(starttime, new Date()) + previousTakenTime;
                $(".step.show").attr("data-totalviewseconds", timeTaken);
            }

            var step = Number($(".step.show").data("step"));
            var showStep = step + 1;


            if ($(`.step[data-step=${showStep}]`).length > 0) {
                $(".step.show").removeClass("show");
                $(`.step`).addClass("hidden");
                $(`.step[data-step=${showStep}]`).fadeIn();
                $(`.step[data-step=${showStep}]`).addClass("show");
                $(`.step[data-step=${showStep}]`).removeClass("hidden");
                $(".step.show").attr("data-starttime", new Date());

                var showStepPreviousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                startingQuestionCounter = showStepPreviousTakenTime;

                if ($(`[data-step=${showStep}].Question`).attr("data-attempted") == "False") {
                    startingQuestionTimer = setInterval(function () { stopWatch(); }, 1000);
                }


                manageNextPrevBtns(showStep);
                addSkippedQuestion(step, $(".step.show").data("questionid"));
            }

            if ($(`[data-step=${showStep}].Question`).attr("data-attempted")=="True") {
                $(`.btnSubmit`).addClass("disableClick");
                $(`[data-step=${showStep}].Question`).find("[name=AnswerType]").addClass("disableClick");
            }
            else {
                $(`.btnSubmit`).removeClass("disableClick");
                $(`[data-step=${showStep}].Question`).find("[name=AnswerType]").removeClass("disableClick");

            }
        }
        $(document).on("click", ".btnPrevious", function () {
            if ($(".step.show").attr("data-attempted") == "False") {
                clearTimeout(startingQuestionTimer);
                var previousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                var starttime = new Date($(".step.show").attr("data-starttime"));
                var timeTaken = getSecondsDifference(starttime, new Date()) + previousTakenTime;
                $(".step.show").attr("data-totalviewseconds", timeTaken);
            }
            var step = Number($(".step.show").data("step"));
            var showStep = step - 1;

            if ($(`.step[data-step=${showStep}]`).length > 0) {

                $(".step.show").removeClass("show");
                $(`.step`).addClass("hidden");
                $(`.step[data-step=${showStep}]`).fadeIn();
                $(`.step[data-step=${showStep}]`).addClass("show");
                $(".step.show").attr("data-starttime", new Date());
                $(`.step[data-step=${showStep}]`).removeClass("hidden");

                var showStepPreviousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                startingQuestionCounter = showStepPreviousTakenTime;

                if ($(`[data-step=${showStep}].Question`).attr("data-attempted") == "False") {
                    startingQuestionTimer = setInterval(function () { stopWatch(); }, 1000);
                }
            }
            manageNextPrevBtns(showStep);
            addSkippedQuestion(step, $(".step.show").data("questionid"));


            if ($(`[data-step=${showStep}].Question`).attr("data-attempted") == "True") {
                $(`.btnSubmit`).addClass("disableClick");
                $(`[data-step=${showStep}].Question`).find("[name=AnswerType]").addClass("disableClick");
            }
            else {
                $(`.btnSubmit`).removeClass("disableClick");
                $(`[data-step=${showStep}].Question`).find("[name=AnswerType]").removeClass("disableClick");

            }

        });
        $(document).on("click", ".btnSubmit", function () {
            var step = Number($(".step.show").data("step"));
            var isReadyToSubmit = false;
            if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.MTQ") {
                if (!$(`[data-step=${step}].Question [name=AnswerType]`).find("[name=QuestionChoices]:checked").length) {
                    swal("Select atleast one choice please.", "", "error");
                    isReadyToSubmit = false;
                } else {
                    isReadyToSubmit = true;
                }

            } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.FillBlank") {
                if (!$(`[data-step=${step}].Question [name=AnswerType]`).find("[name=CorrectQuestionChoice]").val().length) {
                    swal("Fill in the blank please.", "", "error");
                    isReadyToSubmit = false;
                } else {
                    isReadyToSubmit = true;
                }
            } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.MCQ") {
                if (!$(`[data-step=${step}].Question [name=AnswerType]`).find("[name=QuestionChoices]:checked").length) {
                    swal("Select a choice please.", "", "error");
                    isReadyToSubmit = false;
                } else {
                    isReadyToSubmit = true;
                }

            } else {
                var type = $(`[data-step=${step}].Question`).find(".questionTab.active").attr("data-type");
                if (type == "upload") {
                    if (!$(`[data-step=${step}].Question`).attr("data-answeredimage")) {
                        swal("Upload answer image please.", "", "error");
                        isReadyToSubmit = false;
                    } else {
                        isReadyToSubmit = true;
                    }
                } else {
                    if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.LongQuestion") {
                        tinyMCE.triggerSave();
                        if (!$(`[data-step=${step}].Question`).find("[name=AnswerDetail]").val().length) {
                            swal("Enter your answer to editor please.", "", "error");
                            isReadyToSubmit = false;
                        } else {
                            isReadyToSubmit = true;
                        }
                    } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.ShortQuestion") {
                        tinyMCE.triggerSave();
                        if (!$(`[data-step=${step}].Question`).find("[name=ShortAnswerDetail]").val().length) {
                            swal("Enter your answer to editor please.", "", "error");
                            isReadyToSubmit = false;
                        } else {
                            isReadyToSubmit = true;
                        }
                    }
                }
            }



            if (isReadyToSubmit) {

                clearTimeout(startingQuestionTimer);
                var previousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                var starttime = new Date($(".step.show").attr("data-starttime"));
                var timeTaken = getSecondsDifference(starttime, new Date()) + previousTakenTime;
                $(".step.show").attr("data-totalviewseconds", timeTaken);

                var form = $(`[data-step=${step}].Question`).find("form");
                var formData = form.parents(".Question").data();


                $(".btnSubmit i").removeClass("fa-paper-plane");
                $(".btnSubmit i").addClass("fa-spinner fa-spin");
                var answer = {
                    Detail: "",
                    MCQChoiceId: 0,
                    MTQChoicesIds: []
                };
                if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.MTQ") {
                    var checkedChoices = form.find("[name=QuestionChoices]:checked");
                    checkedChoices.each(function (i, checkbox) {
                        var id = checkbox.dataset.choiceid;
                        answer.MTQChoicesIds.push(id);
                    });
                } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.FillBlank") {
                    answer.Detail = form.find("[name=CorrectQuestionChoice]").val();
                } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.MCQ") {
                    answer.MCQChoiceId = form.find("[name=QuestionChoices]:checked").data().choiceid;
                } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.LongQuestion") {
                    var type = $(`[data-step=${step}].Question`).find(".questionTab.active").attr("data-type");
                    if (type == "upload") {
                        answer.ImageFileName = $(`[data-step=${step}].Question`).attr("data-answeredimage");
                        answer.WrittenAnswerType = @Convert.ToInt32( WrittenAnswerType.Upload);
                    } else {
                        tinyMCE.triggerSave();
                        answer.Detail = form.find("[name=AnswerDetail]").val();
                        answer.WrittenAnswerType = @Convert.ToInt32(WrittenAnswerType.Editor);
                    }

                }  else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.ShortQuestion") {
                    var type = $(`[data-step=${step}].Question`).find(".questionTab.active").attr("data-type");
                    if (type == "upload") {
                        answer.ImageFileName = $(`[data-step=${step}].Question`).attr("data-answeredimage");
                        answer.WrittenAnswerType = @Convert.ToInt32(WrittenAnswerType.Upload);
                    } else {
                        tinyMCE.triggerSave();
                        answer.Detail = form.find("[name=ShortAnswerDetail]").val();
                        answer.WrittenAnswerType = @Convert.ToInt32(WrittenAnswerType.Editor);
                    }
                }

                var model = {
                    ViewSeconds: formData.totalviewseconds,
                    QuestionId: formData.questionid,
                    Date: formData.starttime,
                    TestId: $("[data-testid]").data("testid"),
                    Answer: answer,
                    QuestionTypeId: $(`[data-step=${step}].Question [name=AnswerType]`).data("questiontypeid")
                };

                $.ajax({
                    url: '/Test/UserDemoAttemptQuestion',
                    type: "POST",

                    data: {
                        model: model
                    },
                    success: function (data) {
                        if (data.success) {
                            removeSkippedQuestion(step);
                            $(`[data-step=${step}].Question`).attr("data-attempted", "True");
                            manageSubmit(step);
                            nextStep();

                            $(".btnSubmit i").addClass("fa-paper-plane");
                            $(".btnSubmit i").removeClass("fa-spinner fa-spin");
                            smallSwal("Submitted", data.message, "success");
                            checkTestFinished();
                        } else {

                            $(".btnSubmit i").addClass("fa-paper-plane");
                            $(".btnSubmit i").removeClass("fa-spinner fa-spin");
                            smallSwal("Error", data.message, "error");
                        }
                    },
                    error: function (error) {

                        $(".btnSubmit i").addClass("fa-paper-plane");
                        $(".btnSubmit i").removeClass("fa-spinner fa-spin");
                        returnErrorState(error);
                    }
                })

            }


        });
        $(document).on("input", "#Minutes", function () {
            if (Number($("#Minutes").val()) > 0) {
                $("#Hours").attr("max", 1);
            } else {
                $("#Hours").attr("max", 2);
            }
        });
        $(document).on("change", ".allChaptersAndSubsection .checkbox", function () {
            if (this.checked) {
                $(this).parents("li").find(">label > .checkbox").prop("checked", true);
                $(this).parent().parent().find("label > .checkbox").prop("checked", true);
            } else {
                $(this).find(".checkbox").prop("checked", false)
                $(this).parent().parent().find("label > .checkbox").prop("checked", false);

            }
        });

        function manageNextPrevBtns(currentStep) {

            var nextStep = currentStep + 1;
            var prevStep = currentStep - 1;

            if ($(`.step[data-step=${nextStep}]`).length > 0) {
                $(`.btnNext`).removeClass("disableClick");
            }
            else {
                $(`.btnNext`).addClass("disableClick");

            }

            if ($(`.step[data-step=${prevStep}]`).length > 0) {
                $(`.btnPrevious`).removeClass("disableClick");
            }
            else {
                $(`.btnPrevious`).addClass("disableClick");

            }


        }
        function manageSubmit(currentStep) {

            if ($(`[data-step=${currentStep}].Question`).attr("data-attempted") == "True") {
                $(`.btnSubmit`).addClass("disableClick");
                $(`[data-step=${currentStep}].Question .exam`).addClass("disableClick");
            }
            else {
                $(`.btnSubmit`).removeClass("disableClick");
                $(`[data-step=${currentStep}].Question .exam`).removeClass("disableClick");

            }
        }
        function getSecondsDifference(dt1, dt2) {

            var diff = (dt2.getTime() - dt1.getTime()) / 1000;
            return Math.abs(Math.round(diff));

        }
        function checkTestFinished() {
            var isAllQuestionAttempted = $(`.Question[data-attempted="False"]`).length;
            if (!isAllQuestionAttempted) {
                $(`.finishBtn`).addClass("finished");
            }
        }





        var imageUploaderOptions = {
            element: "",
            template: 'qq-template-manual-for-test',
            autoUpload: true,
            request: {

                endpoint: '/Upload/UploadFile'
            },

            thumbnails: {
                placeholders: {
                    waitingPath: '/images/waiting-generic.png',
                    notAvailablePath: '/images/not_available-generic.png'
                }
            },

            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'png'],
                itemLimit: 10

            },
            deleteFile: {
                enabled: true, // defaults to false

            },
            callbacks: {
                onDelete: function (id) {
                    this.setDeleteFileParams({ filename: this.getName(id) }, id);
                },
                onSubmitDelete: function (id) {

                },
                onComplete: function (i, fileName, response) {

                    if (response.success) {
                        $(`#${this._options.element.id} [qq-file-id=${i}] .uploaderDeleteBtn`).attr("data-filename", response.fileName);
                        $(`#${this._options.element.id} [qq-file-id=${i}] .uploaderDeleteBtn`).attr("data-fileid", i);
                        $(`#${this._options.element.id} [qq-file-id=${i}] .uploaderDeleteBtn`).css("display", "inline-block");
                        appendImagesToQuestion(this._options.element.id);
                    }
                    else {
                        swal("Error!", response.message, "error");
                    }

                }
            },
        };

        var imageUploaders=[];
        function attachUploader() {
            var elements = $(`[id*=fine-uploader-manual-trigger_]`);
            for (var i = 0; i < elements.length; i++) {
                $(elements[i]).attr("data-uploaderid", i);
                imageUploaderOptions.element = elements[i];
                var imageUploader = new qq.FineUploader(imageUploaderOptions);
                imageUploaders.push(imageUploader);
            }

            attachUploaderClick();
        }

        function appendImagesToQuestion(element) {
            var images = [];
            var existingImages = $(`#${element}  [qq-file-id]`);
            if (existingImages) {
                for (var i = 0; i < existingImages.length; i++) {
                    images.push($(existingImages[i]).find(".uploaderDeleteBtn").attr("data-filename"));
                }
            }
            var allimages = images.join(',');
            $(`#${element}`).parents(".Question").attr("data-answeredimage", allimages);
        }
        function attachUploaderClick() {

            qq($(".trigger-upload")).attach("click", function () {
                imageUploader.uploadStoredFiles();
            });

        }


        $(document).on("click", ".uploaderDeleteBtn", function () {
            var filename = this.dataset.filename;
            var fileid = this.dataset.fileid;
            var deleteBtn = this;
            debugger;
            $.ajax({
                /**/
                url: '/Upload/DeleteFile',
                /**/
                type: "POST",
                data: { fileName: filename },
                success: function (response) {
                    if (response.success) {
                        debugger;
                        $(deleteBtn).parents(".Question").attr("data-answeredimage", "");
                        var uploaderid = Number($(deleteBtn).parents(`[id*=fine-uploader-manual-trigger_]`).data("uploaderid"));
                        $(`[qq-file-id=${fileid}]`).remove();
                        //swal("Done!", response.message, "success");
                        appendImagesToQuestion($(`[data-uploaderid=${uploaderid}]`).attr("id"));
                        smallSwal({
                            type: 'success',
                            title: response.message
                        });

                        attachUploaderClick();
                    }
                    else {
                        swal("Error!", response.message, "error")

                    }

                },
                error: function (error) {
                    returnErrorState(error);
                }

            })
        });

    </script>


}
