﻿
@model TestViewModel
@{

    var serialNo = 0;
    var batch = ViewBag.Batch as BatchViewModel;

    <a class="custom-button btn-blue oval-rounded pr-4 pl-4" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Test Home Page" href="/Batch/Detail/@batch.Id"><i class="fas fa-chevron-left"></i></a>

    <div class="opened-test" data-id="@Model.Id">
        <div class="row ViewAttributesPage unselectable">

            <div class="col-lg-12">
                <div class="page-header shadow">
                    <div class="w-100 float-left position-relative ">


                        <h3>
                            <a data-toggle="tooltip" data-placement="top" class="font-size-17 text-white custom-button submitMsg  bg-dark mx-auto position-absolute-left-15 position-absolute-top-15">
                                <i class="fas fa-tasks"></i>
                                <span class="text-light submitMsgText">Test Id: @Model.Id</span>
                            </a>
                            <div>
                                <span class="text-dark d-block font-weight-bold font-size-35 mt-3">
                                    @Model.TestTitle
                                </span>
                            </div>
                            <p class="text-center mt-3 font-size-15">Batch <span class="text-success d-block font-weight-bold font-size-20">@batch.Title</span></p>
                            <p class="text-center mt-3 font-size-15">Subject <span class="text-danger d-block font-weight-bold font-size-20">@batch.Subject.Name</span></p>

                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <div class="small-card w-100 small-bg">
                                        <span class="font-size-sm-13 font-size-16 m-0"><i class="far fa-calendar-minus mr-2 text-danger fa-2x position-absolute-top-10 position-absolute-left-10"></i> Expiry Date: <span class="text-success d-block">@Model.ExpiryDate.ToString("dd MMM yyyy")</span></span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <div class="small-card w-100  small-bg">
                                        <span class="font-size-sm-13 font-size-16 m-0"><i class="far fa-clock mr-2 text-info fa-2x position-absolute-top-10 position-absolute-left-10"></i> Test Duration: <span class="text-success d-block">@(Model.Hours + ":" + Model.Minutes) Hrs</span></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <div class="small-card w-100  small-bg">
                                        <span class="font-size-sm-13 font-size-16 m-0"><i class="far fa-lightbulb mr-2 text-warning fa-2x position-absolute-top-10 position-absolute-left-10"></i> Answer Advice: <span class="text-success d-block">@(Model.WithAdvice ? "With Advice" : "Without Advice")</span></span>
                                    </div>
                                </div>
                            </div>
                        </h3>




                        <div class="actionBtns right">

                            @*<i class="fas fa-edit editbutton" data-toggle="tooltip" data-placement="left" data-id="@Model.Id" title="Edit"></i>*@
                            @* <i class="fas fa-trash deletebutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@Model.Id" title="Delete"> </i>*@

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>



        <div class="row">


            <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">

                <div id="ExamQuestion" class="student-section p82-topbot totalPatient">
                    <div class="allPatients">
                        <div class="header">
                            <h2>

                                <i class="fas fa-tasks"></i> List of <span>Questions</span>
                            </h2>

                        </div>
                        <div class="allAttributesView">


                            <div class="attributesCol">

                                <div class="attributesSection">

                                    <div class="attributesHeader">
                                        <div class="pdetail name phCol">
                                            <a href="javascript:void(0)">
                                                serialNo.
                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="pdetail name phCol">
                                            <a href="javascript:void(0)">
                                                QId
                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="pdetail phCol">
                                            <a href="javascript:void(0)">

                                                <span>Title</span>

                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="pdetail phCol">
                                            <a href="javascript:void(0)">

                                                <span>Question Type</span>

                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="pdetail phCol">
                                            <a href="javascript:void(0)">

                                                <span>Question Deficulty</span>

                                            </a>
                                        </div>
                                    </div>
                                    <!-- attributesHeader -->



                                    <div class="table-body all-attributes">
                                        @foreach (var testQuestion in Model.TestQuestions)
                                        {

                                            var question = testQuestion.Question;

                                            <div class="attributesRow" data-id="@question.Id">

                                                <div class="attributesRecord">
                                                    <span class="serial-number">
                                                        @(++serialNo)

                                                    </span>
                                                </div>
                                                <div class="attributesRecord">
                                                    <span class="serial-number">
                                                        @question.Id
                                                    </span>
                                                </div>

                                                <div class="attributesRecord">
                                                    <span class="text-left">
                                                        @question.QuestionTitle
                                                    </span>
                                                </div>

                                                <div class="attributesRecord">
                                                    <span class="text-left">
                                                        @(question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MCQ) ? "MCQs" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MTQ) ? "MTQs" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.FillBlank) ? "Fill in the Blanks" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.LongQuestion) ? "Long Question" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.ShortQuestion) ? "Short Question" : "Matching Columns")
                                                    </span>
                                                </div>
                                                <div class="attributesRecord">

                                                    <div data-rating="@question.QuestionDifficultyLevelId" name="questionDificulty"> </div>

                                                </div>
                                            </div>

                                        }
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.container -->
                </div>
            </div>


        </div>

        @{
            var attemptedTests = ViewBag.UserTestAttempted as List<UserTestAttempt>;
        }
        @if (attemptedTests.Any())
        {
            <section>
                <div class="decent-table rounded-1">
                    <div class="overflow-auto">
                        <h3 class="dash-heading text-dark d-block font-weight-bold font-size-25 text-center">
                            Test Attemtped
                        </h3>
                        <div class="table-responsive manage-table px-4 py-3">
                            <table class="table no-wrap">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0">Sr. No.</th>
                                        <th scope="col" class="border-0">Student Name</th>
                                        <th scope="col" class="border-0">Attempt Date</th>
                                        <th scope="col" class="border-0">Evaluate</th>
                                    </tr>
                                </thead>
                                <tbody class="batchTests">
                                    @{
                                        var serial = 0;
                                    }
                                    @foreach (var attemptedTest in attemptedTests)
                                    {
                                        var test = attemptedTest.Test;
                                        serial++;
                                        <tr class="advanced-table">
                                            <td>
                                                @serial
                                            </td>
                                            <td>@(attemptedTest.User.FirstName + " " + attemptedTest.User.LastName) </td>
                                            @if (attemptedTest != null)
                                            {
                                                <td>@attemptedTest.StartedDate.ToString("dd MMM yyyy")</td>

                                                if (attemptedTest.IsEvaluated)
                                                {
                                                    <td class="d-flex">
                                                        <a class="btn btn-success font-size-14 mr-2 text-light oval-rounded py-2 px-3">
                                                            <i class="fas fa-check-circle mr-2"></i>
                                                            Evaluated
                                                        </a>
                                                        <a target="_blank" href="/Batch/Test?id=@test.Id&uid=@attemptedTest.UserId" class="btn btn-info font-size-14  text-light oval-rounded py-2 px-3">
                                                            <i class="fas fa-eye mr-2"></i>
                                                            View Detail
                                                            <i class="ti-arrow-right ml-2"></i>
                                                        </a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a target="_blank" href="/Batch/Test?id=@test.Id&uid=@attemptedTest.UserId" class="btn btn-info font-size-14 text-white oval-rounded py-2 px-3">
                                                            <i class="fas fa-tasks mr-2"></i>
                                                            Evaluate Now
                                                            <i class="ti-arrow-right ml-2"></i>
                                                        </a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td>--</td>

                                                <td>
                                                    <a class="disableClick btn btn-danger font-size-14 text-white oval-rounded py-2 px-3 bg-dark">

                                                        Test Not Attempted Yet
                                                    </a>
                                                </td>
                                            }

                                        </tr>
                                        <tr>
                                            <td colspan="6" class="sml-pd"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </section>
        }
    </div>




}
@section Scripts{
    <script>
        var questionDeficulties = $("[data-rating]");
        questionDeficulties.each(function (i, e) {
            var level = e.dataset.rating;
            $(e).addRating({ max: 3, selectedRatings: level });
        });
    </script>
}
