﻿
<div class="DashboadPage">

    <div class="row">

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="/Test/Create" class="researcherBtn float-left w-100">
                <div class="custom-card">
                    <div class="custom-card-icon red">
                        <i class="fas fa-tasks "></i>
                    </div>
                    <div class="custom-card-body mt-2">
                        <p>Create Test</p>
                    </div>
                </div>
            </a>
        </div>

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="/Test/List" class="researcherBtn float-left w-100">
                <div class="custom-card">
                    <div class="custom-card-icon red">
                        <i class="fas fa-th-list "></i>
                    </div>
                    <div class="custom-card-body mt-2">
                        <p>Create Test List</p>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a class="float-left w-100">
                <div class="custom-card">
                    <div class="custom-card-icon blue">
                        <i class="fas  fa-clipboard-list"></i>
                    </div>
                    <div class="custom-card-body mt-2">
                        <p>Start Exam Simulation</p>
                    </div>
                </div>
            </a>
        </div>

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a class="float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon green">
                        <i class="fas fa-edit "></i>
                    </div>
                    <div class="custom-card-body mt-2">

                        <p>Resume/Manage Sessions</p>
                    </div>
                </div>
            </a>
        </div>
        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">

            <a href="#" class=" float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon orange">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <div class="custom-card-body  mt-2">

                        <p>Performance Analysis</p>
                    </div>
                </div>
            </a>
        </div>

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">

            <a class=" float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon pink">
                        <i class="fas fa-list-alt"></i>
                    </div>
                    <div class="custom-card-body mt-2">
                        <p>Present/Future Value</p>
                    </div>
                </div>
            </a>
        </div>


    </div>
</div>