﻿@model List<Test>
@{
    var serialNo = 0;



    <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
        <div id="AllAttributes" class="student-section p82-topbot totalPatient">
            <div class="allPatients">
                <div class="header">
                    <h2>
                        <i class="fas fa-th-list"></i> List of Tests
                    </h2>
                </div>
                <div class="recommendedSection allAttributesView">


                    <div class="attributesCol">

                        <div class="attributesSection">

                            <div class="attributesHeader">
                                <div class="pdetail name phCol">
                                    <a href="javascript:void(0)">
                                        Serial No.
                                        <i class="fas fa-angle-double-down">
                                        </i>
                                    </a>
                                </div>
                                <div class="pdetail phCol w-55">
                                    <a href="javascript:void(0)">
                                        Name
                                        <i class="fas fa-angle-double-down">
                                        </i>
                                    </a>
                                </div>
                                <div class="pdetail phCol ">
                                    <a href="javascript:void(0)">
                                        Create Date
                                        <i class="fas fa-angle-double-down">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <!-- attributesHeader -->



                            <div class="table-body all-attributes">
                                @foreach (var test in Model)
                                {
                                serialNo++;

                                <div class="attributesRow" data-id="@test.Id">

                                    <div class="attributesRecord">
                                        <span class="serial-number">
                                            @serialNo
                                        </span>
                                    </div>

                                    <div class="attributesRecord w-55">
                                        <span class="text-left">
                                            @test.TestTitle
                                        </span>
                                    </div>


                                    <div class="attributesRecord">
                                        <span class="text-left">
                                            @test.AddedDate.ToString("dd/MM/yyyy");
                                        </span>
                                    </div>
                                    <div class="actionBtns ">



                                        <i class="fa fa-eye viewbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@test.Id" title="View Test"></i>

                                        <i class="fa fa-edit editbutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@test.Id" title="Edit"></i>
                                        <i class="fa fa-trash deletebutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@test.Id" title="Delete"> </i>

                                    </div>
                                </div>

                                }
                            </div>

                        </div>


                    </div>

                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>





   
}