﻿@model TestViewModel
@using System;



<div class="container-fluid mb-3" data-testid="@Model.Id" data-minutes="@Model.Minutes" data-hours="@Model.Hours" data-startdatatime="@(Model.UserTestAttempts!=null||Model.UserTestAttempts.Any()? Model.UserTestAttempts.FirstOrDefault().StartedDate.ToString("MM/dd/yyyy HH:mm:ss"): DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss") )">
    <div class="skippedQuestionWrapper">
        <a class="custom-button btn-green finishBtn oval-rounded pr-4 pl-5 mt-2 mb-3  font-size-15 exitTest float-left w-98 w-md-100" data-toggle="tooltip" data-placement="top" data-modalcall="true">
            <i class="fas fa-sign-out-alt"></i> Exit
        </a>
    </div>
    <div class="row" id="detailPage">
        <div class="col-lg-12">
            <div class="page-header">
                @{
                    var student = Model.UserTestAttempts.FirstOrDefault().User;

                    var testQs = Model.TestQuestions.ToList();
                    var attemptedQuestions = Model.UserQuestionAttempts.Select(x => x.QuestionId);
                    var notAttemptedQuestion = Model.TestQuestions.Where(a => !attemptedQuestions.Contains(a.Question.Id)).Select(x => x.Question.Id);
                    var notEvaluatedQuestions = Model.UserQuestionAttempts.Where(a => !a.IsMarksAwarded).Select(x => x.QuestionId);

                }

                <h3 class="text-dark d-block font-weight-bold font-size-35">
                    <div class="attribute-icon mx-auto">
                        @if (student.ProfilePicture != null)
                        {
                            <div class="detailed profile-img" style="background-image:url('@("/UploadedArtifacts/"+ student.ProfilePicture.Artifact.FileName)')"></div>
                        }
                        else
                        {
                            @if (student.Gender == Gender.Female)
                            {
                                <div class="detailed profile-img" style="background-image:url('/images/femaleStudent.svg')"></div>
                            }
                            else
                            {
                                <div class="detailed profile-img" style="background-image:url('/images/student.svg')"></div>
                            }
                        }

                    </div>
                    <p class="text-center mt-3 font-size-18"><span class="text-danger d-block font-weight-bold">Attempted by</span></p>

                    @(student.FirstName + " " + student.LastName)
                    <p class="text-center mt-3 font-size-18"><span class="text-danger d-block font-weight-bold"> Test Title</span></p>

                    <p class="dash-heading text-dark d-block font-weight-bold font-size-25 text-center">
                        @Model.TestTitle
                    </p>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="small-card w-100 small-bg">
                                <span class="font-size-sm-13 font-size-16 m-0"><i class="far fa-calendar-minus mr-2 text-danger fa-2x position-absolute-top-10 position-absolute-left-10"></i> Expiry Date: <span class="text-success d-block">@Model.ExpiryDate.ToString("dd MMM yyyy")</span></span>

                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="small-card w-100  small-bg">
                                <span class="font-size-sm-13 font-size-16 m-0"><i class="far fa-clock mr-2 text-info fa-2x position-absolute-top-10 position-absolute-left-10"></i> Test Duration: <span class="text-success d-block">@(Model.Hours + ":" + Model.Minutes) Hrs</span></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="small-card w-100  small-bg">
                                <span class="font-size-sm-13 font-size-16 m-0"><i class="far fa-lightbulb mr-2 text-warning fa-2x position-absolute-top-10 position-absolute-left-10"></i> Answer Advice: <span class="text-success d-block">@(Model.WithAdvice ? "With Advice" : "Without Advice")</span></span>
                            </div>
                        </div>
                    </div>
                </h3>

                @if (Model.TestQuestions.Any(x => notAttemptedQuestion.Contains(x.Question.Id) || notEvaluatedQuestions.Contains(x.Question.Id)))
                {
                    <div class="alert alert-danger text-danger text-center">
                        <i class="fas fa-exclamation-triangle d-block fa-2x mb-2"></i> Some of question(s) are not evaluated, Request teacher to award marks.

                        (@foreach (var question in Model.TestQuestions.Where(x => notAttemptedQuestion.Contains(x.Question.Id) || notEvaluatedQuestions.Contains(x.Question.Id)).Select(a => a.Question))
                        {
                            <a class="font-weight-bold text-dark" onclick="goToQuestion(@question.Id)" data-scrollto="@question.Id">@question.Id,</a>
                        }).
                        <button class="requestEvaluateBtn mx-auto btn btn-danger font-size-14 text-white oval-rounded py-2 px-3 ml-2 mt-2 w-auto">
                            <i class="fas fa-envelope mx-0 px-2 text-white"></i>
                            Request Now
                            <i class="ti-arrow-right ml-2"></i>
                        </button>
                    </div>

                }
                else
                {
                    <i class="fas fa-check-circle position-absolute-right-15 position-absolute-top-15 font-size-30 text-success" data-toggle="tooltip" title="Test Evaluated Successfully"></i>
                }
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <hr />

    @foreach (var tquestion in testQs.OrderBy(a => a.Question.Id))
    {
        var question = tquestion.Question;
        var i = testQs.IndexOf(tquestion) + 1;
        var questionStartDateTime = "NotAttempt";

        var attemptedQuestion = Model.UserQuestionAttempts.FirstOrDefault(a => a.QuestionId == question.Id);
        var isQuestionAttempted = attemptedQuestion != null && attemptedQuestion.IsQuestionAttempted;
        var formId = Guid.NewGuid();

        if (i == 1)
        {
            questionStartDateTime = DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss");
        }
        <div data-step="@i" data-questionid="@question.Id" data-starttime="@questionStartDateTime" class="Question step mt-5" data-attempted="@(attemptedQuestion!=null)" data-totalviewseconds="@(attemptedQuestion!=null? attemptedQuestion.ViewSeconds.ToString("N0") : "0" )">
            <div class="row mt-2 inline-modal">
                <div class="col col-12 mb-2">
                    <div class="card  font-size-md-13">
                        <div class="card-header p-2">
                            <div class="attribute-type-title">
                                <span> Q-Id: @question.Id </span>
                            </div>
                            <span title="Time Taken to attempt this question" data-toggle="tooltip" data-placement="top" class="position-absolute-right-5 text-white custom-button questionTimeTakenClock"><i class="fas fa-clock"></i> <span class="text-light">@(attemptedQuestion != null ? attemptedQuestion.ViewSeconds.ToString("N0") : "0" )</span> <em class="text-light">secs</em></span>
                        </div>
                        <div class="card-body pt-5 position-relative">
                            <div class="attribute-type-title">
                                <span> Question: @i of @testQs.Count</span>
                            </div>
                            <div class="question-detail font-size-sm-13">
                                @Html.Raw(question.QuestionDetail)
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-2 inline-modal exam ">
                <div class="col col-12 mb-2">
                    <div class="card">
                        <div class="card-header p-2">
                            <div class="attribute-type-title font-size-sm-13">
                                <span>Given Answer </span>
                            </div>

                            @if (isQuestionAttempted)
                            {
                                <span class="mt-4 ml-3 badge badge-pill badge-success position-absolute-right-15">Question Attempted <i class="fas fa-check-circle"></i></span>
                            }
                            else
                            {
                                <span class="mt-4 ml-3 badge badge-pill badge-danger position-absolute-right-15">Question Not Attempted <i class="fas fa-times-circle"></i></span>
                            }

                        </div>
                        <div class="card-body position-relative  font-size-sm-13">
                            @{
                                if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.LongQuestion))
                                {

                                    var guidTab1 = Guid.NewGuid();
                                    var guidTab2 = Guid.NewGuid();
                                    var upload = "active";
                                    var editor = "active";

                                    if (isQuestionAttempted && attemptedQuestion.Answer.WrittenAnswerType == (int)WrittenAnswerType.Editor)
                                    {
                                        upload = string.Empty;
                                    }
                                    else
                                    {
                                        editor = string.Empty;
                                    }
                                    <ul class="nav nav-tabs hidden" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link @upload font-weight-bold questionTab" data-type="upload" data-toggle="tab" href="#@guidTab1" role="tab" aria-controls="upload" aria-selected="true"><i class="fas fa-upload"></i> Upload answer image</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @editor font-weight-bold questionTab" data-type="editor" data-toggle="tab" href="#@guidTab2" role="tab" aria-controls="editor" aria-selected="false"><i class="fas fa-edit"></i> Enter answer using editor</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        @{
                                            upload = "show active";
                                            editor = "show active";
                                        }
                                        @if (isQuestionAttempted && attemptedQuestion.Answer.WrittenAnswerType == (int)WrittenAnswerType.Editor)
                                        {
                                            upload = string.Empty;
                                        }
                                        else
                                        {
                                            editor = string.Empty;
                                        }
                                        <div class="tab-pane fade @upload" id="@guidTab1" role="tabpanel">
                                            @if (isQuestionAttempted && !string.IsNullOrEmpty(upload))
                                            {
                                                var imgs = attemptedQuestion.Answer.ImageFileUrl.Split(',');


                                                <div class="light-gallery">
                                                    <ul class="lightgallery list-unstyled row">
                                                        @foreach (var img in imgs)
                                                        {
                                                            <li class="col-xs-6 col-sm-4 col-md-3" data-src="/@("UploadedArtifacts/" + img)">
                                                                <a class="attemptedAnswer" da data-href="/@("UploadedArtifacts/" + img)">
                                                                    <img class="img-responsive" src="/@("UploadedArtifacts/" + img)">
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>

                                            }
                                            else
                                            {
                                                <div class="alert alert-danger text-danger">
                                                    <i class="fas fa-exclamation-triangle"></i> You have not attempted this question.
                                                </div>
                                            }
                                        </div>
                                        <div class="tab-pane fade @editor" id="@guidTab2" role="tabpanel">
                                            <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.LongQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.LongQuestion)">
                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <label for="AnswerDetail">Answer</label>
                                                        @if (isQuestionAttempted)
                                                        {
                                                            <div>
                                                                @Html.Raw(attemptedQuestion.Answer.Detail)
                                                            </div>
                                                        }
                                                        else
                                                        {

                                                            <div class="alert alert-danger text-danger">
                                                                <i class="fas fa-exclamation-triangle"></i> You have not attempted this question.
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="position-relative mt-4">
                                            <hr />
                                            <form asp-controller="Test" asp-action="AwardMarks">
                                                <input type="hidden" name="QuestionId" value="@question.Id" />
                                                <input type="hidden" name="TestId" value="@Model.Id" />
                                                <input type="hidden" name="UserId" value="@Model.UserTestAttempts.FirstOrDefault().UserId" />
                                                <div class="row justify-content-center">
                                                    @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                    {

                                                        <div class="col-12" data-ismarksawarded="@attemptedQuestion.IsMarksAwarded">
                                                            <div class="d-flex mb-3">
                                                                <a data-toggle="tooltip" data-placement="top"
                                                                   class="text-white custom-button submitMsg  bg-success mx-auto"
                                                                   title="Marks Submitted">
                                                                    <i class="fas fa-check-circle"></i>
                                                                    <span class="text-light submitMsgText">Marks Awarded</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-12" data-ismarksawarded="False">
                                                            <div class="d-flex mb-3">
                                                                <a data-toggle="tooltip" data-placement="top"
                                                                   class="text-white custom-button submitMsg  bg-danger mx-auto"
                                                                   title="Marks Not Awarded">
                                                                    <i class="fas fa-exclamation-circle"></i>
                                                                    <span class="text-light submitMsgText">Marks Not Awarded</span>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    }
                                                    <div class="col-12">
                                                        <span title="Obtained Marks" data-toggle="tooltip" data-placement="top" class="marks-wrapper float-right">
                                                            <span class="marks text-light d-flex">
                                                                Obtained Marks:

                                                                @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                                {
                                                                    @attemptedQuestion.Marks
                                                                    <input type="hidden" value="@attemptedQuestion.Marks" name="Marks" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="hidden" value="0" name="Marks" />
                                                                    <span> 0</span>
                                                                }
                                                            </span>
                                                        </span>
                                                        <span title="Question Total Marks" data-toggle="tooltip" data-placement="top" class="marks-wrapper float-left">
                                                            <span class="marks text-light d-flex">
                                                                Question Total Marks: @question.Marks
                                                            </span>
                                                        </span>
                                                    </div>

                                                    <div class="col-12">
                                                        <h3 class="dash-heading text-center">
                                                            Teacher's Remarks
                                                        </h3>
                                                        @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                        {

                                                            @if (string.IsNullOrEmpty(attemptedQuestion.Remarks))
                                                            {
                                                                <div class="alert alert-dark bg-light shadow-1 rounded-1 text-muted">
                                                                    Remarks not given.
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="alert alert-info bg-light shadow-1 rounded-1 text-dark">
                                                                    @Html.Raw(attemptedQuestion.Remarks)
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="alert alert-dark bg-light shadow-1 rounded-1 text-muted">
                                                                Remarks not given yet.
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>



                                }
                                if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.ShortQuestion))
                                {

                                    var guidTab1 = Guid.NewGuid();
                                    var guidTab2 = Guid.NewGuid();
                                    var upload = "active";
                                    var editor = "active";

                                    if (isQuestionAttempted && attemptedQuestion.Answer.WrittenAnswerType == (int)WrittenAnswerType.Editor)
                                    {
                                        upload = string.Empty;
                                    }
                                    else
                                    {
                                        editor = string.Empty;
                                    }
                                    <ul class="nav nav-tabs hidden" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link @upload font-weight-bold questionTab" data-type="upload" data-toggle="tab" href="#@guidTab1" role="tab" aria-controls="upload" aria-selected="true"><i class="fas fa-upload"></i> Upload answer image</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @editor font-weight-bold questionTab" data-type="editor" data-toggle="tab" href="#@guidTab2" role="tab" aria-controls="editor" aria-selected="false"><i class="fas fa-edit"></i> Enter answer using editor</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        @{
                                            upload = "show active";
                                            editor = "show active";
                                        }
                                        @if (isQuestionAttempted && attemptedQuestion.Answer.WrittenAnswerType == (int)WrittenAnswerType.Editor)
                                        {
                                            upload = string.Empty;
                                        }
                                        else
                                        {
                                            editor = string.Empty;
                                        }
                                        <div class="tab-pane fade @upload" id="@guidTab1" role="tabpanel">
                                            @if (isQuestionAttempted && !string.IsNullOrEmpty(upload))
                                            {
                                                var imgs = attemptedQuestion.Answer.ImageFileUrl.Split(',');
                                                
                                                <div class="light-gallery">
                                                    <ul class="lightgallery list-unstyled row">
                                                        @foreach (var img in imgs)
                                                        {
                                                            <li class="col-xs-6 col-sm-4 col-md-3" data-src="/@("UploadedArtifacts/" + img)">
                                                                <a href="/@("UploadedArtifacts/" + img)">
                                                                    <img class="img-responsive" src="/@("UploadedArtifacts/" + img)">
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="alert alert-danger text-danger">
                                                    <i class="fas fa-exclamation-triangle"></i> You have not attempted this question.
                                                </div>
                                            }
                                        </div>
                                        <div class="tab-pane fade @editor" id="@guidTab2" role="tabpanel">
                                            <div class="row " name="AnswerType" data-questiontype="@QustionTypesEnum.ShortQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.ShortQuestion)">
                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <label for="ShortAnswerDetail">Short Answer</label>
                                                        @if (isQuestionAttempted)
                                                        {
                                                            <div>
                                                                @Html.Raw(attemptedQuestion.Answer.Detail)
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="alert alert-danger text-danger">
                                                                <i class="fas fa-exclamation-triangle"></i> You have not attempted this question.
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="position-relative mt-4">
                                        <hr />
                                        <form asp-controller="Test" asp-action="AwardMarks">
                                            <input type="hidden" name="QuestionId" value="@question.Id" />
                                            <input type="hidden" name="TestId" value="@Model.Id" />
                                            <input type="hidden" name="UserId" value="@Model.UserTestAttempts.FirstOrDefault().UserId" />

                                            <div class="row justify-content-center">
                                                @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                {

                                                    <div class="col-12" data-ismarksawarded="@attemptedQuestion.IsMarksAwarded">
                                                        <div class="d-flex mb-3">
                                                            <a data-toggle="tooltip" data-placement="top"
                                                               class="text-white custom-button submitMsg  bg-success mx-auto"
                                                               title="Marks Submitted">
                                                                <i class="fas fa-check-circle"></i>
                                                                <span class="text-light submitMsgText">Marks Awarded</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {

                                                    <div class="col-12" data-ismarksawarded="False">
                                                        <div class="d-flex mb-3">
                                                            <a data-toggle="tooltip" data-placement="top"
                                                               class="text-white custom-button submitMsg  bg-danger mx-auto"
                                                               title="Marks Not Awarded">
                                                                <i class="fas fa-exclamation-circle"></i>
                                                                <span class="text-light submitMsgText">Marks Not Awarded</span>
                                                            </a>
                                                        </div>
                                                    </div>


                                                }
                                                <div class="col-12">
                                                    <span title="Obtained Marks" data-toggle="tooltip" data-placement="top" class="marks-wrapper float-right">
                                                        <span class="marks text-light d-flex">
                                                            Obtained Marks:

                                                            @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                            {
                                                                @attemptedQuestion.Marks
                                                                <input type="hidden" value="@attemptedQuestion.Marks" name="Marks" />
                                                            }
                                                            else
                                                            {
                                                                <input type="hidden" value="0" name="Marks" />
                                                                <span> 0</span>
                                                            }
                                                        </span>
                                                    </span>
                                                    <span title="Question Total Marks" data-toggle="tooltip" data-placement="top" class="marks-wrapper float-left">
                                                        <span class="marks text-light d-flex">
                                                            Question Total Marks: @question.Marks
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="col-12">
                                                    <h3 class="dash-heading text-center">
                                                        Teacher's Remarks
                                                    </h3>
                                                    @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                    {

                                                        @if (string.IsNullOrEmpty(attemptedQuestion.Remarks))
                                                        {
                                                            <div class="alert alert-dark bg-light shadow-1 rounded-1 text-muted">
                                                                Remarks not given.
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="alert alert-info bg-light shadow-1 rounded-1 text-dark">
                                                                @Html.Raw(attemptedQuestion.Remarks)
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="alert alert-dark bg-light shadow-1 rounded-1 text-muted">
                                                            Remarks not given yet.
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                }
                                else if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MCQ))
                                {
                                    var marks = "0";
                                    var isCorrect = false;
                                    if (isQuestionAttempted)
                                    {
                                        var isContained = attemptedQuestion.Answer.MCQChoiceId == question.QuestionChoices.FirstOrDefault(c => c.Detail == question.MTQCorrectQuestionChoices.FirstOrDefault()).Id;
                                        if (isContained)
                                        {
                                            marks = question.Marks;
                                            isCorrect = true;
                                        }
                                    }

                                    <div class="row " name="AnswerType" data-questiontype="@QustionTypesEnum.MCQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MCQ)">

                                        @if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MCQ))
                                        {
                                            foreach (var choice in question.QuestionChoices)
                                            {
                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice disableFunction">
                                                    <div class="d-flex question-content">

                                                        @if (isQuestionAttempted)
                                                        {
                                                            <label class="text-dark">
                                                                <input type="radio" name="QuestionChoices_@choice.Id" class="radio rounded colored @(isCorrect?"correctAnswer":"wrongAnswer")" data-choiceid="@choice.Id" @(attemptedQuestion.Answer.MCQChoiceId == choice.Id ? "checked" : "") />
                                                                <span></span>
                                                            </label>

                                                            @if (attemptedQuestion.Answer.MCQChoiceId == choice.Id)
                                                            {
                                                                @if (isCorrect)
                                                                {
                                                                    <div>
                                                                        <span class="text-success">@Html.Raw(choice.Detail)</span>
                                                                        <i class="fas fa-check text-success m-2 answer-icon"></i>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div>
                                                                        <span class="text-danger">@Html.Raw(choice.Detail)</span>
                                                                        <i class="fas fa-times text-danger m-2 answer-icon"></i>
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div>
                                                                    <span class="text-dark">@Html.Raw(choice.Detail)</span>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <label class="text-dark">
                                                                <input type="radio" name="QuestionChoices_@choice.Id" class="radio rounded colored" data-choiceid="@choice.Id" />
                                                                <span></span>
                                                            </label>
                                                            <div>
                                                                <span>@Html.Raw(choice.Detail)</span>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>

                                            }
                                            <div class="col-12 mb-5">
                                                <div class="btn-green attribute-type-title font-size-sm-13">
                                                    <span>Correct Answer is: </span>
                                                </div>
                                            </div>
                                            foreach (var choice in question.QuestionChoices)
                                            {
                                                if (question.MTQCorrectQuestionChoices.Contains(choice.Detail))
                                                {

                                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                                        <div class="d-flex">
                                                            <label class="text-dark">

                                                                <input type="radio" name="QuestionCorrectChoices_@choice.Id" class="radio rounded colored correctAnswer" data-choiceid="@choice.Id" checked />

                                                                <span></span>

                                                            </label>
                                                            <span class="text-success">@Html.Raw(choice.Detail)</span>
                                                        </div>
                                                    </div>

                                                }
                                            }
                                        }
                                        <div class="col-12">
                                            <div class="position-relative mt-4">
                                                <hr />
                                                <form asp-controller="Test" asp-action="AwardMarks">
                                                    <input type="hidden" name="QuestionId" value="@question.Id" />
                                                    <input type="hidden" name="TestId" value="@Model.Id" />
                                                    <input type="hidden" name="UserId" value="@Model.UserTestAttempts.FirstOrDefault().UserId" />

                                                    <div class="row justify-content-center">
                                                        @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                        {

                                                            <div class="col-12" data-ismarksawarded="@attemptedQuestion.IsMarksAwarded">
                                                                <div class="d-flex mb-3">
                                                                    <a data-toggle="tooltip" data-placement="top"
                                                                       class="text-white custom-button submitMsg  bg-success mx-auto"
                                                                       title="Marks Submitted">
                                                                        <i class="fas fa-check-circle"></i>
                                                                        <span class="text-light submitMsgText">Marks Awarded</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {

                                                            <div class="col-12"  data-ismarksawarded="False">
                                                                <div class="d-flex mb-3">
                                                                    <a data-toggle="tooltip" data-placement="top"
                                                                       class="text-white custom-button submitMsg  bg-danger mx-auto"
                                                                       title="Marks Not Awarded">
                                                                        <i class="fas fa-exclamation-circle"></i>
                                                                        <span class="text-light submitMsgText">Marks Not Awarded</span>
                                                                    </a>
                                                                </div>
                                                            </div>


                                                        }
                                                        <div class="col-12">
                                                            <span title="Obtained Marks" data-toggle="tooltip" data-placement="top" class="marks-wrapper float-right">
                                                                <span class="marks text-light d-flex">
                                                                    Obtained Marks:

                                                                    @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                                    {
                                                                        @attemptedQuestion.Marks
                                                                        <input type="hidden" value="@attemptedQuestion.Marks" name="Marks" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="hidden" value="@marks" name="Marks" />
                                                                        <span> @marks</span>
                                                                    }
                                                                </span>
                                                            </span>
                                                            <span title="Question Total Marks" data-toggle="tooltip" data-placement="top" class="marks-wrapper float-left">
                                                                <span class="marks text-light d-flex">
                                                                    Question Total Marks: @question.Marks
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div class="col-12">
                                                            <h3 class="dash-heading text-center">
                                                                Teacher's Remarks
                                                            </h3>
                                                            @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                            {

                                                                @if (string.IsNullOrEmpty(attemptedQuestion.Remarks))
                                                                {
                                                                    <div class="alert alert-dark bg-light shadow-1 rounded-1 text-muted">
                                                                        Remarks not given.
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="alert alert-info bg-light shadow-1 rounded-1 text-dark">
                                                                        @Html.Raw(attemptedQuestion.Remarks)
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="alert alert-dark bg-light shadow-1 rounded-1 text-muted">
                                                                    Remarks not given yet.
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MTQ))
                                {
                                    var marks = "0";
                                    var isCorrect = false;
                                    if (isQuestionAttempted)
                                    {
                                        if (question.MTQCorrectQuestionChoices.Count == attemptedQuestion.Answer.MTQAnsweredChoices.Count)
                                        {
                                            var trueCounter = 0;
                                            foreach (var item in question.MTQCorrectQuestionChoices)
                                            {
                                                var isContained = attemptedQuestion.Answer.MTQAnsweredChoices.Select(a => a.MTQChoiceId).Contains(question.QuestionChoices.FirstOrDefault(c => c.Detail == item).Id);
                                                if (isContained)
                                                {
                                                    trueCounter++;
                                                }

                                                if (question.MTQCorrectQuestionChoices.Count == trueCounter)
                                                {
                                                    marks = question.Marks;
                                                }

                                            }
                                        }


                                    }

                                    <div class="row " name="AnswerType" data-questiontype="@QustionTypesEnum.MTQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MTQ)">


                                        @if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MTQ))
                                        {
                                            foreach (var choice in question.QuestionChoices)
                                            {

                                                var isCorrectAnswerGiven = question.MTQCorrectQuestionChoices.Contains(choice.Detail);
                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice disableFunction">
                                                    <div class="d-flex question-content">

                                                        @if (isQuestionAttempted)
                                                        {
                                                            var isStudentChecked = attemptedQuestion.Answer.MTQAnsweredChoices.Any(a => a.MTQChoiceId == choice.Id);

                                                            var isAnsweredCorrect = question.MTQCorrectQuestionChoices.Contains(choice.Detail);

                                                            <label class=" @(isStudentChecked && isAnsweredCorrect ? "text-success" :isStudentChecked?"text-danger": "text-dark")">
                                                                <input type="checkbox" name="QuestionChoices_@choice.Id" value="@choice.Detail" data-choiceid="@choice.Id" class="checkbox squared colored @(isCorrectAnswerGiven?"correctAnswer":"wrongAnswer")" @(attemptedQuestion.Answer.MTQAnsweredChoices.Any(a => a.MTQChoiceId == choice.Id) ? "checked" : "") />
                                                                <span></span>

                                                            </label>
                                                            <div>
                                                                <span>@Html.Raw(choice.Detail)</span>

                                                                @if (isStudentChecked)
                                                                {
                                                                    @if (isAnsweredCorrect)
                                                                    {
                                                                        <i class="fas fa-check text-success m-2 answer-icon"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fas fa-times text-danger m-2 answer-icon"></i>
                                                                    }
                                                                }
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <label class="text-dark">
                                                                <input type="checkbox" name="QuestionChoices_@choice.Id" value="@choice.Detail" data-choiceid="@choice.Id" class="checkbox squared colored" />
                                                                <span></span>
                                                            </label>
                                                            <div>
                                                                <span>@Html.Raw(choice.Detail)</span>
                                                            </div>
                                                        }


                                                    </div>
                                                </div>
                                            }
                                            <div class="col-12 mb-5">
                                                <div class="btn-green attribute-type-title font-size-sm-13">
                                                    <span>Correct Answer is: </span>
                                                </div>
                                            </div>
                                            foreach (var choice in question.QuestionChoices)
                                            {
                                                if (question.MTQCorrectQuestionChoices.Contains(choice.Detail))
                                                {
                                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice disableFunction">
                                                        <div class="d-flex">
                                                            <label>
                                                                <input type="checkbox" name="QuestionChoices_@choice.Id" value="@choice.Detail" data-choiceid="@choice.Id" class="checkbox squared colored correctAnswer" checked />
                                                                <span></span>
                                                            </label>
                                                            <div>
                                                                <span class="text-success">@Html.Raw(choice.Detail)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            }
                                        }
                                        <div class="col-12">
                                            <div class="position-relative mt-4">
                                                <hr />
                                                <form asp-controller="Test" asp-action="AwardMarks">
                                                    <input type="hidden" name="QuestionId" value="@question.Id" />
                                                    <input type="hidden" name="TestId" value="@Model.Id" />
                                                    <input type="hidden" name="UserId" value="@Model.UserTestAttempts.FirstOrDefault().UserId" />

                                                    <div class="row justify-content-center">
                                                        @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                        {

                                                            <div class="col-12" data-ismarksawarded="@attemptedQuestion.IsMarksAwarded">
                                                                <div class="d-flex mb-3">
                                                                    <a data-toggle="tooltip" data-placement="top"
                                                                       class="text-white custom-button submitMsg  bg-success mx-auto"
                                                                       title="Marks Submitted">
                                                                        <i class="fas fa-check-circle"></i>
                                                                        <span class="text-light submitMsgText">Marks Awarded</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {

                                                            <div class="col-12"  data-ismarksawarded="False">
                                                                <div class="d-flex mb-3">
                                                                    <a data-toggle="tooltip" data-placement="top"
                                                                       class="text-white custom-button submitMsg  bg-danger mx-auto"
                                                                       title="Marks Not Awarded">
                                                                        <i class="fas fa-exclamation-circle"></i>
                                                                        <span class="text-light submitMsgText">Marks Not Awarded</span>
                                                                    </a>
                                                                </div>
                                                            </div>


                                                        }
                                                        <div class="col-12">
                                                            <span title="Obtained Marks" data-toggle="tooltip" data-placement="top" class="marks-wrapper float-right">
                                                                <span class="marks text-light d-flex">
                                                                    Obtained Marks:

                                                                    @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                                    {
                                                                        @attemptedQuestion.Marks
                                                                        <input type="hidden" value="@attemptedQuestion.Marks" name="Marks" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="hidden" value="@marks" name="Marks" />
                                                                        <span> @marks</span>
                                                                    }
                                                                </span>
                                                            </span>
                                                            <span title="Question Total Marks" data-toggle="tooltip" data-placement="top" class="marks-wrapper float-left">
                                                                <span class="marks text-light d-flex">
                                                                    Question Total Marks: @question.Marks
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div class="col-12">
                                                            <h3 class="dash-heading text-center">
                                                                Teacher's Remarks
                                                            </h3>
                                                            @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                            {

                                                                @if (string.IsNullOrEmpty(attemptedQuestion.Remarks))
                                                                {
                                                                    <div class="alert alert-dark bg-light shadow-1 rounded-1 text-muted">
                                                                        Remarks not given.
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="alert alert-info bg-light shadow-1 rounded-1 text-dark">
                                                                        @Html.Raw(attemptedQuestion.Remarks)
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="alert alert-dark bg-light shadow-1 rounded-1 text-muted">
                                                                    Remarks not given yet.
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.FillBlank))
                                {
                                    var correctQuestionChoice = string.Empty;
                                    var isCorrect = false;
                                    if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.FillBlank))
                                    {
                                        correctQuestionChoice = question.AnswerDetail;
                                    }
                                    var marks = "0";
                                    if (isQuestionAttempted)
                                    {
                                        var isContained = correctQuestionChoice.ToLower() == attemptedQuestion.Answer.Detail.ToLower();
                                        if (isContained)
                                        {
                                            marks = question.Marks;
                                            isCorrect = true;
                                        }
                                    }
                                    @if (isCorrect)
                                    {
                                        <i class="fas fa-check-circle text-success m-3" data-toggle="tooltip" title="Attempted Correct Answer"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-times-circle text-danger m-3" data-toggle="tooltip" title="Attempted Wrong Answer"></i>
                                    }
                                    <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.FillBlank" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.FillBlank)">
                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 Choice disableFunction">
                                            <div class="d-flex mb-4">
                                                @if (isQuestionAttempted)
                                                {
                                                    <input type="text" name="CorrectQuestionChoice" class="form-control w-75 w-sm-100" placeholder="Fill Correct word in the Blank" autocomplete="off" value="@attemptedQuestion.Answer.Detail" />
                                                    @if (isCorrect)
                                                    {
                                                        <i class="fas fa-check text-success m-3"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-times text-danger m-3"></i>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="alert alert-danger text-danger">
                                                        <i class="fas fa-exclamation-triangle"></i> You have not attempted this question.
                                                    </div>
                                                }


                                            </div>
                                        </div>

                                        <div class="col-12 mb-5">
                                            <div class="btn-green attribute-type-title font-size-sm-13">
                                                <span>Correct Answer is: </span>
                                            </div>
                                        </div>


                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice disableFunction">
                                            <div class="d-flex correctAnswer">

                                                <input type="text" name="CorrectQuestionChoice" class="form-control w-75 w-sm-100" placeholder="Fill Correct word in the Blank" autocomplete="off" value="@correctQuestionChoice" />

                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="position-relative mt-4">
                                                <hr />
                                                <form asp-controller="Test" asp-action="AwardMarks">
                                                    <input type="hidden" name="QuestionId" value="@question.Id" />
                                                    <input type="hidden" name="TestId" value="@Model.Id" />
                                                    <input type="hidden" name="UserId" value="@Model.UserTestAttempts.FirstOrDefault().UserId" />
                                                    <div class="row justify-content-center">
                                                        @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                        {

                                                            <div class="col-12" data-ismarksawarded="@attemptedQuestion.IsMarksAwarded">
                                                                <div class="d-flex mb-3">
                                                                    <a data-toggle="tooltip" data-placement="top"
                                                                       class="text-white custom-button submitMsg  bg-success mx-auto"
                                                                       title="Marks Submitted">
                                                                        <i class="fas fa-check-circle"></i>
                                                                        <span class="text-light submitMsgText">Marks Awarded</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {

                                                            <div class="col-12"  data-ismarksawarded="False">
                                                                <div class="d-flex mb-3">
                                                                    <a data-toggle="tooltip" data-placement="top"
                                                                       class="text-white custom-button submitMsg  bg-danger mx-auto"
                                                                       title="Marks Not Awarded">
                                                                        <i class="fas fa-exclamation-circle"></i>
                                                                        <span class="text-light submitMsgText">Marks Not Awarded</span>
                                                                    </a>
                                                                </div>

                                                            </div>

                                                        }
                                                        <div class="col-12">
                                                            <span title="Obtained Marks" data-toggle="tooltip" data-placement="top" class="marks-wrapper float-right">
                                                                <span class="marks text-light d-flex">
                                                                    Obtained Marks:
                                                                    @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                                    {
                                                                        @attemptedQuestion.Marks
                                                                        <input type="hidden" value="@attemptedQuestion.Marks" name="Marks" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="hidden" value="@marks" name="Marks" />
                                                                        <span> @marks</span>
                                                                    }
                                                                </span>
                                                            </span>
                                                            <span title="Question Total Marks" data-toggle="tooltip" data-placement="top" class="marks-wrapper float-left">
                                                                <span class="marks text-light d-flex">
                                                                    Question Total Marks: @question.Marks
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div class="col-12">
                                                            <h3 class="dash-heading text-center">
                                                                Teacher's Remarks
                                                            </h3>
                                                            @if (attemptedQuestion != null && attemptedQuestion.IsMarksAwarded)
                                                            {

                                                                @if (string.IsNullOrEmpty(attemptedQuestion.Remarks))
                                                                {
                                                                    <div class="alert alert-dark bg-light shadow-1 rounded-1 text-muted">
                                                                        Remarks not given.
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="alert alert-info bg-light shadow-1 rounded-1 text-dark">
                                                                        @Html.Raw(attemptedQuestion.Remarks)
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {

                                                                <div class="alert alert-dark bg-light shadow-1 rounded-1 text-muted">
                                                                    Remarks not given yet.
                                                                </div>

                                                            }
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />
    }

    <section>


        <div class="decent-table rounded-1 position-relative">
            <div class="overflow-auto">
                <h3 class="dash-heading text-dark d-block font-weight-bold font-size-25 text-center">
                    Test Report
                </h3>
                <div class="table-responsive manage-table px-4 py-3">

                    @if (Model.TestQuestions.Any(x => notAttemptedQuestion.Contains(x.Question.Id) || notEvaluatedQuestions.Contains(x.Question.Id)))
                    {
                        <div class="alert alert-danger text-danger text-center">
                            <i class="fas fa-exclamation-triangle d-block fa-2x mb-2"></i> Some of question(s) are not evaluated, Request teacher to award marks.

                            (@foreach (var question in Model.TestQuestions.Where(x => notAttemptedQuestion.Contains(x.Question.Id) || notEvaluatedQuestions.Contains(x.Question.Id)).Select(a => a.Question))
                            {
                                <a class="font-weight-bold text-dark" onclick="goToQuestion(@question.Id)" data-scrollto="@question.Id">@question.Id,</a>
                            }).
                            <button class="requestEvaluateBtn mx-auto btn btn-danger font-size-14 text-white oval-rounded py-2 px-3 ml-2 mt-2 w-auto">
                                <i class="fas fa-envelope mx-0 px-2 text-white"></i>
                                Request Now
                                <i class="ti-arrow-right ml-2"></i>
                            </button>
                        </div>

                    }
                    else
                    {
                        <i class="fas fa-check-circle position-absolute-right-15 position-absolute-top-15 font-size-30 text-success" data-toggle="tooltip" title="Test Evaluated Successfully"></i>
                    }

                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0">Student</th>
                                <th scope="col" class="border-0">No. of Unattempted Questions</th>
                                <th scope="col" class="border-0">Total Marks</th>
                                <th scope="col" class="border-0">Obtained Marks</th>
                            </tr>
                        </thead>
                        <tbody class="batchTests">

                            <tr class="advanced-table">
                                <td>@(student.FirstName + " " + student.LastName)</td>
                                <td>@(notAttemptedQuestion.Count() + Model.UserQuestionAttempts.Where(a => !a.IsQuestionAttempted).Count())</td>
                                <td>@Model.TestQuestions.Sum(a => string.IsNullOrEmpty(a.Question.Marks) ? 0 : Convert.ToInt32(a.Question.Marks))</td>
                                <td class="ObtainedMarks">@Model.UserQuestionAttempts.Sum(a => !a.IsMarksAwarded ? 0 : a.Marks)</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="sml-pd"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>

</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            $('.lightgallery').lightGallery();
            $("[data-toggle=tooltip]").powerTip();
            awardMarks();
        });
        function awardMarks() {
            debugger
            var questions = $("[data-questionid].Question");
            var testid = $("[data-testid]").data("testid");
            var userId = $("[name=UserId]").val();
            var needResultReload = false;
            var models = [];
            questions.each(function (i, e) {
                var questionId = $(e).data('questionid');
                var questionType = $("[data-questionid=" + questionId + "]").find("[data-questiontype]").data("questiontype");
                var isAttempted = $("[data-questionid=" + questionId + "]").data("attempted");
                var ismarksawarded = $("[data-questionid=" + questionId + "]").find("[data-ismarksawarded]").data("ismarksawarded");
                var marks = $("[data-questionid=" + questionId + "]").find("[name=Marks]").val();
                var model = {
                    QuestionId: questionId,
                    TestId: testid,
                    Marks: marks,
                    UserId: userId
                };
                if ((questionType == "MCQ" || questionType == "MTQ" || questionType == "FillBlank") && ismarksawarded == "False") {

                    models.push(model);
                    needResultReload = true;

                } else if ((questionType == "LongQuestion" || questionType == "ShortQuestion") && isAttempted == "False" && ismarksawarded == "False") {

                    models.push(model);
                    needResultReload = true;
                }
            });
            if (models.length) {
                submitFormSilently(models);
            } 
           

        }
        function submitFormSilently(models) {
            swal(
                'Please Wait...',
                'Some of questions are evaluating automatically!!',
                'info'
            );
            swal.showLoading();
            $.ajax({
                async: false,
                url: '/Test/AwardMarksToMultipleQuestions',
                type: "POST",
                data: {
                    models: models
                },
                success: function (view) {
                    swal(
                        'Auto Evaluation Done!!',
                        'Some or all questions Evaluated automatically.',
                        'success'
                    );
                    location.href = location.href;
                },
                error: function (error) {
                    //returnErrorState(error);
                }
            });
        }
    </script>


}
