﻿@model TestViewModel
@using System;



<div class="container-fluid mb-3" data-testid="@Model.Id" data-minutes="@Model.Minutes" data-hours="@Model.Hours" data-startdatatime="@(Model.UserTestAttempts!=null||Model.UserTestAttempts.Any()? Model.UserTestAttempts.FirstOrDefault().StartedDate.ToString("MM/dd/yyyy HH:mm:ss"): DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss") )">
    <div class="skippedQuestionWrapper">
        <a class="custom-button btn-green finishBtn oval-rounded pr-4 pl-5 mt-2 mb-3  font-size-15 exitTest float-left w-98 w-md-100" data-toggle="tooltip" data-placement="top" data-modalcall="true">
            <i class="fas fa-sign-out-alt"></i> Exit
        </a>
    </div>


    <hr />
    @{
        var testQs = Model.TestQuestions.ToList();
        decimal totalMarks = 0;
    }
    @foreach (var tquestion in testQs.OrderBy(a => a.Question.Id))
    {
        var question = tquestion.Question;
        var i = testQs.IndexOf(tquestion) + 1;
        var questionStartDateTime = "NotAttempt";

        var attemptedQuestion = Model.UserQuestionAttempts.FirstOrDefault(a => a.QuestionId == question.Id);
        var isQuestionAttempted = attemptedQuestion != null;
        var formId = Guid.NewGuid();

        if (i == 1)
        {
            questionStartDateTime = DateTime.Now.ToString("MM/dd/yyyy HH:mm:ss");
        }
        <div data-step="@i" data-questionid="@question.Id" data-starttime="@questionStartDateTime" class="Question step mt-5" data-attempted="@(attemptedQuestion!=null)" data-totalviewseconds="@(attemptedQuestion!=null? attemptedQuestion.ViewSeconds.ToString("N0") : "0" )">
            <div class="row mt-2 inline-modal">
                <div class="col col-12 mb-2">
                    <div class="card  font-size-md-13">
                        <div class="card-header p-2">
                            <div class="attribute-type-title">
                                <span> Q-Id: @question.Id </span>
                            </div>
                            <span title="Time Taken to attempt this question" data-toggle="tooltip" data-placement="top" class="position-absolute-right-5 text-white custom-button questionTimeTakenClock"><i class="fas fa-clock"></i> <span class="text-light">@(attemptedQuestion != null ? attemptedQuestion.ViewSeconds.ToString("N0") : "0" )</span> <em class="text-light">secs</em></span>
                        </div>
                        <div class="card-body pt-5 position-relative">
                            <div class="attribute-type-title">
                                <span> Question: @i of @testQs.Count</span>
                            </div>
                            <div class="question-detail font-size-sm-13">
                                @Html.Raw(question.QuestionDetail)
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-2 inline-modal exam ">
                <div class="col col-12 mb-2">
                    <div class="card">
                        <div class="card-header p-2">
                            <div class="attribute-type-title font-size-sm-13">
                                <span>Given Answer </span>
                            </div>

                            @if (isQuestionAttempted)
                            {
                                <span class="mt-4 ml-3 badge badge-pill badge-success position-absolute-right-15">Question Attempted <i class="fas fa-check-circle"></i></span>
                            }
                            else
                            {
                                <span class="mt-4 ml-3 badge badge-pill badge-danger position-absolute-right-15">Question Not Attempted <i class="fas fa-times-circle"></i></span>
                            }

                        </div>
                        <div class="card-body position-relative  font-size-sm-13">
                            @{
                                if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.LongQuestion))
                                {

                                    <div class="alert alert-warning shadow">
                                        Long Question (Not Evaluated by teacher yet).
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    var guidTab1 = Guid.NewGuid();
                                    var guidTab2 = Guid.NewGuid();
                                    var upload = "active";
                                    var editor = "active";

                                    if (isQuestionAttempted && attemptedQuestion.Answer.WrittenAnswerType == (int)WrittenAnswerType.Editor)
                                    {
                                        upload = string.Empty;
                                    }
                                    else
                                    {
                                        editor = string.Empty;
                                    }
                                    <ul class="nav nav-tabs hidden" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link @upload font-weight-bold questionTab" data-type="upload" data-toggle="tab" href="#@guidTab1" role="tab" aria-controls="upload" aria-selected="true"><i class="fas fa-upload"></i> Upload answer image</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @editor font-weight-bold questionTab" data-type="editor" data-toggle="tab" href="#@guidTab2" role="tab" aria-controls="editor" aria-selected="false"><i class="fas fa-edit"></i> Enter answer using editor</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        @{
                                            upload = "show active";
                                            editor = "show active";
                                        }
                                        @if (isQuestionAttempted && attemptedQuestion.Answer.WrittenAnswerType == (int)WrittenAnswerType.Editor)
                                        {
                                            upload = string.Empty;
                                        }
                                        else
                                        {
                                            editor = string.Empty;
                                        }
                                        <div class="tab-pane fade @upload" id="@guidTab1" role="tabpanel">
                                            @if (isQuestionAttempted && !string.IsNullOrEmpty(upload))
                                            {
                                                var imgs = attemptedQuestion.Answer.ImageFileUrl.Split(',');


                                                <div class="light-gallery">
                                                    <ul class="lightgallery list-unstyled row">
                                                        @foreach (var img in imgs)
                                                        {
                                                            <li class="col-xs-6 col-sm-4 col-md-3" data-src="/@("UploadedArtifacts/" + img)">
                                                                <a href="/@("UploadedArtifacts/" + img)">
                                                                    <img class="img-responsive" src="/@("UploadedArtifacts/" + img)">
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>

                                            }
                                            else
                                            {
                                                <div>
                                                    --
                                                </div>
                                            }
                                        </div>
                                        <div class="tab-pane fade @editor" id="@guidTab2" role="tabpanel">
                                            <div class="row" name="AnswerType" data-questiontype="@QustionTypesEnum.LongQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.LongQuestion)">
                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <label for="AnswerDetail">Answer</label>
                                                        @if (attemptedQuestion != null)
                                                        {
                                                            <div>
                                                                @Html.Raw(attemptedQuestion.Answer.Detail)
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div>
                                                                --
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                }
                                if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.ShortQuestion))
                                {
                                    <div class="alert alert-warning shadow">
                                        Short Question (Not Evaluated by teacher yet).
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    var guidTab1 = Guid.NewGuid();
                                    var guidTab2 = Guid.NewGuid();
                                    var upload = "active";
                                    var editor = "active";

                                    if (isQuestionAttempted && attemptedQuestion.Answer.WrittenAnswerType == (int)WrittenAnswerType.Editor)
                                    {
                                        upload = string.Empty;
                                    }
                                    else
                                    {
                                        editor = string.Empty;
                                    }
                                    <ul class="nav nav-tabs hidden" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link @upload font-weight-bold questionTab" data-type="upload" data-toggle="tab" href="#@guidTab1" role="tab" aria-controls="upload" aria-selected="true"><i class="fas fa-upload"></i> Upload answer image</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @editor font-weight-bold questionTab" data-type="editor" data-toggle="tab" href="#@guidTab2" role="tab" aria-controls="editor" aria-selected="false"><i class="fas fa-edit"></i> Enter answer using editor</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        @{
                                            upload = "show active";
                                            editor = "show active";
                                        }
                                        @if (isQuestionAttempted && attemptedQuestion.Answer.WrittenAnswerType == (int)WrittenAnswerType.Editor)
                                        {
                                            upload = string.Empty;
                                        }
                                        else
                                        {
                                            editor = string.Empty;
                                        }
                                        <div class="tab-pane fade @upload" id="@guidTab1" role="tabpanel">
                                            @if (isQuestionAttempted && !string.IsNullOrEmpty(upload))
                                            {
                                                var imgs = attemptedQuestion.Answer.ImageFileUrl.Split(',');


                                                <div class="light-gallery">
                                                    <ul class="lightgallery list-unstyled row">
                                                        @foreach (var img in imgs)
                                                        {
                                                            <li class="col-xs-6 col-sm-4 col-md-3" data-src="/@("UploadedArtifacts/" + img)">
                                                                <a href="/@("UploadedArtifacts/" + img)">
                                                                    <img class="img-responsive" src="/@("UploadedArtifacts/" + img)">
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>

                                            }
                                            else
                                            {
                                                <div>
                                                    --
                                                </div>
                                            }
                                        </div>
                                        <div class="tab-pane fade @editor" id="@guidTab2" role="tabpanel">
                                            <div class="row " name="AnswerType" data-questiontype="@QustionTypesEnum.ShortQuestion" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.ShortQuestion)">
                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <label for="ShortAnswerDetail">Short Answer</label>
                                                        @if (attemptedQuestion != null)
                                                        {
                                                            <div>
                                                                @Html.Raw(attemptedQuestion.Answer.Detail)
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div>
                                                                --
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MCQ))
                                {
                                    var marks = "0";
                                    var isCorrect = false;
                                    if (attemptedQuestion != null)
                                    {
                                        var isContained = attemptedQuestion.Answer.MCQChoiceId == question.QuestionChoices.FirstOrDefault(c => c.Detail == question.MTQCorrectQuestionChoices.FirstOrDefault()).Id;
                                        if (isContained)
                                        {
                                            marks = question.Marks;
                                            totalMarks += Convert.ToDecimal(question.Marks);
                                            isCorrect = true;
                                        }
                                    }

                                    <div class="row disableFunction" name="AnswerType" data-questiontype="@QustionTypesEnum.MCQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MCQ)">

                                        @if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MCQ))
                                        {
                                            foreach (var choice in question.QuestionChoices)
                                            {
                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                                    <div class="d-flex ">
                                                        <label>
                                                            @if (attemptedQuestion != null)
                                                            {
                                                                <input type="radio" name="QuestionChoices_@choice.Id" class="radio rounded colored" data-choiceid="@choice.Id" @(attemptedQuestion.Answer.MCQChoiceId == choice.Id ? "checked" : "") />
                                                            }
                                                            else
                                                            {
                                                                <input type="radio" name="QuestionChoices_@choice.Id" class="radio rounded colored" data-choiceid="@choice.Id" />
                                                            }
                                                            <span></span>
                                                            @choice.Detail
                                                            @if (attemptedQuestion.Answer.MCQChoiceId == choice.Id)
                                                            {
                                                                @if (isCorrect)
                                                                {
                                                                    <i class="fas fa-check text-success m-2"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fas fa-times text-danger m-2"></i>
                                                                }
                                                            }
                                                        </label>
                                                    </div>
                                                </div>

                                            }
                                            <div class="col-12 mb-5">
                                                <div class="btn-green attribute-type-title font-size-sm-13">
                                                    <span>Correct Answer </span>
                                                </div>
                                            </div>
                                            foreach (var choice in question.QuestionChoices)
                                            {
                                                if (question.MTQCorrectQuestionChoices.Contains(choice.Detail))
                                                {

                                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                                        <div class="d-flex correctAnswer">
                                                            <label>

                                                                <input type="radio" name="QuestionCorrectChoices_@choice.Id" class="radio rounded colored" data-choiceid="@choice.Id" checked />

                                                                <span></span>
                                                                @choice.Detail
                                                            </label>
                                                        </div>
                                                    </div>

                                                }
                                            }
                                        }
                                        <span title="Marks" data-toggle="tooltip" data-placement="top" class="marks position-absolute position-absolute-right-15 text-white custom-button"> <span class="text-light">Marks: @marks</span></span>

                                    </div>
                                }
                                else if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MTQ))
                                {
                                    var marks = "0";
                                    var isCorrect = false;
                                    if (attemptedQuestion != null)
                                    {
                                        if (question.MTQCorrectQuestionChoices.Count == attemptedQuestion.Answer.MTQAnsweredChoices.Count)
                                        {
                                            var trueCounter = 0;
                                            foreach (var item in question.MTQCorrectQuestionChoices)
                                            {
                                                var isContained = attemptedQuestion.Answer.MTQAnsweredChoices.Select(a => a.MTQChoiceId).Contains(question.QuestionChoices.FirstOrDefault(c => c.Detail == item).Id);
                                                if (isContained)
                                                {
                                                    trueCounter++;
                                                }

                                                if (question.MTQCorrectQuestionChoices.Count == trueCounter)
                                                {
                                                    marks = question.Marks;
                                                    totalMarks += Convert.ToDecimal(question.Marks);
                                                }

                                            }
                                        }


                                    }

                                    <div class="row disableFunction" name="AnswerType" data-questiontype="@QustionTypesEnum.MTQ" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.MTQ)">


                                        @if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MTQ))
                                        {
                                            foreach (var choice in question.QuestionChoices)
                                            {

                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                                    <div class="d-flex">
                                                        <label>
                                                            @if (attemptedQuestion != null)
                                                            {
                                                                <input type="checkbox" name="QuestionChoices_@choice.Id" value="@choice.Detail" data-choiceid="@choice.Id" class="checkbox squared colored" @(attemptedQuestion.Answer.MTQAnsweredChoices.Any(a => a.MTQChoiceId == choice.Id) ? "checked" : "") />

                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" name="QuestionChoices_@choice.Id" value="@choice.Detail" data-choiceid="@choice.Id" class="checkbox squared colored" />
                                                            }
                                                            <span></span>
                                                            @choice.Detail
                                                        </label>

                                                    </div>
                                                </div>
                                            }
                                            <div class="col-12 mb-5">
                                                <div class="btn-green attribute-type-title font-size-sm-13">
                                                    <span>Correct Answer </span>
                                                </div>
                                            </div>
                                            foreach (var choice in question.QuestionChoices)
                                            {

                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                                    <div class="d-flex correctAnswer">
                                                        <label>

                                                            <input type="checkbox" name="QuestionChoices_@choice.Id" value="@choice.Detail" data-choiceid="@choice.Id" class="checkbox squared colored" @( question.MTQCorrectQuestionChoices.Contains(choice.Detail) ? "checked" : "") />

                                                            <span></span>
                                                            @choice.Detail
                                                        </label>

                                                    </div>
                                                </div>
                                            }
                                        }
                                        <span title="Marks" data-toggle="tooltip" data-placement="top" class="marks position-absolute position-absolute-right-15 text-white custom-button"> <span class="text-light">Marks: @marks</span></span>

                                    </div>
                                }
                                else if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.FillBlank))
                                {
                                    <div class="row disableFunction" name="AnswerType" data-questiontype="@QustionTypesEnum.FillBlank" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.FillBlank)">
                                        @{var correctQuestionChoice = string.Empty;
                                            var isCorrect = false;
                                            if (question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.FillBlank))
                                            {
                                                correctQuestionChoice = question.AnswerDetail;
                                            }
                                            var marks = "0";
                                            if (attemptedQuestion != null)
                                            {
                                                var isContained = correctQuestionChoice.ToLower() == attemptedQuestion.Answer.Detail.ToLower();
                                                if (isContained)
                                                {
                                                    marks = question.Marks;
                                                    isCorrect = true;
                                                    totalMarks += Convert.ToDecimal(question.Marks);
                                                }
                                            }
                                        }

                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 Choice">
                                            <div class="d-flex mb-4">
                                                @if (attemptedQuestion != null)
                                                {
                                                    <input type="text" name="CorrectQuestionChoice" class="form-control w-75 w-sm-100" placeholder="Fill Correct word in the Blank" autocomplete="off" value="@attemptedQuestion.Answer.Detail" />
                                                    @if (isCorrect)
                                                    {
                                                        <i class="fas fa-check text-success m-3"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-times text-danger m-3"></i>
                                                    }
                                                }
                                                else
                                                {
                                                    <input type="text" name="CorrectQuestionChoice" class="form-control w-75 w-sm-100" placeholder="Fill Correct word in the Blank" autocomplete="off" />
                                                }


                                            </div>
                                        </div>

                                        <div class="col-12 mb-5">
                                            <div class="btn-green attribute-type-title font-size-sm-13">
                                                <span>Correct Answer </span>
                                            </div>
                                        </div>


                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2 Choice">
                                            <div class="d-flex correctAnswer">

                                                <input type="text" name="CorrectQuestionChoice" class="form-control w-75 w-sm-100" placeholder="Fill Correct word in the Blank" autocomplete="off" value="@correctQuestionChoice" />

                                            </div>
                                        </div>

                                        <span title="Marks" data-toggle="tooltip" data-placement="top" class="marks position-absolute position-absolute-right-15 text-white custom-button"> <span class="text-light">Marks: @marks</span></span>

                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />
    }
    <div class="row disableFunction" name="AnswerType" data-questiontype="@QustionTypesEnum.FillBlank" data-questiontypeid="@Convert.ToInt32(QustionTypesEnum.FillBlank)">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <span>Total Calculated Marks</span>
                    <span title="Marks" data-toggle="tooltip" data-placement="top" class="float-right marks text-white custom-button"> <span class="text-light">Total Marks: @totalMarks</span></span>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts{

    <script>
        let startingQuestionTimer;
        let startingQuestionCounter=0;
        $(document).ready(function () {

            $('.lightgallery').lightGallery();
            attachUploader();
            if (tinymce.get("AnswerDetail") !== null)
                tinymce.get("AnswerDetail").remove();

            if (tinymce.get("QuestionDetail") !== null)
                tinymce.get("QuestionDetail").remove();

            TinyMVCGlobalOptions.selector = ".tmceeditor";

            tinymce.init(TinyMVCGlobalOptions);
            $('.mce-tinymce.mce-container').css("display", "block");

            $("[data-toggle=tooltip]").powerTip()


            $("#app").addClass("hide");
            var datNow = new Date($("[data-startdatatime]").data("startdatatime"));

            var durationMinutes = Number($("[data-minutes]").data("minutes"));
            var durationHours = Number($("[data-hours]").data("hours"));
            var totalDuration = (durationHours * 60) + durationMinutes;
            datNow.setMinutes(datNow.getMinutes() + totalDuration)
            startingTimer = setInterval(function () { makeTimer(datNow, "remainingTimer"); }, 1000);

            var currentStep = Number($(".step.show").data("step"));
            manageNextPrevBtns(currentStep);

            manageSubmit(currentStep);
            if ($(`[data-step=${currentStep}].Question`).attr("data-attempted") == "False") {
                startingQuestionTimer = setInterval(function () { stopWatch(0); }, 1000);
            }
            checkTestFinished();
        });
        $(document).on("click", ".exitTest", function () {

            swal({
                title: "Are you sure?",
                text: "Are you sure to exit the examination?",
                type: "info",
                showCancelButton: true,
                showLoaderOnConfirm: true,
                preConfirm: (text) => {
                    return new Promise((resolve) => {
                        location.href = "/";
                    })
                },
                allowOutsideClick: () => !swal.isLoading()
            });

        });
        $(document).on("click", ".showStep", function () {
            if ($(".step.show").attr("data-attempted") == "False") {
                clearTimeout(startingQuestionTimer);
                var previousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                var starttime = new Date($(".step.show").attr("data-starttime"));
                var timeTaken = getSecondsDifference(starttime, new Date()) + previousTakenTime;
                $(".step.show").attr("data-totalviewseconds", timeTaken);
            }
            var step = Number($(this).data("step"));
            var showStep = step;


            if ($(`.step[data-step=${showStep}]`).length > 0) {
                $(".step.show").removeClass("show");
                $(`.step`).addClass("hidden");
                $(`.step[data-step=${showStep}]`).fadeIn();
                $(`.step[data-step=${showStep}]`).addClass("show");
                $(".step.show").attr("data-starttime", new Date());
                $(`.step[data-step=${showStep}]`).removeClass("hidden");
                var showStepPreviousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                startingQuestionCounter = showStepPreviousTakenTime;
                if ($(`[data-step=${showStep}].Question`).attr("data-attempted") == "False") {
                    startingQuestionTimer = setInterval(function () { stopWatch(); }, 1000);
                }

            }
            manageNextPrevBtns(showStep);
            manageSubmit(showStep);


        });

        $(document).on("click", ".gotoStep", function () {
            var step = Number($(`.gotoStepInput`).val());
            if ($(`.step[data-step=${step}]`).length > 0) {

                if ($(".step.show").attr("data-attempted") == "False") {
                    clearTimeout(startingQuestionTimer);
                    var previousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                    var starttime = new Date($(".step.show").attr("data-starttime"));
                    var timeTaken = getSecondsDifference(starttime, new Date()) + previousTakenTime;
                    $(".step.show").attr("data-totalviewseconds", timeTaken);
                }

                var showStep = step;


                if ($(`.step[data-step=${showStep}]`).length > 0) {
                    $(".step.show").removeClass("show");
                    $(`.step`).addClass("hidden");
                    $(`.step[data-step=${showStep}]`).fadeIn();
                    $(`.step[data-step=${showStep}]`).addClass("show");
                    $(".step.show").attr("data-starttime", new Date());
                    $(`.step[data-step=${showStep}]`).removeClass("hidden");
                    var showStepPreviousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                    startingQuestionCounter = showStepPreviousTakenTime;
                    if ($(`[data-step=${showStep}].Question`).attr("data-attempted") == "False") {
                        startingQuestionTimer = setInterval(function () { stopWatch(); }, 1000);
                    }

                }
                manageNextPrevBtns(showStep);

            } else {
                smallSwal("No Question Exist", "", "error");
            }

        });
        function addSkippedQuestion(step, questionid) {

            $(".skippedQuestionWrapper").removeClass("hidden");
            var btn = `
            <div class="col-3 col-md-2 col-lg-6 skipped${step}" data-skippedquestionid="${questionid}">
                <a class="text-center custom-button btn-blue oval-rounded pr-2 pl-2 mb-2 mr-1 showStep w-100" data-toggle="tooltip" data-placement="top" data-modalcall="true" data-step="${step}" title="Go to Question ${step}">${step}</a>
            </div>`;
            if (!$(`.skipped${step}`).length && $(`[data-step=${step}].Question`).attr("data-attempted")=="False") {

                $("#skippedQuestion .row").append(btn);
            }
            $("[data-toggle=tooltip]").powerTip()
        }
        function removeSkippedQuestion(step) {
            $(`.skipped${step}`).remove();
        }
        $(document).on("click", ".btnNext", function () {
            nextStep();
        });
        function nextStep() {
            if ($(".step.show").attr("data-attempted") == "False") {
                clearTimeout(startingQuestionTimer);
                var previousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                var starttime = new Date($(".step.show").attr("data-starttime"));
                var timeTaken = getSecondsDifference(starttime, new Date()) + previousTakenTime;
                $(".step.show").attr("data-totalviewseconds", timeTaken);
            }

            var step = Number($(".step.show").data("step"));
            var showStep = step + 1;


            if ($(`.step[data-step=${showStep}]`).length > 0) {
                $(".step.show").removeClass("show");
                $(`.step`).addClass("hidden");
                $(`.step[data-step=${showStep}]`).fadeIn();
                $(`.step[data-step=${showStep}]`).addClass("show");
                $(`.step[data-step=${showStep}]`).removeClass("hidden");
                $(".step.show").attr("data-starttime", new Date());

                var showStepPreviousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                startingQuestionCounter = showStepPreviousTakenTime;

                if ($(`[data-step=${showStep}].Question`).attr("data-attempted") == "False") {
                    startingQuestionTimer = setInterval(function () { stopWatch(); }, 1000);
                }


                manageNextPrevBtns(showStep);
                addSkippedQuestion(step, $(".step.show").data("questionid"));
            }

            if ($(`[data-step=${showStep}].Question`).attr("data-attempted")=="True") {
                $(`.btnSubmit`).addClass("disableClick");
                $(`[data-step=${showStep}].Question`).find("[name=AnswerType]").addClass("disableClick");
            }
            else {
                $(`.btnSubmit`).removeClass("disableClick");
                $(`[data-step=${showStep}].Question`).find("[name=AnswerType]").removeClass("disableClick");

            }
        }
        $(document).on("click", ".btnPrevious", function () {
            if ($(".step.show").attr("data-attempted") == "False") {
                clearTimeout(startingQuestionTimer);
                var previousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                var starttime = new Date($(".step.show").attr("data-starttime"));
                var timeTaken = getSecondsDifference(starttime, new Date()) + previousTakenTime;
                $(".step.show").attr("data-totalviewseconds", timeTaken);
            }
            var step = Number($(".step.show").data("step"));
            var showStep = step - 1;

            if ($(`.step[data-step=${showStep}]`).length > 0) {

                $(".step.show").removeClass("show");
                $(`.step`).addClass("hidden");
                $(`.step[data-step=${showStep}]`).fadeIn();
                $(`.step[data-step=${showStep}]`).addClass("show");
                $(".step.show").attr("data-starttime", new Date());
                $(`.step[data-step=${showStep}]`).removeClass("hidden");

                var showStepPreviousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                startingQuestionCounter = showStepPreviousTakenTime;

                if ($(`[data-step=${showStep}].Question`).attr("data-attempted") == "False") {
                    startingQuestionTimer = setInterval(function () { stopWatch(); }, 1000);
                }
            }
            manageNextPrevBtns(showStep);
            addSkippedQuestion(step, $(".step.show").data("questionid"));


            if ($(`[data-step=${showStep}].Question`).attr("data-attempted") == "True") {
                $(`.btnSubmit`).addClass("disableClick");
                $(`[data-step=${showStep}].Question`).find("[name=AnswerType]").addClass("disableClick");
            }
            else {
                $(`.btnSubmit`).removeClass("disableClick");
                $(`[data-step=${showStep}].Question`).find("[name=AnswerType]").removeClass("disableClick");

            }

        });
        $(document).on("click", ".btnSubmit", function () {
            var step = Number($(".step.show").data("step"));
            var isReadyToSubmit = false;
            if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.MTQ") {
                if (!$(`[data-step=${step}].Question [name=AnswerType]`).find("[name=QuestionChoices]:checked").length) {
                    swal("Select atleast one choice please.", "", "error");
                    isReadyToSubmit = false;
                } else {
                    isReadyToSubmit = true;
                }

            } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.FillBlank") {
                if (!$(`[data-step=${step}].Question [name=AnswerType]`).find("[name=CorrectQuestionChoice]").val().length) {
                    swal("Fill in the blank please.", "", "error");
                    isReadyToSubmit = false;
                } else {
                    isReadyToSubmit = true;
                }
            } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.MCQ") {
                if (!$(`[data-step=${step}].Question [name=AnswerType]`).find("[name=QuestionChoices]:checked").length) {
                    swal("Select a choice please.", "", "error");
                    isReadyToSubmit = false;
                } else {
                    isReadyToSubmit = true;
                }

            } else {
                var type = $(`[data-step=${step}].Question`).find(".questionTab.active").attr("data-type");
                if (type == "upload") {
                    if (!$(`[data-step=${step}].Question`).attr("data-answeredimage")) {
                        swal("Upload answer image please.", "", "error");
                        isReadyToSubmit = false;
                    } else {
                        isReadyToSubmit = true;
                    }
                } else {
                    if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.LongQuestion") {
                        tinyMCE.triggerSave();
                        if (!$(`[data-step=${step}].Question`).find("[name=AnswerDetail]").val().length) {
                            swal("Enter your answer to editor please.", "", "error");
                            isReadyToSubmit = false;
                        } else {
                            isReadyToSubmit = true;
                        }
                    } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.ShortQuestion") {
                        tinyMCE.triggerSave();
                        if (!$(`[data-step=${step}].Question`).find("[name=ShortAnswerDetail]").val().length) {
                            swal("Enter your answer to editor please.", "", "error");
                            isReadyToSubmit = false;
                        } else {
                            isReadyToSubmit = true;
                        }
                    }
                }
            }



            if (isReadyToSubmit) {

                clearTimeout(startingQuestionTimer);
                var previousTakenTime = $(".step.show").attr("data-totalviewseconds") == undefined ? 0 : Number($(".step.show").attr("data-totalviewseconds"));
                var starttime = new Date($(".step.show").attr("data-starttime"));
                var timeTaken = getSecondsDifference(starttime, new Date()) + previousTakenTime;
                $(".step.show").attr("data-totalviewseconds", timeTaken);

                var form = $(`[data-step=${step}].Question`).find("form");
                var formData = form.parents(".Question").data();


                $(".btnSubmit i").removeClass("fa-paper-plane");
                $(".btnSubmit i").addClass("fa-spinner fa-spin");
                var answer = {
                    Detail: "",
                    MCQChoiceId: 0,
                    MTQChoicesIds: []
                };
                if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.MTQ") {
                    var checkedChoices = form.find("[name=QuestionChoices]:checked");
                    checkedChoices.each(function (i, checkbox) {
                        var id = checkbox.dataset.choiceid;
                        answer.MTQChoicesIds.push(id);
                    });
                } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.FillBlank") {
                    answer.Detail = form.find("[name=CorrectQuestionChoice]").val();
                } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.MCQ") {
                    answer.MCQChoiceId = form.find("[name=QuestionChoices]:checked").data().choiceid;
                } else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.LongQuestion") {
                    var type = $(`[data-step=${step}].Question`).find(".questionTab.active").attr("data-type");
                    if (type == "upload") {
                        answer.ImageFileName = $(`[data-step=${step}].Question`).attr("data-answeredimage");
                        answer.WrittenAnswerType = @Convert.ToInt32( WrittenAnswerType.Upload);
                    } else {
                        tinyMCE.triggerSave();
                        answer.Detail = form.find("[name=AnswerDetail]").val();
                        answer.WrittenAnswerType = @Convert.ToInt32(WrittenAnswerType.Editor);
                    }

                }  else if ($(`[data-step=${step}].Question [name=AnswerType]`).data("questiontype") == "@QustionTypesEnum.ShortQuestion") {
                    var type = $(`[data-step=${step}].Question`).find(".questionTab.active").attr("data-type");
                    if (type == "upload") {
                        answer.ImageFileName = $(`[data-step=${step}].Question`).attr("data-answeredimage");
                        answer.WrittenAnswerType = @Convert.ToInt32(WrittenAnswerType.Upload);
                    } else {
                        tinyMCE.triggerSave();
                        answer.Detail = form.find("[name=ShortAnswerDetail]").val();
                        answer.WrittenAnswerType = @Convert.ToInt32(WrittenAnswerType.Editor);
                    }
                }

                var model = {
                    ViewSeconds: formData.totalviewseconds,
                    QuestionId: formData.questionid,
                    Date: formData.starttime,
                    TestId: $("[data-testid]").data("testid"),
                    Answer: answer,
                    QuestionTypeId: $(`[data-step=${step}].Question [name=AnswerType]`).data("questiontypeid")
                };

                $.ajax({
                    url: '/Test/UserAttemptQuestion',
                    type: "POST",

                    data: {
                        model: model
                    },
                    success: function (data) {
                        if (data.success) {
                            removeSkippedQuestion(step);
                            $(`[data-step=${step}].Question`).attr("data-attempted", "True");
                            manageSubmit(step);
                            nextStep();

                            $(".btnSubmit i").addClass("fa-paper-plane");
                            $(".btnSubmit i").removeClass("fa-spinner fa-spin");
                            smallSwal("Submitted", data.message, "success");
                            checkTestFinished();
                        } else {

                            $(".btnSubmit i").addClass("fa-paper-plane");
                            $(".btnSubmit i").removeClass("fa-spinner fa-spin");
                            smallSwal("Error", data.message, "error");
                        }
                    },
                    error: function (error) {

                        $(".btnSubmit i").addClass("fa-paper-plane");
                        $(".btnSubmit i").removeClass("fa-spinner fa-spin");
                        returnErrorState(error);
                    }
                })

            }


        });
        $(document).on("input", "#Minutes", function () {
            if (Number($("#Minutes").val()) > 0) {
                $("#Hours").attr("max", 1);
            } else {
                $("#Hours").attr("max", 2);
            }
        });
        $(document).on("change", ".allChaptersAndSubsection .checkbox", function () {
            if (this.checked) {
                $(this).parents("li").find(">label > .checkbox").prop("checked", true);
                $(this).parent().parent().find("label > .checkbox").prop("checked", true);
            } else {
                $(this).find(".checkbox").prop("checked", false)
                $(this).parent().parent().find("label > .checkbox").prop("checked", false);

            }
        });

        function manageNextPrevBtns(currentStep) {

            var nextStep = currentStep + 1;
            var prevStep = currentStep - 1;

            if ($(`.step[data-step=${nextStep}]`).length > 0) {
                $(`.btnNext`).removeClass("disableClick");
            }
            else {
                $(`.btnNext`).addClass("disableClick");

            }

            if ($(`.step[data-step=${prevStep}]`).length > 0) {
                $(`.btnPrevious`).removeClass("disableClick");
            }
            else {
                $(`.btnPrevious`).addClass("disableClick");

            }


        }
        function manageSubmit(currentStep) {

            if ($(`[data-step=${currentStep}].Question`).attr("data-attempted") == "True") {
                $(`.btnSubmit`).addClass("disableClick");
                $(`[data-step=${currentStep}].Question .exam`).addClass("disableClick");
            }
            else {
                $(`.btnSubmit`).removeClass("disableClick");
                $(`[data-step=${currentStep}].Question .exam`).removeClass("disableClick");

            }
        }
        function getSecondsDifference(dt1, dt2) {

            var diff = (dt2.getTime() - dt1.getTime()) / 1000;
            return Math.abs(Math.round(diff));

        }
        function checkTestFinished() {
            var isAllQuestionAttempted = $(`.Question[data-attempted="False"]`).length;
            if (!isAllQuestionAttempted) {
                $(`.finishBtn`).addClass("finished");
            }
        }





        var imageUploaderOptions = {
            element: "",
            template: 'qq-template-manual-for-test',
            autoUpload: true,
            request: {

                endpoint: '/Upload/UploadFile'
            },

            thumbnails: {
                placeholders: {
                    waitingPath: '/images/waiting-generic.png',
                    notAvailablePath: '/images/not_available-generic.png'
                }
            },

            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'png'],
                itemLimit: 10

            },
            deleteFile: {
                enabled: true, // defaults to false

            },
            callbacks: {
                onDelete: function (id) {
                    this.setDeleteFileParams({ filename: this.getName(id) }, id);
                },
                onSubmitDelete: function (id) {

                },
                onComplete: function (i, fileName, response) {

                    if (response.success) {
                        $(`#${this._options.element.id} [qq-file-id=${i}] .uploaderDeleteBtn`).attr("data-filename", response.fileName);
                        $(`#${this._options.element.id} [qq-file-id=${i}] .uploaderDeleteBtn`).attr("data-fileid", i);
                        $(`#${this._options.element.id} [qq-file-id=${i}] .uploaderDeleteBtn`).css("display", "inline-block");
                        appendImagesToQuestion(this._options.element.id);
                    }
                    else {
                        swal("Error!", response.message, "error");
                    }

                }
            },
        };

        var imageUploaders=[];
        function attachUploader() {
            var elements = $(`[id*=fine-uploader-manual-trigger_]`);
            for (var i = 0; i < elements.length; i++) {
                $(elements[i]).attr("data-uploaderid", i);
                imageUploaderOptions.element = elements[i];
                var imageUploader = new qq.FineUploader(imageUploaderOptions);
                imageUploaders.push(imageUploader);
            }

            attachUploaderClick();
        }

        function appendImagesToQuestion(element) {
            var images = [];
            var existingImages = $(`#${element}  [qq-file-id]`);
            if (existingImages) {
                for (var i = 0; i < existingImages.length; i++) {
                    images.push($(existingImages[i]).find(".uploaderDeleteBtn").attr("data-filename"));
                }
            }
            var allimages = images.join(',');
            $(`#${element}`).parents(".Question").attr("data-answeredimage", allimages);
        }
        function attachUploaderClick() {

            qq($(".trigger-upload")).attach("click", function () {
                imageUploader.uploadStoredFiles();
            });

        }


        $(document).on("click", ".uploaderDeleteBtn", function () {
            var filename = this.dataset.filename;
            var fileid = this.dataset.fileid;
            var deleteBtn = this;
            debugger;
            $.ajax({
                /**/
                url: '/Upload/DeleteFile',
                /**/
                type: "POST",
                data: { fileName: filename },
                success: function (response) {
                    if (response.success) {
                        debugger;
                        $(deleteBtn).parents(".Question").attr("data-answeredimage", "");
                        var uploaderid = Number($(deleteBtn).parents(`[id*=fine-uploader-manual-trigger_]`).data("uploaderid"));
                        $(`[qq-file-id=${fileid}]`).remove();
                        //swal("Done!", response.message, "success");
                        appendImagesToQuestion($(`[data-uploaderid=${uploaderid}]`).attr("id"));
                        smallSwal({
                            type: 'success',
                            title: response.message
                        });

                        attachUploaderClick();
                    }
                    else {
                        swal("Error!", response.message, "error")

                    }

                },
                error: function (error) {
                    returnErrorState(error);
                }

            })
        });

    </script>


}
