﻿
@model TestViewModel
@{

    var serialNo = 0;


    <div class="opened-test" data-id="@Model.Id">
        <div class="row ViewAttributesPage unselectable">

            <div class="col-lg-12">
                <div class="page-header shadow">
                    <div class="w-100 float-left position-relative ">

                        <div class="attribute-type-title">
                            <span>Test</span>
                        </div>

                        <h3><i class="fas fa-angle-double-right"></i> @Model.TestTitle</h3>




                        <div class="actionBtns right">

                            @*<i class="fas fa-edit editbutton" data-toggle="tooltip" data-placement="left" data-id="@Model.Id" title="Edit"></i>*@
                            <i class="fas fa-trash deletebutton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@Model.Id" title="Delete"> </i>

                        </div>
                    </div>

                    <div class="attribute-newarrival ">
                        
                        <div id="timer">
                            <div><i class="fas fa-angle-double-right"></i> Test will start automatically in </div>

                            <div id="hours"></div>
                            <div class="clockdots">:</div>
                            <div id="minutes"></div>
                            <div class="clockdots">:</div>
                            <div id="seconds"></div>
                        </div>
                    </div>

                    <div class="attribute-newarrival ">
                        <p class="mb-1"><i class="fas fa-angle-right"></i> Duration:<span class="text-info" data-duration-hours="@Model.Hours" data-duration-minutes="@Model.Minutes"> @(Model.Hours > 0 ? Model.Hours > 1 ? Model.Hours + " Hours" : Model.Hours + " Hour" : "") @(Model.Minutes > 0 ? Model.Minutes > 1 ? Model.Minutes + " Minutes" : Model.Hours + " Minute" : "")</span> </p>
                        <p class="mb-1"><i class="fas fa-angle-right"></i> Advice:<span class="text-info"> @(Model.WithAdvice ? "Show answers with advices." : "No Adivce will be shown.")</span> </p>


                    </div>
                    <div class="attribute-newarrival ">
                        <a href="/Test/InProgress/@Model.Id" class="custom-button btn-blue text-center oval-rounded pt-1 pb-2 float-left btnNext mb-4 float-right" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Next"> Start Test <i class="mr-2  fas fa-chevron-circle-right"></i> </a>
                        <a href="/Test/Create" class="custom-button btn-blue text-center oval-rounded pt-1 pb-2 float-left btnNext mb-4 float-right mr-2" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Next"> Cancel Test <i class="mr-2  fas fa-chevron-circle-left"></i> </a>
                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>



        <div class="row">


            <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">

                <div id="ExamQuestion" class="student-section p82-topbot totalPatient">
                    <div class="allPatients">
                        <div class="header">
                            <h2>

                                <i class="fas fa-tasks"></i> List of <span>Questions</span>
                            </h2>

                        </div>
                        <div class="allAttributesView">


                            <div class="attributesCol">

                                <div class="attributesSection">

                                    <div class="attributesHeader">
                                        <div class="pdetail name phCol">
                                            <a href="javascript:void(0)">
                                                serialNo.
                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="pdetail name phCol">
                                            <a href="javascript:void(0)">
                                                QId
                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="pdetail phCol">
                                            <a href="javascript:void(0)">

                                                <span>Title</span>

                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                        <div class="pdetail phCol">
                                            <a href="javascript:void(0)">

                                                <span>Question Type</span>

                                                <i class="fas fa-angle-double-down">
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- attributesHeader -->



                                    <div class="table-body all-attributes">
                                        @foreach (var testQuestion in Model.TestQuestions)
                                        {

                                            var question = testQuestion.Question;

                                            <div class="attributesRow" data-id="@question.Id">

                                                <div class="attributesRecord">
                                                    <span class="serial-number">
                                                        @(++serialNo)

                                                    </span>
                                                </div>
                                                <div class="attributesRecord">
                                                    <span class="serial-number">
                                                        @question.Id
                                                    </span>
                                                </div>

                                                <div class="attributesRecord">
                                                    <span class="text-left">
                                                        @question.QuestionTitle
                                                    </span>
                                                </div>

                                                <div class="attributesRecord">
                                                    <span class="text-left">
                                                        @(question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MCQ) ? "MCQs" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.MTQ) ? "MTQs" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.FillBlank) ? "Fill in the Blanks" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.ShortQuestion) ? "Short Question" : question.QustionTypeId == Convert.ToInt32(QustionTypesEnum.LongQuestion) ? "Long Question" : "Matching Columns")
                                                    </span>
                                                </div>
                                                <div class="attributesRecord">

                                                    <div data-rating="@question.QuestionDifficultyLevelId" name="questionDificulty"> </div>

                                                </div>
                                            </div>

                                        }
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.container -->
                </div>
            </div>


        </div>


    </div>




}
@section Scripts{
    <script>
        
        $(document).ready(function () {
            $("#app").addClass("hide");

            var datNow = new Date();
            datNow.setSeconds(datNow.getSeconds() + 30);
            startingTimer = setInterval(function () { makeTimer(datNow, "startingTimer"); }, 1000);
        });

        var questionDeficulties = $("[data-rating]");
        questionDeficulties.each(function (i, e) {

            var level = e.dataset.rating;
            $(e).addRating({ max: 3,selectedRatings: level });
        });
    </script>

}