﻿@using System.Configuration
@{
    var AppLink = ConfigurationManager.AppSettings["AppLink"].ToString();

}
<div id='footer'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 hidden-xs hidden-sm'>
                <a href="en.html">
                    <img class="logo" src="/assets/logo.svg" alt="EducationOnline logo transparent" />
                </a><div class='eobtn-base'>
                    <a class="eobtn pull-left" href="@AppLink/Student/Register">Become a Researcher now</a>
                </div>
            </div>
            <div class='col-md-9'>
                <div class='row'>
                    <div class='col-md-3 col-sm-3 col-6'>
                        <ul class='fmenu'>
                            <li>
                                <a  data-remodal-target='resources-unavailable-modal'>Mock Exams</a>
                            </li>
                        </ul>
                    </div>

                    <div class='col-md-3 col-sm-3 col-6'>
                        <ul class='fmenu'>
                            <li>

                                <a data-remodal-target='contact-us-modal'>Contact</a>
                            </li>
                            <li>
                                <a href="/privacy-policy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/terms-and-conditions">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class='col-md-3 col-sm-3 col-6'>
                        <ul class='fmenu'>
                            <li>
                                follow us
                            </li>
                            <li>
                                <a href='https://www.facebook.com/theilumofficial/' target='_blank'>
                                    <i class='fa fa-facebook fa-fw'></i>
                                    facebook
                                </a>
                            </li>
                            <li>
                                <a href='https://twitter.com/TheIlumOfficial' target='_blank'>
                                    <i class='fa fa-twitter fa-fw'></i>
                                    Twitter
                                </a>
                            </li>
                            <li>
                                <a href='https://www.instagram.com/theilumofficial/' target='_blank'>
                                    <i class='fa fa-instagram fa-fw'></i>
                                    Instagram
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>