﻿<header id='header'>
    <div class='container'>
        <div id='logo'>
            <a href="/">
                <img class="nav-logo" src="/assets/logo.svg" alt="eo logo transparent" />
            </a>
        </div>
        <nav id='menu'>
            <div class='mobile'>
                <i class='fa fa-bars'></i>
            </div>
            <ul>
              
                <li>
                    <a class="uc get" href="/">Back to Home</a>
                </li>
               
            </ul>
        </nav>
    </div>
</header>