﻿@using System.Configuration
@{
    var AppLink = ConfigurationManager.AppSettings["AppLink"].ToString();

}
<header id='header'>
    <div class='container-fluid'>
        <div id='logo'>
            <a href="/">
                <img class="nav-logo" src="/assets/logo.svg" alt="eo logo transparent" />
            </a>
        </div>
        <nav id='menu'>
            <div class='mobile'>
                <i class='fa fa-bars'></i>
            </div>
            <ul>
                <li>
                    <a data-remodal-target="contact-us-modal">Contact Us</a>
                </li>
                <li>
                    <a onclick="gtag_report_conversion()" class="uc get btn-blue" href="/subject-expert-required/"><span class="desktop">Subject</span> Experts Required</a>
                </li>
                <li>
                    <a onclick="gtag_report_conversion()" class="uc get" href="@AppLink/Student/Register">Student Registration</a>
                </li>
                <li>
                    <a class="uc" href="@AppLink">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

@*<nav class="navbar navbar-expand-xl navbar-light bg-light p-0 bg-white" id='menu'>
    <a class="navbar-brand pt-4 pl-3 pb-4 pr-0" href="/">  <img src="/assets/logo.svg" alt="Class Online"></a>
    <button class="navbar-toggler mr-1 " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pr-3 " id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="#courses">Courses</a></li>
            <li class="nav-item"> <a class="nav-link" href="#plans">Pricing</a></li>
            <li class="nav-item"> <a class="nav-link uc get btn-blue" onclick="gtag_report_conversion()" href="/subject-expert-required/"><span class="desktop">Subject</span> Experts Required</a></li>
            <li class="nav-item"> <a class="nav-link uc get" onclick="gtag_report_conversion()" href="@AppLink/Student/Register">Student Registration</a></li>
            <li class="nav-item"> <a class="nav-link uc" href="@AppLink">Login</a></li>
        </ul>
    </div>
</nav>*@