

/**umb_name:h1*/
.h1{font-weight:400 !important;}

/**umb_name:h2*/
.h2{font-weight:400 !important;}

/**umb_name:h3*/
.h3{font-weight:400 !important;}

/**umb_name:h4*/
.h4{font-weight:400 !important;}

/**umb_name:h5*/
.h5{font-weight:400 !important;}

/**umb_name:h6*/
.h6{font-weight:400 !important;}