﻿@{ 
    Layout = null;
}
<html>

<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>
    <div class="">
        <div class="display-table">
            <div class="display-cell text-center ">
                <h1 class="display-1 text-danger"> Access Denied </h1>
                <a href="/">Go to Home Page</a>
            </div>
        </div>
    </div>

</body>
</html>