@font-face {
  font-family: 'ilumfonts';
  src:  url('fonts/ilumfonts.eot?7j6vdm');
  src:  url('fonts/ilumfonts.eot?7j6vdm#iefix') format('embedded-opentype'),
    url('fonts/ilumfonts.ttf?7j6vdm') format('truetype'),
    url('fonts/ilumfonts.woff?7j6vdm') format('woff'),
    url('fonts/ilumfonts.svg?7j6vdm#ilumfonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ilum-"], [class*=" ilum-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ilumfonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ilum-whiteboard .path1:before {
  content: "\e900";
  color: rgb(82, 82, 82);
}
.ilum-whiteboard .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(107, 107, 107);
}
.ilum-whiteboard .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(107, 107, 107);
}
.ilum-whiteboard .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(107, 107, 107);
}
.ilum-whiteboard .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(82, 82, 82);
}
.ilum-whiteboard .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(82, 82, 82);
}
.ilum-whiteboard .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.ilum-whiteboard .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(189, 189, 189);
}
.ilum-whiteboard .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(133, 133, 133);
}
.ilum-whiteboard .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(107, 107, 107);
}
.ilum-whiteboard .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(82, 82, 82);
}
.ilum-whiteboard .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(189, 189, 189);
}
.ilum-whiteboard .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(189, 189, 189);
}
.ilum-whiteboard .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(189, 189, 189);
}
.ilum-whiteboard .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(156, 156, 156);
}
.ilum-whiteboard .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(156, 156, 156);
}
.ilum-whiteboard .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(156, 156, 156);
}
.ilum-add-invoice:before {
  content: "\e911";
}
.ilum-researcher:before {
  content: "\e912";
}
.ilum-advice-request:before {
  content: "\e913";
}
.ilum-answer:before {
  content: "\e914";
}
.ilum-plus:before {
  content: "\e915";
}
.ilum-add-navigation:before {
  content: "\e916";
}
.ilum-remove-navigation:before {
  content: "\e917";
}
.ilum-add-request:before {
  content: "\e918";
}
