﻿@model IEnumerable<Management.ViewModels.UserViewModel>


<div>
   
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
            <div id="AllAttributes" class="student-section p82-topbot totalPatient">
                <div class="allPatients">
                    <div class="header">

                        <h2>
                            <i class="fas fa-chalkboard-teacher fa-fw"></i> All Teachers   
                        </h2>
                        @*<div class="input-group custom-search-form right">
                            <input type="text" class="form-control" placeholder="Search...">
                            <i class="ti-search"></i>
                        </div>*@
                        <ul class="right dropdown-btn p-0">
                            <li class="profile dropdown">
                                
                                <a class="nav-link dropdown-toggle custom-button" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                  
                                    <a class="dropdown-item addTeacherBtn wrapperAddBtn"><i class="fas fa-plus"></i> Add new Teacher</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item inviteTeacherBtn" href="#"><i class="fas fa-paper-plane"></i>  Send Invitation to Teacher</a>
                                </div>
                            </li>
                        </ul>
                        
                        @*<div class="dropdown right">
                            <button  class="custom-button  btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a class="addTeacherBtn wrapperAddBtn"><i class="fas fa-plus"></i> Add new Teacher</a>
                                </li>
                                <li>
                                    <a class=" inviteTeacherBtn" href="#"><i class="fas fa-paper-plane"></i>  Send Invitation to Teacher</a>
                                </li>

                            </ul>
                        </div>*@
                       
                        <a  href="/" data-toggle="tooltip" data-placement="top" title="Back to dashboard" class="right custom-button"><i class="fas fa-chevron-circle-left"></i></a>
                        

                        @*<a class="custom-button viewbutton" data-toggle="tooltip" data-placement="top" href="/" title="Back"><i class="fas fa-chevron-left"></i></a>*@

                        

                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Sr.</th>
                                    <th></th>
                                    <th class="text-left">Name</th>

                                    <th>Status</th>
                                    <th>Allocated Subjects/Chapters</th>
                                    <th>Assigned Batches</th>

                                    <th></th>
                                </tr>
                            </thead>
                            @{
                            var serialNo = 0;
                            if (Model.Any())
                            {
                                    <tbody>




                                        @foreach (var user in Model.OrderByDescending(x => x.RegistrationDate))
                                        {
                                            var contact = string.IsNullOrEmpty(user.MobileNumber) ? user.PhoneNumber : user.MobileNumber;

                                            var image = string.IsNullOrEmpty(user.ProfilePictureUrl) ? user.Gender==Gender.Male ? "/images/maleTeacher.svg" : "/images/femaleTeacher.svg" : "/UploadedArtifacts/" + user.ProfilePictureUrl;
                                            serialNo++;
                                        <tr>
                                            <td>@serialNo </td>
                                            <td><div class="profile-img" style="background-image: url('@image')"> </div></td>
                                            <td class="text-left"><a class="teacherViewbutton" data-toggle="tooltip" data-placement="left" data-id="@user.Id">@(user.FirstName + " " + user.LastName) </a></td>

                                            <td>
                                                @if (user.IsActive)
                                                {
                                                    <i class="fas fa-check"></i>
                                                }
                                                else
                                                {
                                                    <i class="fas fa-times"></i>
                                                }


                                            </td>
                                            <td>
                                                <i class="fas fa-align-justify assignedSubjectsBtn" data-toggle="tooltip" data-placement="left" title="Show Allocated Subjects" data-userid="@user.Id"></i>

                                            </td>
                                            <td>
                                                <i class="fas fa-align-justify assignedBatchesBtn" data-toggle="tooltip" data-placement="left" title="Show Assigned Batches" data-userid="@user.Id"></i>

                                            </td>
                                            <td>
                                                <div class="actionBtns ">
                                                    @if (user.IsActive)
                                                    {
                                                        <i class="fa fa-ban teacherBlockButton" data-toggle="tooltip" data-placement="left" data-id="@user.Id" title="Block"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-sync teacherBlockButton" data-toggle="tooltip" data-placement="left" data-id="@user.Id" title="Reinstate"></i>
                                                    }
                                                    <i class="fa fa-eye teacherViewbutton" data-toggle="tooltip" data-placement="left" data-id="@user.Id" title="View Details"></i>
                                                    <i class="fa fa-edit teacherEditButton" data-toggle="tooltip" data-placement="left" data-id="@user.Id" title="Edit"></i>
                                                    <i class="fa fa-trash teacherDeleteButton" data-toggle="tooltip" data-placement="left" data-name="@(user.FirstName + " " + user.LastName)" data-id="@user.Id" title="Delete"> </i>
                                                </div>
                                            </td>
                                        </tr>


                                    }




                                    </tbody>
                            } }
                        </table>
                    </div>



                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
</div>