﻿@model List<Management.ViewModels.UserViewModel>

@foreach (var user in Model)
{
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

    var contact = string.IsNullOrEmpty(user.MobileNumber) ? user.PhoneNumber : user.MobileNumber;
    var image = string.IsNullOrEmpty(user.ProfilePictureUrl) ? user.Gender == Gender.Male ? "/images/maleTeacher.svg" : "/images/femaleTeacher.svg" : "/UploadedArtifacts/" + user.ProfilePictureUrl;

    <div class="col-6 col-sm-4 col-md-3 mb-3">

        <div class="small-card text-center selectableCard">
            <input name="BatchTeacherId" type="radio" hidden="hidden" value="@user.Id" />
            <i class="fas fa-circle"></i>
            <h5 class="font-size-20 text-center">Teacher</h5>
            <div class="profile-img" style="background-image: url('@image');width:50px;height:50px"> </div>
            <p class="text-center mt-2 font-size-13">@user.FirstName @user.LastName</p>
            <span class="text-center font-size-12 badge badge-info">Subject Expertise</span>
            <p class="text-center mt-1 font-size-13"><strong> @user.SubjectExpertise</strong></p>
            @if (!isStudent)
            {
                <p class="text-center mt-2 font-size-13">@contact</p>
            }
        </div>
    </div>
}