﻿
@model UserViewModel

@{
    var action = "Register";
    if (Model != null)
    {
        if (Model.IsEditModel)
        {
            action = "UpdateTeacher";
        }
    }

}
<form id="addTeacherForm" asp-controller="Teacher" asp-action="@action">
    <!-- Modal body -->
    <div class="modal-body">
        <p>All Fields are mandatory.</p>
        <div class="row">

            <input type="text" asp-for="PasswordResetToken" hidden />
            <input type="text" asp-for="Id" hidden />
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="FirstName" placeholder="First Name" required />
                </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6-col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="LastName" placeholder="Last Name" required />
                </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    @{
                        var email = "";
                        if (!string.IsNullOrEmpty(ViewBag.Email))
                        {
                            email = ViewBag.Email;
                            <input type="email" asp-for="Email" value="@email" placeholder="Email" required />
                        }
                        else
                        {
                            <input type="email" asp-for="Email" placeholder="Email" required />
                        }
                    }
                </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="CNIC"  data-inputmask="'mask': '99999-9999999-9'" placeholder="XXXXX-XXXXXXX-X" required />
                </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="MobileNumber" placeholder="Mobile Number" required />
                </div>
            </div>

            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="PhoneNumber" placeholder="Phone Number (Optional)" />
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="form-group">
                    <input type="text" asp-for="Address" placeholder="Address" required />
                </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6-col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="NationalTaxNumber" placeholder="NTN" required />
                </div>
            </div>

            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="text" asp-for="SubjectExpertise" placeholder="Subject Expertise" required />
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="form-group">
                    <textarea type="text" asp-for="UserExperienceSummary" placeholder="Experience Summary" required></textarea>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <input type="number" asp-for="YearOfExperience" placeholder="Year Of Experience" required />
                </div>
            </div>


            @if (!User.IsInRole(UserRoles.Admin.ToString()))
            {


                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <input type="password" asp-for="Password" placeholder="e.g. Password@@123" required />
                    </div>
                </div>

            }
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <label class="gender-label"> @Html.RadioButton("Gender", "Male", true) <span> Male</span></label>
                    <label class="gender-label"> @Html.RadioButton("Gender", "Female")  <span>Female</span></label>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer pt-2">
        @if (User.IsInRole(UserRoles.Admin.ToString()))
        {
            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        }
        <button type="button" class="btn btn-success rounded-0" id="saveBtn"><i class="fas fa-user-plus"></i> Register</button>
    </div>
</form>

