﻿@model List<Management.ViewModels.BatchViewModel>
@{
    if (Model.Count() > 0)
    {

        foreach (var batch in Model.OrderByDescending(o => o.StartDate))
        {
            <tr class="advanced-table">
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" name="BatchId" class="custom-control-input" id="@batch.Id" value="@batch.Id" @(Model.First().Id == batch.Id ? "checked" : "")>
                        <label class="custom-control-label" for="@batch.Id">&nbsp;</label>
                    </div>
                </td>
                <td>@batch.Title</td>
                <td>@batch.StartDate.ToString("dd MMM yyyy")</td>
                <td>@batch.EndDate.ToString("dd MMM yyyy")</td>
                <td><a href="/Batch/Schedule/@batch.Id" target="_blank"><i class="fas fa-bars"></i></a></td>
            </tr>
            <tr>
                <td colspan="6" class="sml-pd"></td>
            </tr>
        }

    }
}