﻿
<div class=" DashboadPage">


    @{

        var schedules = ViewBag.UserSchedules as List<ScheduleViewModel>;
    }
    @if (schedules.Any(a => DateTime.Now < a.EndDateTime))
    {
    <div class="row">

        <div class=" col-12 mb-2">
            <div class="alert alert-warning  font-size-16 oval-rounded py-2 px-4">
                <i class="fas fa-info-circle text-white"></i> An Online Class has been Scheduled.
                <button type="button" class="close font-size-25" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>


        @foreach (var schedule in schedules.OrderBy(a => a.StartDateTime))
        {
            var isActive = false;
            var color = "red";
            var type = "expired";


            if (DateTime.Now > schedule.StartDateTime && DateTime.Now < schedule.EndDateTime)
            {
                isActive = true;
                color = "green";
                type = "InProgress";
            }
            if (DateTime.Now < schedule.StartDateTime)
            {
                isActive = true;
                color = "blue";
                type = "UpComing";
            }

            if (isActive)
            {
                <div class="col-12 col-md-4 mb-3">
                    <div id="schedule_@schedule.Id" class="custom-card online-class d-block pb-3" data-type="@type" data-starttime="@schedule.StartDateTime.ToString("MM/dd/yyyy HH:mm:ss")" data-endtime="@schedule.EndDateTime.ToString("MM/dd/yyyy HH:mm:ss")">

                        <div class="custom-card-icon @color h-100  w-100">
                            <i class="fas fa-desktop"></i>
                        </div>
                        <div class="custom-card-body @color h-100">
                            <div class="row align-items-center">
                                <div class="col-12 my-2 ">
                                    <div class="text-center">

                                        <span class="font-weight-bold font-size-12 d-block text-success">
                                            (Batch: @schedule.Batch.Title)
                                        </span>
                                        <span class="font-weight-bold font-size-14 d-block">
                                            @schedule.Batch.Subject.Name
                                        </span>
                                        <h5 class="text-info font-weight-bold font-size-16 d-block">@schedule.Title</h5>
                                    </div>
                                </div>
                                <div class="col-12 mb-2 ">
                                    <div class="text-center">
                                        <p class="text-center font-size-12"><b>Pakistan Standard Time</b></p>
                                        <p class="text-center font-size-14"><b>@schedule.StartDateTime.ToString("MMM dd yyyy") </b> </p>
                                        <p class="text-center font-size-14"><b>@schedule.StartDateTime.ToString("hh:mm tt") - @schedule.EndDateTime.ToString("hh:mm tt")</b></p>
                                    </div>
                                </div>

                                <div class="col-12 text-center">
                                    <div id="timer" class=" text-success">
                                        <div>
                                            <i class="fas fa-clock  text-success"></i>
                                            <span class="typeText font-size-lg-14 font-size-16 text-info font-weight-bold"></span>
                                        </div>

                                        <div class="days font-size-lg-14 font-size-16 font-weight-bold"></div>
                                        <div class="daydot clockdots font-size-lg-14 font-size-16 font-weight-bold">:</div>
                                        <div class="hours font-size-lg-14 font-size-16 font-weight-bold"></div>
                                        <div class="clockdots font-size-lg-14 font-size-16 font-weight-bold">:</div>
                                        <div class="minutes font-size-lg-14 font-size-16 font-weight-bold"></div>
                                        <div class="clockdots font-size-lg-14 font-size-16 font-weight-bold">:</div>
                                        <div class="seconds font-size-lg-14 font-size-16 font-weight-bold"></div>
                                    </div>

                                    <a href="/Teacher/OnlineClass/@schedule.Id" target="_blank" class="float-left w-100 btn btn-success oval-rounded join_button hidden"> Initiate Online Class</a>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            }


        }

    </div>
    <hr />
    }
    <!-- /.row -->
    <div class="badge badge-dark  mb-4 font-size-16 oval-rounded p-3"><i class="fas fa-chalkboard-teacher"></i> Teacher</div>

    <!-- /.row -->
    <div class="row">

        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a href="#" class="myAllocatedSubjects float-left w-100">
                <div class="custom-card">

                    <div class="custom-card-icon blue">
                        <i class="fas fa-book"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">@ViewBag.AllocatedSubjectCount</div>
                        <p>My Subjects</p>
                    </div>
                </div>
            </a>
        </div>


        <div class=" col-lg-6 col-xl-4 col-md-6 mb-3">
            <a class="myBatches float-left w-100" href="/Batch/List">
                <div class="custom-card">

                    <div class="custom-card-icon red">
                        <i class="fas fa-users-cog"></i>
                    </div>
                    <div class="custom-card-body">
                        <div class="huge">*</div>

                        <p>My Batches</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
<!-- /.row -->
@section Scripts{

    <script>
        $(function () {

            var onlineClasses = $(".online-class");
            onlineClasses.each(function (i, e) {
                var id = $(e).attr("id");
                var type = $(e).data("type");
                var startTime = $(e).data("starttime");
                var endTime = $(e).data("endtime");

                if (type == "UpComing") {
                    $("#" + id + ".custom-card .typeText").text(" Starts in -- ");
                    setInterval(function () {
                        makeTimer(id, startTime, "remainingTimer");
                    }, 1000);
                }
                if (type == "InProgress") {
                    $("#" + id + ".custom-card .typeText").text(" Ends in -- ");
                    $(`#${id} .join_button`).removeClass("hidden");

                    setInterval(function () {
                        makeTimer(id, endTime, "remainingTimer");
                    }, 1000);
                }

            })

        })

        function makeTimer(timerId, endTime, timerType) {

            endTime = (Date.parse(endTime) / 1000);

            var now = new Date();
            now = (Date.parse(now) / 1000);

            var timeLeft = endTime - now;

            var days = Math.floor(timeLeft / 86400);
            var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
            var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
            var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

            if (hours < "10") { hours = "0" + hours; }
            if (minutes < "10") { minutes = "0" + minutes; }
            if (seconds < "10") { seconds = "0" + seconds; }

            if (timerType == "startingTimer" && seconds == "00") {
                clearTimeout(startingTimer);
                location.href = "/Test/InProgress/" + $(".opened-test").data("id");
                return false;
            }
            if (timerType == "remainingTimer" && hours == "00" && minutes == "00" && seconds == "00") {
                location.href = "/";
                return false;
            }
            if (timerType == "remainingTimer" && hours == "00" && minutes < "05" && seconds < "60") {
                $(`#${timerId} .join_button`).removeClass("hidden");
            }
            if (days > "00") {
                if (days > "01") {
                    $(`#${timerId} .days`).html(days + " days");
                } else {
                    $(`#${timerId} .days`).html(days + " day");
                }

            } else {
                $(`#${timerId} .daydot`).hide();
            }
            $(`#${timerId} .hours`).html(hours + "h");
            $(`#${timerId}  .minutes`).html(minutes + "m");
            $(`#${timerId}  .seconds`).html(seconds + "s");
        }

    </script> }