﻿
@{
    var schedule = ViewBag.UserSchedules as ScheduleViewModel;
    var isActive = false;
    var color = "red";
    var type = "Expired";


    if (DateTime.Now > schedule.StartDateTime && DateTime.Now < schedule.EndDateTime)
    {
        isActive = true;
        color = "green";
        type = "InProgress";
    }
    if (DateTime.Now < schedule.StartDateTime)
    {
        isActive = true;
        color = "blue";
        type = "UpComing";
    }

}
<div class=" DashboadPage">
    <div class="row">
        @if (type == "InProgress")
        {
            <div class=" col-12 mb-2">
                <div class="alert alert-success  font-size-16 oval-rounded py-2 px-4">
                    <i class="fas fa-info-circle text-white"></i> Your online class timing has been Started .
                    <button type="button" class="close font-size-25" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

        }
        <div class="col-12 col-lg-4 mb-3">
            <div id="schedule_@schedule.Id" class="custom-card online-class d-block pb-3" data-type="@type" data-starttime="@schedule.StartDateTime.ToString("MM/dd/yyyy HH:mm:ss")" data-endtime="@schedule.EndDateTime.ToString("MM/dd/yyyy HH:mm:ss")">

                <div class="custom-card-icon @color h-100  w-100">
                    <i class="fas fa-desktop"></i>
                </div>
                <div class="custom-card-body @color h-100">
                    <div class="row align-items-center">
                        <div class="col-12 my-2 ">
                            <div class="text-center">

                                <span class="font-weight-bold font-size-12 d-block text-success">
                                    (Batch: @schedule.Batch.Title)
                                </span>
                                <span class="font-weight-bold font-size-14 d-block">
                                    @schedule.Batch.Subject.Name
                                </span>
                                <h5 class="text-info font-weight-bold font-size-20 d-block">@schedule.Title</h5>
                            </div>
                        </div>
                        <div class="col-12 mb-2 ">
                            <div class="text-center">
                                <p class="text-center font-size-12"><b>Pakistan Standard Time</b></p>
                                <p class="text-center font-size-14"><b> @schedule.StartDateTime.ToString("MMM dd yyyy") </b> </p>
                                <p class="text-center font-size-14"><b>@schedule.StartDateTime.ToString("hh:mm tt") - @schedule.EndDateTime.ToString("hh:mm tt")</b></p>
                            </div>
                        </div>

                        <div class="col-12 mb-2 ">
                            <div class=" text-center">
                                <span class="font-size-12"> <b>Zoom Email Address:</b> @schedule.BatchTeacher.UserName</span><br>
                                <span class="font-size-12"><b>Zoom Password:</b> @schedule.BatchTeacher.ZoomPassword</span>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <div id="timer" class=" text-success">
                                <div>
                                    <i class="fas fa-clock  text-success"></i>
                                    <span class="typeText font-size-lg-14 font-size-16 text-info font-weight-bold"> </span>
                                </div>
                               
                                <div class="days font-size-lg-14 font-size-16 font-weight-bold"></div>
                                <div class="daydot clockdots font-size-lg-14 font-size-16 font-weight-bold">:</div>

                                <div class="hours font-size-lg-14 font-size-16 font-weight-bold"></div>
                                <div class="clockdots font-size-lg-14 font-size-16 font-weight-bold">:</div>
                                <div class="minutes font-size-lg-14 font-size-16 font-weight-bold"></div>
                                <div class="clockdots font-size-lg-14 font-size-16 font-weight-bold">:</div>
                                <div class="seconds font-size-lg-14 font-size-16 font-weight-bold"></div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="col-12 col-lg-8 mb-3">
            <div class="custom-card d-block pb-3">

                <div class="custom-card-icon @color h-100  w-100">
                    <i class="fas fa-info-circle"></i>
                </div>
                <div class="custom-card-body @color h-100">
                    <div class="row align-items-center">

                        <div class="col-12">
                            <h3 class="text-success text-center">Follow All Instructions</h3>
                            <hr />
                        </div>


                        <div class="col-12">

                            <ol>
                                <li>First press Here to <a href="https://zoom.us/profile" target="_blank" class="loginBtn text-info text-underline underline">LogIn</a>.<b class="text-danger">(Important)</b></li>
                                <li>Put User Name (<b class="text-success">@schedule.BatchTeacher.ZoomUserName</b>) and Password (<b class="text-success">@schedule.BatchTeacher.ZoomPassword</b>) in Zoom Credential box and LogIn.</li>
                                <li>Press the button below to start Class.</li>
                            </ol>


                        </div>
                    </div> 
                    @if (type != "Expired")
                    {
                        <div class="row justify-content-center">
                            <div class="col-md-4 ">
                                <a href="@schedule.BatchTeacher.ZoomUrl" target="_blank" class=" disabled w-100  btn btn-success oval-rounded join_button"> Start Class Now</a>
                            </div>
                        </div>
                    }

                </div>


            </div>

        </div>
    </div>


</div>

@section Scripts{

    <script>
        $(document).on("click", ".loginBtn", function () {
            $(".join_button").removeClass("disabled");
        })
        $(function () {

            var onlineClasses = $(".online-class");
            onlineClasses.each(function (i, e) {
                var id = $(e).attr("id");
                var type = $(e).data("type");
                var startTime = $(e).data("starttime");
                var endTime = $(e).data("endtime");

                if (type == "UpComing") {
                    $("#" + id + ".custom-card .typeText").text(" Starts in -- ");
                    setInterval(function () {
                        makeTimer(id, startTime, "remainingTimer");
                    }, 1000);
                }
                if (type == "InProgress") {
                    $("#" + id + ".custom-card .typeText").text(" Ends in -- ");
                    $(`#${id} .join_button`).removeClass("hidden");

                    setInterval(function () {
                        makeTimer(id, endTime, "remainingTimer");
                    }, 1000);
                }
                if (type == "Expired") {
                    location.href = "/";

                }

            })

        })

        function makeTimer(timerId, endTime, timerType) {

            endTime = (Date.parse(endTime) / 1000);

            var now = new Date();
            now = (Date.parse(now) / 1000);

            var timeLeft = endTime - now;

            var days = Math.floor(timeLeft / 86400);
            var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
            var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
            var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

            if (hours < "10") { hours = "0" + hours; }
            if (minutes < "10") { minutes = "0" + minutes; }
            if (seconds < "10") { seconds = "0" + seconds; }

            if (timerType == "startingTimer" && seconds == "00") {
                clearTimeout(startingTimer);
                location.href = "/Test/InProgress/" + $(".opened-test").data("id");
                return false;
            }
            if (timerType == "remainingTimer" && hours == "00" && minutes == "00" && seconds == "00") {
                location.href = "/";
                return false;
            }
            if (days>"00") {
                if (days > "01") {
                    $(`#${timerId} .days`).html(days+" days" );
                } else {
                    $(`#${timerId} .days`).html(days + " day");
                }
            } else {
                $(`#${timerId} .daydot`).hide();
            }
            $(`#${timerId} .hours`).html(hours + "h");
            $(`#${timerId}  .minutes`).html(minutes + "m");
            $(`#${timerId}  .seconds`).html(seconds + "s");
        }

    </script> }