/* Handle */
#ref .color-primary {
  color: #007bff;
}
#ref .chart .color-primary {
  color: #007bff;
}
#ref .chart .color-secondary {
  color: #7bccdd;
}

.auth-container .auth-header {
  text-align: center;
  border-bottom: 1px solid #007bff;
}

.alert.alert-primary {
  color: #ffffff;
  background-color: #007bff;
  border-color: #007bff;
}
.alert.alert-primary hr {
  border-top-color: #3eb4ce;
}

.card .card-header .nav-tabs .nav-item .nav-link.active {
  border-top-color: #007bff;
  border-bottom-color: transparent;
  opacity: 1;
}
.card .card-header .nav-tabs .nav-item .nav-link.active:focus {
  opacity: 1;
  background-color: #ffffff;
  border-color: #d7dde4 #d7dde4 transparent;
  border-top-color: #007bff;
}
.card .card-header .nav-tabs .nav-item .nav-link.active:hover {
  opacity: 1;
  background-color: #ffffff;
  border-color: #d7dde4 #d7dde4 transparent;
  border-top-color: #007bff;
}

.card.card-primary {
  border-color: #007bff;
}
.card.card-primary > .card-header {
  background-color: #007bff;
  border-color: #007bff;
}

.btn.btn-primary {

  background-color: #007bff;
  border-color: #007bff;
}
.btn.btn-primary:hover {
  color: #fff;
  background-color: #34b0cb;
  border-color: #31a7c1;
}
.btn.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}
.btn.btn-primary:disabled {

  background-color: #007bff;
  border-color: #007bff;
}
.btn.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #31a7c1;
  border-color: #2e9eb7;
}
.btn.btn-primary:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}
.btn.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #31a7c1;
  border-color: #2e9eb7;
}
.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}

.btn.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}

.btn.btn-primary.disabled {

  background-color: #007bff;
  border-color: #007bff;
}

.show > .btn.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #31a7c1;
  border-color: #2e9eb7;
}
.show > .btn.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}
.show > .btn.btn-primary-outline.dropdown-toggle {

  background-color: #007bff;
  border-color: #007bff;
}
.show > .btn.btn-primary-outline.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}

.btn.btn-primary-outline {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}
.btn.btn-primary-outline:hover {
  
  background-color: #007bff;
  border-color: #007bff;
}
.btn.btn-primary-outline:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}
.btn.btn-primary-outline:disabled {
  color: #007bff;
  background-color: transparent;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled).active {
  
  background-color: #007bff;
  border-color: #007bff;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}
.btn.btn-primary-outline:not(:disabled):not(.disabled):active {
  
  background-color: #007bff;
  border-color: #007bff;
}
.btn.btn-primary-outline:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}

.btn.btn-primary-outline.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(82, 188, 211, 0.5);
}

.btn.btn-primary-outline.disabled {
  color: #007bff;
  background-color: transparent;
}

.dropdown-menu .dropdown-item:hover {
  color: #007bff !important;
  background: none;
  background-color: whitesmoke;
}

.input-group span.input-group-addon.focus {
  background-color: #007bff;
  color: #ffffff;
}

.form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #007bff;
}

.has-error .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #007bff;
}

.has-success .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #007bff;
}

.has-warning .form-control.underlined:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #007bff;
}

.form-control.boxed:focus {
  border: 1px solid #007bff;
}

.checkbox:checked + span:before {
  color: #007bff;
}

.radio:checked + span:before {
  color: #007bff;
}

.images-container .image-container.active {
  border-color: #007bff;
}
.images-container .image-container.new {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-style: dashed;
  border: 1px #007bff solid;
  color: #007bff;
}

.item-list .item-actions-dropdown.active .item-actions-toggle-btn {
  color: #007bff;
}

.logo .l {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #007bff;
  position: absolute;
}

.modal-body.modal-tab-container .modal-tabs .nav-link.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}
.modal-body.modal-tab-container .modal-tabs .nav-link:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

a:not(.btn):hover {
  text-decoration: underline;
  color: #33aec9;
}

.nav.nav-tabs-bordered {
  border-color: #007bff;
}
.nav.nav-tabs-bordered + .tab-content {
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #007bff;
  padding: 10px 20px 0;
}
.nav.nav-tabs-bordered .nav-item .nav-link:hover {
  color: #ffffff;
  background-color: #007bff;
  border: 1px solid #007bff;
}
.nav.nav-tabs-bordered .nav-item .nav-link.active {
  border-color: #007bff;
  border-bottom-color: transparent;
}

.nav.nav-pills .nav-item .nav-link.active {
  border-color: #007bff;
  border-bottom-color: transparent;
  background-color: #007bff;
}
.nav.nav-pills .nav-item .nav-link.active:hover {
  background-color: #007bff;
  color: #ffffff;
}

.pagination .page-item .page-link {
  color: #007bff;
}
.pagination .page-item.active .page-link {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}
.pagination .page-item.active .page-link:focus {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}
.pagination .page-item.active .page-link:hover {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

#nprogress .bar {
  background: #007bff !important;
}
#nprogress .bar .peg {
  -webkit-box-shadow: 0 0 10px #007bff, 0 0 5px #007bff;
  box-shadow: 0 0 10px #007bff, 0 0 5px #007bff;
}
#nprogress .spinner .spinner-icon {
  border-top-color: #007bff !important;
  border-left-color: #007bff !important;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #007bff;
}
*::-webkit-scrollbar-thumb *:window-inactive {
  background: #007bff;
}

.attributesRow:nth-child(even) {
  background: #007bff;
}

.allAttributesView .attributesHeader {
  background: #007bff;
}

.attribute-type-title {
  background: #007bff;
}

.sidebar-toggle-btn {
  background: #007bff;
}

#powerTip {
  background-color: #007bff !important;
}

.page-header {
  color: #007bff;
  border-bottom: 1px solid #007bff;
}

.header .custom-button {
  color: #007bff !important;
}

.addQuestionToWord {
  background: #007bff;
  background: #007bff;
}

.dd-container label {
  color: #007bff !important;
}

.navigation-confirmation-box {
  background: #007bff;
}

#powerTip.n:before {
  border-top-color: #007bff !important;
}

#powerTip.ne:before {
  border-top-color: #007bff !important;
}

#powerTip.nw:before {
  border-top-color: #007bff !important;
}

#powerTip.nw-alt:before {
  border-top-color: #007bff !important;
}

#powerTip.ne-alt:before {
  border-top-color: #007bff !important;
}

.underline-animation {
  position: absolute;
  top: auto;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #007bff;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.text-primary {
  color: #007bff;
}

.dashboard-page #dashboard-sales-map .jqvmap-zoomin {
  background-color: #007bff;
  height: 20px;
  width: 20px;
  line-height: 14px;
}
.dashboard-page #dashboard-sales-map .jqvmap-zoomout {
  background-color: #007bff;
  height: 20px;
  width: 20px;
  line-height: 14px;
}
.dashboard-page .stats .stat-progress {
  height: 2px;
  margin: 5px 0;
  color: #007bff;
  background-color: #dddddd;
}
.dashboard-page .stats .stat-progress .progress-bar {
  background-color: #007bff;
}

header {
  background-color: #ffffff;
  height: 70px;
  position: absolute;
  left: 240px;
  right: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .header-block-collapse .collapse-btn {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #007bff;
  font-size: 24px;
  line-height: 40px;
  border-radius: 0;
  outline: none;
  padding: 0 10px;
  vertical-align: initial;
}
header .header-block-nav > ul > li > a:hover {
  color: #007bff;
}
header .header-block-nav .notifications.new .counter {
  color: #007bff;
  font-weight: bold;
}
header .header-block-nav .notifications-dropdown-menu footer a:hover {
  background-color: #f5f5f5;
  color: #007bff;
}
header .header-block-nav .profile .arrow {
  color: #007bff;
}
header .header-block-nav .profile-dropdown-menu a .icon {
  color: #007bff;
  text-align: center;
  width: 16px;
}

.modal .modal-header {
  background-color: #007bff;
  color: #ffffff;
}

.disciplineActionBtns > a {
  display: inline-block !important;
}

.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > .sidebar-nav > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 10px solid #007bff !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 15px solid #007bff !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 20px solid #007bff !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 25px solid #007bff !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 30px solid #007bff !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 35px solid #007bff !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li > a {
  padding: 10px 18px 10px 10px !important;
  border-left: 5px solid #007bff !important;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}
.sidebar .sidebar-menu > li.active > a {
  background-color: #007bff;
  color: #ffffff;
}

.btn-blue {
  color: white !important;
  background: #007bff;
}

.detailPage .attributeActive > a {
  background: #007bff;
  color: #fff !important;
}

#modal-media .images-container .image-container:hover {
  border-color: rgba(82, 188, 211, 0.5);
}
#modal-media .images-container .image-container.active {
  border-color: rgba(82, 188, 211, 0.5);
}
#modal-media .upload-container .dropzone {
  position: relative;
  border: 2px dashed #007bff;
  height: 270px;
}
#modal-media .upload-container .dropzone .dz-message-block .dz-message {
  margin: 0;
  font-size: 24px;
  color: #007bff;
  width: 230px;
}

#customize-menu .customize {
  width: 240px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #2d363f;
  text-align: center;
  padding: 10px 15px;
  border-top: 2px solid #007bff;
}
#customize-menu .customize .customize-item .radio:checked + span:before {
  color: #007bff;
}

/*# sourceMappingURL=app-blue.css.map */
