﻿@model AttributeViewModel
@if(Model!=null) { 
<div id="@("Document_"+Model.Id)">
    <div class="question-header">
        <span class="unselectable">@Model.Name</span>
        <div class="actionBtns position-absolute">
           
            <i class="fas fa-reply backToWord" data-toggle="tooltip" data-placement="left" data-documentid="@Model.Id" title="Back To Last Position"></i>
            
            <i class="fas fa-times-circle closeDocumentBtn" data-toggle="tooltip" data-placement="left" data-documentid="@Model.Id" title="Close Document"> </i>
        </div>
    </div>
    <div class="page-outline pt-3 pr-5 pl-5 pb-3">
        @{ Html.RenderPartial("_Description", Model);           }
    </div>

</div>
            }