﻿@model AttributeViewModel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
<div class="col col-12">
    @*<a class="custom-button btn-blue oval-rounded mb-3 float-left mr-2" href="/#@(Model.ParentType+"_"+Model.ParentId)" data-attributetype="@Model.ParentType" data-attributeid="@Model.ParentId" data-toggle="tooltip" data-placement="left" title="Go back to @Model.ParentType"> <i class="fas fa-chevron-left"></i> </a>*@

    <a class="custom-button btn-blue oval-rounded mb-3 viewbutton float-left mr-2" data-attributetype="@Model.ParentType" data-attributeid="@Model.ParentId" data-toggle="tooltip" data-placement="left" title="Go back to @Model.ParentType"> <i class="fas fa-chevron-left"></i> </a>
    @if (!string.IsNullOrEmpty(Model.Detail))
    {

        @if (isResearcher || isAdmin)
        {
            <a class="custom-button btn-blue oval-rounded mb-3 loadDocumentBtn"> <i class="fas fa-book"></i> Load Other Document Here </a>

        }
            <div class="page-outline main-page pt-6 pr-5 pl-5 pb-3 mb-4">
                @if (isResearcher || isAdmin)
                {
                    <div class="actionBtns position-absolute">
                        @if (isAdmin)
                        {
                            <i class="fas fa-envelope  emailAllocatedMember" data-attributetype="@Model.Type" data-attributeid="@Model.Id" data-toggle="tooltip" title="Inform Student/Researcher regarding new changes in this @Model.TypeText"></i>
                            <i class="fas fa-print printPageBtn" data-toggle="tooltip" data-placement="left" title="Print Document"></i>
                        }

                        <i class="fas fa-search-plus" id="ZoomIn" data-toggle="tooltip" data-placement="left" title="Zoom In"></i>
                        <i id="ZoomReset" class="fas fa-history" data-toggle="tooltip" data-placement="left" title="Reset Zoom"></i>
                        <i class="fas fa-search-minus" id="ZoomOut" data-toggle="tooltip" data-placement="left" title="Zoom Out"></i>

                        <a href="@Url.Action("Edit" + Model.Type, "Book")?id=@Model.Id"> <i class="fas fa-edit" data-toggle="tooltip" data-placement="left" title="Edit Document"></i></a>
                        <i class="fas fa-trash deleteDetailBtn" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-type="@Model.Type" data-id="@Model.Id" title="Delete Document"> </i>
                    </div>
                }

            @if (isResearcher || isAdmin)
            {
                @*<div class="question-box p-2">
                        <i class="fas fa-chevron-left "></i>
                        <div class="btns" style="display:none">
                            <a class="rounded-left" data-toggle="tooltip" title="Show all questions"><i class="fas fa-question"></i>  </a>
                            <a class="rounded-right" data-toggle="tooltip" title="Add a question to this @Model.TypeText"><i class="fas fa-plus "></i> </a>

                        </div>
                    </div>*@

                    <button class="addQuestionToWord rounded" type="button">
                        <i class="fas fa-plus"></i>
                    </button>


                }

                @*<a class="backToNavigationWord hidden" data-toggle="tooltip" title="Back to Last Position" style="display:none">
            <i class="fas fa-exchange-alt fa-rotate-90"></i>
        </a>*@
                @*<div class="dot hidden"></div>*@
                <div class="ring-container hidden">
                    <div class="ringring"></div>
                    <a class="backToNavigationWord" data-toggle="tooltip" title="Back to word">
                        <i class="fas fa-exchange-alt fa-rotate-90"></i>
                    </a>

                </div>
                <!-- <a class="addQuestionToWord rounded" data-toggle="tooltip" title="Add a question to selected word" onclick="applier.toggleSelection();"><i class="fas fa-plus"></i></a>-->
                @{Html.RenderPartial("_Description", Model); }

            </div>

        <div class="question-detail"></div>

    }
    else
    {
        @if (isResearcher || isAdmin)
        {
            <div class="page-header shadow">
                <div class="w-100 float-left position-relative ">
                    <div class="attribute-type-title">
                        <span> <i class="fas fa-book"></i>  <strong> @(Model.TypeText):</strong></span>
                    </div>
                    <h3> @Model.Name</h3>
                </div>
            </div>
            <form id="document-form" asp-action="@("Save" + Model.Type)" asp-controller="Book">

                <div class="page-header shadow ">
                    <div class="w-100 float-left position-relative py-4 px-3">
                        <div class="attribute-type-title">
                            <span><i class="fas fa-file-alt"></i> Create document here</span>
                        </div>

                        <button type="submit" class="custom-button float-right"> <i class="fas fa-save saveHtmlBtn" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@Model.Id" data-type="@Model.Type" title="Save the document"></i></button>

                    </div>
                </div>
                <input asp-for="Id" hidden />

                <textarea asp-for="Detail" class="tmceeditor"></textarea>

            </form>
            @*<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item mr-1">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#Document" role="tab" aria-controls="Document" aria-selected="true">Create Document Manually</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#UploadDocument" role="tab" aria-controls="UploadDocument" aria-selected="false">Upload Document</a>
                    </li>

                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="Document" role="tabpanel" aria-labelledby="pills-home-tab">

                    </div>
                    <div class="tab-pane fade" id="UploadDocument" role="tabpanel" aria-labelledby="pills-profile-tab">
                        @{
                            Html.RenderPartial("~/Views/Shared/Common/_DocumentUpload.cshtml", Model);
                        }

                    </div>
                </div>*@

        }
        else
        {

            <div class="alert alert-danger text-center">
                No document available
            </div>

        }
    }
</div>