﻿@model AttributeViewModel

<div class="col col-12 col-sm-12  col-md-12 col-lg-12 ">

    <div class="page-header">
        <i class="fas fa-book"></i>
        @(
                    Model.Type
        ):
        <span> @Model.Name</span>

    </div>
    <form id="document-form" asp-action="@("Save"+Model.Type)" asp-controller="Book">

        <div class="page-header">
            <i class="fas fa-file-alt"></i> Create document here
            <div class="actionBtns float-md-right float-lg-right float-xl-right ">
                <a class="btn-outline-primary backBtn" href="@Url.Action(Model.Type,"Book")?id=@Model.Id"> <i class="fas fa-reply" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@Model.Id" data-type="@Model.Type" title="Back to document"></i></a>
                <button type="submit" class="border-0 m-0 p-0  btn-outline-primary saveBtn"> <i class="fas fa-save saveHtmlBtn" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@Model.Id" data-type="@Model.Type" title="Save the document"></i></button>
            </div>
        </div>

        <input asp-for="Id" hidden />
        <textarea asp-for="Detail" class="tmceeditor"></textarea>
    </form>
    @*<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item mr-1">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#Document" role="tab" aria-controls="Document" aria-selected="true">Create Document Manually</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#UploadDocument" role="tab" aria-controls="UploadDocument" aria-selected="false">Upload Document</a>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="Document" role="tabpanel" aria-labelledby="pills-home-tab">

            </div>
            <div class="tab-pane fade" id="UploadDocument" role="tabpanel" aria-labelledby="pills-profile-tab">
               @{
                   Html.RenderPartial("~/Views/Shared/Common/_DocumentUpload.cshtml", Model);
               }

            </div>
        </div>*@
</div>