﻿@model CommentaryViewModel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{
<form id="addCommentaryForm" asp-controller="Commentary" asp-action="@("Add" + Model.AttributeType + "Commentary")">
    <div asp-validation-summary="ModelOnly" class="ui error message"></div>
    <input asp-for="Id" hidden />
    <input asp-for="AttributeId" value="@Model.AttributeId" hidden />
    <input asp-for="AttributeType" value="@Model.AttributeType" hidden />
    <input asp-for="SelectedWord" value="" hidden />
    <input asp-for="Ids" value="" hidden />
    <input asp-for="WordId" value="0" hidden />
    <div class="modal-body">
        <h6 class="heading">Select from Available Commentaries</h6>
        <div class="row">
            
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 existingCommentariesSection mb-2">
                
               
            </div>
            </div>
        <hr />
        <div class="newCommentarySection">
            <h6 class="heading">Add New Commentary Here</h6>
            <div class="row">
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">Commentary Title</label>
                        <input asp-for="CommentaryTitle"  placeholder="Some starting lines of Commentary."  class="form-control"/>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">Commentary</label>
                        <textarea asp-for="CommentaryDetail" class="tmceeditor"></textarea>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="modal-footer pt-2">

        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

        <button type="submit" class="btn btn-success rounded-0" id="saveBtn"> Add Commentary(s)</button>

    </div>
</form>
                            }