﻿@model List<CommentaryViewModel>

@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    var counter = 0;
}
@if (Model.Count > 0)
{
    <ul class="list-group commentariesSection">
        @*Existing Commentary Section*@
        @foreach (var commentary in Model)
        {
            var commentaryDetail = commentary.CommentaryTitle == null && (isAdmin || isResearcher) ? "<span class='alert alert-danger'>Add some title to this commentary</span>" : isStudent ? "<span class='alert alert-success'>View commentary for reading.</span>" : commentary.CommentaryTitle;
            if (commentaryDetail.Count() > 100)
            {
                commentaryDetail = commentary.CommentaryTitle.Substring(0, 100) + "...";
            }
            counter++;
            <li class="list-group-item commentary-item" id="@("C" + counter.ToString())">
                <span class="commentaryNumber">@("C" + counter.ToString())</span> @Html.Raw(commentaryDetail)
                <span class="position-absolute-right-15 position-absolute-top-15">
                    @if (isResearcher || isAdmin)
                    {
                        <i class="fas fa-trash ml-1 deleteCommentaryBtn pr-3" data-toggle="tooltip" data-placement="left" data-commentaryid="@commentary.Id" title="Delete Commentary from DataBase"> </i>
                    }
                    <i class="fas fa-check selectCommentary" data-commentaryid="@commentary.Id"></i>
                </span>
            </li>
        }
    </ul>
}
else
{
    <div class="alert alert-danger">No existing commentaries found.</div>
}


