﻿@model CommentaryViewModel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
<div id="@("Commentary_"+Model.Id)" class="mb-4">
    <div class="commentary-header">
        <span>Commentary Detail</span>
        <div class="actionBtns position-absolute">

            <i class="fas fa-reply backToWord" data-toggle="tooltip" data-placement="left" data-commentaryid="@Model.Id" title="Back To Last Position"></i>
            @if (isResearcher || isAdmin)
            {
                <i class="fas fa-edit editCommentaryBtn" data-toggle="tooltip" data-placement="left" data-commentaryid="@Model.Id" title="Edit Commentary"></i>
            }
            <i class="fas fa-times-circle closeCommentaryBtn" data-toggle="tooltip" data-placement="left" data-wordid="@Model.WordId" data-commentaryid="@Model.Id" title="Close Commentary"> </i>
        </div>
    </div>
    <div class="page-outline pt-3 pr-5 pl-5 pb-3">

        <div class="Commentary content-page"  data-savetype="Commentary" data-id="@Model.Id" data-commentaryid="@Model.Id">
            @Html.Raw(Model.CommentaryDetail)
        </div>
    </div>
    
</div>
