﻿@model EditCommentaryViewModel
   @{
       var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
       var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
       var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{
<form id="editCommentaryForm" asp-controller="Commentary" asp-action="UpdateCommentaryAsync">
    <div asp-validation-summary="ModelOnly" class="ui error message"></div>
    <input asp-for="Id" hidden />
    <input asp-for="AttributeId" hidden />
    <input asp-for="AttributeType" hidden />
    <input asp-for="SelectedWord" hidden />
    <input asp-for="WordId" hidden />
    <div class="modal-body">
       
        <div class="newCommentarySection">

    <h6 class="heading">Update Commentary Here</h6>

                <div class="row">
               
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label for="Detail">Commentary Title</label>
                            <input asp-for="EditCommentaryTitle" class="form-control" placeholder="Some starting lines of Commentary." required />
                        </div>
                    </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <label for="Detail">Commentary</label>
                        <textarea asp-for="EditCommentaryDetail"  class="tmceeditor"></textarea>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal-footer pt-2">

        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

        <button type="submit" class="btn btn-success rounded-0" id="saveBtn"> <i class='fas fa-edit'></i> Update Commentary </button>

    </div>
</form>
                            }