﻿@model List<CommentaryViewModel>
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

    var counter = 0;
}
@if (Model.Count > 0)
{
    <ul class="list-group commentariesSection">
        @*Existing Commentary Section*@


        @foreach (var commentary in Model)
        {
            var commentaryDetail = commentary.CommentaryTitle == null && (isAdmin || isResearcher) ? "<span class='alert alert-danger'>Add some title to this commentary</span>" : commentary.CommentaryTitle == null && isStudent ? "<span class='alert alert-success'>View commentary for reading.</span>" : commentary.CommentaryTitle;
            if (commentaryDetail.Count() > 100)
            {
                commentaryDetail = commentary.CommentaryTitle.Substring(0, 100) + "...";
            }
            counter++;
            <li class="list-group-item commentary-item" id="@("C" + counter.ToString())">
                <span class="commentaryNumber">@("C" + counter.ToString())</span> 
                <div class="commentary-title">@Html.Raw(commentaryDetail)</div>
                <span class="position-absolute-right-15 position-absolute-top-15">
                    <i class="fas fa-eye ml-1 viewCommentaryBtn" data-toggle="tooltip" data-placement="left" data-wordid="@commentary.WordId" data-commentaryid="@commentary.Id" title="View Commentary"> </i>
                   @if (isResearcher || isAdmin)
                   {
                    <i class="fas fa-edit ml-1 editCommentaryBtn" data-toggle="tooltip" data-placement="left" data-commentaryid="@commentary.Id" title="Edit Commentary"></i>
                    <i class="fas fa-times ml-1 removeCommentaryBtn" data-toggle="tooltip" data-placement="left" data-commentaryid="@commentary.Id" data-wordid="@commentary.WordId" title="Remove Commentary from this word/sentence"> </i>

                   }
                    </span>

                @*<div id="commentary_@commentary.Id" class="commentary-detail">
                    <div class="commentary-header">
                        <span>Detail</span>
                        <div class="actionBtns position-absolute">
                            <i class="fas fa-times-circle closeCommentaryBtn" data-toggle="tooltip" data-placement="left" data-commentaryid="@commentary.Id" title="Close Commentary"> </i>
                        </div>
                    </div>
                    @Html.Raw(commentary.CommentaryDetail)
                </div>*@
            </li>

        }
@if (isResearcher || isAdmin)
{
        <li data-wordid="@ViewBag.WordId" class="list-group-item question-item addMoreCommentary text-center">
            <i data-toggle="tooltip" title="Add more commentary" class="fas fa-plus m-1"></i>
            Add More Commentaries

        </li>
}
    </ul>
}
else
{

      <div class="alert alert-danger">No commentary found against this word/sentence.</div>
    @if (isResearcher || isAdmin)
    { 
        <div class="alert alert-warning">Add some commentary against this word/sentence.</div>
        <ul class="list-group commentariesSection">
            <li data-wordid="@ViewBag.WordId" class="list-group-item question-item addMoreCommentary text-center">
                <i data-toggle="tooltip" title="Add more commentary" class="fas fa-plus m-1"></i>
                Add Commentary

            </li>
        </ul>
    }


}
