﻿
<div class=" col-lg-3 col-xl-3 col-md-6 mb-3">
    <a class="addSetBtn float-left w-100" data-toggle="tooltip" data-placement="top" title="Add new Set">

        <div class="custom-card addSet">

            <div class="custom-card-body text-center w-100 ">
                <div class="huge"><i class="fas fa-plus"></i></div>

            </div>
        </div>
    </a>
</div>


