﻿@model IEnumerable<Management.ViewModels.QuestionViewModel>
@{
    var serialNo = 0;
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());
    if (Model.Count() > 0)
    {
        if (isAdmin || isResearcher)
        {
            foreach (var question in Model.OrderByDescending(o => o.Date))
            {

                serialNo++;

                <div class="attributesRow" data-id="@question.Id">

                    <div class="attributesRecord">
                        <span class="serial-number">
                            @serialNo
                        </span>
                    </div>

                    <div class="attributesRecord">
                        <span class="text-left">
                            @question.QuestionTitle
                        </span>
                    </div>
                    <div class="attributesRecord">
                       
                            <div data-rating="@question.QuestionDifficultyLevelId" name="questionDificulty"> </div>
                       
                    </div>
                    <div class="actionBtns float-right">
                        <i class="fa fa-eye viewSetQuestionButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@question.Id" title="View Question"></i>
                        <i class="fa fa-edit editSetQuestionButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@question.Id" title="Edit Question"></i>
                        <i class="fa fa-trash deleteSetQuestionButton" data-toggle="tooltip" data-placement="left" data-modalcall="true" data-id="@question.Id" title="Delete Question"> </i>
                    </div>
                </div>

            }
        }

    }
}
