﻿@inject Management.Data.Interfaces.RepositoryInterfaces.IQuestionTypeRepository QustionTypes
@model QuestionViewModel
@{
    var isResearcher = User.IsInRole(UserRoles.Researcher.ToString());
    var isAdmin = User.IsInRole(UserRoles.Admin.ToString());
    var isStudent = User.IsInRole(UserRoles.Student.ToString());

}
@if (isResearcher || isAdmin)
{
    <form id="editSetQuestionForm" asp-controller="Set" asp-action="UpdateQuestion">
        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
        <input asp-for="Id" hidden />
        <input class="QuestionDifficultyLevelId" value="@Model.QuestionDifficultyLevel.Id" hidden />
        
        <div class="modal-body">

            <div class="newQuestionSection">

                <h6 class="heading">Update Question Here</h6>

                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                        <div class="form-group">
                            <label for="QuestionType">Question Type</label>
                            @{
                                var questionTypes = QustionTypes.Get().ToList();
                            }
                            <select id="QustionTypeId" name="QustionTypeId">
                                @foreach (var type in questionTypes)
                                {
                                    if (Model.QustionTypeId == type.Id)
                                    {
                                        <option selected value="@type.Id">@type.Type</option>
                                    }
                                    else
                                    {
                                        <option value="@type.Id">@type.Type</option>
                                    }

                                }
                            </select>
                            @*<input asp-for="QustionTypeId" hidden />*@
                        </div>
                    </div>

                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="QuestionDifficultyLevel">Difficulty Level</label>
                            <div class="QuestionDifficultyLevel" name="QuestionDifficultyLevel"></div>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label for="Detail">Question Title</label>
                            <input asp-for="QuestionTitle" class="form-control" placeholder="Some starting lines of Question." required />
                        </div>
                    </div>
                </div>

                    <div class="question-source card">
                        <div class="card-header p-2 modal-header">
                            From where it is taken?
                        </div>

                        <div class="card-body">
                            <div class="row">

                                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="Detail">Source</label>
                                        <input asp-for="Source" type="text" class="form-control" />

                                    </div>

                                </div>
                                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="Detail">Author</label>
                                        <input asp-for="Author" type="text" class="form-control" />

                                    </div>

                                </div>
                                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="Detail">Year</label>
                                        <input asp-for="Year" type="text" class="form-control Yearpicker" autocomplete="off" />

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group">
                                <label for="Detail">Question</label>
                                <textarea asp-for="QuestionDetail" class="tmceeditor"></textarea>
                            </div>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group">
                                <label for="AnswerDetail">Answer</label>
                                <textarea asp-for="AnswerDetail" class="tmceeditor"></textarea>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer pt-2">

            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>

            <button type="submit" class="btn btn-success rounded-0" id="saveBtn"> <i class='fas fa-edit'></i> Update Question </button>

        </div>
    </form>
}