﻿@model List<Set>

<div class="row unselectable">
    @if (Model.Count > 0)
    {
        foreach (var set in Model)
        {

            <div class=" col-lg-3 col-xl-3 col-md-6 mb-3">
                <div class="float-left w-100 shadow">
                    <div class="custom-card position-relative  d-flex">
                        <div class="setActionBtns w-100 h-100 d-flex position-absolute">
                            <a class="editSetBtn w-100 text-center" data-toggle="tooltip" data-placement="top" title="Edit Set" data-title="@set.Title" data-setid="@set.Id"><i class="fas fa-edit"></i></a>
                            <a class="viewSetBtn w-100 text-center" data-toggle="tooltip" data-placement="top" title="View Set's Questions " data-title="@set.Title" data-setid="@set.Id"><i class="fas fa-eye"></i></a>
                            <a class="deleteSetBtn w-100 text-center" data-toggle="tooltip" data-placement="top" title="Delete this set" data-setid="@set.Id"><i class="fas fa-trash"></i></a>
                        </div>

                        <div class="custom-card-icon  w-50 darkblue">
                            <i class="fab fa-stack-overflow"></i>
                        </div>
                        <div class="custom-card-body  w-100 p-2">
                            @*<div class="huge">3</div>*@
                            <h5>@set.Title</h5>
                        </div>
                    </div>
                </div>
            </div>
        }

    }

        @Html.Partial("~/Views/Set/_AddNewSet.cshtml")

</div>
