﻿

<div class="listOfSetQuestions unselectable">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12-col-xl-12">
            <div id="Sets" class="student-section p82-topbot ">
                <div class="allSets">
                    <div class="header">
                        <h2>
                            <i class="fas fa-th-list"></i> <b> <span class="setTitle"> Set 1 </span></b> Questions List
                        </h2>
                        <a class="custom-button right closeSetBtn" data-toggle="tooltip" data-placement="top" data-modalcall="true" title="Close"><i class="fas fa-times-circle"></i></a>

                        <a data-toggle="tooltip" data-placement="top" title="Add New Question" class="right custom-button addSetQuestionButton wrapperAddBtn"><i class="fas fa-plus-circle"></i></a>

                    </div>
                    <div class="allAttributesView">


                        <div class="attributesCol">

                            <div class="attributesSection">

                                <div class="attributesHeader">
                                    <div class="pdetail name phCol">
                                        <a href="javascript:void(0)">
                                            Serial No.
                                            <i class="fas fa-angle-double-down">
                                            </i>
                                        </a>
                                    </div>
                                    <div class="pdetail phCol w-55">
                                        <a href="javascript:void(0)">
                                            Question Title
                                            <i class="fas fa-angle-double-down">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                                <!-- attributesHeader -->



                                <div class="table-body all-questions">
                                    @*All Question (_AllQuestions.cshtml) Will Render here by clicking set view btn*@
                                </div>

                            </div>

                       
                        </div>

                    </div>
                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
</div>