﻿
<div class="modal fade" id="addSetModal"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Add New Set
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="addSetForm">
                    <div class="row">

                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <input type="text" name="Title" required placeholder="Enter a set Title" />
                            </div>
                        </div>

                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-success rounded-0" id="saveBtn">Save</button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer pt-2">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="editSetModal"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Edit S
                    et
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="editSetForm">
                    <div class="row">

                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <input type="text" name="Title" required placeholder="Enter a set Title" />
                            </div>
                        </div>

                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-success rounded-0" id="saveBtn">Save</button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer pt-2">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="addSetQuestionModal"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Question to <span class="set-title"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body And Footer-->
            @{ Html.RenderPartial("~/Views/Set/_WrittenQuestionAnswer.cshtml", new QuestionViewModel() { });}


        </div>
    </div>
</div>

<div class="modal fade" id="editSetQuestionModal"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Question</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body And Footer-->
            <div class="editSetQuestionView">
                <!-- Edit Set Question Data view (_EditWrittenQuestionAnswer.cshtml) will render here.-->
            </div>

        </div>
    </div>
</div>


